In [2]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
import time
from io import StringIO

In [3]:
def scrape_pmi_data(path, name, folder='Data_01-08'):
    service = Service(executable_path='../chromedriver.exe')
    options = webdriver.ChromeOptions()
    driver = webdriver.Chrome(service=service, options=options)
    driver.get(f'https://www.investing.com/economic-calendar/{path}')
    time.sleep(2)

    botton_cookies = driver.find_element(
        By.XPATH, '//*[@id="onetrust-accept-btn-handler"]'
    )
    botton_cookies.click()
    
    #time.sleep(30)
    #botton_signup = driver.find_element(By.XPATH, '//*[@id="PromoteSignUpPopUp"]/div[2]/i')
    #botton_signup.click()
    time.sleep(2)

    if path[-4] == '-':
        id = path[-3:]
    else:
        id = path[-4:]
    botton_cookies = driver.find_element(
        By.XPATH, f'//*[@id="showMoreHistory{id}"]'
    )

    try:
        for _ in range(200):
            botton_cookies.click()
    except:
        print('Done')

    table = driver.find_element(
        By.XPATH, '//*[@id="eventTabDiv_history_0"]'
    )
    dfs = pd.read_html(StringIO(table.get_attribute('innerHTML')))
    df_raw = dfs[0]

    for i in range(len(df_raw)):
        if df_raw.iloc[i, 0].endswith(')'):
            df_raw.iloc[i, 0] = df_raw.iloc[i, 0][:-5]    
    df_raw.index = pd.to_datetime(df_raw['Release Date'].str.strip())
    df_raw = df_raw[~df_raw.index.duplicated()]

    driver.close()
    
    df = pd.DataFrame(index=df_raw.index)
    df['Actual'] = df_raw['Actual']
    df['Forecast'] = df_raw['Forecast']
    df.to_csv(f'{folder}\{name}_PMI.csv')
    return df

In [5]:
def get_pmi_data(path, country, folder='Data_01-08'):
    try:
        df = pd.read_csv(f'{folder}\{country}_PMI.csv', index_col=0, parse_dates=True)
    except:
        df = scrape_pmi_data(path=path, name=country, folder=folder)
    return df

In [104]:
get_pmi_data(path='manufacturing-pmi-201', country='Eurozone')

              Actual  Forecast
Release Date
2023-10-02       NaN       NaN
2023-09-22       NaN      43.5
2023-09-01      43.5      43.7
2023-08-23      43.7      42.6
2023-08-01      42.7      42.7
...              ...       ...
2008-04-23      51.8      51.6
2008-04-01      52.0      52.0
2008-03-20      52.0      52.0
2008-03-03      52.3      52.3
2008-02-22      52.3      52.5

[376 rows x 2 columns]

In [105]:
country_to_path = dict()
country_to_path.update({'United States': 'ism-manufacturing-pmi-173'}) # From 1999
country_to_path.update({'Japan': 'manufacturing-pmi-202'}) # From 2008
country_to_path.update({'United Kingdom': 'manufacturing-pmi-204'}) # From 2008
country_to_path.update({'Canada': 'manufacturing-pmi-1029'}) # From 2021
country_to_path.update({'France': 'french-manufacturing-pmi-340'}) # From 2008
country_to_path.update({'Switzerland': ''}) 
country_to_path.update({'Germany': 'german-manufacturing-pmi-136'}) # From 2008
country_to_path.update({'Australia': 'manufacturing-pmi-1838'}) # From 2018
country_to_path.update({'Netherlands': ''}) 
country_to_path.update({'Denmark': ''}) 
country_to_path.update({'Sweden': 'swedish-manufacturing-pmi-798'}) # From 1999
country_to_path.update({'Spain': 'spanish-manufacturing-pmi-667'}) # From 2012
country_to_path.update({'Hong Kong': 'hong-kong-manufacturing-pmi-1088'}) # From 2012
country_to_path.update({'Italy': 'italian-manufacturing-pmi-832'}) # From 2012
country_to_path.update({'Singapore': 'singaporean-pmi-792'}) # From 1999
country_to_path.update({'Finland': ''}) 
country_to_path.update({'Belgium': ''}) 
country_to_path.update({'Norway': 'norwegian-pmi-manufacturing-642'}) # From 2004
country_to_path.update({'Israel': ''}) 
country_to_path.update({'Ireland': 'irish-manufacturing-pmi-1481'}) # From 2012
country_to_path.update({'New Zealand': ''}) 
country_to_path.update({'Austria': 'austrian-manufacturing-pmi-1544'}) # From 2012
country_to_path.update({'Portugal': ''})
country_to_path.update({'Eurozone': 'manufacturing-pmi-201'}) # From 2008

In [106]:
df_pmi = pd.DataFrame(index=pd.date_range('1999-01-01', '2023-08-02'))

for country in country_to_path:
    path = country_to_path[country]
    if path != '':
        df_pmi[country] = get_pmi_data(path, country)['Actual']

df_pmi

Done

,United States,Japan,United Kingdom,Canada,France,Germany,Australia,Sweden,Spain,Hong Kong,Italy,Singapore,Norway,Ireland,Austria,Eurozone
1999-01-01,46.8,NaN,NaN,NaN,NaN,NaN,NaN,44.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-31,NaN,49.6,NaN,NaN,NaN,NaN,49.6,NaN,NaN,NaN,NaN,NaN,NaN,47.0,NaN,NaN
2023-08-01,46.4,NaN,45.3,49.6,45.1,38.8,NaN,47.6,47.8,NaN,44.5,NaN,56.7,NaN,NaN,42.7
2023-08-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.4,NaN,49.8,NaN,NaN,NaN,NaN

In [107]:
for country in df_pmi.columns:
    first_valid = df_pmi[country].first_valid_index()
    print(country, first_valid)

United States 1999-01-01 00:00:00
Japan 2008-02-28 00:00:00
United Kingdom 2008-03-03 00:00:00
Canada 2021-01-04 00:00:00
France 2008-08-21 00:00:00
Germany 2012-04-23 00:00:00
Australia 2018-12-13 00:00:00
Sweden 1999-01-01 00:00:00
Spain 2012-03-01 00:00:00
Hong Kong 2012-07-01 00:00:00
Italy 2012-07-01 00:00:00
Singapore 1999-02-01 00:00:00
Norway 2005-04-01 00:00:00
Ireland 2012-07-01 00:00:00
Austria 2012-07-01 00:00:00
Eurozone 2008-02-22 00:00:00

In [108]:
emerging_country_to_path = dict()
emerging_country_to_path.update({'China': 'chinese-manufacturing-pmi-594'}) # From 2005
emerging_country_to_path.update({'Taiwan': 'taiwanese-manufacturing-pmi-1121'}) # From 2012
emerging_country_to_path.update({'India': 'indian-nikkei-s-p-global-manufacturing-pmi-754'}) # From 2012
emerging_country_to_path.update({'Korea': 'south-korean-nikkei-manufacturing-pmi-785'}) # From 2012
emerging_country_to_path.update({'Brazil': 'brazilian-s-p-global-manufacturing-pmi-1476'}) # From 2012
emerging_country_to_path.update({'Saudi Arabia': ''})
emerging_country_to_path.update({'South Africa': 'south-african-manufacturing-pmi-605'}) # From 2012
emerging_country_to_path.update({'Mexico': 'mexican-manufacturing-pmi-1303'}) # From 2012
emerging_country_to_path.update({'Thailand': ''})
emerging_country_to_path.update({'Indonesia': 'indonesia-nikkei-pmi-1096'}) # From 2012
emerging_country_to_path.update({'Malaysia': ''})
emerging_country_to_path.update({'United Arab Emirates': ''})
emerging_country_to_path.update({'Qatar': ''})
emerging_country_to_path.update({'Kuwait': ''})
emerging_country_to_path.update({'Turkiye': 'turkish-manufacturing-pmi-1305'}) # From 2013
emerging_country_to_path.update({'Philippines': ''})
emerging_country_to_path.update({'Poland': 'polish-manufacturing-pmi-1304'}) # From 2012
emerging_country_to_path.update({'Chile': ''})
emerging_country_to_path.update({'Greece': 'greek-manufacturing-pmi-1472'}) # From 2012
emerging_country_to_path.update({'Peru': ''})
emerging_country_to_path.update({'Hungary': 'hungarian-pmi-674'}) # From 1999
emerging_country_to_path.update({'Czechia': ''})
emerging_country_to_path.update({'Egypt': ''})
emerging_country_to_path.update({'Colombia': ''})
emerging_country_to_path.update({'Argentina': ''})
emerging_country_to_path.update({'Russia': 'russian-s-p-global-manufacturing-pmi-1630'}) # From 2012

In [109]:
df_pmi_em = pd.DataFrame(index=pd.date_range('1999-01-01', '2023-08-02'))

for country in emerging_country_to_path:
    path = emerging_country_to_path[country]
    if path != '':
        df_pmi_em[country] = get_pmi_data(path, country)['Actual']

df_pmi_em

Done

,China,Taiwan,India,Korea,Brazil,South Africa,Mexico,Indonesia,Turkiye,Poland,Greece,Hungary,Russia
1999-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.7,NaN
1999-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-30,49.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-31,NaN,44.1,NaN,49.4,NaN,NaN,NaN,53.3,NaN,NaN,NaN,NaN,NaN
2023-08-01,NaN,NaN,57.7,NaN,47.8,47.3,50.9,NaN,49.9,43.5,53.5,45.7,52.1
2023-08-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
for country in df_pmi_em.columns:
    first_valid = df_pmi_em[country].first_valid_index()
    print(country, first_valid)

China 2005-02-01 00:00:00
Taiwan 2012-07-01 00:00:00
India 2012-05-02 00:00:00
Korea 2012-05-01 00:00:00
Brazil 2012-07-01 00:00:00
South Africa 2012-03-01 00:00:00
Mexico 2012-07-01 00:00:00
Indonesia 2012-07-01 00:00:00
Turkiye 2013-02-01 00:00:00
Poland 2012-07-01 00:00:00
Greece 2012-07-01 00:00:00
Hungary 1999-01-01 00:00:00
Russia 2012-07-01 00:00:00

In [111]:
month_start = pd.date_range('2012-07-01', '2023-08-04', freq='MS')
df_pmi_monthly = pd.DataFrame(index=month_start)

df_filled = df_pmi.bfill(limit=10).ffill(limit=15)
for country in df_filled.columns:
    df_pmi_monthly[country] = df_filled[country]

df_filled_em = df_pmi_em.bfill(limit=10).ffill(limit=15)
for country in df_filled_em.columns:
    df_pmi_monthly[country] = df_filled_em[country]

df_pmi_monthly.to_csv('PMI_2012-08-2022.csv')
df_pmi_monthly

,United States,Japan,United Kingdom,Canada,France,Germany,Australia,Sweden,Spain,Hong Kong,...,Korea,Brazil,South Africa,Mexico,Indonesia,Turkiye,Poland,Greece,Hungary,Russia
2012-07-01,49.7,49.9,48.6,NaN,45.2,45.0,NaN,48.4,41.1,49.8,...,49.38,48.5,48.2,55.9,50.2,NaN,48.0,40.1,52.8,51.0
2012-08-01,49.8,47.9,45.4,NaN,43.4,43.0,NaN,50.6,42.3,50.3,...,47.20,48.7,51.0,55.2,51.4,NaN,49.7,41.9,51.9,52.0
2012-09-01,49.6,47.7,49.5,NaN,46.0,44.7,NaN,45.1,44.0,50.5,...,47.50,49.3,50.2,55.1,51.6,NaN,48.3,42.1,49.5,51.0
2012-10-01,51.5,48.0,48.4,NaN,42.7,47.4,NaN,44.7,44.6,49.6,...,45.71,49.8,46.2,54.4,50.5,NaN,47.0,42.2,52.5,52.4
2012-11-01,51.7,46.9,47.5,NaN,43.7,46.0,NaN,43.1,43.5,50.5,...,47.37,50.2,47.1,55.5,51.9,NaN,47.3,41.0,49.9,52.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-01,46.3,49.2,47.9,48.6,47.3,44.7,49.1,45.7,51.3,53.5,...,47.60,47.0,48.1,51.0,51.9,50.9,48.3,52.8,55.3,53.2
2023-05-01,47.1,49.5,47.8,50.2,45.6,44.5,48.0,45.5,49.0,52.4,...,48.10,44.3,49.8,51.1,52.7,51.5,46.6,52.4,61.9,52.6
2023-06-01,46.9,50.6,47.1,49.0,45.7,43.2,48.4,40.6,48.4,50.6,...,48.40,47.1,49.2,50.5,50.3,51.5,47.0,51.5,57.1,53.5
2023-07-01,46.0,49.8,46.5,48.8,46.0,40.6,48.2,44.8,48.0,50.3,...,47.80,46.6,47.6,50.9,52.5,51.5,45.1,51.8,44.2,52.6
2023-08-01,46.4,49.6,45.3,49.6,45.1,38.8,49.6,47.6,47.8,49.4,...,49.40,47.8,47.3,50.9,53.3,49.9,43.5,53.5,45.7,52.1

In [112]:
for country in df_pmi_monthly.columns:
    first_valid = df_pmi_monthly[country].first_valid_index()
    if str(first_valid) != '2012-07-01 00:00:00':
        print(country, first_valid)
    
    last_valid = df_pmi_monthly[country].last_valid_index()
    if str(last_valid) != '2023-08-01 00:00:00':
        print(country, last_valid)

Canada 2021-01-01 00:00:00
Australia 2019-01-01 00:00:00
Turkiye 2013-02-01 00:00:00

## Services PMI

In [6]:
country_to_services_path = dict()
country_to_services_path.update({'United States': 'services-pmi-1062'}) # From 1999
country_to_services_path.update({'Japan': 'services-pmi-1912'}) # From 2008
country_to_services_path.update({'United Kingdom': 'services-pmi-274'}) # From 2008
country_to_services_path.update({'France': 'french-services-pmi-341'}) # From 2008
country_to_services_path.update({'Germany': 'german-services-pmi-140'}) # From 2008
country_to_services_path.update({'Australia': 'services-pmi-1839'}) # From 2018
country_to_services_path.update({'Sweden': 'swedish-pmi-services-1513'}) # From 1999
country_to_services_path.update({'Spain': 'spanish-services-pmi-668'}) # From 2012
country_to_services_path.update({'Italy': 'italian-services-pmi-833'}) # From 2012
country_to_services_path.update({'Ireland': 'irish-services-pmi-1482'}) # From 2012
country_to_services_path.update({'Eurozone': 'services-pmi-272'}) # From 2008
country_to_services_path.update({'China': 'chinese-caixin-services-pmi-596'})
country_to_services_path.update({'India': 'indian-nikkei-services-pmi-598'})
country_to_services_path.update({'Brazil': 'brazilian-s-p-global-services-pmi-1477'})
country_to_services_path.update({'Russia': 'russian-s-p-global-services-pmi-1629'})

In [8]:
df_services_pmi = pd.DataFrame(index=pd.date_range('1999-01-01', '2023-08-05'))

for country in country_to_services_path:
    path = country_to_services_path[country]
    if path != '':
        df_services_pmi[country] = get_pmi_data(path, country, folder='Data_Service_PMI')['Actual']

df_services_pmi

,United States,Japan,United Kingdom,France,Germany,Australia,Sweden,Spain,Italy,Ireland,Eurozone,China,India,Brazil,Rusia
1999-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-02,NaN,53.8,NaN,NaN,NaN,47.9,NaN,NaN,NaN,56.7,NaN,54.1,NaN,NaN,NaN
2023-08-03,52.3,NaN,51.5,47.1,52.3,NaN,52.7,52.8,51.5,NaN,50.9,NaN,62.3,50.2,54.0
2023-08-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
month_start = pd.date_range('2012-07-01', '2023-08-05', freq='MS')
df_pmi_monthly = pd.DataFrame(index=month_start)

df_filled = df_services_pmi.bfill(limit=10).ffill(limit=15)
for country in df_filled.columns:
    df_pmi_monthly[country] = df_filled[country]

df_pmi_monthly.to_csv('Historic_Services_PMI.csv')
df_pmi_monthly

,United States,Japan,United Kingdom,France,Germany,Australia,Sweden,Spain,Italy,Ireland,Eurozone,China,India,Brazil,Rusia
2012-07-01,53.2,NaN,51.3,47.9,49.9,NaN,48.5,43.4,43.1,49.7,47.1,52.3,54.3,53.0,53.2
2012-08-01,51.2,NaN,51.0,50.0,50.3,NaN,53.5,43.7,43.0,49.1,47.9,53.1,54.2,48.9,52.0
2012-09-01,52.0,NaN,53.7,49.2,48.3,NaN,50.8,44.0,44.0,51.7,47.2,52.0,55.0,48.1,52.6
2012-10-01,50.7,NaN,52.2,45.0,49.7,NaN,47.3,40.2,44.5,53.9,46.1,54.3,55.8,52.8,54.5
2012-11-01,52.7,NaN,50.6,44.6,48.4,NaN,50.1,41.2,46.0,56.1,46.0,53.5,53.8,50.4,57.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-01,52.6,55.0,52.9,53.9,53.7,48.6,48.6,59.4,55.7,55.7,55.0,57.8,57.8,51.8,58.1
2023-05-01,53.6,55.4,55.9,54.6,56.0,53.7,50.5,57.9,57.6,58.4,56.2,56.4,62.0,54.5,55.9
2023-06-01,54.9,55.9,55.2,52.5,57.2,52.1,50.2,56.7,54.0,57.0,55.1,57.1,61.2,54.1,54.3
2023-07-01,54.4,54.0,53.7,48.0,54.1,50.3,46.1,53.4,52.2,56.8,52.0,53.9,58.5,53.3,56.8
2023-08-01,52.3,53.8,51.5,47.1,52.3,47.9,52.7,52.8,51.5,56.7,50.9,54.1,62.3,50.2,54.0

In [10]:
for country in df_pmi_monthly.columns:
    first_valid = df_pmi_monthly[country].first_valid_index()
    if str(first_valid) != '2012-07-01 00:00:00':
        print(country, first_valid)
    
    last_valid = df_pmi_monthly[country].last_valid_index()
    if str(last_valid) != '2023-08-01 00:00:00':
        print(country, last_valid)

Japan 2019-08-01 00:00:00
Australia 2019-01-01 00:00:00