In [1]:
import os
os.chdir(os.path.expanduser('../AWS_Lambdas/src/lambda_oecd_download/'))
from oecd_api import get_oecd_data

In [2]:
indicator = 'QNA' # Quaterly National Accounts
subject = 'B1_GE' # Gross domestic product - expenditure approach
measure = 'GYSA' # Growth rate based on seasonally adjusted volume data, percentage change on the same quarter the previous year
freq = 'Q' # Quaterly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name=f'../../../OECD_Stats/Indicators/OECD_Quaterly GDP YoY.csv')
df

https://stats.oecd.org/SDMX-JSON/data/QNA/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.B1_GE.GYSA.Q/all?startTime=1999-Q1&contentType=csv
Data coverage since 1999 (50 countries):  73.9 %
Data coverage since 2013 (30 countries): 96.0 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'India',
       'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico',
       'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index(['Eurozone'], dtype='object')

Missing first:
Saudi Arabia 2011-01-01 00:00:00
Colombia 2006-01-01 00:00:00
Russia 2004-01-01 00:00:00

Missing last:
Russia 2021-07-01 00:00:00

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,4.8163,-0.8382,2.3399,4.1803,2.7830,1.0297,0.7938,5.2669,4.2134,2.3111,...,-6.4079,-4.0900,2.1001,-2.2375,2.3617,2.5228,0.3953,NaN,-2.1765,NaN
1999-04-01,4.7219,-0.0272,2.1742,4.9840,2.6089,0.5760,1.2206,4.6059,4.6244,3.6219,...,1.4970,-3.8649,4.2241,-3.6060,2.8620,2.0513,0.5752,NaN,-5.1406,NaN
1999-07-01,4.7911,0.3255,3.4709,5.6667,3.5406,1.1737,1.8595,3.8327,5.1676,2.3813,...,2.9213,-4.1375,5.2989,-0.9069,2.8964,3.0402,1.4733,NaN,-5.1249,NaN
1999-10-01,4.8236,-0.4396,4.2619,5.7146,4.1818,3.7330,3.1243,3.9743,5.6801,3.4815,...,5.9918,-1.0176,6.5294,5.1053,3.7243,4.1874,2.5429,NaN,-1.0144,NaN
2000-01-01,4.2247,2.6695,4.8207,5.4656,4.3561,4.3158,3.3992,3.6387,4.5949,3.5523,...,3.4834,2.2652,6.3778,6.0779,3.3304,5.1462,3.8794,NaN,-0.1064,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-01,1.7132,1.5085,2.0665,3.9832,1.3210,1.4000,1.2457,5.7540,3.1167,2.3696,...,6.0884,3.7823,4.9650,0.0320,4.0589,3.9218,1.3390,7.3228,5.2920,NaN
2022-10-01,0.6517,0.6312,0.6426,2.1561,0.7840,1.1382,0.8250,2.3146,3.0693,0.3428,...,5.1561,3.3548,0.7631,-2.1249,4.1924,0.4949,0.1455,1.9809,1.1233,NaN
2023-01-01,1.7179,2.4778,0.3659,1.8007,0.9480,1.5140,-0.1758,2.3713,2.0728,2.6897,...,4.9637,2.8754,-1.3547,-0.7836,1.9177,-1.1381,-0.3156,2.9915,1.1504,NaN
2023-04-01,2.3825,2.2737,0.3166,1.1950,1.1732,0.4010,0.0927,2.0458,-0.0876,0.9548,...,4.9195,4.7947,-0.2965,-0.8064,2.6087,-2.2068,-0.3916,0.4061,-3.2524,NaN
2023-07-01,2.9269,1.6260,0.2658,0.4651,0.5569,0.4264,-0.3970,2.0536,-0.5645,-0.3247,...,4.9303,4.5136,0.5671,0.6639,2.0946,-0.2631,-0.7930,-0.2555,-0.9731,NaN

In [3]:
indicator = 'QNA' # Quaterly National Accounts
subject = 'B1_GE' # Gross domestic product - expenditure approach
measure = 'GPSA' # Growth rate based on seasonally adjusted volume data, percentage change on previous quarter
freq = 'Q' # Quaterly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name=f'../../../OECD_Stats/Indicators/OECD_Quaterly GDP QoQ.csv')
df

https://stats.oecd.org/SDMX-JSON/data/QNA/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.B1_GE.GPSA.Q/all?startTime=1999-Q1&contentType=csv
Data coverage since 1999 (50 countries):  73.1 %
Data coverage since 2013 (30 countries): 96.0 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'India',
       'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico',
       'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index(['Eurozone'], dtype='object')

Missing first:
China 2011-01-01 00:00:00
Saudi Arabia 2010-04-01 00:00:00
Colombia 2005-04-01 00:00:00
Russia 2003-04-01 00:00:00

Missing last:
Russia 2021-07-01 00:00:00

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,0.9394,-1.3708,0.6929,1.8055,0.6639,0.1018,1.1576,0.7353,1.6668,0.9060,...,5.6477,-1.6858,0.8045,0.0192,0.7623,-0.0272,0.0263,NaN,-1.2459,NaN
1999-04-01,0.8347,0.3779,0.4744,0.8248,0.6170,0.6499,0.0000,0.3442,1.1129,0.5164,...,-0.0550,-0.5637,2.0946,0.2728,0.9332,1.1034,0.4539,NaN,-1.1299,NaN
1999-07-01,1.3259,0.5343,1.5998,1.5674,1.4991,0.6267,1.1074,1.1410,1.3772,0.6181,...,0.2734,-1.6866,2.0008,2.1095,0.3828,1.9180,0.9237,NaN,-0.2882,NaN
1999-10-01,1.6407,0.0296,1.4329,1.4009,1.3408,2.3172,0.8276,1.7009,1.4069,1.3988,...,0.1072,2.9874,1.4806,2.6341,1.5989,1.1386,1.1188,NaN,1.6728,NaN
2000-01-01,0.3628,1.7093,1.2325,1.5657,0.8323,0.6642,1.4274,0.4102,0.6227,0.9751,...,3.1475,1.5749,0.6611,0.9448,0.3797,0.8927,1.3299,NaN,-0.3400,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-01,0.6586,-0.0960,-0.0782,0.4580,0.4974,0.2453,0.3614,0.2044,0.1702,0.6232,...,0.7989,0.5422,0.6172,-1.1342,0.5192,-1.1102,-0.2296,0.9036,0.3593,NaN
2022-10-01,0.6354,0.2481,0.1038,-0.2153,-0.0014,-0.0267,-0.4063,0.8549,0.6863,0.1290,...,2.3370,1.1485,-2.2770,0.1350,0.9148,-0.8360,-0.3555,-1.6361,-1.6911,NaN
2023-01-01,0.5564,1.2274,0.2532,0.6100,0.0591,0.3095,-0.0000,0.5334,-0.4947,0.9060,...,0.8373,-0.2521,1.1020,0.5470,0.0503,-0.2452,0.1135,2.1717,0.8094,NaN
2023-04-01,0.5111,0.8804,0.0378,0.3390,0.6144,-0.1271,0.1391,0.4387,-0.4447,-0.6995,...,0.8664,3.3064,0.2955,-0.3487,1.1025,-0.0299,0.0802,-0.9882,-2.7278,NaN
2023-07-01,1.1939,-0.7287,-0.1288,-0.2666,-0.1147,0.2706,-0.1296,0.2120,-0.3080,-0.6521,...,0.8092,0.2725,1.4888,0.3312,0.0156,0.8552,-0.6316,0.2388,2.7237,NaN

In [4]:
indicator = 'QNA' # Quaterly National Accounts
subject = 'B1_GE' # GDP per capita
measure = 'HVPVOBARSA' # Per Head, US dollars, volume estimates, fixed PPPs, OECD reference year (2015), seasonally adjusted
freq = 'Q' # Quaterly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name=f'../../../OECD_Stats/Indicators/OECD_GDP per capita.csv')
df

https://stats.oecd.org/SDMX-JSON/data/QNA/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.B1_GE.HVPVOBARSA.Q/all?startTime=1999-Q1&contentType=csv
Data coverage since 1999 (50 countries):  60.2 %
Data coverage since 2013 (30 countries): 74.8 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'Korea',
       'Saudi Arabia', 'South Africa', 'Mexico', 'Poland', 'Chile', 'Greece',
       'Hungary', 'Czechia', 'Colombia', 'Russia'],
      dtype='object')

No data:
Index(['Eurozone', 'China', 'India', 'Brazil', 'Indonesia', 'Turkiye',
       'Argentina'],
      dtype='object')

Missing first:
Japan 2007-07-01 00:00:00
Saudi Arabia 2010-01-01 00:00:00
South Africa 2008-01-01 00:00:00
Mexico 2005-01-01 00:00:00
Colombia 2001-01-01 00:00:00
Russia 2003-01-01 00:00:00

Missing last:
Saudi Arabia 2020-10-01 00:00:00
Russia 2021-07-01 00:00:00

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,46594.9,NaN,34884.5,36811.3,35776.0,54306.5,38826.6,36608.1,42787.7,43465.4,...,NaN,NaN,14511.7,13691.5,27526.6,17632.2,22153.5,NaN,NaN,NaN
1999-04-01,46855.7,NaN,35019.0,37048.1,35946.3,54585.3,38821.3,36652.5,43203.6,43657.0,...,NaN,NaN,14816.8,13674.3,27765.8,17840.6,22260.6,NaN,NaN,NaN
1999-07-01,47326.4,NaN,35548.3,37521.6,36429.5,54852.4,39240.6,36961.9,43715.6,43885.6,...,NaN,NaN,15114.8,13912.6,27853.9,18193.4,22464.0,NaN,NaN,NaN
1999-10-01,47958.7,NaN,36027.0,37934.0,36856.7,56047.1,39562.9,37488.2,44246.8,44466.0,...,NaN,NaN,15339.8,14231.1,28281.0,18414.9,22719.8,NaN,NaN,NaN
2000-01-01,48010.8,NaN,36439.4,38485.3,37097.0,56342.6,40121.7,37508.2,44452.2,44865.9,...,NaN,NaN,15442.9,14318.1,28359.0,18594.4,23037.6,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-01,63704.9,42485.3,44671.3,46580.4,43064.3,70299.3,50119.9,50297.7,56297.5,55718.3,...,NaN,NaN,35856.3,23557.2,29653.8,34231.9,38423.8,15116.4,NaN,NaN
2022-10-01,64017.0,42657.3,44663.0,46081.2,43027.7,70097.1,49842.1,50450.6,56524.6,55705.5,...,NaN,NaN,35067.7,23549.9,29982.7,33953.1,38280.0,14829.3,NaN,NaN
2023-01-01,64304.2,43249.5,44721.5,46101.8,43017.2,69897.3,49701.6,50361.5,56153.5,56124.9,...,NaN,NaN,35491.7,23639.2,30033.4,34148.3,38262.6,15111.3,NaN,NaN
2023-04-01,64559.9,43628.2,44684.5,45976.9,43242.6,69518.0,49725.3,50303.9,55819.2,55657.4,...,NaN,NaN,35628.7,23517.7,30401.5,34141.8,38275.4,14922.6,NaN,NaN
2023-07-01,65236.8,43386.9,NaN,45444.7,43151.6,69479.9,49619.8,50410.5,55516.7,55238.7,...,NaN,NaN,36183.1,23557.4,30443.1,34440.4,38069.2,14920.2,NaN,NaN

In [5]:
indicator = 'SNA_TABLE1' # Gross domestic product
subject = 'B1_GE' # GDP Current Prices
measure = 'VXCOB' # Current Prices, constant exchange rate, OECD base year, (US Dollar, Million, 2015)
freq = '' # Yearly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name=f'../../../OECD_Stats/Indicators/OECD_GDP Current Prices US Dollar.csv', 
                   with_measure=False, filter_measure_on_df=True)
df

https://stats.oecd.org/SDMX-JSON/data/SNA_TABLE1/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.B1_GE./all?startTime=1999-01&contentType=csv
Data coverage since 1999 (50 countries):  77.0 %
Data coverage since 2013 (30 countries): 94.3 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'Eurozone', 'China',
       'India', 'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico',
       'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index([], dtype='object')

Missing first:
Argentina 2004-01-01 00:00:00

Missing last:
United States 2022-01-01 00:00:00
Japan 2022-01-01 00:00:00
United Kingdom 2022-01-01 00:00:00
Canada 2022-01-01 00:00:00
France 2022-01-01 00:00:00
Switzerland 2022-01-01 00:00:00
Germany 2022-01-01 00:00:00
Australia 2022-01-01 00:00:00
Netherlands 2022-01-01 00:00:00
Denmark 2022-01-01 00:00:00
Sweden 2022-01-01 00:00:00
Spain 2022-01-01 00:00:00
Italy 2022-01-01 00:00:00
Finland 2022-01-01 00:00:00
Belgium 2022-01-01 00:00:00
Norway 2022-01-01 00:00:00
Israel 2022-01-01 00:00:00
Ireland 2022-01-01 00:00:00
New Zealand 2022-01-01 00:00:00
Austria 2022-01-01 00:00:00
Portugal 2022-01-01 00:00:00
Eurozone 2022-01-01 00:00:00
China 2022-01-01 00:00:00
India 2020-01-01 00:00:00
Korea 2022-01-01 00:00:00
Brazil 2020-01-01 00:00:00
Saudi Arabia 2021-01-01 00:00:00
South Africa 2022-01-01 00:00:00
Mexico 2022-01-01 00:00:00
Indonesia 2022-01-01 00:00:00
Turkiye 2022-01-01 00:00:00
Poland 2022-01-01 00:00:00
Chile 2022-01-01 00:00:00
Greece 2022-01-01 00:00:00
Hungary 2022-01-01 00:00:00
Czechia 2022-01-01 00:00:00
Colombia 2022-01-01 00:00:00
Argentina 2022-01-01 00:00:00
Russia 2020-01-01 00:00:00

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,9631172.0,4362626.714,1593851.052,788190.393,1554426.450,464956.846,2285019.608,497843.023,465395.168,184532.987,...,98741.812,39475.706,178944.157,58798.913,148440.319,41661.983,91589.329,60950.313,NaN,84925.900
2000-01-01,10250952.0,4423330.247,1681704.382,864938.171,1640509.117,489972.140,2340062.542,531445.553,501507.593,197225.012,...,113573.507,63049.144,198562.939,64536.731,156715.674,47699.612,97008.547,71161.237,NaN,128635.403
2001-01-01,10581929.0,4392235.775,1751039.518,895022.950,1706652.728,502541.876,2410461.135,568290.537,534653.181,203856.304,...,134539.224,90906.409,207334.660,69419.634,168861.025,55126.775,104847.848,77621.060,NaN,157475.640
2002-01-01,10929108.0,4332958.170,1820253.960,933458.616,1761716.744,500921.187,2438842.475,603346.011,556017.961,209615.124,...,148882.206,133128.130,215469.956,74036.355,181361.825,62412.569,109395.071,84935.412,NaN,190700.479
2003-01-01,11456450.0,4328744.001,1922454.651,981201.546,1809244.947,506666.645,2453765.424,649158.832,568969.305,213551.001,...,164559.678,173592.020,224738.559,80867.438,198497.133,68484.731,114780.304,96507.084,NaN,232809.603
2004-01-01,12217196.0,4373622.713,2020695.341,1044530.349,1890631.046,521898.821,2510295.105,695251.123,587249.640,223843.884,...,187617.413,214283.445,247537.074,92324.629,214930.203,75573.229,125177.377,109614.735,52540.393,300122.909
2005-01-01,13039197.0,4399354.673,2136977.559,1111671.361,1959294.361,541207.835,2538909.443,750952.079,611211.790,235732.184,...,226717.268,250100.630,262774.904,104671.180,221061.913,80889.141,133567.803,123262.185,63091.787,380895.811
2006-01-01,13815583.0,4421285.536,2248946.861,1170331.675,2050547.358,575366.059,2646277.005,818143.616,648561.322,250042.138,...,272884.428,292556.843,283706.327,124712.628,241720.218,87155.662,143539.042,139181.031,77536.000,474445.188
2007-01-01,14474228.0,4455252.516,2359861.995,1233717.564,2153963.945,612111.996,2773282.946,886212.628,686977.096,258452.642,...,322871.288,326364.570,315030.641,137832.380,258177.650,92155.041,156899.558,156287.426,97147.422,586023.874
2008-01-01,14769862.0,4360593.569,2434666.576,1295792.053,2210571.293,638424.397,2825363.481,947675.027,718074.524,267760.829,...,404412.197,368659.321,341045.497,143500.482,268491.457,97553.790,164352.254,173811.798,124512.400,727549.725
2009-01-01,14478067.0,4088912.255,2366225.190,1228769.903,2148485.171,626611.361,2713568.962,979934.297,693270.254,255970.029,...,448964.792,369988.723,363980.634,146972.844,263547.236,94943.395,160752.884,182937.251,135156.958,684019.778
2010-01-01,15048971.0,4176419.259,2457511.436,1302835.451,2213798.866,648958.059,2845234.857,1065781.217,709186.216,269166.272,...,512653.776,429287.065,380519.432,169352.986,248668.502,98395.615,162320.037,198433.014,179972.656,816238.813
2011-01-01,15599732.0,4109652.642,2540067.961,1387302.268,2283786.939,660589.234,2988539.542,1127535.857,721581.694,274506.419,...,584919.297,516515.886,412161.029,185758.790,225573.092,102165.706,165143.473,225773.995,235999.168,986483.737
2012-01-01,16253970.0,4134650.159,2618175.597,1428855.734,2317554.964,668805.151,3045956.834,1155026.855,724474.194,281662.975,...,643471.416,581424.372,427838.971,198698.377,209010.748,103806.865,166224.381,243092.661,285699.214,1117592.317
2013-01-01,16880683.0,4202608.077,2721523.649,1487541.072,2349048.487,680199.885,3119229.065,1201793.030,732792.212,286816.848,...,712961.356,670375.588,432451.519,209913.066,199584.042,108658.688,168415.509,260448.528,362638.493,1197711.119
2014-01-01,17608138.0,4286134.711,2845507.394,1559993.371,2385191.979,691636.834,3248021.321,1220603.175,745104.477,294469.742,...,789407.672,755474.774,451134.633,226182.300,196645.606,117439.636,176666.131,278250.821,495937.877,1296900.027
2015-01-01,18295019.0,4444930.652,2927911.141,1556508.034,2439188.643,694118.186,3357585.719,1246298.652,765572.771,302673.071,...,860854.233,864313.960,477111.288,242496.656,195683.542,125174.167,188033.050,293492.370,644903.201,1363481.525
2016-01-01,18804913.0,4497244.675,3042790.859,1583951.246,2478794.925,704344.848,3478034.439,1321757.096,785909.032,313293.313,...,926233.925,965643.925,491631.516,258001.031,193603.549,129618.523,195004.746,315044.050,891150.680,1404978.427
2017-01-01,19612102.0,4569188.747,3181569.604,1673963.164,2548819.612,711317.279,3624956.136,1385727.213,818982.502,325949.817,...,1014968.002,1152093.545,526009.816,274129.809,196276.581,140602.175,207764.338,335720.021,1154555.864,1507165.997
2018-01-01,20656516.0,4598575.575,3288242.100,1748278.949,2622118.471,737256.154,3734010.158,1464996.068,858748.554,334920.846,...,1108245.453,1381897.773,564134.766,289600.814,199221.567,155322.814,219960.811,360273.399,1596936.468,1704392.127
2019-01-01,21521395.0,4609156.023,3412934.734,1809186.706,2704587.455,744900.767,3854569.828,1490956.741,902095.003,343487.937,...,1182475.832,1585190.900,607107.574,299258.555,203426.334,170671.823,235438.711,386634.725,2334886.924,1792677.207
2020-01-01,21322950.0,4453606.008,3214884.325,1727951.861,2571664.482,723850.244,3776482.311,1569315.815,883760.303,344967.901,...,1153400.323,1855957.441,620154.397,307936.826,183087.092,173361.213,232090.289,363902.791,2945429.715,1755359.112
2021-01-01,23594031.0,4538673.403,3489565.009,1962500.059,2776132.175,772386.381,4013607.406,1752864.600,965927.499,379108.449,...,1267918.981,2664987.594,698050.670,367470.758,201377.004,197610.113,248334.448,434967.530,5012578.365,NaN
2022-01-01,25744108.0,4597690.773,3828870.691,2176004.865,2928106.594,812006.890,4301370.670,1924158.017,1063522.472,420880.361,...,1462980.169,5517105.554,813767.078,401442.726,229247.991,236546.732,275861.660,533420.446,8951432.811,NaN

In [6]:
indicator = 'SNA_TABLE1' # Gross domestic product
subject = 'B1_GE' # GDP Current Prices
measure = 'VPCOB' # Current Prices, constant PPPs, OECD base year, (US Dollar, Million, 2015)
freq = '' # Yearly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name=f'../../../OECD_Stats/Indicators/OECD_GDP Current Prices PPP.csv', 
                   with_measure=False, filter_measure_on_df=True)
df

https://stats.oecd.org/SDMX-JSON/data/SNA_TABLE1/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.B1_GE./all?startTime=1999-01&contentType=csv
Data coverage since 1999 (50 countries):  77.0 %
Data coverage since 2013 (30 countries): 94.3 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'Eurozone', 'China',
       'India', 'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico',
       'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index([], dtype='object')

Missing first:
Argentina 2004-01-01 00:00:00

Missing last:
United States 2022-01-01 00:00:00
Japan 2022-01-01 00:00:00
United Kingdom 2022-01-01 00:00:00
Canada 2022-01-01 00:00:00
France 2022-01-01 00:00:00
Switzerland 2022-01-01 00:00:00
Germany 2022-01-01 00:00:00
Australia 2022-01-01 00:00:00
Netherlands 2022-01-01 00:00:00
Denmark 2022-01-01 00:00:00
Sweden 2022-01-01 00:00:00
Spain 2022-01-01 00:00:00
Italy 2022-01-01 00:00:00
Finland 2022-01-01 00:00:00
Belgium 2022-01-01 00:00:00
Norway 2022-01-01 00:00:00
Israel 2022-01-01 00:00:00
Ireland 2022-01-01 00:00:00
New Zealand 2022-01-01 00:00:00
Austria 2022-01-01 00:00:00
Portugal 2022-01-01 00:00:00
Eurozone 2022-01-01 00:00:00
China 2022-01-01 00:00:00
India 2020-01-01 00:00:00
Korea 2022-01-01 00:00:00
Brazil 2020-01-01 00:00:00
Saudi Arabia 2021-01-01 00:00:00
South Africa 2022-01-01 00:00:00
Mexico 2022-01-01 00:00:00
Indonesia 2022-01-01 00:00:00
Turkiye 2022-01-01 00:00:00
Poland 2022-01-01 00:00:00
Chile 2022-01-01 00:00:00
Greece 2022-01-01 00:00:00
Hungary 2022-01-01 00:00:00
Czechia 2022-01-01 00:00:00
Colombia 2022-01-01 00:00:00
Argentina 2022-01-01 00:00:00
Russia 2020-01-01 00:00:00

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,9631172.0,5103631.718,1506384.217,807606.568,1732420.632,362089.470,2646731.649,449669.477,517864.580,169946.630,...,303697.576,9.236873e+04,382144.777,98322.760,219660.571,87795.080,174137.155,129612.490,NaN,219635.262
2000-01-01,10250952.0,5174645.925,1589416.361,886244.940,1828360.448,381570.363,2710487.722,480020.473,558048.379,181635.417,...,349315.027,1.475279e+05,424041.731,107917.462,231906.363,100518.289,184440.618,151326.295,NaN,332676.729
2001-01-01,10581929.0,5138269.966,1654946.547,917070.823,1902078.028,391359.162,2792030.210,513300.170,594930.855,187742.541,...,413798.725,2.127108e+05,442774.207,116082.589,249878.938,116169.689,199345.341,165063.284,NaN,407263.316
2002-01-01,10929108.0,5068923.884,1720362.661,956453.309,1963447.311,390097.035,2824904.235,544963.517,618704.336,193046.157,...,457913.056,3.115049e+05,460147.566,123802.608,268377.503,131523.179,207990.895,180617.451,NaN,493189.355
2003-01-01,11456450.0,5063993.926,1816954.816,1005372.332,2016417.871,394571.364,2842189.443,586343.282,633115.835,196670.924,...,506131.840,4.061859e+05,479941.162,135225.454,293734.169,144319.159,218229.742,205224.925,NaN,602091.920
2004-01-01,12217196.0,5116495.420,1909804.286,1070261.168,2107123.326,406433.563,2907667.611,627975.475,653457.125,206150.209,...,577049.906,5.013992e+05,528628.603,154384.015,318051.670,159256.885,237997.511,233098.700,7.064906e+04,776177.513
2005-01-01,13039197.0,5146598.029,2019705.207,1139056.123,2183649.136,421470.638,2940811.516,678286.554,680120.806,217098.801,...,697308.293,5.852074e+05,561169.800,175029.754,327125.316,170459.206,253950.079,262120.372,8.483712e+04,985072.297
2006-01-01,13815583.0,5172253.914,2125529.894,1199161.467,2285351.326,448071.672,3065175.055,738976.333,721681.186,230277.629,...,839303.402,6.845502e+05,605869.969,208542.796,357695.279,183664.763,272908.216,295972.228,1.042597e+05,1227009.585
2007-01-01,14474228.0,5211990.286,2230358.264,1264108.795,2400609.934,476687.912,3212285.671,800458.680,764428.018,238023.327,...,993046.664,7.636565e+05,672764.709,230481.471,382048.830,194200.048,298310.327,332349.440,1.306304e+05,1515574.252
2008-01-01,14769862.0,5101253.238,2301057.743,1327712.418,2463699.273,497178.940,3272610.405,855973.698,799031.420,246595.751,...,1243839.876,8.626215e+05,728320.820,239959.596,397311.104,205576.933,312480.005,369615.490,1.674271e+05,1881588.241
2009-01-01,14478067.0,4783426.051,2236372.261,1259039.254,2394503.796,487979.428,3143119.135,885111.415,771430.676,235736.951,...,1380869.114,8.657321e+05,777300.027,245766.034,389994.693,200076.000,305636.587,389021.013,1.817404e+05,1769011.143
2010-01-01,15048971.0,4885796.378,2322648.931,1334929.322,2467296.429,505382.127,3295627.363,962651.398,789141.030,247890.101,...,1576755.632,1.004484e+06,812619.511,283189.809,367977.283,207350.926,308616.187,421973.173,2.420024e+05,2110955.857
2011-01-01,15599732.0,4807689.255,2400674.946,1421476.883,2545298.692,514440.012,3461616.768,1018430.379,802933.994,252808.138,...,1799020.780,1.208589e+06,880191.827,310623.376,333800.915,215295.710,313984.335,480114.508,3.173391e+05,2551243.078
2012-01-01,16253970.0,4836932.673,2474496.217,1464053.972,2582933.424,520838.234,3528123.052,1043261.224,806152.599,259399.006,...,1979107.980,1.360468e+06,913672.905,332260.781,309292.116,218754.155,316039.447,516943.119,3.841688e+05,2890315.934
2013-01-01,16880683.0,4916433.444,2572172.768,1524184.957,2618033.207,529711.990,3612994.068,1085502.092,815408.405,264145.493,...,2192836.347,1.568604e+06,923523.247,351013.835,295342.566,228978.494,320205.399,553850.841,4.876262e+05,3097519.085
2014-01-01,17608138.0,5014147.323,2689352.574,1598422.035,2658315.416,538618.620,3762173.768,1102492.082,829108.774,271193.466,...,2427960.257,1.767726e+06,963422.033,378219.032,290994.297,247482.749,335892.160,591707.899,6.668688e+05,3354041.323
2015-01-01,18295019.0,5199915.223,2767234.195,1594850.842,2718495.127,540550.996,3889081.896,1125701.148,851884.697,278748.365,...,2647706.549,2.022398e+06,1018896.563,405499.680,289570.644,263781.873,357503.881,624119.465,8.671768e+05,3526234.314
2016-01-01,18804913.0,5261114.937,2875809.582,1622970.085,2762636.642,548515.104,4028597.301,1193857.891,874513.702,288529.133,...,2848793.136,2.259499e+06,1049905.283,431425.889,286492.690,273147.547,370759.041,669949.695,1.198296e+06,3633553.553
2017-01-01,19612102.0,5345278.921,3006972.472,1715199.346,2840679.712,553944.949,4198776.281,1251637.970,911315.929,300185.207,...,3121710.186,2.695770e+06,1123321.972,458396.217,290448.217,296293.603,395018.624,713917.708,1.552487e+06,3897830.927
2018-01-01,20656516.0,5379657.188,3107791.030,1791345.815,2922371.874,574145.090,4325093.242,1323236.411,955565.270,308447.124,...,3408601.168,3.233486e+06,1204739.834,484266.627,294806.180,327314.683,418207.562,766131.129,2.147340e+06,4407896.911
2019-01-01,21521395.0,5392034.756,3225640.823,1853753.966,3014284.212,580098.404,4464737.162,1346685.012,1003798.669,316337.031,...,3636909.578,3.709169e+06,1296510.554,500416.173,301028.353,359659.937,447635.417,822189.202,3.139633e+06,4636219.681
2020-01-01,21322950.0,5210064.113,3038458.959,1770517.992,2866140.502,563705.112,4374288.615,1417461.707,983396.884,317700.012,...,3547482.805,4.342732e+06,1324372.740,514927.861,270930.537,365327.339,441269.122,773849.129,3.960607e+06,4539707.668
2021-01-01,23594031.0,5309580.456,3298065.807,2010844.019,3094021.370,601503.081,4648949.931,1583249.480,1074827.745,349141.931,...,3899704.806,6.235772e+06,1490724.378,614479.710,297995.774,416427.503,472153.851,924970.220,6.740223e+06,NaN
2022-01-01,25744108.0,5378622.100,3618751.183,2229608.273,3263398.068,632357.921,4982265.293,1737967.770,1183425.734,387611.994,...,4499649.333,1.290941e+07,1737842.930,671287.183,339238.996,498479.370,524490.847,1134333.010,1.203665e+07,NaN