In [1]:
from oecd_api import get_oecd_data

In [2]:
indicator = 'QNA' # Quaterly National Accounts
subject = 'B1_GE' # Gross domestic product - expenditure approach
measure = 'GYSA' # Growth rate based on seasonally adjusted volume data, percentage change on the same quarter the previous year
freq = 'Q' # Quaterly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='Quaterly GDP YoY')
df

https://stats.oecd.org/SDMX-JSON/data/QNA/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.B1_GE.GYSA.Q/all?startTime=1999-Q1&contentType=csv
Data coverage:  94.7 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'India',
       'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico',
       'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index(['Eurozone'], dtype='object')

Missing first:
Saudi Arabia 2011-Q1
Colombia 2006-Q1
Russia 2004-Q1

Missing last:
Russia 2021-Q3

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-Q1,4.8163,-0.8405,2.3399,4.1941,2.7842,1.0304,0.7938,5.1738,4.2134,2.3111,...,-6.4079,-4.0900,2.1001,-2.2375,2.3617,2.5265,0.3953,NaN,-2.1765,NaN
1999-Q2,4.7219,-0.0338,2.1742,5.0097,2.6179,0.5713,1.2206,4.5412,4.6244,3.6219,...,1.4970,-3.8649,4.2241,-3.6060,2.8620,2.0658,0.5752,NaN,-5.1406,NaN
1999-Q3,4.7911,0.3310,3.4709,5.6907,3.5293,1.1757,1.8595,3.7770,5.1676,2.3813,...,2.9213,-4.1375,5.2988,-0.9069,2.8964,3.0412,1.4733,NaN,-5.1249,NaN
1999-Q4,4.8236,-0.4356,4.2619,5.7387,4.1792,3.7357,3.1243,3.9628,5.6801,3.4815,...,5.9918,-1.0176,6.5294,5.1053,3.7243,4.1765,2.5429,NaN,-1.0144,NaN
2000-Q1,4.2247,2.6673,4.8207,5.5164,4.3571,4.3203,3.3992,3.6236,4.5949,3.5523,...,3.4834,2.2652,6.3778,6.0779,3.3304,5.1371,3.8794,NaN,-0.1064,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-Q2,1.8706,1.4347,3.8968,4.7197,3.8758,3.2883,1.5552,3.0926,5.1520,3.1481,...,5.2889,6.9877,5.9779,5.4998,7.1231,6.3513,3.3596,12.1518,7.6889,NaN
2022-Q3,1.7132,1.5209,2.0570,3.8189,1.1804,1.3772,1.2457,5.9941,2.9922,2.2440,...,6.1114,3.7823,5.0068,0.0072,4.0506,3.9757,1.3501,7.3321,5.3425,NaN
2022-Q4,0.6517,0.4618,0.6634,2.0741,0.7194,1.1535,0.8250,2.6965,3.0649,0.3771,...,5.1579,3.3548,0.9905,-2.1371,4.7541,0.5170,0.1200,1.9704,1.1023,NaN
2023-Q1,1.7179,1.8496,0.4584,2.0793,0.8263,1.4434,-0.2684,2.4445,2.0982,2.2555,...,4.9402,3.0054,-0.6183,-0.9576,1.9689,-1.1514,-0.3778,2.9986,1.2259,NaN
2023-Q2,2.3825,1.7273,0.5573,1.1221,0.9736,0.5909,-0.1205,2.0706,0.0443,0.8663,...,4.8703,5.0927,-1.3998,-1.0851,2.7397,-2.2566,-0.5545,0.3425,-3.3008,NaN

In [3]:
indicator = 'QNA' # Quaterly National Accounts
subject = 'B1_GE' # Gross domestic product - expenditure approach
measure = 'GPSA' # Growth rate based on seasonally adjusted volume data, percentage change on previous quarter
freq = 'Q' # Quaterly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='Quaterly GDP QoQ')
df

https://stats.oecd.org/SDMX-JSON/data/QNA/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.B1_GE.GPSA.Q/all?startTime=1999-Q1&contentType=csv
Data coverage:  93.7 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'India',
       'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico',
       'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index(['Eurozone'], dtype='object')

Missing first:
China 2011-Q1
Saudi Arabia 2010-Q2
Colombia 2005-Q2
Russia 2003-Q2

Missing last:
Russia 2021-Q3

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-Q1,0.9394,-1.3823,0.6929,1.8138,0.6634,0.1031,1.1576,0.7300,1.6668,0.9060,...,5.6477,-1.6858,0.8045,0.0192,0.7623,-0.0074,0.0263,NaN,-1.2459,NaN
1999-Q2,0.8347,0.3748,0.4744,0.8365,0.6261,0.6738,0.0000,0.3249,1.1129,0.5164,...,-0.0550,-0.5637,2.0946,0.2728,0.9332,1.0976,0.4539,NaN,-1.1299,NaN
1999-Q3,1.3259,0.5443,1.5998,1.5647,1.4696,0.5661,1.1074,1.1585,1.3772,0.6181,...,0.2734,-1.6866,2.0008,2.1095,0.3828,1.8885,0.9237,NaN,-0.2882,NaN
1999-Q4,1.6407,0.0385,1.4329,1.4067,1.3591,2.3559,0.8276,1.6969,1.4069,1.3988,...,0.1072,2.9874,1.4807,2.6341,1.5989,1.1430,1.1188,NaN,1.6728,NaN
2000-Q1,0.3628,1.6912,1.2325,1.5997,0.8353,0.6672,1.4274,0.4014,0.6227,0.9751,...,3.1475,1.5749,0.6611,0.9448,0.3797,0.9146,1.3299,NaN,-0.3400,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-Q2,-0.1413,1.2918,0.0892,0.8970,0.3792,0.8709,-0.1296,0.7233,1.8136,1.0253,...,0.9127,1.4144,-1.3899,-0.1661,0.5042,0.9650,0.1529,1.5884,1.7125,NaN
2022-Q3,0.6586,-0.2978,-0.0856,0.5584,0.3150,0.2629,0.3614,0.6744,-0.1741,-0.2012,...,0.8208,0.5422,1.2391,-1.2319,0.2647,-0.8790,-0.2257,0.8594,0.4534,NaN
2022-Q4,0.6354,0.0507,0.1338,-0.0372,0.1108,0.0214,-0.4063,0.6528,0.8758,0.5769,...,2.3052,1.1485,-2.0142,0.0389,1.1938,-0.9077,-0.3917,-1.6606,-1.7971,NaN
2023-Q1,0.5564,0.7999,0.3207,0.6475,0.0192,0.2824,-0.0927,0.3723,-0.4178,0.8400,...,0.8203,-0.1260,1.5952,0.4055,-0.0042,-0.3233,0.0871,2.2217,0.8854,NaN
2023-Q2,0.5111,1.1702,0.1877,-0.0491,0.5258,0.0232,0.0186,0.3557,-0.2345,-0.3472,...,0.8455,3.4694,-2.1652,-0.2947,1.2639,-0.1639,-0.0248,-1.0313,-2.8360,NaN

In [4]:
indicator = 'QNA' # Quaterly National Accounts
subject = 'B1_GE' # GDP per capita
measure = 'HVPVOBARSA' # Per Head, US dollars, volume estimates, fixed PPPs, OECD reference year (2015), seasonally adjusted
freq = 'Q' # Quaterly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='GDP per capita')
df

https://stats.oecd.org/SDMX-JSON/data/QNA/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.B1_GE.HVPVOBARSA.Q/all?startTime=1999-Q1&contentType=csv
Data coverage:  77.2 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'Korea',
       'Saudi Arabia', 'South Africa', 'Mexico', 'Poland', 'Chile', 'Greece',
       'Hungary', 'Czechia', 'Colombia', 'Russia'],
      dtype='object')

No data:
Index(['Eurozone', 'China', 'India', 'Brazil', 'Indonesia', 'Turkiye',
       'Argentina'],
      dtype='object')

Missing first:
Japan 2007-Q3
Saudi Arabia 2010-Q1
South Africa 2008-Q1
Mexico 2005-Q1
Colombia 2001-Q1
Russia 2003-Q1

Missing last:
United Kingdom 2022-Q4
Saudi Arabia 2020-Q4
Russia 2021-Q3

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-Q1,46594.9,NaN,34884.5,36810.5,35777.0,54309.0,38826.6,36641.5,42787.7,43465.4,...,NaN,NaN,14511.0,13691.5,27526.6,17635.6,22153.5,NaN,NaN,NaN
1999-Q2,46855.7,NaN,35019.0,37051.6,35950.6,54600.7,38821.3,36678.9,43203.6,43657.0,...,NaN,NaN,14816.1,13674.3,27765.8,17843.0,22260.6,NaN,NaN,NaN
1999-Q3,47326.4,NaN,35548.3,37524.2,36423.2,54835.0,39240.6,36994.9,43715.6,43885.6,...,NaN,NaN,15114.2,13912.6,27853.9,18190.7,22464.0,NaN,NaN,NaN
1999-Q4,47958.7,NaN,36027.0,37938.7,36856.9,56050.4,39562.9,37520.2,44246.8,44466.0,...,NaN,NaN,15339.2,14231.1,28281.0,18412.9,22719.8,NaN,NaN,NaN
2000-Q1,48010.8,NaN,36439.4,38503.0,37098.4,56347.6,40121.7,37536.9,44452.2,44865.9,...,NaN,NaN,15442.2,14318.1,28359.0,18596.5,23037.6,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-Q2,63378.8,42410.2,44760.1,46352.8,42911.8,70248.5,50069.3,50282.5,56503.6,55730.8,...,NaN,NaN,35412.4,23888.4,29697.7,34565.2,38507.7,15024.7,NaN,NaN
2022-Q3,63704.9,42344.1,44713.2,46270.4,43011.2,70277.5,50119.9,50350.1,56182.7,55430.8,...,NaN,NaN,35873.0,23552.4,29811.4,34270.3,38428.0,15115.0,NaN,NaN
2022-Q4,64017.0,42431.8,44763.8,45826.5,43022.9,70109.0,49842.1,50412.8,56515.5,55665.9,...,NaN,NaN,35178.4,23522.4,30225.4,33966.9,38270.3,14824.3,NaN,NaN
2023-Q1,64304.2,42868.1,NaN,45803.9,42995.2,69890.3,49655.5,50253.2,56187.8,56039.0,...,NaN,NaN,35777.4,23578.5,30260.1,34144.4,38242.8,15113.5,NaN,NaN
2023-Q2,64559.9,NaN,NaN,NaN,43182.5,69615.7,49617.7,NaN,55971.3,55778.7,...,NaN,NaN,35035.2,23470.0,30679.8,34092.1,38215.5,NaN,NaN,NaN

In [5]:
indicator = 'SNA_TABLE1' # Gross domestic product
subject = 'B1_GE' # GDP Current Prices
measure = 'VXCOB' # Current Prices, constant exchange rate, OECD base year, (US Dollar, Million, 2015)
freq = '' # Yearly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='GDP Current Prices US Dollar', with_measure=False, 
                   filter_measure_on_df=True)
df

https://stats.oecd.org/SDMX-JSON/data/SNA_TABLE1/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.B1_GE./all?startTime=1999-01&contentType=csv
Data coverage:  98.7 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'Eurozone', 'China',
       'India', 'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico',
       'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index([], dtype='object')

Missing first:
Argentina 2004

Missing last:
United States 2022
Japan 2022
United Kingdom 2022
Canada 2022
France 2022
Switzerland 2022
Germany 2022
Australia 2022
Netherlands 2022
Denmark 2022
Sweden 2022
Spain 2022
Italy 2022
Finland 2022
Belgium 2022
Norway 2022
Israel 2022
Ireland 2022
New Zealand 2022
Austria 2022
Portugal 2022
Eurozone 2022
China 2022
India 2020
Korea 2022
Brazil 2020
Saudi Arabia 2021
South Africa 2022
Mexico 2022
Indonesia 2022
Turkiye 2022
Poland 2022
Chile 2022
Greece 2022
Hungary 2022
Czechia 2022
Colombia 2022
Argentina 2022
Russia 2020

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999,9631172.0,4362626.714,1595229.107,788190.393,1554426.450,464956.846,2285019.608,497456.873,465395.168,184532.987,...,98741.812,39475.706,178944.157,58798.913,148440.319,41661.983,91589.329,60950.313,NaN,84925.900
2000,10250952.0,4423330.247,1682301.743,864938.171,1640509.117,489972.140,2340062.542,531065.413,501507.593,197225.012,...,113573.507,63049.144,198562.939,64536.731,156715.674,47699.612,97008.547,71161.237,NaN,128635.403
2001,10581929.0,4392235.775,1749798.963,895022.950,1706652.728,502541.876,2410461.135,567981.016,534653.181,203856.304,...,134539.224,90906.409,207334.660,69419.634,168861.025,55126.775,104847.848,77621.060,NaN,157475.640
2002,10929108.0,4332958.170,1820370.071,933458.616,1761716.744,500921.187,2438842.475,603034.988,556017.961,209615.124,...,148882.206,133128.130,215469.956,74036.355,181361.825,62412.569,109395.071,84935.412,NaN,190700.479
2003,11456450.0,4328744.001,1924503.401,981201.546,1809244.947,506666.645,2453765.424,648806.489,568969.305,213551.001,...,164559.678,173592.020,224738.559,80867.438,198497.133,68484.731,114780.304,96507.084,NaN,232809.603
2004,12217196.0,4373622.713,2021891.591,1044530.349,1890631.046,521898.821,2510295.105,694863.471,587249.640,223843.884,...,187617.413,214283.445,247537.074,92324.629,214930.203,75573.229,125177.377,109614.735,52540.393,300122.909
2005,13039197.0,4399354.673,2138343.393,1111671.361,1959294.361,541207.835,2538909.443,750440.468,611211.790,235732.184,...,226717.268,250100.630,262774.904,104671.180,221061.913,80889.141,133567.803,123262.185,63091.787,380895.811
2006,13815583.0,4421285.536,2250167.555,1170331.675,2050547.358,575366.059,2646277.005,817588.432,648561.322,250042.138,...,272884.428,292556.843,283706.327,124712.628,241720.218,87155.662,143539.042,139181.031,77536.000,474445.188
2007,14474228.0,4455252.516,2361626.579,1233717.564,2153963.945,612111.996,2773282.946,885855.027,686977.096,258452.642,...,322871.288,326364.570,315030.641,137832.380,258177.650,92155.041,156899.558,156287.426,97147.422,586023.874
2008,14769862.0,4360593.569,2436403.659,1295792.053,2210571.293,638424.397,2825363.481,947539.799,718074.524,267760.829,...,404412.197,368659.321,341045.497,143500.482,268491.457,97553.790,164352.254,173811.798,124512.400,727549.725
2009,14478067.0,4088912.255,2370930.745,1228769.903,2148485.171,626611.361,2713568.962,979660.837,693270.254,255970.029,...,448964.792,369988.723,363980.634,146972.844,263547.236,94943.395,160752.884,182937.251,135156.958,684019.778
2010,15048970.0,4176419.259,2463359.769,1302835.451,2213798.866,648958.059,2845234.857,1065594.904,709186.216,269166.272,...,512653.776,429287.065,380519.432,169352.986,248668.502,98395.615,162320.037,198433.014,179972.656,816238.813
2011,15599731.0,4109652.642,2542544.489,1387302.268,2283786.939,660589.234,2988539.542,1127028.003,721581.694,274506.419,...,584919.297,516515.886,412161.029,185758.790,225573.092,102165.706,165143.473,225773.995,235999.168,986483.737
2012,16253970.0,4134650.159,2617451.430,1428855.734,2317554.964,668805.151,3045956.834,1154315.408,724474.194,281662.975,...,643471.416,581424.372,427838.971,198698.377,209010.748,103806.865,166224.381,243092.661,285699.214,1117592.317
2013,16843196.0,4202608.077,2722952.121,1487541.072,2349048.487,680199.885,3119229.065,1200968.142,732792.212,286816.848,...,712961.356,670375.588,432451.519,209913.066,199584.042,108658.688,168415.509,260448.528,362638.493,1197711.119
2014,17550687.0,4286134.711,2845985.588,1559993.371,2385191.979,691636.834,3248021.321,1219530.370,745104.477,294469.742,...,789407.672,755474.774,451134.633,226182.300,196645.606,117439.636,176666.131,278250.821,495937.877,1296900.027
2015,18206023.0,4444930.652,2934857.946,1556508.034,2439188.643,694118.186,3357585.719,1245248.385,765572.771,302673.071,...,860854.233,864313.960,477111.288,242496.656,195683.542,125174.167,188033.050,293492.370,644903.201,1363481.525
2016,18695106.0,4497244.675,3054731.970,1583951.246,2478794.925,704344.848,3478034.439,1321343.901,785909.032,313293.313,...,926233.925,965643.925,491631.516,258001.031,193603.549,129618.523,195004.746,315044.050,891150.680,1404978.427
2017,19477337.0,4569188.747,3185428.770,1673963.164,2548819.612,711317.279,3624956.136,1384305.071,818982.502,325949.817,...,1014968.002,1152093.545,526009.816,274129.809,196276.581,140602.175,207764.338,335720.021,1154555.864,1507165.997
2018,20533058.0,4598575.575,3296042.933,1748278.949,2622118.471,737256.154,3734010.158,1462419.984,858748.554,334920.846,...,1108245.453,1381897.773,564134.766,289600.814,199221.567,155322.814,219960.811,360273.399,1596936.468,1704392.127
2019,21380976.0,4609156.023,3419698.206,1809186.706,2704587.455,744900.767,3854569.828,1487105.011,902095.003,343487.937,...,1182475.832,1585190.900,607107.574,299258.555,203430.550,170671.823,235438.711,386634.725,2334886.924,1792677.207
2020,21060474.0,4453606.008,3222990.713,1727951.861,2563495.139,721815.475,3776482.311,1562943.595,883760.303,344967.901,...,1153400.323,1855957.441,620154.397,307936.826,183519.998,173361.213,232090.289,363902.791,2945429.715,1755359.112
2021,23315081.0,4538673.403,3468431.260,1962500.059,2774747.503,760261.706,4013607.406,1734706.552,965927.499,379108.449,...,1267918.981,2664987.594,698050.670,367470.758,201570.318,197610.113,248334.448,434967.530,5012578.365,NaN
2022,25462700.0,4596568.867,3806057.914,2176004.865,2932124.140,801370.465,4301370.670,1940578.391,1063522.472,420880.361,...,1462980.169,5517105.554,813767.078,401442.726,230812.140,236546.732,275861.660,533913.082,8951432.811,NaN

In [6]:
indicator = 'SNA_TABLE1' # Gross domestic product
subject = 'B1_GE' # GDP Current Prices
measure = 'VPCOB' # Current Prices, constant PPPs, OECD base year, (US Dollar, Million, 2015)
freq = '' # Yearly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='GDP Current Prices PPP', with_measure=False,
                   filter_measure_on_df=True)
df

https://stats.oecd.org/SDMX-JSON/data/SNA_TABLE1/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.B1_GE./all?startTime=1999-01&contentType=csv
Data coverage:  98.7 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'Eurozone', 'China',
       'India', 'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico',
       'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index([], dtype='object')

Missing first:
Argentina 2004

Missing last:
United States 2022
Japan 2022
United Kingdom 2022
Canada 2022
France 2022
Switzerland 2022
Germany 2022
Australia 2022
Netherlands 2022
Denmark 2022
Sweden 2022
Spain 2022
Italy 2022
Finland 2022
Belgium 2022
Norway 2022
Israel 2022
Ireland 2022
New Zealand 2022
Austria 2022
Portugal 2022
Eurozone 2022
China 2022
India 2020
Korea 2022
Brazil 2020
Saudi Arabia 2021
South Africa 2022
Mexico 2022
Indonesia 2022
Turkiye 2022
Poland 2022
Chile 2022
Greece 2022
Hungary 2022
Czechia 2022
Colombia 2022
Argentina 2022
Russia 2020

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999,9631172.0,5103631.718,1507686.648,807606.568,1732420.632,362089.470,2646731.649,449320.693,517864.580,169946.630,...,303697.576,9.236873e+04,382144.777,98322.760,219660.571,87795.080,174137.155,129612.490,NaN,219635.262
2000,10250952.0,5174645.925,1589980.940,886244.940,1828360.448,381570.363,2710487.722,479677.118,558048.379,181635.417,...,349315.027,1.475279e+05,424041.731,107917.462,231906.363,100518.289,184440.618,151326.295,NaN,332676.729
2001,10581929.0,5138269.966,1653774.070,917070.823,1902078.028,391359.162,2792030.210,513020.600,594930.855,187742.541,...,413798.725,2.127108e+05,442774.207,116082.589,249878.938,116169.689,199345.341,165063.284,NaN,407263.316
2002,10929108.0,5068923.884,1720472.400,956453.309,1963447.311,390097.035,2824904.235,544682.590,618704.336,193046.157,...,457913.056,3.115049e+05,460147.566,123802.608,268377.503,131523.179,207990.895,180617.451,NaN,493189.355
2003,11456450.0,5063993.926,1818891.135,1005372.332,2016417.871,394571.364,2842189.443,586025.034,633115.835,196670.924,...,506131.840,4.061859e+05,479941.162,135225.454,293734.169,144319.159,218229.742,205224.925,NaN,602091.920
2004,12217196.0,5116495.420,1910934.889,1070261.168,2107123.326,406433.563,2907667.611,627625.334,653457.125,206150.209,...,577049.906,5.013992e+05,528628.603,154384.015,318051.670,159256.885,237997.511,233098.700,7.064906e+04,776177.513
2005,13039197.0,5146598.029,2020996.086,1139056.123,2183649.136,421470.638,2940811.516,677824.449,680120.806,217098.801,...,697308.293,5.852074e+05,561169.800,175029.754,327125.316,170459.206,253950.079,262120.372,8.483712e+04,985072.297
2006,13815583.0,5172253.914,2126683.599,1199161.467,2285351.326,448071.672,3065175.055,738474.871,721681.186,230277.629,...,839303.402,6.845502e+05,605869.969,208542.796,357695.279,183664.763,272908.216,295972.228,1.042597e+05,1227009.585
2007,14474228.0,5211990.286,2232026.011,1264108.795,2400609.934,476687.912,3212285.671,800135.681,764428.018,238023.327,...,993046.664,7.636565e+05,672764.709,230481.471,382048.830,194200.048,298310.327,332349.440,1.306304e+05,1515574.252
2008,14769862.0,5101253.238,2302699.500,1327712.418,2463699.273,497178.940,3272610.405,855851.556,799031.420,246595.751,...,1243839.876,8.626215e+05,728320.820,239959.596,397311.104,205576.933,312480.005,369615.490,1.674271e+05,1881588.241
2009,14478067.0,4783426.051,2240819.586,1259039.254,2394503.796,487979.428,3143119.135,884864.416,771430.676,235736.951,...,1380869.114,8.657321e+05,777300.027,245766.034,389994.693,200076.000,305636.587,389021.013,1.817404e+05,1769011.143
2010,15048970.0,4885796.378,2328176.321,1334929.322,2467296.429,505382.127,3295627.363,962483.113,789141.030,247890.101,...,1576755.632,1.004484e+06,812619.511,283189.809,367977.283,207350.926,308616.187,421973.173,2.420024e+05,2110955.857
2011,15599731.0,4807689.255,2403015.567,1421476.883,2545298.692,514440.012,3461616.768,1017971.667,802933.994,252808.138,...,1799020.780,1.208589e+06,880191.827,310623.376,333800.915,215295.710,313984.335,480114.508,3.173391e+05,2551243.078
2012,16253970.0,4836932.673,2473811.790,1464053.972,2582933.424,520838.234,3528123.052,1042618.620,806152.599,259399.006,...,1979107.980,1.360468e+06,913672.905,332260.781,309292.116,218754.155,316039.447,516943.119,3.841688e+05,2890315.934
2013,16843196.0,4916433.444,2573522.849,1524184.957,2618033.207,529711.990,3612994.068,1084757.024,815408.405,264145.493,...,2192836.347,1.568604e+06,923523.247,351013.835,295342.566,228978.494,320205.399,553850.841,4.876262e+05,3097519.085
2014,17550687.0,5014147.323,2689804.526,1598422.035,2658315.416,538618.620,3762173.768,1101523.086,829108.774,271193.466,...,2427960.257,1.767726e+06,963422.033,378219.032,290994.297,247482.749,335892.160,591707.899,6.668688e+05,3354041.323
2015,18206023.0,5199915.223,2773799.776,1594850.842,2718495.127,540550.996,3889081.896,1124752.510,851884.697,278748.365,...,2647706.549,2.022398e+06,1018896.563,405499.680,289570.644,263781.873,357503.881,624119.465,8.671768e+05,3526234.314
2016,18695106.0,5261114.937,2887095.392,1622970.085,2762636.642,548515.104,4028597.301,1193484.679,874513.702,288529.133,...,2848793.136,2.259499e+06,1049905.283,431425.889,286492.690,273147.547,370759.041,669949.695,1.198296e+06,3633553.553
2017,19477337.0,5345278.921,3010619.857,1715199.346,2840679.712,553944.949,4198776.281,1250353.441,911315.929,300185.207,...,3121710.186,2.695770e+06,1123321.972,458396.217,290448.217,296293.603,395018.624,713917.708,1.552487e+06,3897830.927
2018,20533058.0,5379657.188,3115163.771,1791345.815,2922371.874,574145.090,4325093.242,1320909.601,955565.270,308447.124,...,3408601.168,3.233486e+06,1204739.834,484266.627,294806.180,327314.683,418207.562,766131.129,2.147340e+06,4407896.911
2019,21380976.0,5392034.756,3232033.131,1853753.966,3014284.212,580098.404,4464737.162,1343205.993,1003798.669,316337.031,...,3636909.578,3.709169e+06,1296510.554,500416.173,301034.592,359659.937,447635.417,822189.202,3.139633e+06,4636219.681
2020,21060474.0,5210064.113,3046120.488,1770517.992,2857035.704,562120.518,4374288.615,1411706.092,983396.884,317700.012,...,3547482.805,4.342732e+06,1324372.740,514927.861,271571.148,365327.339,441269.122,773849.129,3.960607e+06,4539707.668
2021,23315081.0,5309580.456,3278091.828,2010844.019,3092478.142,592060.877,4648949.931,1566848.487,1074827.745,349141.931,...,3899704.806,6.235772e+06,1490724.378,614479.710,298281.838,416427.503,472153.851,924970.220,6.740223e+06,NaN
2022,25462700.0,5377309.635,3597190.318,2229608.273,3267875.655,624074.706,4982265.293,1752799.234,1183425.734,387611.994,...,4499649.333,1.290941e+07,1737842.930,671287.183,341553.608,498479.370,524490.847,1135380.613,1.203665e+07,NaN