In [1]:
from oecd_api import get_oecd_data

In [2]:
indicator = 'FIN_IND_FBS' # Gross domestic product
subject = 'DBTADJS13GDP' # Government Debt to GDP
measure = '' # Pct of GDP
freq = '' # Yearly

df = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='Government Debt to GDP', with_measure=False, 
                   filter_measure_on_df=False, with_freq=False)
df

https://stats.oecd.org/SDMX-JSON/data/FIN_IND_FBS//AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.DBTADJS13GDP/all?startTime=1999-01&contentType=csv
Data coverage since 1999 (50 countries):  54.8 %
Data coverage since 2013 (30 countries): 69.0 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'Korea', 'Mexico',
       'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary', 'Czechia',
       'Colombia'],
      dtype='object')

No data:
Index(['Eurozone', 'China', 'India', 'Brazil', 'Saudi Arabia', 'South Africa',
       'Indonesia', 'Argentina', 'Russia'],
      dtype='object')

Missing first:
Israel 2001-01-01 00:00:00
New Zealand 2009-01-01 00:00:00
Korea 2008-01-01 00:00:00
Mexico 2003-01-01 00:00:00
Turkiye 2010-01-01 00:00:00
Chile 2003-01-01 00:00:00
Colombia 2015-01-01 00:00:00

Missing last:
United States 2022-01-01 00:00:00
Japan 2022-01-01 00:00:00
United Kingdom 2022-01-01 00:00:00
Canada 2022-01-01 00:00:00
France 2022-01-01 00:00:00
Switzerland 2022-01-01 00:00:00
Germany 2022-01-01 00:00:00
Australia 2022-01-01 00:00:00
Netherlands 2022-01-01 00:00:00
Denmark 2022-01-01 00:00:00
Sweden 2022-01-01 00:00:00
Spain 2022-01-01 00:00:00
Italy 2022-01-01 00:00:00
Finland 2022-01-01 00:00:00
Belgium 2022-01-01 00:00:00
Norway 2022-01-01 00:00:00
Israel 2021-01-01 00:00:00
Ireland 2022-01-01 00:00:00
New Zealand 2022-01-01 00:00:00
Austria 2022-01-01 00:00:00
Portugal 2022-01-01 00:00:00
Korea 2022-01-01 00:00:00
Mexico 2021-01-01 00:00:00
Turkiye 2021-01-01 00:00:00
Poland 2022-01-01 00:00:00
Chile 2022-01-01 00:00:00
Greece 2022-01-01 00:00:00
Hungary 2022-01-01 00:00:00
Czechia 2022-01-01 00:00:00
Colombia 2019-01-01 00:00:00

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,58.9933,130.9010,49.6598,92.9906,74.0152,54.0274,61.6382,25.1993,68.5976,67.0955,...,NaN,NaN,45.9024,NaN,102.9808,67.2503,23.7113,NaN,NaN,NaN
2000-01-01,53.1315,140.8035,49.4818,85.1469,72.4292,53.7093,63.2947,22.4059,62.4123,60.4558,...,NaN,NaN,45.9486,NaN,112.5661,61.5558,24.3157,NaN,NaN,NaN
2001-01-01,53.1071,146.8432,45.1784,85.8131,71.4731,51.8042,61.9702,21.9414,58.4648,58.2770,...,NaN,NaN,44.5729,NaN,116.2653,59.4908,28.2779,NaN,NaN,NaN
2002-01-01,55.3580,157.0952,45.8767,84.0377,75.1616,57.0098,64.8293,19.9182,58.9182,58.1475,...,NaN,NaN,54.0213,NaN,117.5052,60.6349,30.5848,NaN,NaN,NaN
2003-01-01,58.2759,166.3147,45.8023,80.5492,79.0776,56.1664,67.6476,16.7243,59.9569,56.0691,...,NaN,NaN,56.2048,23.9559,111.0322,61.3885,33.3166,NaN,NaN,NaN
2004-01-01,65.6193,171.6765,49.2974,79.9347,80.5494,56.9559,69.5687,14.6753,60.2714,52.3359,...,NaN,NaN,53.7719,20.8274,115.3293,64.6818,32.9016,NaN,NaN,NaN
2005-01-01,64.8063,172.3258,51.1390,77.8084,82.1422,54.9565,72.1701,13.2202,59.4438,45.1194,...,NaN,NaN,55.2520,16.4329,116.8701,67.5711,32.4013,NaN,NaN,NaN
2006-01-01,63.4354,172.6969,50.8525,75.2713,77.2693,48.9515,69.5222,11.7798,53.0928,40.4927,...,NaN,NaN,54.9618,13.2322,115.5393,70.8722,31.9721,NaN,NaN,NaN
2007-01-01,63.5432,174.2457,51.9905,71.3255,75.9418,45.3946,66.8630,12.7265,50.4693,34.5938,...,NaN,NaN,51.5554,11.3334,113.0010,71.8629,30.5615,NaN,NaN,NaN
2008-01-01,72.2326,178.1565,61.7431,74.3193,82.5035,43.5986,71.4195,15.4404,62.6881,41.9399,...,NaN,NaN,53.8774,12.4811,117.6431,75.7464,32.9654,NaN,NaN,NaN
2009-01-01,85.2503,199.3707,76.0071,86.6580,97.5731,42.8342,78.3136,20.6632,65.2671,49.2675,...,NaN,NaN,57.1841,13.4159,135.5171,84.9065,39.6605,NaN,NaN,NaN
2010-01-01,93.6989,204.4223,88.7514,89.5977,100.9953,41.7614,87.6248,23.2980,69.3575,53.4413,...,NaN,48.9012,62.2187,15.3678,130.3572,86.0627,44.0592,NaN,NaN,NaN
2011-01-01,97.9672,217.9842,102.1855,92.6346,103.8066,41.6616,86.6351,28.1052,73.6416,60.1112,...,NaN,43.6028,62.6402,17.9661,113.5752,95.1410,46.9833,NaN,NaN,NaN
2012-01-01,101.5117,226.6466,106.6991,95.2302,111.9382,42.5354,89.1222,32.4471,79.3565,60.6152,...,NaN,40.9409,65.9895,18.4499,167.0980,98.4153,56.2300,NaN,NaN,NaN
2013-01-01,102.9897,229.6768,102.8224,92.1941,112.4676,41.5312,84.4810,33.7412,78.8442,56.7322,...,NaN,34.2837,67.1243,19.0318,181.3954,97.1972,55.9696,NaN,NaN,NaN
2014-01-01,102.9922,234.3806,113.4478,93.1579,120.1551,42.3848,84.3203,37.8786,83.2828,59.1419,...,NaN,33.2342,71.8867,22.3754,183.0978,100.6166,54.8425,NaN,NaN,NaN
2015-01-01,103.5908,233.2803,112.6054,99.6520,120.8252,42.4918,80.1313,39.6359,79.6495,53.4283,...,NaN,31.0460,70.3126,24.2929,184.2000,98.8256,51.7071,49.5737,NaN,NaN
2016-01-01,105.5865,231.3682,122.7061,99.4487,123.6707,41.1754,77.3321,41.2274,77.6028,51.5063,...,NaN,31.8957,73.4107,28.3898,188.9637,98.6760,47.4329,53.6437,NaN,NaN
2017-01-01,104.6487,230.3029,119.6610,96.1418,122.9442,42.1551,73.2804,42.8308,70.8094,48.9852,...,NaN,32.2759,68.9608,29.3642,192.9892,93.2255,43.3278,56.1102,NaN,NaN
2018-01-01,105.8897,234.1849,116.8009,95.0453,120.7428,39.6949,70.1470,42.8003,65.9891,47.1827,...,NaN,32.2784,66.7127,32.2051,199.3717,86.8548,40.1150,60.1749,NaN,NaN
2019-01-01,107.1933,234.8006,120.1911,96.3691,123.0546,39.5347,68.6659,46.4775,62.2621,48.3581,...,NaN,35.1480,63.6075,38.7246,200.8453,83.9386,37.8328,63.1091,NaN,NaN
2020-01-01,131.8702,256.9916,152.5828,129.1737,145.4504,43.5201,81.5567,61.8819,70.1888,58.4320,...,NaN,42.8839,77.4811,44.1925,237.4087,97.0913,46.9900,NaN,NaN,NaN
2021-01-01,124.8409,255.9666,145.1015,120.9192,138.0269,41.1898,79.1457,58.8239,65.6317,48.8711,...,NaN,43.5846,68.0085,42.0918,224.6463,88.6634,48.4644,NaN,NaN,NaN
2022-01-01,119.8066,254.4614,103.2843,101.4681,117.3211,36.9795,65.4372,53.2971,54.3025,34.6793,...,NaN,NaN,58.7666,41.3156,193.0461,77.2678,48.1193,NaN,NaN,NaN

In [3]:
#https://stats.oecd.org/SDMX-JSON/data/SNA_TABLE12/DNK+FRA+DEU.GTE+GTR.GS13+GS1311+GS1312+GS1313+GS1314+S1.C/all?startTime=2000&endTime=2022

indicator = 'SNA_TABLE12' # General Government Accounts
subject = 'GTE.GS13' # Total government expenditure
measure = '' # Current prices
freq = '' # Yearly

df_exp = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='Total government expenditure', with_measure=False, 
                   filter_measure_on_df=False)
df_exp

https://stats.oecd.org/SDMX-JSON/data/SNA_TABLE12/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.GTE.GS13./all?startTime=1999-01&contentType=csv
Data coverage since 1999 (50 countries):  61.9 %
Data coverage since 2013 (30 countries): 76.0 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'Eurozone', 'Korea',
       'Brazil', 'Mexico', 'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece',
       'Hungary', 'Czechia', 'Colombia', 'Russia'],
      dtype='object')

No data:
Index(['China', 'India', 'Saudi Arabia', 'South Africa', 'Argentina'], dtype='object')

Missing first:
Japan 2005-01-01 00:00:00
Brazil 2000-01-01 00:00:00
Mexico 2003-01-01 00:00:00
Indonesia 2010-01-01 00:00:00
Turkiye 2009-01-01 00:00:00
Chile 2007-01-01 00:00:00
Colombia 2005-01-01 00:00:00
Russia 2011-01-01 00:00:00

Missing last:
United States 2021-01-01 00:00:00
Japan 2021-01-01 00:00:00
United Kingdom 2022-01-01 00:00:00
Canada 2022-01-01 00:00:00
France 2022-01-01 00:00:00
Switzerland 2022-01-01 00:00:00
Germany 2022-01-01 00:00:00
Australia 2022-01-01 00:00:00
Netherlands 2022-01-01 00:00:00
Denmark 2022-01-01 00:00:00
Sweden 2022-01-01 00:00:00
Spain 2022-01-01 00:00:00
Italy 2022-01-01 00:00:00
Finland 2022-01-01 00:00:00
Belgium 2022-01-01 00:00:00
Norway 2022-01-01 00:00:00
Israel 2022-01-01 00:00:00
Ireland 2022-01-01 00:00:00
New Zealand 2021-01-01 00:00:00
Austria 2022-01-01 00:00:00
Portugal 2022-01-01 00:00:00
Eurozone 2022-01-01 00:00:00
Korea 2022-01-01 00:00:00
Brazil 2020-01-01 00:00:00
Mexico 2021-01-01 00:00:00
Indonesia 2020-01-01 00:00:00
Turkiye 2020-01-01 00:00:00
Poland 2022-01-01 00:00:00
Chile 2021-01-01 00:00:00
Greece 2022-01-01 00:00:00
Hungary 2022-01-01 00:00:00
Czechia 2022-01-01 00:00:00
Colombia 2021-01-01 00:00:00
Russia 2019-01-01 00:00:00

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,3337215.1,NaN,364928.0,427988.0,737347.0,153655.13,992918.0,234040.0,182890.0,677042.0,...,NaN,NaN,292387.00,NaN,61749.0,5704855.00,927538.0,NaN,NaN,NaN
2000-01-01,3516022.5,NaN,386897.0,456078.0,763723.0,157017.13,1007254.0,257713.0,191530.0,699107.0,...,NaN,NaN,322160.00,NaN,65575.0,6308541.00,974727.0,NaN,NaN,NaN
2001-01-01,3768842.7,NaN,414288.0,478725.0,795531.0,157677.45,1030137.0,272007.0,207640.0,724679.0,...,NaN,NaN,350466.00,NaN,69988.0,7276249.00,1117016.0,NaN,NaN,NaN
2002-01-01,4015593.0,NaN,447510.0,491567.0,838298.0,168988.48,1052274.0,281344.0,218881.0,750466.0,...,NaN,NaN,367193.00,NaN,74860.0,8890365.00,1201744.0,NaN,NaN,NaN
2003-01-01,4268405.2,NaN,488593.0,515267.0,868664.0,166795.37,1068281.0,303553.0,229208.0,770664.0,...,NaN,NaN,386435.00,NaN,83355.0,9396975.00,1386860.0,NaN,NaN,NaN
2004-01-01,4503249.8,NaN,530194.0,533629.0,902872.0,170413.38,1058667.0,325031.0,231037.0,798141.0,...,NaN,NaN,405488.00,NaN,92237.0,10285184.00,1303245.0,NaN,NaN,NaN
2005-01-01,4817584.8,186434200.0,577056.0,559532.0,941123.0,173183.48,1071405.0,347620.0,234593.0,812682.0,...,NaN,NaN,438169.50,NaN,90778.0,11143538.00,1392102.0,126376000.0,NaN,NaN
2006-01-01,5065365.7,184797800.0,602128.0,590726.0,977223.0,173815.36,1078898.0,376979.0,253629.0,838266.0,...,NaN,NaN,475378.00,NaN,98292.0,12503227.00,1463921.0,140986000.0,NaN,NaN
2007-01-01,5408531.7,186529200.0,635403.0,620705.0,1020486.0,178278.80,1084748.0,407813.0,264371.0,862318.0,...,NaN,NaN,509445.00,17687606.32,109528.0,12835221.00,1560751.0,158719000.0,NaN,NaN
2008-01-01,5860288.7,188167000.0,706719.0,655948.0,1061865.0,189263.11,1125536.0,465540.0,281277.0,908135.0,...,NaN,NaN,567861.00,19939866.72,123041.0,13283006.00,1652260.0,172920000.0,NaN,NaN
2009-01-01,6253856.8,199530500.0,732572.0,695851.0,1106701.0,197131.47,1178850.0,498641.0,299259.0,973636.0,...,NaN,379574.022,617599.00,23301149.06,128469.0,13408649.00,1754034.0,191765000.0,NaN,NaN
2010-01-01,6472653.6,198926100.0,760686.0,731454.0,1134956.0,202123.40,1234544.0,522368.0,307878.0,1026310.0,...,1.442806e+09,412300.048,663318.00,26170439.95,118690.0,13416291.00,1742089.0,202441000.0,NaN,NaN
2011-01-01,6535058.6,200115600.0,760576.0,751910.0,1158670.0,205752.12,1218524.0,556899.0,306631.0,1042167.0,...,1.783697e+09,468157.005,690053.00,28082776.75,112064.0,14001014.00,1754422.0,231537000.0,NaN,21342749.04
2012-01-01,6515363.7,201286500.0,780466.0,762378.0,1192859.0,210401.91,1233138.0,556932.0,307043.0,1098247.0,...,2.050911e+09,525251.797,700438.00,30237986.99,107688.0,14241938.00,1826725.0,260997000.0,NaN,24818972.74
2013-01-01,6547529.9,205269600.0,780802.0,775580.0,1211621.0,220141.71,1263544.0,583773.0,309368.0,1077153.0,...,2.306545e+09,594264.872,707719.00,32465352.15,113742.0,15194727.50,1766916.0,292168000.0,NaN,27376882.74
2014-01-01,6721129.2,207336800.0,803343.0,781161.0,1229958.0,221424.99,1296940.0,595382.0,309489.0,1093954.0,...,2.508612e+09,656257.211,729663.77,36245638.95,90678.0,16417384.98,1852255.0,344296000.0,NaN,31806782.38
2015-01-01,6910906.8,208962800.0,812983.0,812749.0,1248656.0,224542.08,1335789.0,620217.0,309465.0,1110377.0,...,2.635705e+09,746114.560,750622.30,40935942.21,96036.0,17615369.78,1939612.0,363651000.0,NaN,31238791.57
2016-01-01,7161099.9,210901600.0,828794.0,841899.0,1266435.0,228245.14,1390374.0,645760.0,309167.0,1106149.0,...,2.957677e+09,889067.960,766007.00,44306297.45,87744.0,16943857.58,1906806.0,370276000.0,NaN,33807953.38
2017-01-01,7412758.8,211223000.0,857010.0,883281.0,1298021.0,230740.27,1443273.0,679777.0,313410.0,1108531.0,...,3.122262e+09,1064251.476,821255.00,46883480.77,86172.0,18348279.39,1992172.0,409541000.0,NaN,34822619.76
2018-01-01,7794634.5,212841000.0,880553.0,926929.0,1315051.0,234072.15,1491601.0,714775.0,327239.0,1139013.0,...,3.358558e+09,1303661.104,881373.00,49266658.80,87779.0,19999395.63,2196478.0,437671000.0,NaN,37455234.77
2019-01-01,8221634.1,216371800.0,913248.0,957920.0,1349275.0,238417.80,1563438.0,824413.0,342493.0,1147800.0,...,3.245642e+09,1528362.207,958326.00,54084362.76,88276.0,21970417.92,2377636.0,474837000.0,NaN,42442796.17
2020-01-01,9962874.4,248414900.0,1101750.0,1184894.0,1421914.7,267036.93,1717583.0,918045.0,380991.0,1241147.0,...,3.816647e+09,1810867.058,1127866.00,61261849.46,99332.0,24900785.50,2695782.0,515230000.0,NaN,NaN
2021-01-01,10477245.6,243490700.0,1104855.0,1171358.0,1477680.3,265845.28,1842603.0,921542.0,400161.0,1270324.0,...,NaN,NaN,1160188.00,82057524.97,104704.0,26712905.00,2841006.0,576625000.0,NaN,NaN
2022-01-01,NaN,NaN,1167596.0,1174294.0,1538920.7,257644.09,1918143.0,955086.0,416921.0,1273555.0,...,NaN,NaN,1346561.00,NaN,109252.0,32270778.00,3026225.0,NaN,NaN,NaN

In [4]:
#https://stats.oecd.org/SDMX-JSON/data/SNA_TABLE12/DNK+FRA+DEU.GTE+GTR.GS13+GS1311+GS1312+GS1313+GS1314+S1.C/all?startTime=2000&endTime=2022

indicator = 'SNA_TABLE12' # General Government Accounts
subject = 'GTR.GS13' # Total government revenue
measure = '' # Current prices
freq = '' # Yearly

df_rev = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='Total government revenue', with_measure=False, 
                   filter_measure_on_df=False)
df_rev

https://stats.oecd.org/SDMX-JSON/data/SNA_TABLE12/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.GTR.GS13./all?startTime=1999-01&contentType=csv
Data coverage since 1999 (50 countries):  61.9 %
Data coverage since 2013 (30 countries): 76.0 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'Eurozone', 'Korea',
       'Brazil', 'Mexico', 'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece',
       'Hungary', 'Czechia', 'Colombia', 'Russia'],
      dtype='object')

No data:
Index(['China', 'India', 'Saudi Arabia', 'South Africa', 'Argentina'], dtype='object')

Missing first:
Japan 2005-01-01 00:00:00
Brazil 2000-01-01 00:00:00
Mexico 2003-01-01 00:00:00
Indonesia 2010-01-01 00:00:00
Turkiye 2009-01-01 00:00:00
Chile 2007-01-01 00:00:00
Colombia 2005-01-01 00:00:00
Russia 2011-01-01 00:00:00

Missing last:
United States 2021-01-01 00:00:00
Japan 2021-01-01 00:00:00
United Kingdom 2022-01-01 00:00:00
Canada 2022-01-01 00:00:00
France 2022-01-01 00:00:00
Switzerland 2022-01-01 00:00:00
Germany 2022-01-01 00:00:00
Australia 2022-01-01 00:00:00
Netherlands 2022-01-01 00:00:00
Denmark 2022-01-01 00:00:00
Sweden 2022-01-01 00:00:00
Spain 2022-01-01 00:00:00
Italy 2022-01-01 00:00:00
Finland 2022-01-01 00:00:00
Belgium 2022-01-01 00:00:00
Norway 2022-01-01 00:00:00
Israel 2022-01-01 00:00:00
Ireland 2022-01-01 00:00:00
New Zealand 2021-01-01 00:00:00
Austria 2022-01-01 00:00:00
Portugal 2022-01-01 00:00:00
Eurozone 2022-01-01 00:00:00
Korea 2022-01-01 00:00:00
Brazil 2020-01-01 00:00:00
Mexico 2021-01-01 00:00:00
Indonesia 2020-01-01 00:00:00
Turkiye 2020-01-01 00:00:00
Poland 2022-01-01 00:00:00
Chile 2021-01-01 00:00:00
Greece 2022-01-01 00:00:00
Hungary 2022-01-01 00:00:00
Czechia 2022-01-01 00:00:00
Colombia 2021-01-01 00:00:00
Russia 2019-01-01 00:00:00

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,3290773.0,NaN,371338.0,444675.0,714890.0,146627.03,957511.0,246611.0,183879.0,687829.0,...,NaN,NaN,277189.0,NaN,53998.0,5090785.00,857061.0,NaN,NaN,NaN
2000-01-01,3550421.5,NaN,401564.0,485275.0,744229.0,158346.72,973832.0,248229.0,196896.0,724150.0,...,NaN,NaN,292264.0,NaN,59836.0,5903305.00,889402.0,NaN,NaN,NaN
2001-01-01,3573349.7,NaN,417895.0,484785.0,774316.0,158681.36,964408.0,266107.0,205529.0,740322.0,...,NaN,NaN,313410.0,NaN,61669.0,6660393.00,968470.0,NaN,NaN,NaN
2002-01-01,3436001.4,NaN,423945.0,488775.0,788119.0,160566.74,967097.0,286784.0,208733.0,750249.0,...,NaN,NaN,328064.0,NaN,65013.0,7356584.00,1030830.0,NaN,NaN,NaN
2003-01-01,3533550.0,NaN,447842.0,513674.0,803184.0,160168.28,986360.0,310166.0,213363.0,768751.0,...,NaN,NaN,335300.0,NaN,69346.0,8022852.00,1193227.0,NaN,NaN,NaN
2004-01-01,3797701.5,NaN,488023.0,543883.0,841688.0,163425.69,983231.0,333340.0,221580.0,829363.0,...,NaN,NaN,358761.0,NaN,75136.0,8893904.00,1230282.0,NaN,NaN,NaN
2005-01-01,4237637.9,162798700.0,532671.0,581611.0,881866.0,169819.70,995446.0,363352.0,231996.0,891268.0,...,NaN,NaN,399159.4,NaN,78449.0,9385912.00,1292661.0,117859000.0,NaN,NaN
2006-01-01,4604834.4,168588800.0,560997.0,618078.0,932060.0,178502.69,1039469.0,393900.0,253438.0,922162.0,...,NaN,NaN,437526.0,NaN,85338.0,10248898.00,1388002.0,135043000.0,NaN,NaN
2007-01-01,4832558.2,170884700.0,594006.0,649413.0,969306.0,187562.13,1091269.0,415110.0,262935.0,949616.0,...,NaN,NaN,487090.0,23927984.04,93921.0,11526759.00,1535863.0,151373000.0,NaN,NaN
2008-01-01,4775806.2,166475400.0,624528.0,659005.0,996839.0,201143.32,1122573.0,416916.0,282084.0,965312.0,...,NaN,NaN,521502.0,24452223.56,98416.0,12252255.00,1572850.0,170748000.0,NaN,NaN
2009-01-01,4357240.1,151556100.0,576183.0,634862.0,967767.0,200132.19,1101797.0,424924.0,266663.0,925448.0,...,NaN,317918.175,518099.0,18820571.53,92328.0,12148973.00,1540052.0,188147000.0,NaN,NaN
2010-01-01,4609589.7,153045000.0,611840.0,652524.0,997546.0,204333.77,1122258.0,457563.0,273748.0,977230.0,...,1.434647e+09,380151.503,556239.0,25650674.88,93146.0,12199550.00,1576305.0,198052000.0,NaN,NaN
2011-01-01,4825952.9,155417200.0,637209.0,693211.0,1052566.0,210096.82,1194783.0,487560.0,277741.0,1004200.0,...,1.719165e+09,457813.928,612304.0,29233864.19,90700.0,12513776.00,1644725.0,228579000.0,NaN,23118115.32
2012-01-01,5022100.5,160265100.0,643114.0,716250.0,1088816.0,211915.97,1233394.0,513406.0,281370.0,1032103.0,...,1.956342e+09,520503.905,638897.0,30680540.87,90377.0,13567951.00,1667376.0,258325000.0,NaN,26013348.38
2013-01-01,5570219.0,166550300.0,684934.0,747146.0,1125153.0,217310.08,1264668.0,539484.0,289840.0,1053309.0,...,2.128862e+09,597977.331,638143.0,31630693.24,89524.0,14406342.00,1713727.0,281263000.0,NaN,26962757.58
2014-01-01,5810757.2,178199800.0,699489.0,784650.0,1146017.0,219780.19,1313906.0,559275.0,294353.0,1116627.0,...,2.330350e+09,660769.518,667276.1,33636000.01,84065.0,15507106.44,1762059.0,320532000.0,NaN,30030670.44
2015-01-01,6073700.8,189174500.0,724412.0,811518.0,1168959.0,228186.16,1364857.0,583556.0,296054.0,1083302.0,...,2.360286e+09,757788.944,703861.7,37295014.35,85712.0,16914668.71,1909833.0,336322000.0,NaN,30082142.76
2016-01-01,6150960.6,191306900.0,762303.0,832717.0,1185174.0,229860.49,1426748.0,618049.0,310066.0,1103915.0,...,2.601274e+09,854327.863,721547.0,39678945.91,88151.0,16293277.38,1940949.0,330928000.0,NaN,31707339.00
2017-01-01,6551231.8,194084600.0,804854.0,880880.0,1230059.0,238479.04,1486925.0,657768.0,323531.0,1147703.0,...,2.808562e+09,977015.120,791663.0,41638350.72,87563.0,17382476.85,2068905.0,374596000.0,NaN,34240263.10
2018-01-01,6543565.4,199084600.0,831620.0,934775.0,1260956.0,243227.74,1557224.0,688522.0,338867.0,1156148.0,...,3.179653e+09,1195572.701,876067.0,46854905.70,89436.0,19107096.59,2244770.0,385868000.0,NaN,41074276.87
2019-01-01,6798107.6,199385700.0,857823.0,957520.0,1274570.0,248031.90,1616462.0,689609.0,357121.0,1243279.0,...,3.370714e+09,1337579.033,941316.0,47357138.04,89851.0,20994681.20,2394345.0,431534000.0,NaN,46451179.41
2020-01-01,6833292.5,199482000.0,825229.0,943809.0,1213678.5,245726.19,1569885.0,746755.0,351403.0,1249966.0,...,2.925885e+09,1575610.764,966031.0,46486432.28,83284.0,21239914.60,2366566.0,427728000.0,NaN,NaN
2021-01-01,7664435.3,209428900.0,925321.0,1061402.0,1315601.0,263517.30,1712862.0,833545.0,380695.0,1373797.0,...,NaN,NaN,1111992.0,64410941.75,92041.0,22762624.00,2530378.0,483342000.0,NaN,NaN
2022-01-01,NaN,NaN,1049507.0,1151652.0,1412124.8,267021.16,1821233.0,925132.0,416023.0,1368202.0,...,NaN,NaN,1233728.0,NaN,104360.0,28144726.00,2808293.0,NaN,NaN,NaN

In [5]:
indicator = 'SNA_TABLE1' # Gross domestic product
subject = 'B1_GE' # GDP Current Prices
measure = 'C' # Current Prices
freq = '' # Yearly

df_gdp = get_oecd_data(indicator, subject, measure, freq, 
                   countries_before_subject=True,
                   file_name='GDP Current Prices', with_measure=False, 
                   filter_measure_on_df=True)
df_gdp

https://stats.oecd.org/SDMX-JSON/data/SNA_TABLE1/AUS+AUT+BEL+CAN+CHL+COL+CZE+DNK+FIN+FRA+DEU+GRC+HUN+IRL+ISR+ITA+JPN+KOR+MEX+NLD+NZL+NOR+POL+PRT+ESP+SWE+CHE+TUR+GBR+USA+ARG+BRA+CHN+IND+IDN+RUS+SAU+ZAF+EA19.B1_GE./all?startTime=1999-01&contentType=csv
Data coverage since 1999 (50 countries):  77.0 %
Data coverage since 2013 (30 countries): 94.3 %

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'Eurozone', 'China',
       'India', 'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico',
       'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Index([], dtype='object')

Missing first:
Argentina 2004-01-01 00:00:00

Missing last:
United States 2022-01-01 00:00:00
Japan 2022-01-01 00:00:00
United Kingdom 2022-01-01 00:00:00
Canada 2022-01-01 00:00:00
France 2022-01-01 00:00:00
Switzerland 2022-01-01 00:00:00
Germany 2022-01-01 00:00:00
Australia 2022-01-01 00:00:00
Netherlands 2022-01-01 00:00:00
Denmark 2022-01-01 00:00:00
Sweden 2022-01-01 00:00:00
Spain 2022-01-01 00:00:00
Italy 2022-01-01 00:00:00
Finland 2022-01-01 00:00:00
Belgium 2022-01-01 00:00:00
Norway 2022-01-01 00:00:00
Israel 2022-01-01 00:00:00
Ireland 2022-01-01 00:00:00
New Zealand 2022-01-01 00:00:00
Austria 2022-01-01 00:00:00
Portugal 2022-01-01 00:00:00
Eurozone 2022-01-01 00:00:00
China 2022-01-01 00:00:00
India 2020-01-01 00:00:00
Korea 2022-01-01 00:00:00
Brazil 2020-01-01 00:00:00
Saudi Arabia 2021-01-01 00:00:00
South Africa 2022-01-01 00:00:00
Mexico 2022-01-01 00:00:00
Indonesia 2022-01-01 00:00:00
Turkiye 2022-01-01 00:00:00
Poland 2022-01-01 00:00:00
Chile 2022-01-01 00:00:00
Greece 2022-01-01 00:00:00
Hungary 2022-01-01 00:00:00
Czechia 2022-01-01 00:00:00
Colombia 2022-01-01 00:00:00
Argentina 2022-01-01 00:00:00
Russia 2020-01-01 00:00:00

Done

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,9631172.0,528069900.0,1043248.0,1007927.0,1400999.0,447465.787,2059480.0,662674.0,419459.0,1241520.747,...,1.322095e+09,1.073743e+05,674530.0,3.846179e+07,133788.728,11637546.0,2252983.0,1.671125e+08,NaN,5.175185e+06
2000-01-01,10250952.0,535417700.0,1100752.0,1106071.0,1478585.0,471540.038,2109090.0,707402.0,452007.0,1326911.504,...,1.520683e+09,1.714942e+05,748483.0,4.221503e+07,141247.276,13324052.0,2386289.0,1.951086e+08,NaN,7.838739e+06
2001-01-01,10581929.0,531653900.0,1146135.0,1144543.0,1538200.0,483636.918,2172540.0,756446.0,481881.0,1371526.218,...,1.801401e+09,2.472662e+05,781548.0,4.540905e+07,152193.838,15398700.0,2579126.0,2.128200e+08,NaN,9.596195e+06
2002-01-01,10929108.0,524478700.0,1191439.0,1193694.0,1587829.0,482077.197,2198120.0,803108.0,501137.0,1410271.027,...,1.993445e+09,3.621096e+05,812214.0,4.842896e+07,163460.764,17433859.0,2690982.0,2.328744e+08,NaN,1.162084e+07
2003-01-01,11456450.0,523968600.0,1258334.0,1254747.0,1630666.0,487606.519,2211570.0,864089.0,512810.0,1436751.240,...,2.203357e+09,4.721718e+05,847152.0,5.289734e+07,178904.756,19130011.0,2823452.0,2.646014e+08,NaN,1.418687e+07
2004-01-01,12217196.0,529400900.0,1322637.0,1335731.0,1704019.0,502265.680,2262520.0,925442.0,529286.0,1506000.798,...,2.512087e+09,5.828528e+05,933091.0,6.039176e+07,193715.824,21110059.0,3079207.0,3.005397e+08,4.851152e+05,1.828878e+07
2005-01-01,13039197.0,532515600.0,1398749.0,1421590.0,1765905.0,520848.315,2288310.0,999585.0,550883.0,1585984.170,...,3.035611e+09,6.802758e+05,990530.0,6.846794e+07,199242.312,22594966.0,3285601.0,3.379580e+08,5.825382e+05,2.321090e+07
2006-01-01,13815583.0,535170200.0,1472038.0,1496604.0,1848151.0,553721.552,2385080.0,1089023.0,584546.0,1682260.207,...,3.653762e+09,7.957571e+05,1069431.0,8.157753e+07,217861.568,24345409.0,3530881.0,3.816040e+08,7.159043e+05,2.891157e+07
2007-01-01,14474228.0,539281700.0,1544637.0,1577661.0,1941360.0,589085.155,2499550.0,1179629.0,619170.0,1738845.296,...,4.323057e+09,8.877144e+05,1187508.0,9.015948e+07,232694.593,25741898.0,3859533.0,4.285060e+08,8.969802e+05,3.571092e+07
2008-01-01,14769862.0,527823800.0,1593600.0,1657041.0,1992380.0,614407.719,2546490.0,1261441.0,647198.0,1801469.912,...,5.414842e+09,1.002756e+06,1285571.0,9.386712e+07,241990.390,27249944.0,4042860.0,4.765540e+08,1.149646e+06,4.433517e+07
2009-01-01,14478067.0,494938400.0,1548802.0,1571334.0,1936422.0,603039.074,2445730.0,1304381.0,624842.0,1722142.505,...,6.011375e+09,1.006372e+06,1372025.0,9.613848e+07,237534.181,26520776.0,3954320.0,5.015740e+08,1.247929e+06,4.168256e+07
2010-01-01,15048970.0,505530600.0,1608553.0,1666048.0,1995289.0,624545.119,2564400.0,1418651.0,639187.0,1810925.601,...,6.864133e+09,1.167664e+06,1434368.0,1.107779e+08,224124.031,27485093.0,3992870.0,5.440600e+08,1.661721e+06,4.973968e+07
2011-01-01,15599731.0,497448900.0,1662590.0,1774063.0,2058369.0,635738.744,2693560.0,1500852.0,650359.0,1846853.613,...,7.831726e+09,1.404928e+06,1553641.0,1.215093e+08,203308.221,28538202.0,4062323.0,6.190230e+08,2.179024e+06,6.011400e+07
2012-01-01,16253970.0,500474700.0,1713715.0,1827201.0,2088804.0,643645.589,2745310.0,1537445.0,652966.0,1895002.254,...,8.615704e+09,1.581479e+06,1612739.0,1.299734e+08,188380.639,28996631.0,4088912.0,6.665070e+08,2.637914e+06,6.810345e+07
2013-01-01,16843196.0,508700600.0,1781361.0,1902247.0,2117189.0,654611.669,2811350.0,1599695.0,660463.0,1929677.034,...,9.546134e+09,1.823427e+06,1630126.0,1.373092e+08,179884.383,30351903.0,4142811.0,7.140930e+08,3.348308e+06,7.298570e+07
2014-01-01,17550687.0,518811000.0,1862514.0,1994898.0,2149765.0,665618.374,2927430.0,1624733.0,671560.0,1981164.991,...,1.056971e+10,2.054898e+06,1700552.0,1.479513e+08,177235.981,32804707.0,4345766.0,7.629030e+08,4.579086e+06,7.903004e+07
2015-01-01,18206023.0,538032300.0,1916451.0,1990441.0,2198432.0,668006.382,3026180.0,1658936.0,690008.0,2036356.221,...,1.152633e+10,2.350941e+06,1798471.0,1.586229e+08,176368.876,34965213.0,4625378.0,8.046920e+08,5.954511e+06,8.308736e+07
2016-01-01,18695106.0,544364600.0,1991645.0,2025535.0,2234129.0,677848.331,3134740.0,1759378.0,708337.0,2107808.218,...,1.240173e+10,2.626560e+06,1853205.0,1.687647e+08,174494.187,36206666.0,4796873.0,8.637820e+08,8.228160e+06,8.561608e+07
2017-01-01,19477337.0,553073000.0,2082482.0,2140641.0,2297242.0,684558.467,3267160.0,1844528.0,738146.0,2192960.002,...,1.358983e+10,3.133704e+06,1982794.0,1.793149e+08,176903.380,39274757.0,5110743.0,9.204710e+08,1.066023e+07,9.184315e+07
2018-01-01,20533058.0,556630100.0,2152304.0,2235675.0,2363306.0,709521.556,3365450.0,1950042.0,773987.0,2253316.249,...,1.483876e+10,3.758774e+06,2126506.0,1.894349e+08,179557.686,43386710.0,5410761.0,9.877910e+08,1.474481e+07,1.038617e+08
2019-01-01,21380976.0,557910800.0,2233921.0,2313563.0,2437635.0,716878.590,3474110.0,1984598.0,813055.0,2310954.835,...,1.583266e+10,4.311733e+06,2288492.0,1.957522e+08,183347.427,47674187.0,5791498.0,1.060068e+09,2.155844e+07,1.092415e+08
2020-01-01,21060474.0,539082400.0,2104288.0,2209681.0,2317832.0,696619.959,3403730.0,2088901.0,796530.0,2320911.896,...,1.544335e+10,5.048220e+06,2337672.0,2.014289e+08,165015.741,48425421.0,5709131.0,9.977420e+08,2.719570e+07,1.069675e+08
2021-01-01,23315081.0,549379300.0,2284079.0,2509618.0,2502118.0,743330.231,3617450.0,2333221.0,870587.0,2550606.325,...,1.697669e+10,7.248789e+06,2631302.0,2.403715e+08,181500.373,55198927.0,6108717.0,1.192586e+09,4.628207e+07,NaN
2022-01-01,25439700.0,556523000.0,2506170.0,2782645.0,2639092.0,781460.269,3876810.0,2561228.0,958549.0,2831643.856,...,1.958845e+10,1.500657e+07,3067495.0,2.625934e+08,206620.394,66075190.0,6785852.0,1.462522e+09,8.265024e+07,NaN

In [6]:
df_def_sur = (df_rev - df_exp)/df_gdp
df_def_sur = df_def_sur.round(4)
df_def_sur.to_csv('Indicators/OECD_Government Budget.csv')
df_def_sur

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,-0.0048,NaN,0.0061,0.0166,-0.0160,-0.0157,-0.0172,0.0190,0.0024,0.0087,...,NaN,NaN,-0.0225,NaN,-0.0579,-0.0528,-0.0313,NaN,NaN,NaN
2000-01-01,0.0034,NaN,0.0133,0.0264,-0.0132,0.0028,-0.0158,-0.0134,0.0119,0.0189,...,NaN,NaN,-0.0399,NaN,-0.0406,-0.0304,-0.0358,NaN,NaN,NaN
2001-01-01,-0.0185,NaN,0.0031,0.0053,-0.0138,0.0021,-0.0303,-0.0078,-0.0044,0.0114,...,NaN,NaN,-0.0474,NaN,-0.0547,-0.0400,-0.0576,NaN,NaN,NaN
2002-01-01,-0.0530,NaN,-0.0198,-0.0023,-0.0316,-0.0175,-0.0387,0.0068,-0.0202,-0.0002,...,NaN,NaN,-0.0482,NaN,-0.0602,-0.0880,-0.0635,NaN,NaN,NaN
2003-01-01,-0.0641,NaN,-0.0324,-0.0013,-0.0402,-0.0136,-0.0370,0.0077,-0.0309,-0.0013,...,NaN,NaN,-0.0604,NaN,-0.0783,-0.0718,-0.0686,NaN,NaN,NaN
2004-01-01,-0.0578,NaN,-0.0319,0.0077,-0.0359,-0.0139,-0.0333,0.0090,-0.0179,0.0207,...,NaN,NaN,-0.0501,NaN,-0.0883,-0.0659,-0.0237,NaN,NaN,NaN
2005-01-01,-0.0445,-0.0444,-0.0317,0.0155,-0.0336,-0.0065,-0.0332,0.0157,-0.0047,0.0496,...,NaN,NaN,-0.0394,NaN,-0.0619,-0.0778,-0.0303,-0.0252,NaN,NaN
2006-01-01,-0.0333,-0.0303,-0.0279,0.0183,-0.0244,0.0085,-0.0165,0.0155,-0.0003,0.0499,...,NaN,NaN,-0.0354,NaN,-0.0595,-0.0926,-0.0215,-0.0156,NaN,NaN
2007-01-01,-0.0398,-0.0290,-0.0268,0.0182,-0.0264,0.0158,0.0026,0.0062,-0.0023,0.0502,...,NaN,NaN,-0.0188,0.0692,-0.0671,-0.0508,-0.0064,-0.0171,NaN,NaN
2008-01-01,-0.0734,-0.0411,-0.0516,0.0018,-0.0326,0.0193,-0.0012,-0.0385,0.0012,0.0317,...,NaN,NaN,-0.0361,0.0481,-0.1018,-0.0378,-0.0196,-0.0046,NaN,NaN
2009-01-01,-0.1310,-0.0969,-0.1010,-0.0388,-0.0717,0.0050,-0.0315,-0.0565,-0.0522,-0.0280,...,NaN,-0.0613,-0.0725,-0.0466,-0.1522,-0.0475,-0.0541,-0.0072,NaN,NaN
2010-01-01,-0.1238,-0.0908,-0.0925,-0.0474,-0.0689,0.0035,-0.0438,-0.0457,-0.0534,-0.0271,...,-0.0012,-0.0275,-0.0747,-0.0047,-0.1140,-0.0443,-0.0415,-0.0081,NaN,NaN
2011-01-01,-0.1096,-0.0899,-0.0742,-0.0331,-0.0515,0.0068,-0.0088,-0.0462,-0.0444,-0.0206,...,-0.0082,-0.0074,-0.0500,0.0095,-0.1051,-0.0521,-0.0270,-0.0048,NaN,0.0295
2012-01-01,-0.0919,-0.0820,-0.0801,-0.0252,-0.0498,0.0024,0.0001,-0.0283,-0.0393,-0.0349,...,-0.0110,-0.0030,-0.0382,0.0034,-0.0919,-0.0232,-0.0390,-0.0040,NaN,0.0175
2013-01-01,-0.0580,-0.0761,-0.0538,-0.0149,-0.0408,-0.0043,0.0004,-0.0277,-0.0296,-0.0124,...,-0.0186,0.0020,-0.0427,-0.0061,-0.1346,-0.0260,-0.0128,-0.0153,NaN,-0.0057
2014-01-01,-0.0519,-0.0562,-0.0558,0.0017,-0.0390,-0.0025,0.0058,-0.0222,-0.0225,0.0114,...,-0.0169,0.0022,-0.0367,-0.0176,-0.0373,-0.0277,-0.0208,-0.0311,NaN,-0.0225
2015-01-01,-0.0460,-0.0368,-0.0462,-0.0006,-0.0363,0.0055,0.0096,-0.0221,-0.0194,-0.0133,...,-0.0239,0.0050,-0.0260,-0.0230,-0.0585,-0.0200,-0.0064,-0.0340,NaN,-0.0139
2016-01-01,-0.0540,-0.0360,-0.0334,-0.0045,-0.0364,0.0024,0.0116,-0.0158,0.0013,-0.0011,...,-0.0287,-0.0132,-0.0240,-0.0274,0.0023,-0.0180,0.0071,-0.0456,NaN,-0.0245
2017-01-01,-0.0442,-0.0310,-0.0250,-0.0011,-0.0296,0.0113,0.0134,-0.0119,0.0137,0.0179,...,-0.0231,-0.0278,-0.0149,-0.0293,0.0079,-0.0246,0.0150,-0.0380,NaN,-0.0063
2018-01-01,-0.0609,-0.0247,-0.0227,0.0035,-0.0229,0.0129,0.0195,-0.0135,0.0150,0.0076,...,-0.0121,-0.0288,-0.0025,-0.0127,0.0092,-0.0206,0.0089,-0.0524,NaN,0.0348
2019-01-01,-0.0666,-0.0304,-0.0248,-0.0002,-0.0306,0.0134,0.0153,-0.0679,0.0180,0.0413,...,0.0079,-0.0442,-0.0074,-0.0344,0.0086,-0.0205,0.0029,-0.0408,NaN,0.0367
2020-01-01,-0.1486,-0.0908,-0.1314,-0.1091,-0.0898,-0.0306,-0.0434,-0.0820,-0.0371,0.0038,...,-0.0577,-0.0466,-0.0692,-0.0734,-0.0973,-0.0756,-0.0577,-0.0877,NaN,NaN
2021-01-01,-0.1206,-0.0620,-0.0786,-0.0438,-0.0648,-0.0031,-0.0359,-0.0377,-0.0224,0.0406,...,NaN,NaN,-0.0183,-0.0734,-0.0698,-0.0716,-0.0508,-0.0782,NaN,NaN
2022-01-01,NaN,NaN,-0.0471,-0.0081,-0.0480,0.0120,-0.0250,-0.0117,-0.0009,0.0334,...,NaN,NaN,-0.0368,NaN,-0.0237,-0.0624,-0.0321,NaN,NaN,NaN