In [423]:
import yfinance as yf
import pandas as pd
import numpy as np

Full list of indices:

https://www.investing.com/indices/world-indices

In [424]:
stock_indexes = dict()
stock_indexes.update({'United States': '^GSPC'}) # S&P 500
stock_indexes.update({'Japan': '^N225'}) # Nikkei 225
stock_indexes.update({'United Kingdom': '^FTSE'}) # FTSE 100
stock_indexes.update({'Canada': '^GSPTSE'}) # S&P/TSX Composite index
stock_indexes.update({'France': '^FCHI'}) # CAC 40
stock_indexes.update({'Switzerland': '^SSMI'}) # SMI PR
stock_indexes.update({'Germany': '^GDAXI'}) # DAX PERFORMANCE-INDEX
stock_indexes.update({'Australia': '^AXJO'}) # S&P/ASX 200
stock_indexes.update({'Netherlands': '^AEX'}) # AEX-Index
stock_indexes.update({'Denmark': ''}) 
stock_indexes.update({'Sweden': '^OMX'}) # OMX Stockholm 30 Index (from 2008-11-20)
stock_indexes.update({'Spain': '^IBEX'}) # IBEX 35
stock_indexes.update({'Hong Kong': '^HSI'}) # HANG SENG INDEX
stock_indexes.update({'Italy': 'FTSEMIB.MI'}) #FTSE MIB Index
stock_indexes.update({'Singapore': '^STI'}) # STI Index
stock_indexes.update({'Finland': '^OMXH25'}) # OMX Helsinki 25 (from 2013-03-05)
stock_indexes.update({'Belgium': '^BFX'}) # BEL 20
stock_indexes.update({'Norway': ''})
stock_indexes.update({'Israel': '^TA125.TA'}) # TA-125
stock_indexes.update({'Ireland': '^ISEQ'}) # ISEQ All Share
stock_indexes.update({'New Zealand': '^NZ50'}) # S&P/NZX 50 INDEX GROSS (from 2003-01-03)
stock_indexes.update({'Austria': '^ATX'}) # Austrian Traded Index
stock_indexes.update({'Portugal': 'PSI20.LS'}) # PSI 20 (from 2013-04-30)
stock_indexes.update({'Eurozona': '^STOXX50E'}) # Euro Stoxx 50 (from 2007-03-30)

stock_indexes.update({'China': '000001.SS'}) # SSE Composite Index
stock_indexes.update({'Taiwan': '^TWII'}) # TSEC weighted index
stock_indexes.update({'India': '^BSESN'}) # S&P BSE SENSEX
stock_indexes.update({'Korea': '^KS11'}) # KOSPI Composite Index
stock_indexes.update({'Brazil': '^BVSP'}) # IBOVESPA 
stock_indexes.update({'Saudi Arabia': '^TASI.SR'}) # Tadawul All Shares Index
stock_indexes.update({'South Africa': ''}) 
stock_indexes.update({'Mexico': '^MXX'}) # IPC MEXICO
stock_indexes.update({'Thailand': '^SET.BK'}) # SET Index
stock_indexes.update({'Indonesia': '^JKSE'}) # IDX COMPOSITE
stock_indexes.update({'Malaysia': '^KLSE'}) # FTSE Bursa Malaysia KLCI
#stock_indexes.update({'United Arab Emirates': ''}) 
#stock_indexes.update({'Qatar': ''}) 
#stock_indexes.update({'Kuwait': ''})
stock_indexes.update({'Turkiye': 'XU100.IS'}) # BIST 100
stock_indexes.update({'Philippines': 'PSEI.PS'}) # PSEi INDEX
stock_indexes.update({'Poland': ''})
stock_indexes.update({'Chile': ''})
stock_indexes.update({'Greece': 'GD.AT'}) # COMPOSITE INDEX
#stock_indexes.update({'Peru': ''})
stock_indexes.update({'Hungary': ''})
stock_indexes.update({'Czechia': ''})
#stock_indexes.update({'Egypt': ''})
stock_indexes.update({'Colombia': ''})
stock_indexes.update({'Argentina': '^MERV'}) # MERVAL
stock_indexes.update({'Russia': 'IMOEX.ME'}) # MOEX Russia Index (from 2013-03-05)

In [425]:
df = pd.DataFrame(index=pd.date_range('1999-01-04', '2023-09-20', freq='B'),
                  columns=stock_indexes)

for country in stock_indexes:
    index_ticker = stock_indexes[country]
    if index_ticker != '':
        index_data = yf.download(index_ticker, '1999-1-1')
        print(country, index_data.shape)
        df[country] = index_data['Adj Close']

[*********************100%%**********************]  1 of 1 completed
United States (6221, 6)
[*********************100%%**********************]  1 of 1 completed
Japan (6059, 6)
[*********************100%%**********************]  1 of 1 completed
United Kingdom (6244, 6)
[*********************100%%**********************]  1 of 1 completed
Canada (6212, 6)
[*********************100%%**********************]  1 of 1 completed
France (6320, 6)
[*********************100%%**********************]  1 of 1 completed
Switzerland (6213, 6)
[*********************100%%**********************]  1 of 1 completed
Germany (6279, 6)
[*********************100%%**********************]  1 of 1 completed
Australia (6247, 6)
[*********************100%%**********************]  1 of 1 completed
Netherlands (6323, 6)
[*********************100%%**********************]  1 of 1 completed
Sweden (3723, 6)
[*********************100%%**********************]  1 of 1 completed
Spain (6284, 6)
[*********************100%%**********************]  1 of 1 completed
Hong Kong (6095, 6)
[*********************100%%**********************]  1 of 1 completed
Italy (6319, 6)
[*********************100%%**********************]  1 of 1 completed
Singapore (6187, 6)
[*********************100%%**********************]  1 of 1 completed
Finland (2640, 6)
[*********************100%%**********************]  1 of 1 completed
Belgium (6315, 6)
[*********************100%%**********************]  1 of 1 completed
Israel (5179, 6)
[*********************100%%**********************]  1 of 1 completed
Ireland (6255, 6)
[*********************100%%**********************]  1 of 1 completed
New Zealand (5106, 6)
[*********************100%%**********************]  1 of 1 completed
Austria (6140, 6)
[*********************100%%**********************]  1 of 1 completed
Portugal (2651, 6)
[*********************100%%**********************]  1 of 1 completed
Eurozona (4134, 6)
[*********************100%%**********************]  1 of 1 completed
China (5984, 6)
[*********************100%%**********************]  1 of 1 completed
Taiwan (6067, 6)
[*********************100%%**********************]  1 of 1 completed
India (6097, 6)
[*********************100%%**********************]  1 of 1 completed
Korea (6103, 6)
[*********************100%%**********************]  1 of 1 completed
Brazil (6121, 6)
[*********************100%%**********************]  1 of 1 completed
Saudi Arabia (5257, 6)
[*********************100%%**********************]  1 of 1 completed
Mexico (6210, 6)
[*********************100%%**********************]  1 of 1 completed
Thailand (6035, 6)
[*********************100%%**********************]  1 of 1 completed
Indonesia (6017, 6)
[*********************100%%**********************]  1 of 1 completed
Malaysia (6068, 6)
[*********************100%%**********************]  1 of 1 completed
Turkiye (6172, 6)
[*********************100%%**********************]  1 of 1 completed
Philippines (6149, 6)
[*********************100%%**********************]  1 of 1 completed
Greece (6132, 6)
[*********************100%%**********************]  1 of 1 completed
Argentina (6045, 6)
[*********************100%%**********************]  1 of 1 completed
Russia (2597, 6)

In [426]:
df

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Turkiye,Philippines,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-04,1228.099976,13415.889648,5879.399902,6554.299805,4147.500000,7441.799805,5290.359863,2732.199951,558.950012,NaN,...,2758.399902,1980.190796,NaN,NaN,2921.280029,NaN,NaN,NaN,433.399994,NaN
1999-01-05,1244.780029,13232.740234,5958.200195,6660.500000,4200.779785,7545.799805,5263.410156,2716.600098,566.510010,NaN,...,2823.500000,2006.334106,NaN,NaN,2907.139893,NaN,NaN,NaN,437.799988,NaN
1999-01-06,1272.339966,13468.459961,6148.799805,6805.299805,4294.819824,7668.799805,5442.899902,2755.600098,583.659973,NaN,...,2886.000000,2079.215332,NaN,NaN,NaN,NaN,NaN,NaN,444.100006,NaN
1999-01-07,1269.729980,13536.559570,6101.200195,6802.200195,4230.669922,7549.700195,5345.709961,2800.399902,561.080017,NaN,...,2763.500000,2134.361084,NaN,NaN,3000.750000,NaN,NaN,NaN,438.899994,NaN
1999-01-08,1275.089966,13391.809570,6147.200195,6868.899902,4245.419922,7633.700195,5370.509766,2757.399902,559.270020,NaN,...,2721.500000,2140.089600,NaN,NaN,3003.540039,NaN,NaN,NaN,426.799988,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-14,4505.100098,33168.101562,7673.100098,20567.800781,7308.669922,11098.320312,15805.290039,7186.500000,744.460022,NaN,...,8118.799805,6208.399902,NaN,NaN,1233.810059,NaN,NaN,NaN,571753.312500,3139.489990
2023-09-15,4450.319824,33533.089844,7711.399902,20622.300781,7378.819824,11197.719727,15893.530273,7279.000000,741.510010,NaN,...,7962.000000,6126.339844,NaN,NaN,1258.579956,NaN,NaN,NaN,567513.375000,3152.530029
2023-09-18,4453.529785,NaN,7652.899902,20492.800781,7276.140137,11090.610352,15727.120117,7230.399902,735.849976,NaN,...,7680.399902,6124.569824,NaN,NaN,1251.660034,NaN,NaN,NaN,585204.500000,3135.179932
2023-09-19,4443.950195,33242.589844,7660.200195,20218.900391,7282.120117,11068.700195,15664.480469,7196.600098,734.929993,NaN,...,7784.000000,6047.970215,NaN,NaN,1227.780029,NaN,NaN,NaN,576676.125000,3083.850098
2023-09-20,4402.200195,33023.781250,7731.700195,20214.699219,7330.790039,11154.110352,15781.589844,7163.299805,738.320007,NaN,...,7719.799805,6041.040039,NaN,NaN,1200.310059,NaN,NaN,NaN,562032.625000,3068.149902

In [427]:
for country in stock_indexes:
    if stock_indexes[country] == '':
        print(country, 'No data')
        continue
    
    first_valid = df[country].first_valid_index()
    if not str(first_valid).startswith('1999-01-04') and not str(first_valid).startswith('1999-01-05'):
        print(country, first_valid)

Denmark No data
Sweden 2008-11-20 00:00:00
Finland 2013-03-05 00:00:00
Norway No data
New Zealand 2003-01-03 00:00:00
Portugal 2013-04-30 00:00:00
Eurozona 2007-03-30 00:00:00
South Africa No data
Poland No data
Chile No data
Hungary No data
Czechia No data
Colombia No data
Russia 2013-03-05 00:00:00

In [428]:
for country in df.columns:
    last_valid = df[country].last_valid_index()
    if not str(last_valid).startswith('2023-09-20'):
        print(country, last_valid)

Denmark None
Norway None
South Africa None
Poland None
Chile None
Hungary None
Czechia None
Colombia None

### Filling missing data from CSV files

In [429]:
def fill_missing_data_from_csv(df, country, filename):
    df_csv = pd.read_csv(filename, parse_dates=True, 
                         index_col=0, thousands=',')
    df_csv = df_csv.sort_index()

    first_valid = df[country].first_valid_index()
    df[country].loc[:first_valid] = df_csv['Price'].loc[:first_valid]
    print(country, 'Starting from', df[country].first_valid_index())

In [430]:
def fill_entire_data_from_csv(df, country, filename):
    df_csv = pd.read_csv(filename, parse_dates=True, 
                         index_col=0, thousands=',')
    df_csv = df_csv.sort_index()

    df[country] = df_csv['Price']
    print(country, 'Starting from', df[country].first_valid_index())

In [431]:
# https://www.investing.com/indices/omx-copenhagen-20-historical-data

denmark_csv = 'indices_selected_countries/OMX Copenhagen 20 Historical Data.csv'
fill_entire_data_from_csv(df, 'Denmark', denmark_csv)

Denmark Starting from 2001-02-12 00:00:00

In [432]:
sweden_csv = 'indices_selected_countries/OMX Stockholm 30 Historical Data.csv'
fill_missing_data_from_csv(df, 'Sweden', sweden_csv)

Sweden Starting from 1999-01-04 00:00:00

C:\Users\lukas\AppData\Local\Temp\ipykernel_13428\3682031062.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[country].loc[:first_valid] = df_csv['Price'].loc[:first_valid]

In [433]:
finland_csv = 'indices_selected_countries/OMX Helsinki 25 Historical Data.csv'
fill_missing_data_from_csv(df, 'Finland', finland_csv)

Finland Starting from 2001-03-09 00:00:00

C:\Users\lukas\AppData\Local\Temp\ipykernel_13428\3682031062.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[country].loc[:first_valid] = df_csv['Price'].loc[:first_valid]

In [434]:
# https://www.investing.com/indices/oslo-obx-historical-data

norway_csv = 'indices_selected_countries/Oslo OBX Historical Data.csv'
fill_entire_data_from_csv(df, 'Norway', norway_csv)

Norway Starting from 1999-09-08 00:00:00

In [435]:
new_zealand_csv = 'indices_selected_countries/NZX 50 Historical Data.csv'
fill_missing_data_from_csv(df, 'New Zealand', new_zealand_csv)

New Zealand Starting from 2001-01-03 00:00:00

C:\Users\lukas\AppData\Local\Temp\ipykernel_13428\3682031062.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[country].loc[:first_valid] = df_csv['Price'].loc[:first_valid]

In [436]:
portugal_csv = 'indices_selected_countries/PSI Historical Data.csv'
fill_missing_data_from_csv(df, 'Portugal', portugal_csv)

Portugal Starting from 2010-05-25 00:00:00

C:\Users\lukas\AppData\Local\Temp\ipykernel_13428\3682031062.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[country].loc[:first_valid] = df_csv['Price'].loc[:first_valid]

In [437]:
# https://www.investing.com/indices/ftse-jse-top-40-historical-data

south_africa_csv = 'indices_selected_countries/South Africa Top 40 Historical Data.csv'
fill_entire_data_from_csv(df, 'South Africa', south_africa_csv)

South Africa Starting from 1999-01-04 00:00:00

In [438]:
# https://www.investing.com/indices/wig-20-historical-data

poland_csv = 'indices_selected_countries/WIG20 Historical Data.csv'
fill_entire_data_from_csv(df, 'Poland', poland_csv)

Poland Starting from 1999-01-04 00:00:00

In [439]:
# https://www.investing.com/indices/ipsa-historical-data

chile_csv = 'indices_selected_countries/S&P CLX IPSA Historical Data.csv'
fill_entire_data_from_csv(df, 'Chile', chile_csv)

Chile Starting from 1999-01-04 00:00:00

In [440]:
# https://www.investing.com/indices/ftse-hungary-historical-data

hungary_csv = 'indices_selected_countries/FTSE Hungary Historical Data.csv'
fill_entire_data_from_csv(df, 'Hungary', hungary_csv)

Hungary Starting from 2001-08-13 00:00:00

In [441]:
# https://www.investing.com/indices/px-historical-data

czechia_csv = 'indices_selected_countries/Czechia_PX Historical Data.csv'
fill_entire_data_from_csv(df, 'Czechia', czechia_csv)

Czechia Starting from 1999-01-04 00:00:00

In [442]:
#https://www.investing.com/indices/ftse-colombia-historical-data

colombia_csv = 'indices_selected_countries/FTSE Colombia Historical Data.csv'
fill_entire_data_from_csv(df, 'Colombia', colombia_csv)

Colombia Starting from 2000-07-03 00:00:00

In [443]:
russia_csv = 'indices_selected_countries/MOEX Russia Historical Data.csv'
fill_missing_data_from_csv(df, 'Russia', russia_csv)

Russia Starting from 1999-01-05 00:00:00

In [444]:
for country in stock_indexes:
    first_valid = df[country].first_valid_index()
    if not str(first_valid).startswith('1999-01-04') and not str(first_valid).startswith('1999-01-05'):
        print(country, first_valid)

Denmark 2001-02-12 00:00:00
Finland 2001-03-09 00:00:00
Norway 1999-09-08 00:00:00
New Zealand 2001-01-03 00:00:00
Portugal 2010-05-25 00:00:00
Eurozona 2007-03-30 00:00:00
Hungary 2001-08-13 00:00:00
Colombia 2000-07-03 00:00:00

In [445]:
df.isna().sum()

United States      229
Japan              391
United Kingdom     206
Canada             238
France             130
Switzerland        237
Germany            171
Australia          203
Netherlands        127
Denmark            796
Sweden             242
Spain              166
Hong Kong          355
Italy              131
Singapore          263
Finland            810
Belgium            135
Norway             411
Israel            1505
Ireland            195
New Zealand        842
Austria            310
Portugal          3044
Eurozona          2316
China              466
Taiwan             383
India              353
Korea              347
Brazil             329
Saudi Arabia      1433
South Africa       269
Mexico             240
Thailand           415
Indonesia          433
Malaysia           382
Turkiye            278
Philippines        301
Poland             258
Chile              286
Greece             318
Hungary            714
Czechia            246
Colombia           429
Argentina          404
Russia             351
dtype: int64

In [446]:
df_filled = df.dropna(thresh=0.5)
df_filled = df_filled.ffill()
df_filled = df_filled.bfill(limit=1)

In [447]:
df_filled.to_csv('market_data/stock_indices.csv')