In [1]:
import yfinance as yf
import pandas as pd
from datetime import date

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
import time
from io import StringIO

In [2]:
historic_data = pd.read_csv('Stock_Indices.csv', parse_dates=True, index_col=0)
historic_data.tail()

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Turkiye,Philippines,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
2023-09-18,4453.53,33533.09,7652.90,20492.80,7276.14,11090.61,15727.12,7230.4,735.85,2153.74,...,7680.40,6124.57,1943.94,6002.67,1251.66,4758.40,1351.68,3604.23,585204.50,3135.18
2023-09-19,4443.95,33242.59,7660.20,20218.90,7282.12,11068.70,15664.48,7196.6,734.93,2141.79,...,7784.00,6047.97,1930.86,6002.67,1227.78,4753.07,1345.53,3641.89,576676.12,3083.85
2023-09-20,4402.20,33023.78,7731.70,20214.70,7330.79,11154.11,15781.59,7163.3,738.32,2185.94,...,7719.80,6041.04,1975.57,5932.83,1200.31,4698.19,1349.81,3660.61,562032.62,3068.15
2023-09-21,4330.00,32571.03,7678.60,19791.60,7213.90,11084.74,15571.86,7065.2,731.72,2135.60,...,8000.50,6094.71,1949.56,5857.72,1200.04,4513.19,1347.35,3589.38,553754.81,3019.22
2023-09-22,4320.06,32402.41,7683.91,19779.97,7184.82,11014.76,15557.29,7068.8,730.09,2129.09,...,8039.18,6142.79,1949.25,5831.95,1217.75,4480.49,1345.55,3541.68,553754.81,3019.22

In [3]:
start_date = historic_data.last_valid_index()
start_date = str(start_date.date())
start_date

'2023-09-22'

In [4]:
end_date = date.today()
end_date = str(end_date)
end_date

'2023-10-06'

In [5]:
yahoo_references = {
    'United States': '^GSPC',  # S&P 500
    'Japan': '^N225',  # Nikkei 225
    'United Kingdom': '^FTSE',  # FTSE 100
    'Canada': '^GSPTSE',  # S&P/TSX Composite index
    'France': '^FCHI',  # CAC 40
    'Switzerland': '^SSMI',  # SMI PR
    'Germany': '^GDAXI',  # DAX PERFORMANCE-INDEX
    'Australia': '^AXJO',  # S&P/ASX 200
    'Netherlands': '^AEX',  # AEX-Index
    'Denmark': '',
    'Sweden': '^OMX',  # OMX Stockholm 30 Index
    'Spain': '^IBEX',  # IBEX 35
    'Hong Kong': '^HSI',  # HANG SENG INDEX
    'Italy': 'FTSEMIB.MI',  # FTSE MIB Index
    'Singapore': '^STI',  # STI Index
    'Finland': '^OMXH25',  # OMX Helsinki 25
    'Belgium': '^BFX',  # BEL 20
    'Norway': '',
    'Israel': '^TA125.TA',  # TA-125
    'Ireland': '^ISEQ',  # ISEQ All Share
    'New Zealand': '^NZ50',  # S&P/NZX 50 INDEX GROSS
    'Austria': '^ATX',  # Austrian Traded Index
    'Portugal': 'PSI20.LS',  # PSI 20
    'Eurozona': '^STOXX50E',  # Euro Stoxx 50

    'China': '000001.SS',  # SSE Composite Index
    'Taiwan': '^TWII',  # TSEC weighted index
    'India': '^BSESN',  # S&P BSE SENSEX
    'Korea': '^KS11',  # KOSPI Composite Index
    'Brazil': '^BVSP',  # IBOVESPA
    'Saudi Arabia': '^TASI.SR',  # Tadawul All Shares Index
    'South Africa': '',
    'Mexico': '^MXX',  # IPC MEXICO
    'Thailand': '^SET.BK',  # SET Index
    'Indonesia': '^JKSE',  # IDX COMPOSITE
    'Malaysia': '^KLSE',  # FTSE Bursa Malaysia KLCI
    'Turkiye': 'XU100.IS',  # BIST 100
    'Philippines': 'PSEI.PS',  # PSEi INDEX
    'Poland': '',
    'Chile': '',
    'Greece': 'GD.AT',  # COMPOSITE INDEX
    'Hungary': '',
    'Czechia': '',
    'Colombia': '',
    'Argentina': '^MERV',  # MERVAL
    'Russia': 'IMOEX.ME'  # MOEX Russia Index
}

In [6]:
df = pd.DataFrame(index=pd.date_range(start_date, end_date, freq='B'),
                  columns=yahoo_references)

for country in yahoo_references:
    index_ticker = yahoo_references[country]
    if index_ticker != '':
        index_data = yf.download(index_ticker, start_date)
        df[country] = index_data['Adj Close']

df

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Turkiye,Philippines,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
2023-09-22,4320.060059,32402.410156,7683.899902,19780.000000,7184.819824,11014.759766,15557.290039,7068.799805,730.090027,NaN,...,8039.200195,6142.790039,NaN,NaN,1217.750000,NaN,NaN,NaN,553392.1875,3049.070068
2023-09-25,4337.439941,32678.619141,7624.000000,19800.599609,7123.879883,11014.259766,15405.490234,7076.500000,726.640015,NaN,...,8304.799805,6172.839844,NaN,NaN,1215.800049,NaN,NaN,NaN,548544.8125,3045.389893
2023-09-26,4273.529785,32315.050781,7625.700195,19556.199219,7074.020020,10953.700195,15255.870117,7038.200195,721.429993,NaN,...,8242.299805,6263.939941,NaN,NaN,1219.569946,NaN,NaN,NaN,543252.1250,3051.909912
2023-09-27,4274.509766,32371.900391,7593.200195,19436.000000,7071.790039,10882.309570,15217.450195,7030.299805,721.739990,NaN,...,8213.799805,6374.680176,NaN,NaN,1204.109985,NaN,NaN,NaN,557023.5000,3067.610107
2023-09-28,4299.700195,31872.519531,7601.899902,19590.699219,7116.240234,10917.790039,15323.500000,7024.799805,725.989990,NaN,...,8218.700195,6385.520020,NaN,NaN,1193.319946,NaN,NaN,NaN,581469.0000,3108.070068
2023-09-29,4288.049805,31857.619141,7608.100098,19541.300781,7135.060059,10963.500000,15386.580078,7048.600098,728.789978,NaN,...,8334.900391,6321.240234,NaN,NaN,1209.339966,NaN,NaN,NaN,562568.5000,3133.260010
2023-10-02,4288.390137,31759.880859,7510.700195,19177.199219,7068.160156,10863.650391,15247.209961,7033.200195,724.179993,NaN,...,8487.000000,6304.529785,NaN,NaN,1191.770020,NaN,NaN,NaN,556828.0000,3132.330078
2023-10-03,4229.450195,31237.939453,7470.200195,19020.900391,6997.049805,10763.370117,15085.209961,6943.399902,719.669983,NaN,...,8513.500000,6305.990234,NaN,NaN,1168.449951,NaN,NaN,NaN,561427.0000,3143.879883
2023-10-04,4263.750000,30526.880859,7412.500000,19034.800781,6996.729980,10756.190430,15099.919922,6890.200195,720.859985,NaN,...,8333.099609,6298.200195,NaN,NaN,1170.130005,NaN,NaN,NaN,593739.8750,3134.250000
2023-10-05,4258.189941,31075.359375,7451.500000,19137.800781,6998.250000,10783.150391,15070.219727,6925.500000,721.750000,NaN,...,8488.000000,6178.600098,NaN,NaN,1154.020020,NaN,NaN,NaN,613071.6250,3131.760010
2023-10-06,NaN,30994.669922,7477.350098,NaN,7028.459961,10809.330078,15160.679688,6954.200195,722.919983,NaN,...,8492.980469,6259.950195,NaN,NaN,1155.869995,NaN,NaN,NaN,NaN,NaN

In [7]:
investing_pages = {
    'Denmark': 'omx-copenhagen-20-historical-data',
    'Norway': 'oslo-obx-historical-data',
    'South Africa': 'ftse-jse-top-40-historical-data',
    'Poland': 'wig-20-historical-data',
    'Chile': 'ipsa-historical-data',
    'Hungary': 'ftse-hungary-historical-data',
    'Czechia': 'px-historical-data',
    'Colombia': 'ftse-colombia-historical-data'
}

In [8]:
def retrieve_prices_from_investing(path):
    service = Service(executable_path='../chromedriver.exe')
    options = webdriver.ChromeOptions()
    driver = webdriver.Chrome(service=service, options=options)

    base_url = 'https://www.investing.com/indices/'
    driver.get(f'{base_url}{path}')
    time.sleep(2)

    botton_cookies = driver.find_element(
        By.XPATH, '//*[@id="onetrust-accept-btn-handler"]'
    )
    botton_cookies.click()
    time.sleep(2)

    table = driver.find_element(
        By.XPATH, '//*[@id="__next"]'
    )
    dfs = pd.read_html(StringIO(table.get_attribute('innerHTML')))
    if path == 'oslo-obx-historical-data':
        df_raw = dfs[1]
    else:
        df_raw = dfs[0]
    driver.close()

    df_raw.index = pd.to_datetime(df_raw['Date'])
    df_raw = df_raw.sort_index()
    return df_raw['Price']

In [9]:
for country in investing_pages:
    path = investing_pages[country]
    df[country] = retrieve_prices_from_investing(path)

df

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Turkiye,Philippines,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
2023-09-22,4320.060059,32402.410156,7683.899902,19780.000000,7184.819824,11014.759766,15557.290039,7068.799805,730.090027,2129.09,...,8039.200195,6142.790039,1949.25,5831.95,1217.750000,4480.49,1345.55,3541.68,553392.1875,3049.070068
2023-09-25,4337.439941,32678.619141,7624.000000,19800.599609,7123.879883,11014.259766,15405.490234,7076.500000,726.640015,2111.27,...,8304.799805,6172.839844,1925.22,5785.84,1215.800049,4486.07,1342.57,3570.49,548544.8125,3045.389893
2023-09-26,4273.529785,32315.050781,7625.700195,19556.199219,7074.020020,10953.700195,15255.870117,7038.200195,721.429993,2130.97,...,8242.299805,6263.939941,1928.42,5762.58,1219.569946,4515.72,1338.60,3512.06,543252.1250,3051.909912
2023-09-27,4274.509766,32371.900391,7593.200195,19436.000000,7071.790039,10882.309570,15217.450195,7030.299805,721.739990,2123.80,...,8213.799805,6374.680176,1898.92,5762.70,1204.109985,4549.70,1340.96,3529.33,557023.5000,3067.610107
2023-09-28,4299.700195,31872.519531,7601.899902,19590.699219,7116.240234,10917.790039,15323.500000,7024.799805,725.989990,2133.46,...,8218.700195,6385.520020,1884.74,5824.68,1193.319946,4485.15,NaN,3521.46,581469.0000,3108.070068
2023-09-29,4288.049805,31857.619141,7608.100098,19541.300781,7135.060059,10963.500000,15386.580078,7048.600098,728.789978,2124.50,...,8334.900391,6321.240234,1915.60,5833.36,1209.339966,4534.03,1349.32,3534.17,562568.5000,3133.260010
2023-10-02,4288.390137,31759.880859,7510.700195,19177.199219,7068.160156,10863.650391,15247.209961,7033.200195,724.179993,2090.78,...,8487.000000,6304.529785,1873.32,5755.64,1191.770020,4523.98,1346.78,3509.81,556828.0000,3132.330078
2023-10-03,4229.450195,31237.939453,7470.200195,19020.900391,6997.049805,10763.370117,15085.209961,6943.399902,719.669983,2059.59,...,8513.500000,6305.990234,1864.31,5685.84,1168.449951,4554.62,1340.23,3504.82,561427.0000,3143.879883
2023-10-04,4263.750000,30526.880859,7412.500000,19034.800781,6996.729980,10756.190430,15099.919922,6890.200195,720.859985,2074.61,...,8333.099609,6298.200195,1879.35,5699.33,1170.130005,4559.46,NaN,3459.61,593739.8750,3134.250000
2023-10-05,4258.189941,31075.359375,7451.500000,19137.800781,6998.250000,10783.150391,15070.219727,6925.500000,721.750000,2088.60,...,8488.000000,6178.600098,1864.65,5615.83,1154.020020,4500.94,NaN,3427.36,613071.6250,3131.760010
2023-10-06,NaN,30994.669922,7477.350098,NaN,7028.459961,10809.330078,15160.679688,6954.200195,722.919983,2112.03,...,8492.980469,6259.950195,1863.23,NaN,1155.869995,NaN,NaN,NaN,NaN,NaN

In [10]:
df = df.ffill()
df = df.bfill()
df

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Turkiye,Philippines,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
2023-09-22,4320.060059,32402.410156,7683.899902,19780.000000,7184.819824,11014.759766,15557.290039,7068.799805,730.090027,2129.09,...,8039.200195,6142.790039,1949.25,5831.95,1217.750000,4480.49,1345.55,3541.68,553392.1875,3049.070068
2023-09-25,4337.439941,32678.619141,7624.000000,19800.599609,7123.879883,11014.259766,15405.490234,7076.500000,726.640015,2111.27,...,8304.799805,6172.839844,1925.22,5785.84,1215.800049,4486.07,1342.57,3570.49,548544.8125,3045.389893
2023-09-26,4273.529785,32315.050781,7625.700195,19556.199219,7074.020020,10953.700195,15255.870117,7038.200195,721.429993,2130.97,...,8242.299805,6263.939941,1928.42,5762.58,1219.569946,4515.72,1338.60,3512.06,543252.1250,3051.909912
2023-09-27,4274.509766,32371.900391,7593.200195,19436.000000,7071.790039,10882.309570,15217.450195,7030.299805,721.739990,2123.80,...,8213.799805,6374.680176,1898.92,5762.70,1204.109985,4549.70,1340.96,3529.33,557023.5000,3067.610107
2023-09-28,4299.700195,31872.519531,7601.899902,19590.699219,7116.240234,10917.790039,15323.500000,7024.799805,725.989990,2133.46,...,8218.700195,6385.520020,1884.74,5824.68,1193.319946,4485.15,1340.96,3521.46,581469.0000,3108.070068
2023-09-29,4288.049805,31857.619141,7608.100098,19541.300781,7135.060059,10963.500000,15386.580078,7048.600098,728.789978,2124.50,...,8334.900391,6321.240234,1915.60,5833.36,1209.339966,4534.03,1349.32,3534.17,562568.5000,3133.260010
2023-10-02,4288.390137,31759.880859,7510.700195,19177.199219,7068.160156,10863.650391,15247.209961,7033.200195,724.179993,2090.78,...,8487.000000,6304.529785,1873.32,5755.64,1191.770020,4523.98,1346.78,3509.81,556828.0000,3132.330078
2023-10-03,4229.450195,31237.939453,7470.200195,19020.900391,6997.049805,10763.370117,15085.209961,6943.399902,719.669983,2059.59,...,8513.500000,6305.990234,1864.31,5685.84,1168.449951,4554.62,1340.23,3504.82,561427.0000,3143.879883
2023-10-04,4263.750000,30526.880859,7412.500000,19034.800781,6996.729980,10756.190430,15099.919922,6890.200195,720.859985,2074.61,...,8333.099609,6298.200195,1879.35,5699.33,1170.130005,4559.46,1340.23,3459.61,593739.8750,3134.250000
2023-10-05,4258.189941,31075.359375,7451.500000,19137.800781,6998.250000,10783.150391,15070.219727,6925.500000,721.750000,2088.60,...,8488.000000,6178.600098,1864.65,5615.83,1154.020020,4500.94,1340.23,3427.36,613071.6250,3131.760010
2023-10-06,4258.189941,30994.669922,7477.350098,19137.800781,7028.459961,10809.330078,15160.679688,6954.200195,722.919983,2112.03,...,8492.980469,6259.950195,1863.23,5615.83,1155.869995,4500.94,1340.23,3427.36,613071.6250,3131.760010

In [11]:
df_new = pd.concat([historic_data, df.round(2).iloc[1:]])
df_new.to_csv('Stock_Indices.csv')