In [6]:
from src.InvestingWebScrapper import InvestingWebScrapper
from src.SqlAlquemyInsertHandler import SqlAlquemyInsertHandler

from dotenv import load_dotenv
load_dotenv()

True

## Scrapping archive dates

In [3]:
sql_handler = SqlAlquemyInsertHandler()
web_scrapper = InvestingWebScrapper()
web_scrapper.open_economic_calendar()

Select correct dates and execute the following

In [5]:
df = web_scrapper.read_all_indicators()
print('Read', len(df), 'indicators from', 
      df.iloc[0, 0], 'to', df.iloc[-1, 0])
df

c:\Users\lukas\Documents\Master mAI-X\TFM\Data\Investing_EconomicCalendar\InvestingWebScrapper.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.loc[:, 'Date'] = df_filtered['Imp.'].ffill()

Read 225 indicators from 2023-11-08 00:00:00 to 2023-11-13 22:35:00

,DateTime,Country,Currency,Event,Actual,Forecast,Previous
1,2023-11-08 00:00:00,Japan,JPY,Coincident Indicator (MoM) (Sep),0.1%,NaN,0.4%
2,2023-11-08 00:00:00,Japan,JPY,Leading Index (MoM) (Sep),-0.5%,NaN,1.0%
3,2023-11-08 00:00:00,Japan,JPY,Leading Index,108.7,108.8,109.2
4,2023-11-08 02:00:00,Germany,EUR,German CPI (MoM) (Oct),0.0%,0.0%,0.3%
5,2023-11-08 02:00:00,Germany,EUR,German CPI (YoY) (Oct),3.8%,3.8%,4.5%
...,...,...,...,...,...,...,...
346,2023-11-13 19:30:00,Australia,AUD,NAB Business Confidence (Oct),-2,NaN,0
347,2023-11-13 19:30:00,Australia,AUD,NAB Business Survey (Oct),13,NaN,12
348,2023-11-13 22:00:00,South Korea,KRW,M3 Money Supply (Sep),"5,177.0B",NaN,"5,189.4B"
349,2023-11-13 22:00:00,South Korea,KRW,M2 Money supply (Sep),1.90%,NaN,2.00%
350,2023-11-13 22:35:00,Japan,JPY,5-Year JGB Auction,0.418%,NaN,0.330%

In [6]:
sql_handler.insert_into_table(df)

Executing insert sql...
Inserted 200 records
Executing insert sql...
Inserted 25 records

In [7]:
web_scrapper.close_browser()

## Scrapping yesterday's data

In [7]:
sql_handler = SqlAlquemyInsertHandler()
web_scrapper = InvestingWebScrapper()
web_scrapper.open_economic_calendar()

df = web_scrapper.read_all_indicators()
print('Read', len(df), 'indicators from', 
      df.iloc[0, 0], 'to', df.iloc[-1, 0])
# sql_handler.insert_into_table(df)
web_scrapper.close_browser()

df

c:\Users\lukas\Documents\Master mAI-X\TFM\Data\Investing_EconomicCalendar\src\InvestingWebScrapper.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.loc[:, 'Date'] = df_filtered['Imp.'].ffill()

Read 82 indicators from 2023-11-14 00:00:00 to 2023-11-14 23:30:00

,DateTime,Country,Currency,Event,Actual,Forecast,Previous
2,2023-11-14 00:00:00,Sweden,SEK,Unemployment Rate (Oct),6.4%,NaN,6.4%
3,2023-11-14 00:30:00,Norway,NOK,Consumer Confidence (Q4),-33.50,NaN,-31.70
10,2023-11-14 01:30:00,India,INR,WPI Food (YoY) (Oct),2.53%,NaN,3.35%
11,2023-11-14 01:30:00,India,INR,WPI Fuel (YoY) (Oct),-2.47%,NaN,-3.35%
12,2023-11-14 01:30:00,India,INR,WPI Inflation (YoY) (Oct),-0.52%,-0.20%,-0.26%
...,...,...,...,...,...,...,...
113,2023-11-14 23:00:00,Indonesia,IDR,Export Growth (YoY) (Oct),-10.43%,-15.35%,-16.27%
114,2023-11-14 23:00:00,Indonesia,IDR,Import Growth (YoY) (Oct),-2.42%,-7.40%,-12.45%
115,2023-11-14 23:00:00,Indonesia,IDR,Trade Balance (Oct),3.48B,3.00B,3.41B
116,2023-11-14 23:30:00,Japan,JPY,Capacity Utilization (MoM) (Sep),0.4%,NaN,0.5%
117,2023-11-14 23:30:00,Japan,JPY,Industrial Production (MoM) (Sep),0.5%,0.2%,-0.7%