In [1]:
from InvestingCalendarPreprocessor import InvestingCalendarPreprocessor

In [2]:
preprocessor = InvestingCalendarPreprocessor()

# Indicador's exploration

In [3]:
preprocessor.explore_indicators(year=2021, thres=10)

16015 indicators read
CPI (YoY) 450 , 32
Manufacturing PMI 393 , 25
CPI (MoM) 392 , 26
Trade Balance 372 , 28
Unemployment Rate 310 , 28
Retail Sales (YoY) 285 , 23
Services PMI 251 , 14
PPI (YoY) 208 , 17
Industrial Production (YoY) 204 , 17
Retail Sales (MoM) 192 , 15
PPI (MoM) 181 , 14
GDP (YoY) 181 , 27
GDP (QoQ) 177 , 25
Consumer Confidence 165 , 13
Industrial Production (MoM) 156 , 12
Interest Rate Decision 87 , 11
Current Account 64 , 10

In [4]:
df_grouped = preprocessor.get_count_by_country_and_month()
df_grouped.to_csv('count_by_country_and_month.csv')
df_grouped

4862 indicators read

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,South Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,TÃ¼rkiye,Poland,Argentina,Russia
2012-01-01,195,50,64,39,19,15,36,40,8,17,...,21,27,2,17,26,16,18,11,5,16
2012-02-01,199,48,63,34,20,19,39,40,9,21,...,19,24,2,17,25,18,18,12,6,19
2012-03-01,215,59,69,45,22,20,38,36,9,19,...,22,27,2,22,26,17,19,14,6,17
2012-04-01,214,54,61,37,31,16,37,43,8,19,...,24,27,2,18,25,19,20,13,6,17
2012-05-01,226,55,72,36,39,19,45,37,9,19,...,22,32,2,21,25,18,18,14,7,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-01,339,86,78,47,52,32,58,58,11,25,...,26,43,8,25,31,23,31,19,9,18
2023-08-01,370,83,87,46,51,42,68,46,14,29,...,26,45,6,27,34,21,39,22,10,30
2023-09-01,354,82,87,56,48,42,61,44,14,29,...,22,48,7,29,35,13,37,19,14,24
2023-10-01,343,86,80,47,51,38,60,58,12,30,...,29,36,7,25,31,22,39,19,9,18
2023-11-01,268,56,78,38,38,20,36,33,11,18,...,12,35,4,23,22,15,27,18,9,21

# GDP

In [5]:
gdp_qoq = preprocessor.process_quaterly_indicator(
    'GDP (QoQ)', 'GDP Annualized (QoQ)')
gdp_qoq

2275 indicators read
Missing countries
['Belgium', 'Taiwan', 'India', 'Saudi Arabia', 'TÃ¼rkiye', 'Argentina', 'Russia']
Avg publish delay:  142 days 04:40:57.549883990

          ReportDateTime         Country  Indicator     Period  Value
0    2012-01-11 06:10:00       Euro Zone  GDP (QoQ) 2011-10-01  0.001
1    2012-01-25 04:30:00  United Kingdom  GDP (QoQ) 2011-10-01 -0.002
2    2012-01-25 18:00:00     South Korea  GDP (QoQ) 2011-10-01  0.004
3    2012-01-27 08:30:00   United States  GDP (QoQ) 2011-10-01  0.028
4    2012-01-30 03:00:00           Spain  GDP (QoQ) 2011-10-01 -0.003
...                  ...             ...        ...        ...    ...
2270 2023-11-14 05:00:00       Euro Zone  GDP (QoQ) 2023-07-01 -0.001
2271 2023-11-14 18:50:00           Japan  GDP (QoQ) 2023-07-01 -0.005
2272 2023-11-16 06:00:00          Israel  GDP (QoQ) 2023-07-01  0.028
2273 2023-11-21 19:00:00       Singapore  GDP (QoQ) 2023-07-01  0.014
2274 2023-11-23 02:00:00          Norway  GDP (QoQ) 2023-07-01 -0.005

[2155 rows x 5 columns]

In [6]:
preprocessor.transform_to_countries_df(
    gdp_qoq, freq='Q').tail(10)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,South Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,TÃ¼rkiye,Poland,Argentina,Russia
2021-07-01,0.065,0.003,0.048,0.013,0.03,0.017,0.018,-0.019,0.019,0.018,...,0.003,-0.001,NaN,-0.015,-0.002,0.0155,NaN,0.021,NaN,NaN
2021-10-01,0.02,-0.008,0.013,0.016,0.007,0.003,-0.007,0.034,0.009,0.014,...,0.011,0.005,NaN,NaN,-0.001,0.0106,NaN,0.017,NaN,NaN
2022-01-01,0.069,0.013,0.01,0.008,0.0,0.005,0.002,0.008,0.0,-0.004,...,0.007,0.01,NaN,0.019,0.009,-0.0096,NaN,0.024,NaN,NaN
2022-04-01,-0.014,-0.002,0.008,0.008,0.005,0.003,0.0,0.009,0.026,0.014,...,0.007,0.012,NaN,-0.007,0.01,0.0372,NaN,-0.023,NaN,NaN
2022-07-01,-0.009,0.005,0.004,0.007,0.002,0.002,0.003,0.006,-0.002,0.007,...,0.003,0.004,NaN,0.016,0.01,0.0181,NaN,0.009,NaN,NaN
2022-10-01,0.026,-0.003,-0.002,0.000,0.001,0.0,-0.002,0.005,0.006,-0.006,...,-0.004,-0.002,NaN,-0.013,0.004,0.0036,NaN,-0.024,NaN,NaN
2023-01-01,0.029,0.002,0.0,0.008,0.002,0.003,-0.001,0.002,-0.007,0.002,...,0.003,0.019,NaN,0.004,0.011,-0.0092,NaN,0.039,NaN,NaN
2023-04-01,0.011,0.004,0.001,0.000,0.005,0.0,0.0,0.004,-0.003,-0.015,...,0.006,0.009,NaN,0.006,0.009,0.0386,NaN,-0.037,NaN,NaN
2023-07-01,0.024,0.015,0.002,NaN,0.001,NaN,-0.001,NaN,-0.002,0.0,...,0.006,NaN,NaN,NaN,0.009,0.016,NaN,0.014,NaN,NaN
2023-10-01,0.049,-0.005,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
gdp_yoy = preprocessor.process_quaterly_indicator(
    'GDP (YoY)', 'GDP Quarterly (YoY)')
gdp_yoy

1946 indicators read
Missing countries
['United States', 'Belgium', 'Norway', 'Israel', 'Austria']
Avg publish delay:  142 days 10:52:50.833764888

          ReportDateTime      Country  Indicator     Period  Value
0    2012-01-16 21:00:00        China  GDP (YoY) 2011-10-01  0.089
1    2012-01-31 03:00:00       Taiwan  GDP (YoY) 2011-10-01  0.019
2    2012-02-05 23:00:00    Indonesia  GDP (YoY) 2011-10-01  0.066
3    2012-02-15 03:30:00  Netherlands  GDP (YoY) 2011-10-01 -0.007
4    2012-02-16 00:00:00    Singapore  GDP (YoY) 2011-10-01  0.036
...                  ...          ...        ...        ...    ...
1941 2023-11-14 04:00:00       Poland  GDP (YoY) 2023-07-01  0.004
1942 2023-11-14 05:00:00    Euro Zone  GDP (YoY) 2023-07-01  0.001
1943 2023-11-14 18:50:00        Japan  GDP (YoY) 2023-07-01 -0.021
1944 2023-11-15 11:00:00       Russia  GDP (YoY) 2023-07-01  0.055
1945 2023-11-21 19:00:00    Singapore  GDP (YoY) 2023-07-01  0.011

[1931 rows x 5 columns]

In [8]:
preprocessor.transform_to_countries_df(gdp_yoy, freq='Q').tail(10)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,South Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,TÃ¼rkiye,Poland,Argentina,Russia
2021-07-01,NaN,-0.03,0.069,0.0397,0.033,0.041,0.025,0.039,0.05,0.047,...,0.04,0.04,0.07,0.029,0.046,0.0351,0.074,0.051,0.119,0.043
2021-10-01,NaN,0.054,0.065,0.038,0.054,0.037,0.014,0.042,0.062,0.062,...,0.041,0.016,0.068,0.017,0.01,0.0502,0.091,0.057,0.086,NaN
2022-01-01,NaN,-0.01,0.095,0.0289,0.053,0.044,0.04,0.033,0.07,0.03,...,0.031,0.017,0.099,0.03,0.016,0.0501,0.073,0.085,0.06,0.05
2022-04-01,NaN,0.022,0.035,0.0456,0.042,0.028,0.015,0.036,0.053,0.042,...,0.029,0.032,0.118,0.002,0.021,0.0544,0.076,0.053,0.069,-0.04
2022-07-01,NaN,-0.012,0.02,0.0393,0.01,0.005,0.011,0.059,0.031,0.026,...,0.031,0.036,0.086,0.041,0.042,0.0572,0.039,0.035,0.059,-0.04
2022-10-01,NaN,0.006,0.002,0.028,0.005,0.008,0.005,0.027,0.03,-0.006,...,0.014,0.019,0.055,0.009,0.036,0.0501,0.035,0.049,0.019,NaN
2023-01-01,NaN,0.016,0.002,0.0221,0.008,0.006,0.002,0.023,0.019,0.003,...,0.008,0.04,0.038,0.002,0.039,0.0503,0.04,-0.002,0.013,-0.027
2023-04-01,NaN,0.06,0.004,0.0112,0.009,0.005,-0.002,0.021,-0.003,-0.024,...,0.009,0.034,0.012,0.016,0.037,0.0517,0.038,-0.005,-0.049,0.049
2023-07-01,NaN,-0.021,0.006,NaN,0.007,NaN,-0.003,NaN,-0.006,-0.012,...,0.014,NaN,-0.045,NaN,0.033,0.0494,NaN,0.004,NaN,0.055
2023-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Manufacturing PMI

In [9]:
manufacturing_pmi = preprocessor.process_pmi_indicator(
    'Manufacturing PMI', 'procure.ch PMI')
manufacturing_pmi.tail(28)

4986 indicators read
Missing countries
['Netherlands', 'Singapore', 'Belgium', 'Israel', 'New Zealand', 'Saudi Arabia', 'TÃ¼rkiye', 'Argentina']
Avg publish delay:  29 days 07:10:23.294434470

          ReportDateTime         Country          Indicator     Period  Value
4955 2023-10-31 19:30:00       Indonesia  Manufacturing PMI 2023-10-01   51.5
4956 2023-10-31 20:01:00         Ireland  Manufacturing PMI 2023-10-01   48.2
4957 2023-10-31 20:45:00           China  Manufacturing PMI 2023-10-01   49.5
4958 2023-11-01 00:00:00           India  Manufacturing PMI 2023-10-01   55.5
4959 2023-11-01 01:00:00          Russia  Manufacturing PMI 2023-10-01   53.8
4961 2023-11-01 02:30:00          Sweden  Manufacturing PMI 2023-10-01   45.7
4962 2023-11-01 03:30:00     Switzerland  Manufacturing PMI 2023-10-01   40.6
4963 2023-11-01 03:30:00     Switzerland  Manufacturing PMI 2023-10-01   40.6
4964 2023-11-01 04:00:00    South Africa  Manufacturing PMI 2023-10-01   45.4
4965 2023-11-01 04:00:00          Norway  Manufacturing PMI 2023-10-01   47.9
4966 2023-11-01 04:30:00  United Kingdom  Manufacturing PMI 2023-10-01   44.8
4967 2023-11-01 08:00:00          Brazil  Manufacturing PMI 2023-10-01   48.6
4968 2023-11-01 08:30:00          Canada  Manufacturing PMI 2023-10-01   48.6
4969 2023-11-01 08:45:00   United States  Manufacturing PMI 2023-10-01   50.0
4971 2023-11-01 10:00:00          Mexico  Manufacturing PMI 2023-10-01   52.1
4972 2023-11-02 03:00:00          Poland  Manufacturing PMI 2023-10-01   44.5
4973 2023-11-02 03:15:00           Spain  Manufacturing PMI 2023-10-01   45.1
4974 2023-11-02 03:45:00           Italy  Manufacturing PMI 2023-10-01   44.9
4975 2023-11-02 03:50:00          France  Manufacturing PMI 2023-10-01   42.8
4976 2023-11-02 03:55:00         Germany  Manufacturing PMI 2023-10-01   40.8
4977 2023-11-02 04:00:00       Euro Zone  Manufacturing PMI 2023-10-01   43.1
4978 2023-11-02 19:30:00       Hong Kong  Manufacturing PMI 2023-10-01   48.9
4980 2023-11-22 17:00:00       Australia  Manufacturing PMI 2023-11-01   47.7
4981 2023-11-23 03:15:00          France  Manufacturing PMI 2023-11-01   42.6
4982 2023-11-23 03:30:00         Germany  Manufacturing PMI 2023-11-01   42.3
4983 2023-11-23 04:00:00       Euro Zone  Manufacturing PMI 2023-11-01   43.8
4984 2023-11-23 04:30:00  United Kingdom  Manufacturing PMI 2023-11-01   46.7
4985 2023-11-23 19:30:00           Japan  Manufacturing PMI 2023-11-01   48.1

In [10]:
preprocessor.transform_to_countries_df(manufacturing_pmi, freq='M')

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,South Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,TÃ¼rkiye,Poland,Argentina,Russia
2012-01-01,NaN,50.7,52.1,NaN,48.5,47.3,50.9,NaN,NaN,51.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-02-01,NaN,50.5,51.2,NaN,50.2,49.0,50.1,NaN,NaN,50.2,...,NaN,NaN,NaN,57.9,NaN,NaN,NaN,NaN,NaN,NaN
2012-03-01,NaN,51.1,52.1,NaN,47.6,51.1,48.1,NaN,NaN,49.9,...,NaN,NaN,NaN,55.1,NaN,NaN,NaN,NaN,NaN,NaN
2012-04-01,NaN,50.7,50.5,NaN,47.3,46.9,46.3,NaN,NaN,50.2,...,51.9,NaN,NaN,53.7,NaN,NaN,NaN,NaN,NaN,NaN
2012-05-01,54.0,50.7,45.9,NaN,44.4,45.4,45.0,NaN,NaN,49.0,...,51.03,NaN,NaN,53.6,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-01,49.0,49.4,45.0,49.6,44.5,38.5,38.8,49.6,NaN,47.6,...,49.4,47.8,NaN,47.3,50.9,53.3,NaN,43.5,NaN,52.1
2023-08-01,47.0,49.7,42.5,48.0,46.4,39.9,39.1,49.4,NaN,45.8,...,48.9,50.1,NaN,49.7,51.2,53.9,NaN,43.1,NaN,52.7
2023-09-01,48.9,48.6,44.2,47.5,43.6,44.9,39.8,48.2,NaN,43.3,...,49.9,49.0,NaN,45.4,49.8,52.3,NaN,43.9,NaN,54.5
2023-10-01,50.0,48.5,45.2,48.6,42.6,40.6,40.7,48.0,NaN,45.7,...,49.8,48.6,NaN,45.4,52.1,51.5,NaN,44.5,NaN,53.8
2023-11-01,NaN,48.1,46.7,NaN,42.6,NaN,42.3,47.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
services_pmi = preprocessor.process_pmi_indicator('Services PMI')
services_pmi.tail(15)

2641 indicators read
Missing countries
['Canada', 'Switzerland', 'Netherlands', 'Hong Kong', 'Singapore', 'Belgium', 'Norway', 'Israel', 'New Zealand', 'Austria', 'Taiwan', 'South Korea', 'Saudi Arabia', 'South Africa', 'Mexico', 'Indonesia', 'TÃ¼rkiye', 'Poland', 'Argentina']
Avg publish delay:  30 days 10:52:00.613404013

          ReportDateTime         Country     Indicator     Period  Value
2626 2023-11-03 04:30:00  United Kingdom  Services PMI 2023-10-01   49.5
2627 2023-11-03 08:45:00   United States  Services PMI 2023-10-01   50.6
2628 2023-11-05 19:30:00           Japan  Services PMI 2023-10-01   51.6
2629 2023-11-06 03:15:00           Spain  Services PMI 2023-10-01   51.1
2630 2023-11-06 03:45:00           Italy  Services PMI 2023-10-01   47.7
2631 2023-11-06 03:50:00          France  Services PMI 2023-10-01   45.2
2632 2023-11-06 03:55:00         Germany  Services PMI 2023-10-01   48.2
2633 2023-11-06 04:00:00       Euro Zone  Services PMI 2023-10-01   47.8
2634 2023-11-06 08:00:00          Brazil  Services PMI 2023-10-01   51.0
2635 2023-11-22 17:00:00       Australia  Services PMI 2023-11-01   46.3
2636 2023-11-23 03:15:00          France  Services PMI 2023-11-01   45.3
2637 2023-11-23 03:30:00         Germany  Services PMI 2023-11-01   48.7
2638 2023-11-23 04:00:00       Euro Zone  Services PMI 2023-11-01   48.2
2639 2023-11-23 04:30:00  United Kingdom  Services PMI 2023-11-01   50.5
2640 2023-11-23 19:30:00           Japan  Services PMI 2023-11-01   51.7

In [12]:
composite_pmi = preprocessor.process_pmi_indicator('Composite PMI')
composite_pmi.tail(9)

1396 indicators read
Missing countries
['Japan', 'Canada', 'Switzerland', 'Australia', 'Netherlands', 'Sweden', 'Spain', 'Hong Kong', 'Singapore', 'Belgium', 'Norway', 'Israel', 'Ireland', 'New Zealand', 'Austria', 'Taiwan', 'India', 'South Korea', 'South Africa', 'Mexico', 'Indonesia', 'TÃ¼rkiye', 'Poland', 'Argentina', 'Russia']
Avg publish delay:  29 days 13:05:03.610315186

          ReportDateTime         Country      Indicator     Period  Value
1387 2023-11-06 03:45:00           Italy  Composite PMI 2023-10-01   47.0
1388 2023-11-06 03:50:00          France  Composite PMI 2023-10-01   44.6
1389 2023-11-06 03:55:00         Germany  Composite PMI 2023-10-01   45.9
1390 2023-11-06 04:00:00       Euro Zone  Composite PMI 2023-10-01   46.5
1391 2023-11-06 08:00:00          Brazil  Composite PMI 2023-10-01   50.3
1392 2023-11-23 03:15:00          France  Composite PMI 2023-11-01   44.5
1393 2023-11-23 03:30:00         Germany  Composite PMI 2023-11-01   47.1
1394 2023-11-23 04:00:00       Euro Zone  Composite PMI 2023-11-01   47.1
1395 2023-11-23 04:30:00  United Kingdom  Composite PMI 2023-11-01   50.1

In [13]:
construction_pmi = preprocessor.process_pmi_indicator('Construction PMI')
construction_pmi.tail(5)

235 indicators read
Missing countries
['United States', 'Japan', 'Canada', 'Switzerland', 'Australia', 'Netherlands', 'Sweden', 'Spain', 'Hong Kong', 'Singapore', 'Belgium', 'Norway', 'Israel', 'Ireland', 'New Zealand', 'Austria', 'China', 'Taiwan', 'India', 'South Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico', 'Indonesia', 'TÃ¼rkiye', 'Poland', 'Argentina', 'Russia']
Avg publish delay:  34 days 02:11:21.702127659

         ReportDateTime         Country         Indicator     Period  Value
230 2023-11-06 04:30:00  United Kingdom  Construction PMI 2023-10-01   45.6
231 2023-11-07 03:30:00           Italy  Construction PMI 2023-10-01   51.8
232 2023-11-07 03:30:00         Germany  Construction PMI 2023-10-01   38.3
233 2023-11-07 03:30:00          France  Construction PMI 2023-10-01   41.0
234 2023-11-07 03:30:00       Euro Zone  Construction PMI 2023-10-01   42.7

# Unemployment Rate

In [14]:
unemployment_rate = preprocessor.process_monthly_indicator(indicator='Unemployment Rate')
unemployment_rate.head(30)

4192 indicators read
Missing countries
['Belgium', 'Ireland', 'India', 'Saudi Arabia', 'Indonesia', 'TÃ¼rkiye']
Avg publish delay:  46 days 05:45:44.736543909

        ReportDateTime         Country          Indicator     Period   Value
1  2012-01-01 04:00:00       Hong Kong  Unemployment Rate 2011-12-01  0.0330
2  2012-01-01 04:00:00          Mexico  Unemployment Rate 2011-12-01  0.0501
3  2012-01-01 04:00:00          Sweden  Unemployment Rate 2011-12-01  0.0730
4  2012-01-01 04:00:00     Netherlands  Unemployment Rate 2011-12-01  0.0540
5  2012-01-01 04:00:00          Taiwan  Unemployment Rate 2011-12-01  0.0423
6  2012-01-01 04:00:00          Poland  Unemployment Rate 2011-12-01  0.1250
7  2012-01-01 04:00:00         Austria  Unemployment Rate 2011-12-01  0.0820
9  2012-01-01 04:00:00          Norway  Unemployment Rate 2011-12-01  0.0330
10 2012-01-03 03:55:00         Germany  Unemployment Rate 2011-12-01  0.0680
11 2012-01-05 04:00:00           Italy  Unemployment Rate 2011-12-01  0.0860
12 2012-01-05 04:00:00           Italy  Unemployment Rate 2011-12-01  0.0810
13 2012-01-06 05:00:00       Euro Zone  Unemployment Rate 2011-12-01  0.1030
14 2012-01-06 07:00:00          Canada  Unemployment Rate 2011-12-01  0.0750
16 2012-01-06 08:30:00   United States  Unemployment Rate 2011-12-01  0.0850
17 2012-01-09 01:45:00     Switzerland  Unemployment Rate 2011-12-01  0.0310
18 2012-01-10 18:00:00     South Korea  Unemployment Rate 2011-12-01  0.0310
19 2012-01-18 04:30:00  United Kingdom  Unemployment Rate 2011-12-01  0.0840
20 2012-01-18 19:30:00       Australia  Unemployment Rate 2011-12-01  0.0520
22 2012-01-24 07:00:00          Russia  Unemployment Rate 2011-12-01  0.0610
23 2012-01-26 06:00:00          Brazil  Unemployment Rate 2011-12-01  0.0470
24 2012-01-27 03:00:00           Spain  Unemployment Rate 2011-12-01  0.2290
25 2012-01-30 18:30:00           Japan  Unemployment Rate 2011-12-01  0.0460
26 2012-01-30 21:00:00       Singapore  Unemployment Rate 2011-12-01  0.0200
27 2012-01-31 03:55:00         Germany  Unemployment Rate 2011-12-01  0.0670
28 2012-01-31 04:00:00           Italy  Unemployment Rate 2011-12-01  0.0890
29 2012-01-31 05:00:00       Euro Zone  Unemployment Rate 2011-12-01  0.1040
31 2012-02-01 04:00:00       Hong Kong  Unemployment Rate 2012-01-01  0.0320
32 2012-02-01 04:00:00          Mexico  Unemployment Rate 2012-01-01  0.0466
33 2012-02-01 04:00:00          Sweden  Unemployment Rate 2012-01-01  0.0840
34 2012-02-01 04:00:00     Netherlands  Unemployment Rate 2012-01-01  0.0550

In [15]:
preprocessor.transform_to_countries_df(unemployment_rate, freq='M')

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,South Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,TÃ¼rkiye,Poland,Argentina,Russia
2012-01-01,0.085,NaN,0.084,0.076,NaN,0.031,0.068,0.051,0.055,0.084,...,0.032,0.055,NaN,NaN,0.0466,NaN,NaN,0.132,0.067,0.066
2012-02-01,0.083,0.046,0.084,0.074,0.094,0.031,0.067,0.052,0.06,0.082,...,0.037,0.057,NaN,NaN,0.0536,NaN,NaN,0.135,NaN,0.065
2012-03-01,0.083,0.045,0.083,0.072,NaN,0.031,NaN,0.052,0.059,0.077,...,0.034,0.062,NaN,NaN,0.0501,NaN,NaN,0.133,NaN,0.065
2012-04-01,0.082,0.046,0.082,0.073,NaN,0.031,0.068,0.049,0.062,0.078,...,0.034,0.06,NaN,0.252,0.0489,NaN,NaN,0.129,0.071,0.058
2012-05-01,0.081,0.044,0.082,0.073,0.1,0.032,0.068,0.051,0.062,0.081,...,0.032,0.058,NaN,NaN,0.0478,NaN,NaN,0.126,NaN,0.054
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-01,0.036,0.027,0.042,0.055,0.072,0.021,0.056,0.037,0.036,0.063,...,0.028,0.079,NaN,0.326,0.029,NaN,NaN,0.05,NaN,0.031
2023-08-01,0.035,0.027,0.043,0.055,NaN,0.021,0.057,0.037,0.036,0.064,...,0.024,0.078,NaN,NaN,0.027,NaN,NaN,0.05,0.062,0.03
2023-09-01,0.038,0.026,0.042,0.055,NaN,0.021,NaN,0.036,0.037,0.064,...,0.026,0.077,NaN,NaN,0.027,NaN,NaN,0.05,NaN,NaN
2023-10-01,0.038,NaN,0.042,0.057,0.074,0.021,0.058,0.037,0.036,0.064,...,0.025,NaN,NaN,0.319,NaN,NaN,NaN,NaN,NaN,0.03
2023-11-01,0.039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# CPI

In [16]:
cpi_mom = preprocessor.process_monthly_indicator(indicator='CPI (MoM)')
cpi_mom

5434 indicators read
Missing countries
['Australia', 'New Zealand', 'India', 'Indonesia']
Avg publish delay:  43 days 20:00:37.251051893

          ReportDateTime         Country  Indicator     Period  Value
0    2012-01-01 04:00:00  United Kingdom  CPI (MoM) 2011-12-01  0.004
2    2012-01-01 04:00:00     South Korea  CPI (MoM) 2011-12-01  0.004
3    2012-01-01 04:00:00           Spain  CPI (MoM) 2011-12-01  0.001
4    2012-01-01 04:00:00          Brazil  CPI (MoM) 2011-12-01  0.005
6    2012-01-01 04:00:00           China  CPI (MoM) 2011-12-01  0.003
...                  ...             ...        ...        ...    ...
5427 2023-11-17 05:00:00       Euro Zone  CPI (MoM) 2023-10-01  0.001
5428 2023-11-21 03:30:00       Hong Kong  CPI (MoM) 2023-10-01  0.010
5430 2023-11-21 08:30:00          Canada  CPI (MoM) 2023-10-01  0.001
5432 2023-11-22 03:00:00    South Africa  CPI (MoM) 2023-10-01  0.009
5433 2023-11-23 00:00:00       Singapore  CPI (MoM) 2023-10-01  0.002

[4278 rows x 5 columns]

In [17]:
preprocessor.transform_to_countries_df(cpi_mom, freq='M')

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,South Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,TÃ¼rkiye,Poland,Argentina,Russia
2012-01-01,0.0,NaN,-0.005,0.004,-0.004,-0.004,-0.004,NaN,NaN,-0.009,...,0.004,0.0056,0.0,0.0063,0.0071,NaN,0.0056,0.0072,NaN,0.005
2012-02-01,0.002,NaN,0.006,0.004,0.004,0.003,0.007,NaN,NaN,0.007,...,0.004,0.0045,0.002,0.006,0.002,NaN,0.0056,0.004,NaN,0.004
2012-03-01,0.004,NaN,0.003,0.004,0.008,0.006,0.003,NaN,NaN,0.003,...,0.0,0.0021,0.003,0.011,0.0006,NaN,0.0041,0.0052,0.009,0.006
2012-04-01,0.003,NaN,0.006,0.004,0.001,0.001,0.002,NaN,NaN,0.002,...,0.002,0.0064,0.002,0.004,-0.0031,NaN,0.0152,0.0058,0.008,0.003
2012-05-01,0.0,NaN,-0.001,-0.001,-0.001,0.0,-0.002,NaN,NaN,-0.001,...,NaN,0.0036,0.002,0.001,-0.0032,NaN,-0.0021,0.0016,0.008,0.005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-01,0.002,0.004,-0.004,0.006,0.001,-0.001,0.003,NaN,0.01,0.0,...,0.001,0.0012,0.001,0.009,0.0048,NaN,0.0949,-0.002,0.062,0.006
2023-08-01,0.002,0.002,0.003,0.004,0.01,0.002,0.003,NaN,0.004,0.001,...,0.01,0.0023,0.0,0.003,0.0055,NaN,0.0909,0.0,0.124,0.003
2023-09-01,0.006,0.003,0.005,-0.001,-0.005,-0.001,0.003,NaN,-0.004,0.005,...,0.006,0.0026,0.0,0.006,0.0044,NaN,0.0475,-0.004,0.127,0.009
2023-10-01,0.004,NaN,0.0,0.001,0.001,0.001,0.0,NaN,0.004,0.002,...,0.003,0.0024,0.001,0.009,0.0038,NaN,0.0343,0.003,0.083,0.008
2023-11-01,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
cpi_yoy = preprocessor.process_monthly_indicator(indicator='CPI (YoY)')
cpi_yoy

6929 indicators read
Missing countries
['Indonesia']
Avg publish delay:  44 days 03:05:41.606017483

          ReportDateTime       Country  Indicator     Period  Value
1    2012-01-01 04:00:00        Canada  CPI (YoY) 2011-12-01  0.023
2    2012-01-01 04:00:00         Italy  CPI (YoY) 2011-12-01  0.033
3    2012-01-01 04:00:00   Switzerland  CPI (YoY) 2011-12-01 -0.007
4    2012-01-01 04:00:00       Germany  CPI (YoY) 2011-12-01  0.020
5    2012-01-01 04:00:00         Spain  CPI (YoY) 2011-12-01  0.024
...                  ...           ...        ...        ...    ...
6917 2023-11-21 03:30:00     Hong Kong  CPI (YoY) 2023-10-01  0.027
6920 2023-11-21 08:30:00        Canada  CPI (YoY) 2023-10-01  0.031
6924 2023-11-22 03:00:00  South Africa  CPI (YoY) 2023-10-01  0.059
6926 2023-11-23 00:00:00     Singapore  CPI (YoY) 2023-10-01  0.047
6928 2023-11-23 18:30:00         Japan  CPI (YoY) 2023-10-01  0.033

[4919 rows x 5 columns]

In [19]:
preprocessor.transform_to_countries_df(cpi_yoy, freq='M')

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,South Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,TÃ¼rkiye,Poland,Argentina,Russia
2012-01-01,0.029,0.001,0.036,0.025,NaN,-0.008,0.021,NaN,0.025,0.019,...,NaN,0.062,0.026,0.0625,0.04,NaN,0.1061,0.041,NaN,0.042
2012-02-01,0.029,0.003,0.034,0.026,NaN,-0.009,0.022,NaN,0.025,0.019,...,0.031,0.0585,0.025,0.061,0.039,NaN,0.1043,0.043,NaN,0.037
2012-03-01,0.027,0.005,0.035,0.019,NaN,-0.01,0.022,NaN,0.025,0.015,...,0.026,0.0524,0.025,0.0602,0.0373,NaN,0.1043,0.039,NaN,0.037
2012-04-01,0.023,0.004,0.03,0.02,NaN,-0.01,0.021,NaN,0.024,0.013,...,0.025,0.051,0.025,0.0611,0.0341,NaN,0.1114,0.04,NaN,0.036
2012-05-01,0.017,0.002,0.028,0.012,NaN,-0.01,0.019,NaN,0.021,0.01,...,NaN,0.0499,0.025,0.0565,0.0385,NaN,0.0828,0.036,NaN,0.036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-01,0.032,0.033,0.068,0.033,0.043,0.016,0.062,NaN,0.046,0.093,...,0.023,0.0399,0.023,0.047,0.0479,NaN,0.4783,0.108,1.134,0.043
2023-08-01,0.037,0.032,0.067,0.04,0.049,0.016,0.061,NaN,0.03,0.075,...,0.034,0.0461,0.02,0.048,0.0464,NaN,0.5894,0.101,1.252,0.052
2023-09-01,0.037,0.03,0.067,0.038,0.049,0.017,0.045,0.054,0.002,0.065,...,0.037,0.0519,0.017,0.054,0.0445,NaN,0.6153,0.082,1.383,0.06
2023-10-01,0.032,0.033,0.046,0.031,0.04,0.017,0.038,NaN,-0.004,0.065,...,0.038,0.0482,0.016,0.059,0.0426,NaN,0.6136,0.066,1.427,0.067
2023-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Industrial Production

In [20]:
industrial_production_mom = preprocessor.process_monthly_indicator(
    indicator='Industrial Production (MoM)', alt_indicator='Industrial Output (MoM)')
industrial_production_mom

1991 indicators read
Missing countries
['Canada', 'Switzerland', 'Australia', 'Netherlands', 'Spain', 'Hong Kong', 'Belgium', 'Norway', 'Ireland', 'New Zealand', 'Austria', 'China', 'Taiwan', 'India', 'Saudi Arabia', 'South Africa', 'Indonesia', 'Poland', 'Argentina', 'Russia']
Avg publish delay:  43 days 12:51:43.003515821

,ReportDateTime,Country,Indicator,Period,Value
0,2012-01-01 04:00:00,South Korea,Industrial Production (MoM),2011-12-01,-0.0100
1,2012-01-01 04:00:00,Brazil,Industrial Production (MoM),2011-12-01,0.0270
2,2012-01-01 04:00:00,Singapore,Industrial Production (MoM),2011-12-01,0.0720
3,2012-01-01 04:00:00,Mexico,Industrial Production (MoM),2011-12-01,0.0049
4,2012-01-01 04:00:00,Sweden,Industrial Production (MoM),2011-12-01,-0.0330
...,...,...,...,...,...
1986,2023-11-10 07:00:00,Mexico,Industrial Production (MoM),2023-10-01,0.0020
1987,2023-11-14 23:30:00,Japan,Industrial Production (MoM),2023-10-01,0.0050
1988,2023-11-15 05:00:00,Euro Zone,Industrial Production (MoM),2023-10-01,-0.0110
1989,2023-11-16 09:15:00,United States,Industrial Production (MoM),2023-10-01,-0.0060
1990,2023-11-23 06:00:00,Israel,Industrial Production (MoM),2023-10-01,-0.0400

In [21]:
industrial_production_yoy = preprocessor.process_monthly_indicator(
    indicator='Industrial Production (YoY)', alt_indicator='Industrial Output (YoY)')
industrial_production_yoy

2489 indicators read
Missing countries
['Japan', 'Canada', 'France', 'Australia', 'Netherlands', 'Belgium', 'Norway', 'Israel', 'Ireland', 'New Zealand', 'Saudi Arabia', 'South Africa', 'Indonesia']
Avg publish delay:  44 days 03:18:33.194053837

,ReportDateTime,Country,Indicator,Period,Value
0,2012-01-01 04:00:00,United Kingdom,Industrial Production (YoY),2011-12-01,-0.0300
1,2012-01-01 04:00:00,Italy,Industrial Production (YoY),2011-12-01,-0.0230
2,2012-01-01 04:00:00,Euro Zone,Industrial Production (YoY),2011-12-01,-0.0170
3,2012-01-01 04:00:00,Sweden,Industrial Production (YoY),2011-12-01,-0.0550
4,2012-01-01 04:00:00,Poland,Industrial Production (YoY),2011-12-01,0.0767
...,...,...,...,...,...
2484,2023-11-15 05:00:00,Euro Zone,Industrial Production (YoY),2023-10-01,-0.0690
2485,2023-11-16 09:15:00,United States,Industrial Production (YoY),2023-10-01,-0.0068
2486,2023-11-17 02:30:00,Switzerland,Industrial Production (YoY),2023-10-01,0.0200
2487,2023-11-21 04:00:00,Poland,Industrial Production (YoY),2023-10-01,0.0160
2488,2023-11-23 03:00:00,Taiwan,Industrial Production (YoY),2023-10-01,-0.0232

# Retail Sales

In [22]:
retail_sales_mom = preprocessor.process_monthly_indicator(
    indicator='Retail Sales (MoM)')
retail_sales_mom

2662 indicators read
Missing countries
['Japan', 'France', 'Switzerland', 'Netherlands', 'Spain', 'Hong Kong', 'Belgium', 'Norway', 'Israel', 'Austria', 'China', 'Taiwan', 'India', 'Saudi Arabia', 'South Africa', 'Indonesia', 'Poland', 'Argentina', 'Russia']
Avg publish delay:  45 days 22:25:55.406698564

,ReportDateTime,Country,Indicator,Period,Value
1,2012-01-01 04:00:00,Brazil,Retail Sales (MoM),2011-12-01,0.0098
2,2012-01-01 04:00:00,Singapore,Retail Sales (MoM),2011-12-01,-0.0120
3,2012-01-01 04:00:00,New Zealand,Retail Sales (MoM),2011-12-01,0.0000
4,2012-01-01 04:00:00,Mexico,Retail Sales (MoM),2011-12-01,0.0087
5,2012-01-01 04:00:00,Sweden,Retail Sales (MoM),2011-12-01,0.0050
...,...,...,...,...,...
2655,2023-11-13 02:00:00,TÃ¼rkiye,Retail Sales (MoM),2023-10-01,-0.0070
2656,2023-11-14 16:45:00,New Zealand,Retail Sales (MoM),2023-10-01,-0.0070
2658,2023-11-15 08:30:00,United States,Retail Sales (MoM),2023-10-01,-0.0010
2660,2023-11-17 02:00:00,United Kingdom,Retail Sales (MoM),2023-10-01,-0.0030
2661,2023-11-22 07:00:00,Mexico,Retail Sales (MoM),2023-10-01,-0.0020

In [23]:
retail_sales_yoy = preprocessor.process_monthly_indicator(
    indicator='Retail Sales (YoY)')
retail_sales_yoy

3256 indicators read
Missing countries
['Canada', 'France', 'Australia', 'Belgium', 'Norway', 'Israel', 'Austria', 'Taiwan', 'India', 'South Korea', 'Saudi Arabia']
Avg publish delay:  46 days 03:38:04.625762929

,ReportDateTime,Country,Indicator,Period,Value
1,2012-01-01 04:00:00,United Kingdom,Retail Sales (YoY),2011-12-01,0.0260
2,2012-01-01 04:00:00,Italy,Retail Sales (YoY),2011-12-01,-0.0320
3,2012-01-01 04:00:00,Germany,Retail Sales (YoY),2011-12-01,0.0080
4,2012-01-01 04:00:00,Hong Kong,Retail Sales (YoY),2011-12-01,0.2350
5,2012-01-01 04:00:00,New Zealand,Retail Sales (YoY),2011-12-01,0.0580
...,...,...,...,...,...
3250,2023-11-15 08:30:00,United States,Retail Sales (YoY),2023-10-01,0.0248
3252,2023-11-17 02:00:00,United Kingdom,Retail Sales (YoY),2023-10-01,-0.0270
3253,2023-11-22 04:00:00,Poland,Retail Sales (YoY),2023-10-01,0.0480
3254,2023-11-22 07:00:00,Mexico,Retail Sales (YoY),2023-10-01,0.0230
3255,2023-11-23 14:00:00,Argentina,Retail Sales (YoY),2023-10-01,1.4990

# PPI

In [24]:
ppi_mom = preprocessor.process_monthly_indicator(indicator='PPI (MoM)')
ppi_mom

2253 indicators read
Missing countries
['United Kingdom', 'Canada', 'Australia', 'Netherlands', 'Spain', 'Hong Kong', 'Singapore', 'Belgium', 'Norway', 'Israel', 'Ireland', 'New Zealand', 'China', 'Taiwan', 'India', 'Saudi Arabia', 'Indonesia', 'Poland', 'Argentina']
Avg publish delay:  47 days 09:36:15.373665480

          ReportDateTime        Country  Indicator     Period   Value
0    2012-01-01 04:00:00    South Korea  PPI (MoM) 2011-12-01  0.0010
1    2012-01-01 04:00:00          Japan  PPI (MoM) 2011-12-01  0.0000
2    2012-01-01 04:00:00         Russia  PPI (MoM) 2011-12-01  0.0020
3    2012-01-01 04:00:00         Sweden  PPI (MoM) 2011-12-01 -0.0017
4    2012-01-01 04:00:00        Austria  PPI (MoM) 2011-12-01 -0.0030
...                  ...            ...        ...        ...     ...
2246 2023-11-14 02:30:00    Switzerland  PPI (MoM) 2023-10-01  0.0020
2248 2023-11-15 08:30:00  United States  PPI (MoM) 2023-10-01 -0.0050
2250 2023-11-20 02:00:00        Germany  PPI (MoM) 2023-10-01 -0.0010
2251 2023-11-20 16:00:00    South Korea  PPI (MoM) 2023-10-01 -0.0010
2252 2023-11-22 11:00:00         Russia  PPI (MoM) 2023-10-01  0.0200

[1967 rows x 5 columns]

In [25]:
ppi_yoy = preprocessor.process_monthly_indicator(indicator='PPI (YoY)')
ppi_yoy

2654 indicators read
Missing countries
['United Kingdom', 'Canada', 'Netherlands', 'Singapore', 'Belgium', 'Israel', 'Ireland', 'New Zealand', 'Taiwan', 'India', 'Brazil', 'Saudi Arabia', 'Indonesia', 'Argentina']
Avg publish delay:  45 days 10:01:52.661324335

          ReportDateTime        Country  Indicator     Period  Value
1    2012-01-01 04:00:00  United States  PPI (YoY) 2011-12-01  0.033
3    2012-01-01 04:00:00          Italy  PPI (YoY) 2011-12-01  0.049
4    2012-01-01 04:00:00    South Korea  PPI (YoY) 2011-12-01  0.043
5    2012-01-01 04:00:00    Switzerland  PPI (YoY) 2011-12-01 -0.023
6    2012-01-01 04:00:00        Germany  PPI (YoY) 2011-12-01  0.035
...                  ...            ...        ...        ...    ...
2648 2023-11-15 08:30:00  United States  PPI (YoY) 2023-10-01  0.013
2650 2023-11-20 02:00:00        Germany  PPI (YoY) 2023-10-01 -0.110
2651 2023-11-20 16:00:00    South Korea  PPI (YoY) 2023-10-01  0.008
2652 2023-11-21 04:00:00         Poland  PPI (YoY) 2023-10-01 -0.041
2653 2023-11-22 11:00:00         Russia  PPI (YoY) 2023-10-01  0.216

[2371 rows x 5 columns]

# Trade Balance

In [26]:
trade_balance = preprocessor.process_monthly_indicator(
    indicator='Trade Balance', alt_indicator='Trade Balance (MoM)', pct_value=False)
trade_balance.tail(30)

5417 indicators read
Missing countries
['Belgium', 'Ireland', 'Saudi Arabia', 'Poland']
Avg publish delay:  45 days 12:49:28.704735376

,ReportDateTime,Country,Indicator,Period,Value
5378,2023-10-26 03:30:00,Hong Kong,Trade Balance,2023-09-01,-6.460000e+10
5379,2023-10-26 06:00:00,Israel,Trade Balance,2023-09-01,-1.465500e+09
5381,2023-10-27 07:00:00,Mexico,Trade Balance,2023-09-01,-1.481000e+09
5384,2023-10-31 02:00:00,TÃ¼rkiye,Trade Balance,2023-09-01,-5.010000e+09
5385,2023-10-31 07:00:00,South Africa,Trade Balance,2023-09-01,1.314000e+10
5386,2023-10-31 19:00:00,South Korea,Trade Balance,2023-09-01,1.640000e+09
5387,2023-11-01 13:00:00,Brazil,Trade Balance,2023-10-01,8.960000e+09
5388,2023-11-01 19:30:00,Australia,Trade Balance,2023-10-01,6.786000e+09
5389,2023-11-03 02:00:00,Germany,Trade Balance,2023-10-01,1.650000e+10
5391,2023-11-06 22:00:00,China,Trade Balance,2023-10-01,4.054700e+11
5393,2023-11-07 03:00:00,Taiwan,Trade Balance,2023-10-01,5.770000e+09
5394,2023-11-07 08:30:00,United States,Trade Balance,2023-10-01,-6.150000e+10
5395,2023-11-07 08:30:00,Canada,Trade Balance,2023-10-01,2.040000e+09
5396,2023-11-08 02:45:00,France,Trade Balance,2023-10-01,-8.900000e+09
5397,2023-11-09 03:00:00,Austria,Trade Balance,2023-10-01,-2.556000e+08
5398,2023-11-10 02:00:00,United Kingdom,Trade Balance,2023-10-01,-1.429000e+10
5400,2023-11-10 08:00:00,Russia,Trade Balance,2023-10-01,1.529000e+10
5401,2023-11-13 06:00:00,Israel,Trade Balance,2023-10-01,-1.945500e+09
5402,2023-11-14 03:30:00,Netherlands,Trade Balance,2023-10-01,1.331000e+10
5403,2023-11-14 23:00:00,Indonesia,Trade Balance,2023-10-01,3.480000e+09
5404,2023-11-15 02:00:00,Norway,Trade Balance,2023-10-01,8.690000e+10
5405,2023-11-15 03:10:00,India,Trade Balance,2023-10-01,-3.146000e+10
5406,2023-11-15 04:00:00,Italy,Trade Balance,2023-10-01,2.350000e+09
5408,2023-11-15 05:00:00,Euro Zone,Trade Balance,2023-10-01,1.000000e+10
5410,2023-11-15 18:50:00,Japan,Trade Balance,2023-10-01,-6.625000e+11
5411,2023-11-16 21:00:00,Singapore,Trade Balance,2023-10-01,6.524000e+09
5412,2023-11-17 04:00:00,Spain,Trade Balance,2023-10-01,-3.800000e+09
5413,2023-11-17 14:00:00,Argentina,Trade Balance,2023-10-01,-4.540000e+08
5414,2023-11-20 16:45:00,New Zealand,Trade Balance,2023-10-01,-1.709000e+09
5416,2023-11-21 02:00:00,Switzerland,Trade Balance,2023-10-01,4.600000e+09

# Current Account

In [27]:
current_account = preprocessor.process_monthly_indicator(
    indicator='Current Account', pct_value=False)
current_account.tail(30)

2160 indicators read
Missing countries
['Japan', 'Switzerland', 'Germany', 'Netherlands', 'Spain', 'Hong Kong', 'Italy', 'Singapore', 'Belgium', 'Israel', 'Ireland', 'New Zealand', 'Austria', 'China', 'Taiwan', 'India', 'Brazil', 'Saudi Arabia', 'Mexico', 'Indonesia', 'TÃ¼rkiye', 'Poland', 'Argentina', 'Russia']
Avg publish delay:  43 days 16:43:27.628294036

,ReportDateTime,Country,Indicator,Period,Value
2063,2023-06-05 20:30:00,Australia,Current Account,2023-05-01,1.230000e+10
2064,2023-06-07 01:45:00,France,Current Account,2023-05-01,-1.000000e+08
2067,2023-06-08 01:00:00,Norway,Current Account,2023-05-01,2.797000e+11
2068,2023-06-08 04:00:00,South Africa,Current Account,2023-05-01,-6.620000e+10
2070,2023-06-08 18:00:00,South Korea,Current Account,2023-05-01,-7.900000e+08
2077,2023-06-20 03:00:00,Euro Zone,Current Account,2023-05-01,4.000000e+09
2079,2023-06-22 07:30:00,United States,Current Account,2023-05-01,-2.193000e+11
2085,2023-06-30 01:00:00,United Kingdom,Current Account,2023-05-01,-1.080000e+10
2087,2023-07-06 18:00:00,South Korea,Current Account,2023-06-01,1.930000e+09
2088,2023-07-07 01:45:00,France,Current Account,2023-06-01,-7.000000e+08
2094,2023-07-20 03:00:00,Euro Zone,Current Account,2023-06-01,9.100000e+09
2098,2023-08-07 18:00:00,South Korea,Current Account,2023-07-01,5.870000e+09
2101,2023-08-08 01:45:00,France,Current Account,2023-07-01,8.000000e+08
2107,2023-08-22 03:00:00,Euro Zone,Current Account,2023-07-01,3.580000e+10
2113,2023-08-31 07:30:00,Canada,Current Account,2023-07-01,-6.600000e+09
2114,2023-09-04 01:00:00,Sweden,Current Account,2023-08-01,6.880000e+10
2115,2023-09-04 20:30:00,Australia,Current Account,2023-08-01,7.700000e+09
2116,2023-09-06 01:00:00,Norway,Current Account,2023-08-01,1.713000e+11
2117,2023-09-07 01:45:00,France,Current Account,2023-08-01,-2.000000e+09
2118,2023-09-07 04:00:00,South Africa,Current Account,2023-08-01,-1.607000e+11
2120,2023-09-07 18:00:00,South Korea,Current Account,2023-08-01,3.580000e+09
2126,2023-09-19 03:00:00,Euro Zone,Current Account,2023-08-01,2.090000e+10
2131,2023-09-21 07:30:00,United States,Current Account,2023-08-01,-2.121000e+11
2135,2023-09-29 01:00:00,United Kingdom,Current Account,2023-08-01,-2.530000e+10
2138,2023-10-06 01:45:00,France,Current Account,2023-09-01,-8.000000e+08
2141,2023-10-10 18:00:00,South Korea,Current Account,2023-09-01,4.810000e+09
2145,2023-10-19 03:00:00,Euro Zone,Current Account,2023-09-01,2.770000e+10
2149,2023-11-07 18:00:00,South Korea,Current Account,2023-10-01,5.420000e+09
2150,2023-11-08 02:45:00,France,Current Account,2023-10-01,-2.500000e+09
2156,2023-11-17 04:00:00,Euro Zone,Current Account,2023-10-01,3.120000e+10