In [4]:
import pandas as pd
import numpy as np

from dotenv import load_dotenv
load_dotenv()

True

In [5]:
from src.preprocessing.SqlAlquemySelectHandler import SqlAlquemySelectHandler
sql_handler = SqlAlquemySelectHandler()

In [6]:
df = pd.DataFrame()

for year in range(1999, 2024):
    df_year = sql_handler.read_all_indicators(year)
    df = pd.concat([df, df_year])
df.index = np.arange(0, len(df))
df = df.iloc[:,1:]
df

7159 indicators read
7486 indicators read
7963 indicators read
8095 indicators read
8331 indicators read
8455 indicators read
8782 indicators read
9013 indicators read
9107 indicators read
10669 indicators read
11197 indicators read
11528 indicators read
11953 indicators read
13043 indicators read
13614 indicators read
14581 indicators read
15318 indicators read
15003 indicators read
15353 indicators read
16187 indicators read
16911 indicators read
17965 indicators read
17983 indicators read
17881 indicators read
17376 indicators read

,ReportDateTime,Country,Currency,Indicator,Actual,Forecast,Previous
0,1999-01-01 04:00:00,United Kingdom,GBP,BoE Consumer Credit (Dec),1.02B,nan,1.17B
1,1999-01-01 04:00:00,United Kingdom,GBP,BRC Retail Sales Monitor (YoY) (Dec),0.00%,nan,-0.40%
2,1999-01-01 04:00:00,United Kingdom,GBP,CBI Distributive Trades Survey (Dec),4.00,nan,-9.00
3,1999-01-01 04:00:00,United Kingdom,GBP,CBI Industrial Trends Orders (Dec),-38.00,nan,-47.00
4,1999-01-01 04:00:00,United Kingdom,GBP,Claimant Count Change (Dec),-11.00K,nan,3.40K
...,...,...,...,...,...,...,...
310948,2023-12-07 22:00:00,Indonesia,IDR,Consumer Confidence (Nov),123.6,nan,124.3
310949,2023-12-07 23:00:00,Malaysia,MYR,Unemployment Rate,3.4%,nan,3.4%
310950,2023-12-07 23:30:00,India,INR,Cash Reserve Ratio,4.50%,4.50%,4.50%
310951,2023-12-07 23:30:00,India,INR,Interest Rate Decision,6.50%,6.50%,6.50%
310952,2023-12-07 23:30:00,India,INR,Reverse REPO Rate,3.35%,nan,3.35%

In [7]:
df.to_csv('investing_economic_calendar_2023-12-07.csv')