In [1]:
from src.preprocessing.InvestingCalendarPreprocessor import InvestingCalendarPreprocessor
preprocessor = InvestingCalendarPreprocessor()

## Indicador's exploration

In [2]:
preprocessor.explore_indicators(year=2020, thres=10)

17965 indicators read
CPI (YoY) 629 , 46
CPI (MoM) 508 , 35
Trade Balance 445 , 35
Unemployment Rate 433 , 38
Manufacturing PMI 432 , 28
Retail Sales (YoY) 357 , 29
Industrial Production (YoY) 277 , 23
PPI (YoY) 267 , 22
GDP (YoY) 265 , 39
Services PMI 251 , 14
GDP (QoQ) 243 , 34
Consumer Confidence 233 , 19
PPI (MoM) 192 , 15
Retail Sales (MoM) 190 , 15
Composite PMI 185 , 10
Interest Rate Decision 176 , 20
Industrial Production (MoM) 168 , 13
Core CPI (YoY) 142 , 11
Current Account 100 , 13

In [3]:
df_grouped = preprocessor.get_count_by_country_and_month()
df_grouped.to_csv('count_by_country_and_month.csv')
df_grouped

14811 indicators read

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-01,107,25,40,28,11,10,26,19,6,4,...,8,3,3,2,6,6,3,6,3,6
1999-02-01,95,24,40,28,11,10,26,19,6,4,...,8,3,3,2,8,6,3,6,3,6
1999-03-01,109,24,40,28,12,10,26,19,6,4,...,8,3,3,2,8,6,3,6,3,6
1999-04-01,109,25,40,28,12,10,26,19,6,4,...,8,3,3,2,8,6,3,6,3,6
1999-05-01,107,24,40,29,12,10,26,19,6,4,...,8,3,3,2,8,6,3,6,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,370,83,87,46,51,42,68,46,14,15,...,22,13,9,7,18,21,6,11,10,30
2023-09-01,354,82,87,56,48,42,61,44,14,19,...,19,12,11,5,19,23,6,10,14,24
2023-10-01,343,86,80,47,51,38,60,58,12,12,...,19,12,8,4,17,20,5,10,9,18
2023-11-01,353,77,89,50,53,26,67,46,14,16,...,23,13,10,7,18,19,6,11,9,29
2023-12-01,114,32,15,19,16,10,16,26,2,2,...,3,6,6,1,10,13,1,2,2,9

## GDP

In [4]:
gdp_qoq = preprocessor.process_quaterly_indicator('GDP (QoQ)', 'GDP Annualized (QoQ)')
gdp_qoq

3191 indicators read
Missing countries
['Taiwan', 'India', 'Saudi Arabia', 'Malaysia', 'United Arab Emirates', 'Kuwait', 'Turkiye', 'Chile', 'Peru', 'Hungary', 'Egypt', 'Argentina', 'Russia']
Avg publish delay:  142 days 15:21:00.796711982
Data coverage since 1999 (50 countries): 36.0 %
Data coverage since 2013 (30 countries): 76.1 %

                ReportDateTime    Country  Indicator     Period  Value
Period
2007-10-01 2008-02-13 18:50:00      Japan  GDP (QoQ) 2007-10-01    0.0
2007-10-01 2008-02-13 21:00:00    Germany  GDP (QoQ) 2007-10-01    0.3
2007-10-01 2008-02-13 21:45:00     France  GDP (QoQ) 2007-10-01    0.3
2007-10-01 2008-02-14 00:00:00   Eurozone  GDP (QoQ) 2007-10-01    0.0
2007-10-01 2008-02-26 02:00:00    Germany  GDP (QoQ) 2007-10-01    0.3
...                        ...        ...        ...        ...    ...
2023-07-01 2023-12-05 07:00:00     Brazil  GDP (QoQ) 2023-07-01    0.1
2023-07-01 2023-12-05 19:30:00  Australia  GDP (QoQ) 2023-07-01    0.2
2023-07-01 2023-12-06 05:00:00     Greece  GDP (QoQ) 2023-07-01    0.0
2023-07-01 2023-12-07 05:00:00   Eurozone  GDP (QoQ) 2023-07-01   -0.1
2023-07-01 2023-12-07 18:50:00      Japan  GDP (QoQ) 2023-07-01   -0.7

[3163 rows x 5 columns]

In [5]:
df = preprocessor.transform_to_countries_df(gdp_qoq, freq='Q')
df

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-01,2.9,0.2,0.0,0.0,0.1,0.0,-0.2,0.5,0.6,0.9,...,-2.4,NaN,1.4,NaN,NaN,-0.2,NaN,0.7,NaN,NaN
2023-01-01,1.1,0.4,0.1,0.8,0.2,0.3,-0.1,0.2,-0.7,0.3,...,3.9,NaN,-0.1,NaN,NaN,0.1,NaN,1.4,NaN,NaN
2023-04-01,2.4,1.5,0.2,0.0,0.5,0.0,0.0,0.4,-0.3,0.2,...,-3.7,NaN,1.3,NaN,NaN,0.1,NaN,-1.0,NaN,NaN
2023-07-01,4.9,-0.5,0.0,-0.3,0.1,0.3,-0.1,0.2,-0.2,-0.3,...,1.4,NaN,0.0,NaN,NaN,-0.3,NaN,0.2,NaN,NaN
2023-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
preprocessor.process_quaterly_indicator('GDP (YoY)', 'GDP Quarterly (YoY)')

3242 indicators read
Missing countries
['United States', 'Belgium', 'Norway', 'Israel', 'Austria', 'Kuwait', 'Egypt']
Avg publish delay:  142 days 23:02:36.868227892
Data coverage since 1999 (50 countries): 37.7 %
Data coverage since 2013 (30 countries): 73.6 %

                ReportDateTime       Country  Indicator     Period  Value
Period
2009-04-01 2009-09-03 05:00:00        Greece  GDP (YoY) 2009-04-01   -0.3
2009-04-01 2009-09-08 02:00:00       Finland  GDP (YoY) 2009-04-01   -2.6
2009-04-01 2009-09-08 03:00:00       Hungary  GDP (YoY) 2009-04-01   -8.0
2009-04-01 2009-09-08 06:00:00      Portugal  GDP (YoY) 2009-04-01   -3.7
2009-04-01 2009-09-10 03:00:00       Turkiye  GDP (YoY) 2009-04-01   -7.0
...                        ...           ...        ...        ...    ...
2023-07-01 2023-12-05 19:30:00     Australia  GDP (YoY) 2023-07-01    2.1
2023-07-01 2023-12-06 05:00:00        Greece  GDP (YoY) 2023-07-01    2.1
2023-07-01 2023-12-07 01:00:00  Saudi Arabia  GDP (YoY) 2023-07-01   -4.4
2023-07-01 2023-12-07 05:00:00      Eurozone  GDP (YoY) 2023-07-01    0.0
2023-07-01 2023-12-07 18:50:00         Japan  GDP (YoY) 2023-07-01   -2.9

[2861 rows x 5 columns]

## Labour

In [7]:
preprocessor.process_monthly_indicator('Unemployment Rate')

9974 indicators read
Missing countries
['Belgium', 'Ireland', 'India', 'Saudi Arabia', 'Thailand', 'Indonesia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Turkiye', 'Philippines', 'Egypt']
Avg publish delay:  40 days 18:02:08.997526210
Data coverage since 1999 (50 countries): 53.1 %
Data coverage since 2013 (30 countries): 64.2 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
1998-12-01,1999-01-01 04:00:00,United Kingdom,Unemployment Rate,1998-12-01,6.1
1998-12-01,1999-01-01 04:00:00,Canada,Unemployment Rate,1998-12-01,8.1
1998-12-01,1999-01-01 04:00:00,Switzerland,Unemployment Rate,1998-12-01,3.2
1998-12-01,1999-01-01 04:00:00,Germany,Unemployment Rate,1998-12-01,10.8
1998-12-01,1999-01-01 04:00:00,Australia,Unemployment Rate,1998-12-01,7.2
...,...,...,...,...,...
2023-11-01,2023-12-01 08:30:00,Canada,Unemployment Rate,2023-11-01,5.8
2023-11-01,2023-12-07 01:45:00,Switzerland,Unemployment Rate,2023-11-01,2.1
2023-11-01,2023-12-07 23:00:00,Malaysia,Unemployment Rate,2023-11-01,3.4
2023-11-01,2023-12-08 03:00:00,Czechia,Unemployment Rate,2023-11-01,3.5
2023-11-01,2023-12-08 08:30:00,United States,Unemployment Rate,2023-11-01,3.7

## Prices

In [8]:
cpi_mom = preprocessor.process_monthly_indicator('CPI (MoM)')
cpi_mom

12489 indicators read
Missing countries
['Australia', 'New Zealand', 'India', 'Thailand', 'Indonesia', 'Greece', 'Egypt']
Avg publish delay:  37 days 20:07:56.048940614
Data coverage since 1999 (50 countries): 61.3 %
Data coverage since 2013 (30 countries): 79.2 %

                ReportDateTime         Country  Indicator     Period  Value
Period
1998-12-01 1999-01-01 04:00:00  United Kingdom  CPI (MoM) 1998-12-01   0.30
1998-12-01 1999-01-01 04:00:00   United States  CPI (MoM) 1998-12-01   0.20
1998-12-01 1999-01-01 04:00:00          Canada  CPI (MoM) 1998-12-01  -0.30
1998-12-01 1999-01-01 04:00:00          Mexico  CPI (MoM) 1998-12-01   2.44
1998-12-01 1999-01-01 04:00:00          Sweden  CPI (MoM) 1998-12-01  -0.20
...                        ...             ...        ...        ...    ...
2023-11-01 2023-12-07 18:00:00        Colombia  CPI (MoM) 2023-11-01   0.47
2023-11-01 2023-12-08 02:00:00         Germany  CPI (MoM) 2023-11-01  -0.40
2023-11-01 2023-12-08 02:30:00         Hungary  CPI (MoM) 2023-11-01   0.00
2023-11-01 2023-12-08 11:00:00          Russia  CPI (MoM) 2023-11-01   1.10
2023-11-01 2023-12-08 20:30:00           China  CPI (MoM) 2023-11-01  -0.50

[10053 rows x 5 columns]

In [9]:
preprocessor.transform_to_countries_df(cpi_mom, freq='M')

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-01,0.2,NaN,-0.6,0.2,-0.4,0.2,-0.1,NaN,NaN,NaN,...,1.5,-0.33,NaN,0.01,NaN,0.7,NaN,2.21,NaN,8.3
1999-02-01,0.0,NaN,0.2,0.1,0.3,0.3,0.1,NaN,NaN,NaN,...,0.6,0.07,NaN,0.31,NaN,0.0,NaN,1.7,NaN,4.2
1999-03-01,0.1,NaN,0.5,0.4,0.4,0.1,0.0,NaN,NaN,NaN,...,1.0,0.64,NaN,0.61,NaN,0.0,NaN,0.94,NaN,2.8
1999-04-01,0.7,NaN,0.4,0.5,0.3,0.2,0.5,NaN,NaN,NaN,...,0.8,0.38,NaN,0.59,NaN,0.1,NaN,0.78,NaN,3.0
1999-05-01,0.1,NaN,0.3,0.2,0.0,-0.2,0.0,NaN,NaN,NaN,...,0.7,0.12,NaN,0.47,NaN,0.0,NaN,0.48,NaN,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,0.6,0.2,0.3,0.4,1.0,0.2,0.3,NaN,0.4,-0.7,...,0.0,0.1,NaN,0.38,0.7,0.2,NaN,0.7,12.4,0.3
2023-09-01,0.4,0.3,0.5,-0.1,-0.5,-0.1,0.3,NaN,-0.4,-0.3,...,-0.4,0.7,NaN,0.02,0.4,-0.7,NaN,0.54,12.7,0.9
2023-10-01,0.0,NaN,0.0,0.1,0.1,0.1,0.0,NaN,0.4,0.3,...,0.3,0.4,NaN,-0.32,-0.1,0.1,NaN,0.25,8.3,0.8
2023-11-01,NaN,NaN,NaN,NaN,NaN,-0.2,-0.4,NaN,NaN,NaN,...,NaN,0.7,NaN,-0.16,0.0,NaN,NaN,0.47,NaN,1.1
2023-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
preprocessor.process_monthly_indicator('CPI (YoY)')

17283 indicators read
Missing countries
['Indonesia', 'Chile', 'Peru']
Avg publish delay:  37 days 20:45:06.311627907
Data coverage since 1999 (50 countries): 79.3 %
Data coverage since 2013 (30 countries): 85.1 %

                ReportDateTime         Country  Indicator     Period  Value
Period
1998-12-01 1999-01-01 04:00:00  United Kingdom  CPI (YoY) 1998-12-01   1.60
1998-12-01 1999-01-01 04:00:00   United States  CPI (YoY) 1998-12-01   1.60
1998-12-01 1999-01-01 04:00:00          Canada  CPI (YoY) 1998-12-01   1.00
1998-12-01 1999-01-01 04:00:00          Mexico  CPI (YoY) 1998-12-01  18.61
1998-12-01 1999-01-01 04:00:00          Sweden  CPI (YoY) 1998-12-01  -1.10
...                        ...             ...        ...        ...    ...
2023-11-01 2023-12-08 02:00:00         Germany  CPI (YoY) 2023-11-01   3.20
2023-11-01 2023-12-08 02:30:00         Hungary  CPI (YoY) 2023-11-01   7.90
2023-11-01 2023-12-08 05:00:00          Greece  CPI (YoY) 2023-11-01   3.00
2023-11-01 2023-12-08 11:00:00          Russia  CPI (YoY) 2023-11-01   7.50
2023-11-01 2023-12-08 20:30:00           China  CPI (YoY) 2023-11-01  -0.50

[12900 rows x 5 columns]

In [11]:
preprocessor.process_monthly_indicator('PPI (MoM)')

4510 indicators read
Missing countries
['United Kingdom', 'Canada', 'Australia', 'Netherlands', 'Denmark', 'Spain', 'Hong Kong', 'Singapore', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'New Zealand', 'Portugal', 'China', 'Taiwan', 'India', 'Saudi Arabia', 'Thailand', 'Indonesia', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Philippines', 'Poland', 'Chile', 'Greece', 'Peru', 'Hungary', 'Egypt', 'Colombia', 'Argentina']
Avg publish delay:  40 days 00:54:00.760248447
Data coverage since 1999 (50 countries): 26.0 %
Data coverage since 2013 (30 countries): 39.7 %

                ReportDateTime       Country  Indicator     Period  Value
Period
1998-12-01 1999-01-01 04:00:00        Sweden  PPI (MoM) 1998-12-01   0.00
1998-12-01 1999-01-01 04:00:00         Italy  PPI (MoM) 1998-12-01  -0.20
1998-12-01 1999-01-01 04:00:00         Korea  PPI (MoM) 1998-12-01  -0.60
1998-12-01 1999-01-01 04:00:00   Switzerland  PPI (MoM) 1998-12-01  -0.20
1998-12-01 1999-01-01 04:00:00       Germany  PPI (MoM) 1998-12-01  -0.10
...                        ...           ...        ...        ...    ...
2023-10-01 2023-11-30 03:00:00       Austria  PPI (MoM) 2023-10-01  -0.20
2023-10-01 2023-11-30 04:30:00  South Africa  PPI (MoM) 2023-10-01   1.00
2023-11-01 2023-12-04 02:00:00       Turkiye  PPI (MoM) 2023-11-01   2.81
2023-11-01 2023-12-05 05:00:00      Eurozone  PPI (MoM) 2023-11-01   0.20
2023-11-01 2023-12-07 07:00:00        Mexico  PPI (MoM) 2023-11-01  -0.40

[4025 rows x 5 columns]

In [12]:
preprocessor.process_monthly_indicator('PPI (YoY)')

5907 indicators read
Missing countries
['United Kingdom', 'Canada', 'Netherlands', 'Denmark', 'Singapore', 'Belgium', 'Israel', 'Ireland', 'New Zealand', 'Portugal', 'Taiwan', 'India', 'Brazil', 'Saudi Arabia', 'Thailand', 'Indonesia', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Chile', 'Peru', 'Egypt', 'Colombia', 'Argentina']
Avg publish delay:  39 days 13:59:15.560439560
Data coverage since 1999 (50 countries): 35.5 %
Data coverage since 2013 (30 countries): 49.6 %

                ReportDateTime      Country  Indicator     Period  Value
Period
1998-12-01 1999-01-01 04:00:00       Sweden  PPI (YoY) 1998-12-01  -1.73
1998-12-01 1999-01-01 04:00:00        Italy  PPI (YoY) 1998-12-01  -1.40
1998-12-01 1999-01-01 04:00:00        Korea  PPI (YoY) 1998-12-01   3.60
1998-12-01 1999-01-01 04:00:00  Switzerland  PPI (YoY) 1998-12-01  -3.10
1998-12-01 1999-01-01 04:00:00      Germany  PPI (YoY) 1998-12-01  -2.00
...                        ...          ...        ...        ...    ...
2023-10-01 2023-11-30 05:00:00       Greece  PPI (YoY) 2023-10-01 -13.50
2023-11-01 2023-12-04 02:00:00      Turkiye  PPI (YoY) 2023-11-01  42.25
2023-11-01 2023-12-05 05:00:00     Eurozone  PPI (YoY) 2023-11-01  -9.40
2023-11-01 2023-12-07 07:00:00       Mexico  PPI (YoY) 2023-11-01   1.20
2023-11-01 2023-12-08 20:30:00        China  PPI (YoY) 2023-11-01  -3.00

[5460 rows x 5 columns]

In [13]:
preprocessor.process_monthly_indicator('Core CPI (MoM)')

1772 indicators read
Missing countries
['Japan', 'France', 'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark', 'Sweden', 'Spain', 'Hong Kong', 'Italy', 'Singapore', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'Taiwan', 'India', 'Korea', 'Brazil', 'Saudi Arabia', 'Thailand', 'Indonesia', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Turkiye', 'Philippines', 'Poland', 'Greece', 'Peru', 'Hungary', 'Czechia', 'Egypt', 'Colombia', 'Argentina', 'Russia']
Avg publish delay:  38 days 13:22:20.079006772
Data coverage since 1999 (50 countries): 11.5 %
Data coverage since 2013 (30 countries): 14.4 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
1998-12-01,1999-01-01 04:00:00,United States,Core CPI (MoM),1998-12-01,0.30
1998-12-01,1999-01-01 04:00:00,Canada,Core CPI (MoM),1998-12-01,-0.20
1998-12-01,1999-01-01 04:00:00,Mexico,Core CPI (MoM),1998-12-01,1.56
1998-12-01,1999-01-01 04:00:00,Eurozone,Core CPI (MoM),1998-12-01,0.10
1998-12-01,1999-01-01 04:00:00,Chile,Core CPI (MoM),1998-12-01,0.60
...,...,...,...,...,...
2023-10-01,2023-11-21 08:30:00,Canada,Core CPI (MoM),2023-10-01,0.30
2023-10-01,2023-11-22 03:00:00,South Africa,Core CPI (MoM),2023-10-01,0.40
2023-10-01,2023-11-30 05:00:00,Eurozone,Core CPI (MoM),2023-10-01,-0.60
2023-11-01,2023-12-07 06:00:00,Chile,Core CPI (MoM),2023-11-01,0.70
2023-11-01,2023-12-07 07:00:00,Mexico,Core CPI (MoM),2023-11-01,0.26

In [14]:
preprocessor.process_monthly_indicator('Core CPI (YoY)')

3414 indicators read
Missing countries
['France', 'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark', 'Sweden', 'Hong Kong', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'Taiwan', 'India', 'Korea', 'Brazil', 'Saudi Arabia', 'Mexico', 'Indonesia', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Turkiye', 'Chile', 'Greece', 'Peru', 'Czechia', 'Colombia', 'Argentina', 'Russia']
Avg publish delay:  39 days 05:24:16.527777778
Data coverage since 1999 (50 countries): 19.1 %
Data coverage since 2013 (30 countries): 19.4 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
1998-12-01,1999-01-01 04:00:00,Thailand,Core CPI (YoY),1998-12-01,4.95
1998-12-01,1999-01-01 04:00:00,Hungary,Core CPI (YoY),1998-12-01,11.50
1998-12-01,1999-01-01 04:00:00,United States,Core CPI (YoY),1998-12-01,2.40
1998-12-01,1999-01-01 04:00:00,Canada,Core CPI (YoY),1998-12-01,1.30
1998-12-01,1999-01-01 04:00:00,Japan,Core CPI (YoY),1998-12-01,-0.30
...,...,...,...,...,...
2023-10-01,2023-11-23 18:30:00,Japan,Core CPI (YoY),2023-10-01,2.90
2023-10-01,2023-11-30 05:00:00,Eurozone,Core CPI (YoY),2023-10-01,3.60
2023-11-01,2023-12-04 20:00:00,Philippines,Core CPI (YoY),2023-11-01,4.70
2023-11-01,2023-12-06 22:00:00,Thailand,Core CPI (YoY),2023-11-01,0.58
2023-11-01,2023-12-08 02:30:00,Hungary,Core CPI (YoY),2023-11-01,9.10

## Trade

In [15]:
preprocessor.process_monthly_indicator('Trade Balance', 'Trade Balance (MoM)', pct_value=False)

13059 indicators read
Missing countries
['Belgium', 'Ireland', 'Saudi Arabia', 'Thailand', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Poland', 'Greece', 'Hungary', 'Egypt', 'Colombia']
Avg publish delay:  38 days 16:15:46.207240450
Data coverage since 1999 (50 countries): 64.9 %
Data coverage since 2013 (30 countries): 81.3 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
1998-12-01,1999-01-01 04:00:00,United Kingdom,Trade Balance,1998-12-01,-1.940000e+09
1998-12-01,1999-01-01 04:00:00,United States,Trade Balance,1998-12-01,-1.470000e+10
1998-12-01,1999-01-01 04:00:00,Canada,Trade Balance,1998-12-01,2.350000e+09
1998-12-01,1999-01-01 04:00:00,Mexico,Trade Balance,1998-12-01,-8.100000e+08
1998-12-01,1999-01-01 04:00:00,Sweden,Trade Balance,1998-12-01,1.140000e+10
...,...,...,...,...,...
2023-11-01,2023-12-07 02:00:00,Finland,Trade Balance,2023-11-01,2.000000e+07
2023-11-01,2023-12-07 02:45:00,France,Trade Balance,2023-11-01,-8.600000e+09
2023-11-01,2023-12-07 03:00:00,Austria,Trade Balance,2023-11-01,1.956000e+08
2023-11-01,2023-12-07 06:30:00,Chile,Trade Balance,2023-11-01,1.290000e+09
2023-11-01,2023-12-08 03:00:00,Taiwan,Trade Balance,2023-11-01,9.800000e+09

In [16]:
preprocessor.process_monthly_indicator('Current Account', pct_value=False)

4351 indicators read
Missing countries
['Japan', 'Switzerland', 'Germany', 'Netherlands', 'Spain', 'Hong Kong', 'Italy', 'Singapore', 'Belgium', 'Israel', 'Ireland', 'New Zealand', 'Austria', 'China', 'Taiwan', 'India', 'Brazil', 'Saudi Arabia', 'Mexico', 'Thailand', 'Indonesia', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Turkiye', 'Philippines', 'Poland', 'Chile', 'Greece', 'Peru', 'Hungary', 'Egypt', 'Colombia', 'Argentina', 'Russia']
Avg publish delay:  41 days 07:19:09.210360076
Data coverage since 1999 (50 countries): 10.5 %
Data coverage since 2013 (30 countries): 13.6 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
1998-12-01,1999-01-01 04:00:00,Korea,Current Account,1998-12-01,3.260000e+09
1999-01-01,1999-02-01 04:00:00,Korea,Current Account,1999-01-01,2.550000e+09
1999-01-01,1999-02-01 04:00:00,Eurozone,Current Account,1999-01-01,-1.590000e+10
1999-02-01,1999-03-01 04:00:00,Korea,Current Account,1999-02-01,2.570000e+09
1999-03-01,1999-04-01 04:00:00,Korea,Current Account,1999-03-01,1.900000e+09
...,...,...,...,...,...
2023-11-01,2023-12-05 02:00:00,Sweden,Current Account,2023-11-01,1.174000e+11
2023-11-01,2023-12-06 02:00:00,Norway,Current Account,2023-11-01,1.930000e+11
2023-11-01,2023-12-07 02:45:00,France,Current Account,2023-11-01,-2.900000e+09
2023-11-01,2023-12-07 04:00:00,South Africa,Current Account,2023-11-01,-1.930000e+10
2023-11-01,2023-12-07 18:00:00,Korea,Current Account,2023-11-01,6.800000e+09

## Bussiness

In [17]:
manufacturing_pmi = preprocessor.process_pmi_indicator('Manufacturing PMI', 'procure.ch PMI')
manufacturing_pmi

6696 indicators read
Missing countries
['Netherlands', 'Singapore', 'Finland', 'Belgium', 'Israel', 'New Zealand', 'Portugal', 'Saudi Arabia', 'Thailand', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Chile', 'Peru', 'Czechia', 'Egypt', 'Colombia', 'Argentina']
Avg publish delay:  29 days 10:29:27.343962008
Data coverage since 1999 (50 countries): 31.8 %
Data coverage since 2013 (30 countries): 77.1 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
1998-12-01,1999-01-01 04:00:00,Sweden,Manufacturing PMI,1998-12-01,44.1
1998-12-01,1999-01-01 04:00:00,Switzerland,Manufacturing PMI,1998-12-01,51.4
1998-12-01,1999-01-01 04:00:00,Hungary,Manufacturing PMI,1998-12-01,47.7
1999-01-01,1999-02-01 04:00:00,Hungary,Manufacturing PMI,1999-01-01,57.3
1999-01-01,1999-02-01 04:00:00,Sweden,Manufacturing PMI,1999-01-01,48.0
...,...,...,...,...,...
2023-11-01,2023-12-01 08:00:00,Brazil,Manufacturing PMI,2023-11-01,49.4
2023-11-01,2023-12-01 09:30:00,Canada,Manufacturing PMI,2023-11-01,47.7
2023-11-01,2023-12-01 09:45:00,United States,Manufacturing PMI,2023-11-01,49.4
2023-11-01,2023-12-01 10:00:00,Mexico,Manufacturing PMI,2023-11-01,52.5
2023-11-01,2023-12-04 19:30:00,Hong Kong,Manufacturing PMI,2023-11-01,50.1

In [18]:
df = preprocessor.transform_to_countries_df(manufacturing_pmi, freq='M')
df

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-01,NaN,NaN,NaN,NaN,NaN,46.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,57.3,NaN,NaN,NaN,NaN,NaN
1999-02-01,NaN,NaN,NaN,NaN,NaN,48.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,56.7,NaN,NaN,NaN,NaN,NaN
1999-03-01,NaN,NaN,NaN,NaN,NaN,48.7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,51.4,NaN,NaN,NaN,NaN,NaN
1999-04-01,NaN,NaN,NaN,NaN,NaN,51.2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,49.5,NaN,NaN,NaN,NaN,NaN
1999-05-01,NaN,NaN,NaN,NaN,NaN,51.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,50.3,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,47.0,49.7,42.5,48.0,46.4,39.9,39.1,49.4,NaN,NaN,...,43.1,NaN,52.9,NaN,46.5,NaN,NaN,NaN,NaN,52.7
2023-09-01,48.9,48.6,44.2,47.5,43.6,44.9,39.8,48.2,NaN,NaN,...,43.9,NaN,50.3,NaN,47.4,NaN,NaN,NaN,NaN,54.5
2023-10-01,50.0,48.5,45.2,48.6,42.6,40.6,40.7,48.0,NaN,NaN,...,44.5,NaN,50.8,NaN,50.5,NaN,NaN,NaN,NaN,53.8
2023-11-01,49.4,48.1,46.7,47.7,42.6,42.1,42.3,47.7,NaN,NaN,...,48.7,NaN,50.9,NaN,52.2,NaN,NaN,NaN,NaN,53.8
2023-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
preprocessor.process_pmi_indicator('Services PMI')

2983 indicators read
Missing countries
['Canada', 'Switzerland', 'Netherlands', 'Denmark', 'Hong Kong', 'Singapore', 'Finland', 'Belgium', 'Norway', 'Israel', 'New Zealand', 'Austria', 'Portugal', 'Taiwan', 'Korea', 'Saudi Arabia', 'South Africa', 'Mexico', 'Thailand', 'Indonesia', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Turkiye', 'Philippines', 'Poland', 'Chile', 'Greece', 'Peru', 'Hungary', 'Czechia', 'Egypt', 'Colombia', 'Argentina']
Avg publish delay:  30 days 04:10:49.379818974
Data coverage since 1999 (50 countries): 14.6 %
Data coverage since 2013 (30 countries): 42.5 %

                ReportDateTime         Country     Indicator     Period  Value
Period
2006-01-01 2006-02-01 04:00:00          Sweden  Services PMI 2006-01-01   59.0
2006-02-01 2006-03-01 04:00:00          Sweden  Services PMI 2006-02-01   58.5
2006-03-01 2006-04-01 04:00:00          Sweden  Services PMI 2006-03-01   62.2
2006-04-01 2006-05-01 04:00:00          Sweden  Services PMI 2006-04-01   56.8
2006-05-01 2006-06-01 04:00:00          Sweden  Services PMI 2006-05-01   60.5
...                        ...             ...           ...        ...    ...
2023-11-01 2023-12-05 03:55:00         Germany  Services PMI 2023-11-01   49.6
2023-11-01 2023-12-05 04:00:00        Eurozone  Services PMI 2023-11-01   48.7
2023-11-01 2023-12-05 04:30:00  United Kingdom  Services PMI 2023-11-01   50.9
2023-11-01 2023-12-05 08:00:00          Brazil  Services PMI 2023-11-01   51.2
2023-11-01 2023-12-05 09:45:00   United States  Services PMI 2023-11-01   50.8

[2983 rows x 5 columns]

In [20]:
preprocessor.process_pmi_indicator('Composite PMI')

1544 indicators read
Missing countries
['Japan', 'Canada', 'Switzerland', 'Australia', 'Netherlands', 'Denmark', 'Sweden', 'Spain', 'Hong Kong', 'Singapore', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'New Zealand', 'Austria', 'Portugal', 'Taiwan', 'India', 'Korea', 'South Africa', 'Mexico', 'Thailand', 'Indonesia', 'Malaysia', 'Qatar', 'Kuwait', 'Turkiye', 'Philippines', 'Poland', 'Chile', 'Greece', 'Peru', 'Hungary', 'Czechia', 'Egypt', 'Colombia', 'Argentina', 'Russia']
Avg publish delay:  29 days 21:23:50.984455958
Data coverage since 1999 (50 countries): 7.2 %
Data coverage since 2013 (30 countries): 19.6 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
2012-03-01,2012-04-04 02:48:00,France,Composite PMI,2012-03-01,48.7
2012-04-01,2012-05-04 02:48:00,France,Composite PMI,2012-04-01,45.9
2012-05-01,2012-06-05 02:48:00,France,Composite PMI,2012-05-01,44.6
2012-06-01,2012-07-01 04:00:00,United States,Composite PMI,2012-06-01,53.2
2012-06-01,2012-07-01 04:00:00,Germany,Composite PMI,2012-06-01,48.1
...,...,...,...,...,...
2023-11-01,2023-12-05 04:00:00,Eurozone,Composite PMI,2023-11-01,47.6
2023-11-01,2023-12-05 04:30:00,United Kingdom,Composite PMI,2023-11-01,50.7
2023-11-01,2023-12-05 08:00:00,Brazil,Composite PMI,2023-11-01,50.7
2023-11-01,2023-12-05 09:45:00,United States,Composite PMI,2023-11-01,50.7
2023-11-01,2023-12-05 23:15:00,United Arab Emirates,Composite PMI,2023-11-01,57.0

In [21]:
preprocessor.process_pmi_indicator('Construction PMI')

286 indicators read
Missing countries
['United States', 'Japan', 'Canada', 'Switzerland', 'Australia', 'Netherlands', 'Denmark', 'Sweden', 'Spain', 'Hong Kong', 'Singapore', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'Taiwan', 'India', 'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico', 'Thailand', 'Indonesia', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Turkiye', 'Philippines', 'Poland', 'Chile', 'Greece', 'Peru', 'Hungary', 'Czechia', 'Egypt', 'Colombia', 'Argentina', 'Russia']
Avg publish delay:  33 days 20:27:03.776223776
Data coverage since 1999 (50 countries): 1.9 %
Data coverage since 2013 (30 countries): 5.3 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
2008-02-01,2008-03-04 04:30:00,United Kingdom,Construction PMI,2008-02-01,52.4
2008-03-01,2008-04-02 03:30:00,United Kingdom,Construction PMI,2008-03-01,47.2
2008-04-01,2008-05-02 03:30:00,United Kingdom,Construction PMI,2008-04-01,46.1
2008-05-01,2008-06-03 04:30:00,United Kingdom,Construction PMI,2008-05-01,43.9
2008-06-01,2008-07-02 03:30:00,United Kingdom,Construction PMI,2008-06-01,38.8
...,...,...,...,...,...
2023-11-01,2023-12-06 03:30:00,Italy,Construction PMI,2023-11-01,52.9
2023-11-01,2023-12-06 03:30:00,Germany,Construction PMI,2023-11-01,36.2
2023-11-01,2023-12-06 03:30:00,France,Construction PMI,2023-11-01,44.6
2023-11-01,2023-12-06 03:30:00,Eurozone,Construction PMI,2023-11-01,43.4
2023-11-01,2023-12-06 04:30:00,United Kingdom,Construction PMI,2023-11-01,45.5

In [22]:
preprocessor.process_monthly_indicator('Industrial Production (MoM)', 'Industrial Output (MoM)')

4344 indicators read
Missing countries
['Canada', 'Switzerland', 'Australia', 'Netherlands', 'Spain', 'Hong Kong', 'Finland', 'Belgium', 'Norway', 'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'Taiwan', 'India', 'Saudi Arabia', 'South Africa', 'Thailand', 'Indonesia', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Philippines', 'Poland', 'Chile', 'Greece', 'Peru', 'Hungary', 'Czechia', 'Egypt', 'Colombia', 'Argentina', 'Russia']
Avg publish delay:  37 days 19:59:34.834254143
Data coverage since 1999 (50 countries): 27.6 %
Data coverage since 2013 (30 countries): 35.9 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
1998-12-01,1999-01-01 04:00:00,United Kingdom,Industrial Production (MoM),1998-12-01,0.30
1998-12-01,1999-01-01 04:00:00,United States,Industrial Production (MoM),1998-12-01,0.40
1998-12-01,1999-01-01 04:00:00,Mexico,Industrial Production (MoM),1998-12-01,0.67
1998-12-01,1999-01-01 04:00:00,Italy,Industrial Production (MoM),1998-12-01,-2.30
1998-12-01,1999-01-01 04:00:00,Korea,Industrial Production (MoM),1998-12-01,2.30
...,...,...,...,...,...
2023-11-01,2023-12-05 02:45:00,France,Industrial Production (MoM),2023-11-01,-0.30
2023-11-01,2023-12-07 02:00:00,Germany,Industrial Production (MoM),2023-11-01,-0.40
2023-11-01,2023-12-07 04:00:00,Italy,Industrial Production (MoM),2023-11-01,-0.20
2023-11-01,2023-12-08 02:00:00,Sweden,Industrial Production (MoM),2023-11-01,-0.30
2023-11-01,2023-12-08 02:00:00,Denmark,Industrial Production (MoM),2023-11-01,1.30

In [23]:
preprocessor.process_monthly_indicator('Industrial Production (YoY)', 'Industrial Output (YoY)')

6536 indicators read
Missing countries
['Japan', 'Canada', 'France', 'Australia', 'Netherlands', 'Denmark', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'New Zealand', 'Portugal', 'Saudi Arabia', 'South Africa', 'Indonesia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Chile', 'Peru', 'Egypt']
Avg publish delay:  38 days 05:16:44.917380661
Data coverage since 1999 (50 countries): 42.5 %
Data coverage since 2013 (30 countries): 50.3 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
1998-12-01,1999-01-01 04:00:00,United Kingdom,Industrial Production (YoY),1998-12-01,0.40
1998-12-01,1999-01-01 04:00:00,Mexico,Industrial Production (YoY),1998-12-01,3.65
1998-12-01,1999-01-01 04:00:00,Italy,Industrial Production (YoY),1998-12-01,-6.00
1998-12-01,1999-01-01 04:00:00,Korea,Industrial Production (YoY),1998-12-01,6.60
1998-12-01,1999-01-01 04:00:00,Spain,Industrial Production (YoY),1998-12-01,5.20
...,...,...,...,...,...
2023-11-01,2023-12-07 03:00:00,Czechia,Industrial Production (YoY),2023-11-01,1.90
2023-11-01,2023-12-07 04:00:00,Italy,Industrial Production (YoY),2023-11-01,-1.10
2023-11-01,2023-12-07 14:00:00,Argentina,Industrial Production (YoY),2023-11-01,-0.80
2023-11-01,2023-12-08 02:00:00,Sweden,Industrial Production (YoY),2023-11-01,-1.10
2023-11-01,2023-12-08 05:00:00,Greece,Industrial Production (YoY),2023-11-01,10.50

## Consumer

In [24]:
preprocessor.process_monthly_indicator('Retail Sales (MoM)')

5130 indicators read
Missing countries
['Japan', 'France', 'Switzerland', 'Netherlands', 'Denmark', 'Spain', 'Hong Kong', 'Finland', 'Belgium', 'Norway', 'Israel', 'Austria', 'Portugal', 'China', 'Taiwan', 'India', 'Saudi Arabia', 'South Africa', 'Thailand', 'Indonesia', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Philippines', 'Poland', 'Chile', 'Greece', 'Peru', 'Hungary', 'Czechia', 'Egypt', 'Colombia', 'Argentina', 'Russia']
Avg publish delay:  40 days 03:34:46.041189931
Data coverage since 1999 (50 countries): 25.3 %
Data coverage since 2013 (30 countries): 36.0 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
1998-12-01,1999-01-01 04:00:00,United Kingdom,Retail Sales (MoM),1998-12-01,-0.7
1998-12-01,1999-01-01 04:00:00,United States,Retail Sales (MoM),1998-12-01,0.9
1998-12-01,1999-01-01 04:00:00,Canada,Retail Sales (MoM),1998-12-01,-0.5
1998-12-01,1999-01-01 04:00:00,Sweden,Retail Sales (MoM),1998-12-01,-1.0
1998-12-01,1999-01-01 04:00:00,Germany,Retail Sales (MoM),1998-12-01,-2.2
...,...,...,...,...,...
2023-10-01,2023-11-30 02:00:00,Germany,Retail Sales (MoM),2023-10-01,1.1
2023-11-01,2023-12-03 20:00:00,Australia,Retail Sales (MoM),2023-11-01,-0.2
2023-11-01,2023-12-05 00:00:00,Singapore,Retail Sales (MoM),2023-11-01,-0.8
2023-11-01,2023-12-06 05:00:00,Eurozone,Retail Sales (MoM),2023-11-01,0.1
2023-11-01,2023-12-07 05:00:00,Italy,Retail Sales (MoM),2023-11-01,0.4

In [25]:
preprocessor.process_monthly_indicator('Retail Sales (YoY)')

7498 indicators read
Missing countries
['Canada', 'France', 'Australia', 'Finland', 'Belgium', 'Norway', 'Israel', 'Austria', 'Portugal', 'Taiwan', 'India', 'Korea', 'Saudi Arabia', 'Thailand', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Philippines', 'Peru', 'Egypt']
Avg publish delay:  39 days 19:50:18.869287401
Data coverage since 1999 (50 countries): 46.5 %
Data coverage since 2013 (30 countries): 55.1 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
1998-12-01,1999-01-01 04:00:00,United Kingdom,Retail Sales (YoY),1998-12-01,-0.30
1998-12-01,1999-01-01 04:00:00,Sweden,Retail Sales (YoY),1998-12-01,3.70
1998-12-01,1999-01-01 04:00:00,Germany,Retail Sales (YoY),1998-12-01,2.10
1998-12-01,1999-01-01 04:00:00,Netherlands,Retail Sales (YoY),1998-12-01,7.84
1998-12-01,1999-01-01 04:00:00,Japan,Retail Sales (YoY),1998-12-01,0.70
...,...,...,...,...,...
2023-11-01,2023-12-05 00:00:00,Singapore,Retail Sales (YoY),2023-11-01,-0.10
2023-11-01,2023-12-06 02:30:00,Hungary,Retail Sales (YoY),2023-11-01,-6.50
2023-11-01,2023-12-06 03:00:00,Czechia,Retail Sales (YoY),2023-11-01,0.80
2023-11-01,2023-12-06 05:00:00,Eurozone,Retail Sales (YoY),2023-11-01,-1.20
2023-11-01,2023-12-07 05:00:00,Italy,Retail Sales (YoY),2023-11-01,0.30

In [26]:
preprocessor.process_monthly_indicator('Consumer Confidence', 'Consumer confidence')

6092 indicators read
Missing countries
['Japan', 'Canada', 'Switzerland', 'Germany', 'Australia', 'Hong Kong', 'Singapore', 'Israel', 'New Zealand', 'Austria', 'China', 'Taiwan', 'India', 'Saudi Arabia', 'South Africa', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Philippines', 'Poland', 'Chile', 'Greece', 'Peru', 'Hungary', 'Czechia', 'Egypt', 'Colombia', 'Argentina', 'Russia']
Avg publish delay:  41 days 06:51:18.719546742
Data coverage since 1999 (50 countries): 33.9 %
Data coverage since 2013 (30 countries): 44.1 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
1998-12-01,1999-01-01 04:00:00,United Kingdom,Consumer Confidence,1998-12-01,-8.0
1998-12-01,1999-01-01 04:00:00,United States,Consumer Confidence,1998-12-01,126.7
1998-12-01,1999-01-01 04:00:00,Sweden,Consumer Confidence,1998-12-01,101.0
1998-12-01,1999-01-01 04:00:00,Italy,Consumer Confidence,1998-12-01,111.2
1998-12-01,1999-01-01 04:00:00,Netherlands,Consumer Confidence,1998-12-01,9.0
...,...,...,...,...,...
2023-10-01,2023-11-29 04:30:00,Portugal,Consumer Confidence,2023-10-01,-28.2
2023-10-01,2023-11-29 05:00:00,Eurozone,Consumer Confidence,2023-10-01,-16.9
2023-11-01,2023-12-06 07:00:00,Mexico,Consumer Confidence,2023-11-01,47.3
2023-11-01,2023-12-06 23:00:00,Thailand,Consumer Confidence,2023-11-01,60.9
2023-11-01,2023-12-07 22:00:00,Indonesia,Consumer Confidence,2023-11-01,123.6