In [1]:
from InvestingCalendarPreprocessor import InvestingCalendarPreprocessor
preprocessor = InvestingCalendarPreprocessor()

## Indicador's exploration

In [2]:
preprocessor.explore_indicators(year=2020, thres=10)

17965 indicators read
CPI (YoY) 629 , 46
CPI (MoM) 508 , 35
Trade Balance 445 , 35
Unemployment Rate 433 , 38
Manufacturing PMI 432 , 28
Retail Sales (YoY) 357 , 29
Industrial Production (YoY) 277 , 23
PPI (YoY) 267 , 22
GDP (YoY) 265 , 39
Services PMI 251 , 14
GDP (QoQ) 243 , 34
Consumer Confidence 233 , 19
PPI (MoM) 192 , 15
Retail Sales (MoM) 190 , 15
Composite PMI 185 , 10
Interest Rate Decision 176 , 20
Industrial Production (MoM) 168 , 13
Core CPI (YoY) 142 , 11
Current Account 100 , 13

In [3]:
df_grouped = preprocessor.get_count_by_country_and_month()
df_grouped.to_csv('count_by_country_and_month.csv')
df_grouped

14858 indicators read

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-01,107,25,40,28,11,10,26,19,6,4,...,8,3,3,2,6,6,3,6,3,6
1999-02-01,95,24,40,28,11,10,26,19,6,4,...,8,3,3,2,8,6,3,6,3,6
1999-03-01,109,24,40,28,12,10,26,19,6,4,...,8,3,3,2,8,6,3,6,3,6
1999-04-01,109,25,40,28,12,10,26,19,6,4,...,8,3,3,2,8,6,3,6,3,6
1999-05-01,107,24,40,29,12,10,26,19,6,4,...,8,3,3,2,8,6,3,6,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,370,83,87,46,51,42,68,46,14,15,...,22,13,9,7,18,21,6,11,10,30
2023-09-01,354,82,87,56,48,42,61,44,14,19,...,19,12,11,5,19,23,6,10,14,24
2023-10-01,343,86,80,47,51,38,60,58,12,12,...,19,12,8,4,17,20,5,10,9,18
2023-11-01,353,77,89,50,53,26,67,46,14,16,...,23,13,10,7,18,19,6,11,9,29
2023-12-01,357,90,83,49,40,21,35,45,12,12,...,17,11,10,5,18,23,6,9,14,28

## GDP

In [4]:
gdp_qoq = preprocessor.process_quaterly_indicator('GDP (QoQ)', 'GDP Annualized (QoQ)')
gdp_qoq

3200 indicators read
Missing countries
['Taiwan', 'India', 'Saudi Arabia', 'Malaysia', 'United Arab Emirates', 'Kuwait', 'Turkiye', 'Chile', 'Peru', 'Hungary', 'Egypt', 'Argentina', 'Russia']
Avg publish delay:  142 days 16:31:59.205298012
Data coverage since 1999 (50 countries): 36.1 %
Data coverage since 2013 (30 countries): 76.1 %

                ReportDateTime         Country  Indicator     Period  Value
Period
2007-10-01 2008-02-13 18:50:00           Japan  GDP (QoQ) 2007-10-01    0.0
2007-10-01 2008-02-13 21:00:00         Germany  GDP (QoQ) 2007-10-01    0.3
2007-10-01 2008-02-13 21:45:00          France  GDP (QoQ) 2007-10-01    0.3
2007-10-01 2008-02-14 00:00:00        Eurozone  GDP (QoQ) 2007-10-01    0.0
2007-10-01 2008-02-26 02:00:00         Germany  GDP (QoQ) 2007-10-01    0.3
...                        ...             ...        ...        ...    ...
2023-07-01 2023-12-22 00:30:00     Netherlands  GDP (QoQ) 2023-07-01   -0.3
2023-07-01 2023-12-22 02:00:00  United Kingdom  GDP (QoQ) 2023-07-01   -0.1
2023-07-01 2023-12-22 02:00:00         Denmark  GDP (QoQ) 2023-07-01   -0.7
2023-07-01 2023-12-22 03:00:00           Spain  GDP (QoQ) 2023-07-01    0.3
2023-10-01 2024-01-01 19:00:00       Singapore  GDP (QoQ) 2023-10-01    1.7

[3171 rows x 5 columns]

In [5]:
df = preprocessor.transform_to_countries_df(gdp_qoq, freq='Q')
df

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-01,2.9,0.2,0.0,0.0,0.1,0.0,-0.2,0.5,0.6,0.9,...,-2.4,NaN,1.4,NaN,NaN,-0.2,NaN,0.7,NaN,NaN
2023-01-01,1.1,0.4,0.1,0.8,0.2,0.3,-0.1,0.2,-0.7,0.3,...,3.9,NaN,-0.1,NaN,NaN,0.1,NaN,1.4,NaN,NaN
2023-04-01,2.4,1.5,0.2,0.0,0.5,0.0,0.0,0.4,-0.3,0.2,...,-3.7,NaN,1.3,NaN,NaN,0.1,NaN,-1.0,NaN,NaN
2023-07-01,4.9,-0.5,0.0,-0.3,0.1,0.3,-0.1,0.2,-0.2,-0.3,...,1.4,NaN,0.0,NaN,NaN,-0.3,NaN,0.2,NaN,NaN
2023-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
preprocessor.process_quaterly_indicator('GDP (YoY)', 'GDP Quarterly (YoY)')

3253 indicators read
Missing countries
['United States', 'Belgium', 'Norway', 'Israel', 'Austria', 'Kuwait', 'Egypt']
Avg publish delay:  143 days 00:14:58.326943186
Data coverage since 1999 (50 countries): 37.8 %
Data coverage since 2013 (30 countries): 73.6 %

                ReportDateTime         Country  Indicator     Period  Value
Period
2009-04-01 2009-09-03 05:00:00          Greece  GDP (YoY) 2009-04-01   -0.3
2009-04-01 2009-09-08 02:00:00         Finland  GDP (YoY) 2009-04-01   -2.6
2009-04-01 2009-09-08 03:00:00         Hungary  GDP (YoY) 2009-04-01   -8.0
2009-04-01 2009-09-08 06:00:00        Portugal  GDP (YoY) 2009-04-01   -3.7
2009-04-01 2009-09-10 03:00:00         Turkiye  GDP (YoY) 2009-04-01   -7.0
...                        ...             ...        ...        ...    ...
2023-07-01 2023-12-22 00:30:00     Netherlands  GDP (YoY) 2023-07-01   -0.8
2023-07-01 2023-12-22 02:00:00  United Kingdom  GDP (YoY) 2023-07-01    0.3
2023-07-01 2023-12-22 02:00:00         Denmark  GDP (YoY) 2023-07-01   -0.3
2023-07-01 2023-12-22 03:00:00           Spain  GDP (YoY) 2023-07-01    1.8
2023-10-01 2024-01-01 19:00:00       Singapore  GDP (YoY) 2023-10-01    2.8

[2869 rows x 5 columns]

## Labour

In [7]:
preprocessor.process_monthly_indicator('Unemployment Rate')

10005 indicators read
Missing countries
['Belgium', 'Ireland', 'India', 'Saudi Arabia', 'Thailand', 'Indonesia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Turkiye', 'Philippines', 'Egypt']
Avg publish delay:  40 days 18:31:08.947862846
Data coverage since 1999 (50 countries): 53.3 %
Data coverage since 2013 (30 countries): 64.6 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
1998-12-01,1999-01-01 04:00:00,United Kingdom,Unemployment Rate,1998-12-01,6.1
1998-12-01,1999-01-01 04:00:00,Canada,Unemployment Rate,1998-12-01,8.1
1998-12-01,1999-01-01 04:00:00,Switzerland,Unemployment Rate,1998-12-01,3.2
1998-12-01,1999-01-01 04:00:00,Germany,Unemployment Rate,1998-12-01,10.8
1998-12-01,1999-01-01 04:00:00,Australia,Unemployment Rate,1998-12-01,7.2
...,...,...,...,...,...
2023-11-01,2023-12-29 07:00:00,Brazil,Unemployment Rate,2023-11-01,7.5
2023-11-01,2023-12-29 10:00:00,Colombia,Unemployment Rate,2023-11-01,9.0
2023-12-01,2024-01-02 03:00:00,Austria,Unemployment Rate,2023-12-01,7.8
2023-12-01,2024-01-03 03:55:00,Germany,Unemployment Rate,2023-12-01,5.9
2023-12-01,2024-01-04 05:00:00,Greece,Unemployment Rate,2023-12-01,9.4

## Prices

In [8]:
cpi_mom = preprocessor.process_monthly_indicator('CPI (MoM)')
cpi_mom

12538 indicators read
Missing countries
['Australia', 'New Zealand', 'India', 'Thailand', 'Indonesia', 'Greece', 'Egypt']
Avg publish delay:  37 days 20:41:17.115670532
Data coverage since 1999 (50 countries): 61.5 %
Data coverage since 2013 (30 countries): 79.7 %

                ReportDateTime         Country  Indicator     Period  Value
Period
1998-12-01 1999-01-01 04:00:00  United Kingdom  CPI (MoM) 1998-12-01   0.30
1998-12-01 1999-01-01 04:00:00   United States  CPI (MoM) 1998-12-01   0.20
1998-12-01 1999-01-01 04:00:00          Canada  CPI (MoM) 1998-12-01  -0.30
1998-12-01 1999-01-01 04:00:00          Mexico  CPI (MoM) 1998-12-01   2.44
1998-12-01 1999-01-01 04:00:00          Sweden  CPI (MoM) 1998-12-01  -0.20
...                        ...             ...        ...        ...    ...
2023-12-01 2024-01-01 01:30:00            Peru  CPI (MoM) 2023-12-01   0.41
2023-12-01 2024-01-03 02:00:00         Turkiye  CPI (MoM) 2023-12-01   2.93
2023-12-01 2024-01-04 02:45:00          France  CPI (MoM) 2023-12-01   0.10
2023-12-01 2024-01-04 08:00:00         Germany  CPI (MoM) 2023-12-01   0.10
2023-12-01 2024-01-04 20:00:00     Philippines  CPI (MoM) 2023-12-01   0.20

[10089 rows x 5 columns]

In [9]:
preprocessor.transform_to_countries_df(cpi_mom, freq='M')

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-01,0.2,NaN,-0.6,0.2,-0.4,0.2,-0.1,NaN,NaN,NaN,...,1.5,-0.33,NaN,0.01,NaN,0.7,NaN,2.21,NaN,8.3
1999-02-01,0.2,NaN,0.2,0.1,0.3,0.3,0.1,NaN,NaN,NaN,...,0.6,0.07,NaN,0.31,NaN,0.0,NaN,1.7,NaN,4.2
1999-03-01,0.0,NaN,0.5,0.4,0.4,0.1,0.0,NaN,NaN,NaN,...,1.0,0.64,NaN,0.61,NaN,0.0,NaN,0.94,NaN,2.8
1999-04-01,0.1,NaN,0.4,0.5,0.3,0.2,0.5,NaN,NaN,NaN,...,0.8,0.38,NaN,0.59,NaN,0.1,NaN,0.78,NaN,3.0
1999-05-01,0.7,NaN,0.3,0.2,0.0,-0.2,0.0,NaN,NaN,NaN,...,0.7,0.12,NaN,0.47,NaN,0.0,NaN,0.48,NaN,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,0.2,0.2,0.3,0.4,1.0,0.2,0.3,NaN,0.4,-0.7,...,0.0,0.1,NaN,0.38,0.7,0.2,NaN,0.7,12.4,0.3
2023-09-01,0.6,0.3,0.5,-0.1,-0.5,-0.1,0.3,NaN,-0.4,-0.3,...,-0.4,0.7,NaN,0.02,0.4,-0.7,NaN,0.54,12.7,0.9
2023-10-01,0.4,NaN,0.0,0.1,0.1,0.1,0.0,NaN,0.4,0.3,...,0.3,0.4,NaN,-0.32,-0.1,0.1,NaN,0.25,8.3,0.8
2023-11-01,0.0,NaN,-0.2,0.1,-0.2,-0.2,-0.4,NaN,-1.0,-0.3,...,0.7,0.7,NaN,-0.16,0.0,0.1,NaN,0.47,12.8,1.1
2023-12-01,0.1,NaN,NaN,NaN,0.1,NaN,0.1,NaN,NaN,NaN,...,NaN,NaN,NaN,0.41,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
preprocessor.process_monthly_indicator('CPI (YoY)')

17346 indicators read
Missing countries
['Indonesia', 'Chile', 'Peru']
Avg publish delay:  37 days 21:14:50.503863987
Data coverage since 1999 (50 countries): 79.6 %
Data coverage since 2013 (30 countries): 85.7 %

                ReportDateTime         Country  Indicator     Period  Value
Period
1998-12-01 1999-01-01 04:00:00  United Kingdom  CPI (YoY) 1998-12-01   1.60
1998-12-01 1999-01-01 04:00:00   United States  CPI (YoY) 1998-12-01   1.60
1998-12-01 1999-01-01 04:00:00          Canada  CPI (YoY) 1998-12-01   1.00
1998-12-01 1999-01-01 04:00:00          Mexico  CPI (YoY) 1998-12-01  18.61
1998-12-01 1999-01-01 04:00:00          Sweden  CPI (YoY) 1998-12-01  -1.10
...                        ...             ...        ...        ...    ...
2023-12-01 2024-01-03 02:00:00         Turkiye  CPI (YoY) 2023-12-01  64.77
2023-12-01 2024-01-04 02:45:00          France  CPI (YoY) 2023-12-01   3.70
2023-12-01 2024-01-04 08:00:00         Germany  CPI (YoY) 2023-12-01   3.70
2023-12-01 2024-01-04 20:00:00     Philippines  CPI (YoY) 2023-12-01   3.90
2023-12-01 2024-01-04 22:30:00        Thailand  CPI (YoY) 2023-12-01  -0.83

[12940 rows x 5 columns]

In [11]:
preprocessor.process_monthly_indicator('PPI (MoM)')

4526 indicators read
Missing countries
['United Kingdom', 'Canada', 'Australia', 'Netherlands', 'Denmark', 'Spain', 'Hong Kong', 'Singapore', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'New Zealand', 'Portugal', 'China', 'Taiwan', 'India', 'Saudi Arabia', 'Thailand', 'Indonesia', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Philippines', 'Poland', 'Chile', 'Greece', 'Peru', 'Hungary', 'Egypt', 'Colombia', 'Argentina']
Avg publish delay:  40 days 01:23:17.959891062
Data coverage since 1999 (50 countries): 26.1 %
Data coverage since 2013 (30 countries): 40.0 %

                ReportDateTime      Country  Indicator     Period  Value
Period
1998-12-01 1999-01-01 04:00:00       Sweden  PPI (MoM) 1998-12-01   0.00
1998-12-01 1999-01-01 04:00:00        Italy  PPI (MoM) 1998-12-01  -0.20
1998-12-01 1999-01-01 04:00:00        Korea  PPI (MoM) 1998-12-01  -0.60
1998-12-01 1999-01-01 04:00:00  Switzerland  PPI (MoM) 1998-12-01  -0.20
1998-12-01 1999-01-01 04:00:00      Germany  PPI (MoM) 1998-12-01  -0.10
...                        ...          ...        ...        ...    ...
2023-11-01 2023-12-22 02:00:00       Sweden  PPI (MoM) 2023-11-01   1.40
2023-11-01 2023-12-22 02:45:00       France  PPI (MoM) 2023-11-01   2.40
2023-11-01 2023-12-29 03:00:00      Austria  PPI (MoM) 2023-11-01   0.10
2023-12-01 2024-01-03 02:00:00      Turkiye  PPI (MoM) 2023-12-01   1.14
2023-12-01 2024-01-04 07:00:00       Brazil  PPI (MoM) 2023-12-01  -0.43

[4039 rows x 5 columns]

In [12]:
preprocessor.process_monthly_indicator('PPI (YoY)')

5929 indicators read
Missing countries
['United Kingdom', 'Canada', 'Netherlands', 'Denmark', 'Singapore', 'Belgium', 'Israel', 'Ireland', 'New Zealand', 'Portugal', 'Taiwan', 'India', 'Brazil', 'Saudi Arabia', 'Thailand', 'Indonesia', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Chile', 'Peru', 'Egypt', 'Colombia', 'Argentina']
Avg publish delay:  39 days 14:44:16.762773722
Data coverage since 1999 (50 countries): 35.7 %
Data coverage since 2013 (30 countries): 49.9 %

                ReportDateTime      Country  Indicator     Period  Value
Period
1998-12-01 1999-01-01 04:00:00       Sweden  PPI (YoY) 1998-12-01  -1.73
1998-12-01 1999-01-01 04:00:00        Italy  PPI (YoY) 1998-12-01  -1.40
1998-12-01 1999-01-01 04:00:00        Korea  PPI (YoY) 1998-12-01   3.60
1998-12-01 1999-01-01 04:00:00  Switzerland  PPI (YoY) 1998-12-01  -3.10
1998-12-01 1999-01-01 04:00:00      Germany  PPI (YoY) 1998-12-01  -2.00
...                        ...          ...        ...        ...    ...
2023-11-01 2023-12-26 03:00:00        Spain  PPI (YoY) 2023-11-01  -7.40
2023-11-01 2023-12-28 20:00:00  Philippines  PPI (YoY) 2023-11-01   0.30
2023-11-01 2023-12-29 03:00:00      Austria  PPI (YoY) 2023-11-01  -2.80
2023-11-01 2023-12-29 05:00:00       Greece  PPI (YoY) 2023-11-01  -8.90
2023-12-01 2024-01-03 02:00:00      Turkiye  PPI (YoY) 2023-12-01  44.22

[5480 rows x 5 columns]

In [13]:
preprocessor.process_monthly_indicator('Core CPI (MoM)')

1777 indicators read
Missing countries
['Japan', 'France', 'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark', 'Sweden', 'Spain', 'Hong Kong', 'Italy', 'Singapore', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'Taiwan', 'India', 'Korea', 'Brazil', 'Saudi Arabia', 'Thailand', 'Indonesia', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Turkiye', 'Philippines', 'Poland', 'Greece', 'Peru', 'Hungary', 'Czechia', 'Egypt', 'Colombia', 'Argentina', 'Russia']
Avg publish delay:  38 days 13:51:46.933033202
Data coverage since 1999 (50 countries): 11.5 %
Data coverage since 2013 (30 countries): 14.5 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
1998-12-01,1999-01-01 04:00:00,United States,Core CPI (MoM),1998-12-01,0.30
1998-12-01,1999-01-01 04:00:00,Canada,Core CPI (MoM),1998-12-01,-0.20
1998-12-01,1999-01-01 04:00:00,Mexico,Core CPI (MoM),1998-12-01,1.56
1998-12-01,1999-01-01 04:00:00,Eurozone,Core CPI (MoM),1998-12-01,0.10
1998-12-01,1999-01-01 04:00:00,Chile,Core CPI (MoM),1998-12-01,0.60
...,...,...,...,...,...
2023-11-01,2023-12-12 08:30:00,United States,Core CPI (MoM),2023-11-01,0.30
2023-11-01,2023-12-13 03:00:00,South Africa,Core CPI (MoM),2023-11-01,0.20
2023-11-01,2023-12-19 05:00:00,Eurozone,Core CPI (MoM),2023-11-01,-0.60
2023-11-01,2023-12-19 08:30:00,Canada,Core CPI (MoM),2023-11-01,0.10
2023-11-01,2023-12-20 02:00:00,United Kingdom,Core CPI (MoM),2023-11-01,-0.30

In [14]:
preprocessor.process_monthly_indicator('Core CPI (YoY)')

3427 indicators read
Missing countries
['France', 'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark', 'Sweden', 'Hong Kong', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'Taiwan', 'India', 'Korea', 'Brazil', 'Saudi Arabia', 'Mexico', 'Indonesia', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Turkiye', 'Chile', 'Greece', 'Peru', 'Czechia', 'Colombia', 'Argentina', 'Russia']
Avg publish delay:  39 days 05:54:32.114624506
Data coverage since 1999 (50 countries): 19.2 %
Data coverage since 2013 (30 countries): 19.6 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
1998-12-01,1999-01-01 04:00:00,Thailand,Core CPI (YoY),1998-12-01,4.95
1998-12-01,1999-01-01 04:00:00,Hungary,Core CPI (YoY),1998-12-01,11.50
1998-12-01,1999-01-01 04:00:00,United States,Core CPI (YoY),1998-12-01,2.40
1998-12-01,1999-01-01 04:00:00,Canada,Core CPI (YoY),1998-12-01,1.30
1998-12-01,1999-01-01 04:00:00,Japan,Core CPI (YoY),1998-12-01,-0.30
...,...,...,...,...,...
2023-11-01,2023-12-20 02:00:00,United Kingdom,Core CPI (YoY),2023-11-01,5.10
2023-11-01,2023-12-21 18:30:00,Japan,Core CPI (YoY),2023-11-01,2.50
2023-11-01,2023-12-26 00:00:00,Singapore,Core CPI (YoY),2023-11-01,3.20
2023-12-01,2024-01-04 20:00:00,Philippines,Core CPI (YoY),2023-12-01,4.40
2023-12-01,2024-01-04 22:30:00,Thailand,Core CPI (YoY),2023-12-01,0.58

## Trade

In [15]:
preprocessor.process_monthly_indicator('Trade Balance', 'Trade Balance (MoM)', pct_value=False)

13097 indicators read
Missing countries
['Belgium', 'Ireland', 'Saudi Arabia', 'Thailand', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Poland', 'Greece', 'Hungary', 'Egypt', 'Colombia']
Avg publish delay:  38 days 16:48:03.718293046
Data coverage since 1999 (50 countries): 65.1 %
Data coverage since 2013 (30 countries): 81.7 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
1998-12-01,1999-01-01 04:00:00,United Kingdom,Trade Balance,1998-12-01,-1.940000e+09
1998-12-01,1999-01-01 04:00:00,United States,Trade Balance,1998-12-01,-1.470000e+10
1998-12-01,1999-01-01 04:00:00,Canada,Trade Balance,1998-12-01,2.350000e+09
1998-12-01,1999-01-01 04:00:00,Mexico,Trade Balance,1998-12-01,-8.100000e+08
1998-12-01,1999-01-01 04:00:00,Sweden,Trade Balance,1998-12-01,1.140000e+10
...,...,...,...,...,...
2023-11-01,2023-12-28 02:00:00,Sweden,Trade Balance,2023-11-01,1.270000e+10
2023-11-01,2023-12-28 03:30:00,Hong Kong,Trade Balance,2023-11-01,-2.790000e+10
2023-11-01,2023-12-29 02:00:00,Turkiye,Trade Balance,2023-11-01,-5.920000e+09
2023-11-01,2023-12-29 07:00:00,South Africa,Trade Balance,2023-11-01,2.102000e+10
2023-11-01,2023-12-31 19:00:00,Korea,Trade Balance,2023-11-01,4.480000e+09

In [16]:
preprocessor.process_monthly_indicator('Current Account', pct_value=False)

4373 indicators read
Missing countries
['Japan', 'Switzerland', 'Germany', 'Netherlands', 'Spain', 'Hong Kong', 'Italy', 'Singapore', 'Belgium', 'Israel', 'Ireland', 'New Zealand', 'Austria', 'China', 'Taiwan', 'India', 'Brazil', 'Saudi Arabia', 'Mexico', 'Thailand', 'Indonesia', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Turkiye', 'Philippines', 'Poland', 'Chile', 'Greece', 'Peru', 'Hungary', 'Egypt', 'Colombia', 'Argentina', 'Russia']
Avg publish delay:  41 days 07:50:51.698113207
Data coverage since 1999 (50 countries): 10.6 %
Data coverage since 2013 (30 countries): 13.7 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
1998-12-01,1999-01-01 04:00:00,Korea,Current Account,1998-12-01,3.260000e+09
1999-01-01,1999-02-01 04:00:00,Korea,Current Account,1999-01-01,2.550000e+09
1999-01-01,1999-02-01 04:00:00,Eurozone,Current Account,1999-01-01,-1.590000e+10
1999-02-01,1999-03-01 04:00:00,Korea,Current Account,1999-02-01,2.570000e+09
1999-03-01,1999-04-01 04:00:00,Korea,Current Account,1999-03-01,1.900000e+09
...,...,...,...,...,...
2023-11-01,2023-12-14 04:00:00,Czechia,Current Account,2023-11-01,1.984000e+10
2023-11-01,2023-12-20 04:00:00,Eurozone,Current Account,2023-11-01,3.380000e+10
2023-11-01,2023-12-20 06:00:00,Portugal,Current Account,2023-11-01,4.151000e+09
2023-11-01,2023-12-20 08:30:00,United States,Current Account,2023-11-01,-2.003000e+11
2023-11-01,2023-12-22 02:00:00,United Kingdom,Current Account,2023-11-01,-1.720000e+10

## Bussiness

In [17]:
manufacturing_pmi = preprocessor.process_pmi_indicator('Manufacturing PMI', 'procure.ch PMI')
manufacturing_pmi

6735 indicators read
Missing countries
['Netherlands', 'Singapore', 'Finland', 'Belgium', 'Israel', 'New Zealand', 'Portugal', 'Saudi Arabia', 'Thailand', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Chile', 'Peru', 'Czechia', 'Egypt', 'Colombia', 'Argentina']
Avg publish delay:  29 days 10:35:48.461149503
Data coverage since 1999 (50 countries): 32.0 %
Data coverage since 2013 (30 countries): 77.7 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
1998-12-01,1999-01-01 04:00:00,Sweden,Manufacturing PMI,1998-12-01,44.1
1998-12-01,1999-01-01 04:00:00,Switzerland,Manufacturing PMI,1998-12-01,51.4
1998-12-01,1999-01-01 04:00:00,Hungary,Manufacturing PMI,1998-12-01,47.7
1999-01-01,1999-02-01 04:00:00,Hungary,Manufacturing PMI,1999-01-01,57.3
1999-01-01,1999-02-01 04:00:00,Sweden,Manufacturing PMI,1999-01-01,48.0
...,...,...,...,...,...
2023-12-01,2024-01-02 10:00:00,Mexico,Manufacturing PMI,2023-12-01,52.0
2023-12-01,2024-01-03 00:00:00,India,Manufacturing PMI,2023-12-01,54.9
2023-12-01,2024-01-03 03:30:00,Switzerland,Manufacturing PMI,2023-12-01,43.0
2023-12-01,2024-01-03 19:30:00,Japan,Manufacturing PMI,2023-12-01,47.9
2023-12-01,2024-01-03 19:30:00,Hong Kong,Manufacturing PMI,2023-12-01,51.3

In [18]:
df = preprocessor.transform_to_countries_df(manufacturing_pmi, freq='M')
df.to_csv('manufacturing_pmi.csv')
df

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-01,NaN,NaN,NaN,NaN,NaN,46.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,57.3,NaN,NaN,NaN,NaN,NaN
1999-02-01,NaN,NaN,NaN,NaN,NaN,48.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,56.7,NaN,NaN,NaN,NaN,NaN
1999-03-01,NaN,NaN,NaN,NaN,NaN,48.7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,51.4,NaN,NaN,NaN,NaN,NaN
1999-04-01,NaN,NaN,NaN,NaN,NaN,51.2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,49.5,NaN,NaN,NaN,NaN,NaN
1999-05-01,NaN,NaN,NaN,NaN,NaN,51.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,50.3,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,47.0,49.7,42.5,48.0,46.4,39.9,39.1,49.4,NaN,NaN,...,43.1,NaN,52.9,NaN,46.5,NaN,NaN,NaN,NaN,52.7
2023-09-01,48.9,48.6,44.2,47.5,43.6,44.9,39.8,48.2,NaN,NaN,...,43.9,NaN,50.3,NaN,47.4,NaN,NaN,NaN,NaN,54.5
2023-10-01,50.0,48.5,45.2,48.6,42.6,40.6,40.7,48.0,NaN,NaN,...,44.5,NaN,50.8,NaN,50.5,NaN,NaN,NaN,NaN,53.8
2023-11-01,49.4,48.1,46.7,47.7,42.6,42.1,42.3,47.7,NaN,NaN,...,48.7,NaN,50.9,NaN,52.2,NaN,NaN,NaN,NaN,53.8
2023-12-01,48.2,47.9,46.4,45.4,42.0,43.0,43.1,47.6,NaN,NaN,...,47.4,NaN,51.3,NaN,52.8,NaN,NaN,NaN,NaN,54.6

In [19]:
services_pmi = preprocessor.process_pmi_indicator('Services PMI')
services_pmi

3004 indicators read
Missing countries
['Canada', 'Switzerland', 'Netherlands', 'Denmark', 'Hong Kong', 'Singapore', 'Finland', 'Belgium', 'Norway', 'Israel', 'New Zealand', 'Austria', 'Portugal', 'Taiwan', 'Korea', 'Saudi Arabia', 'South Africa', 'Mexico', 'Thailand', 'Indonesia', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Turkiye', 'Philippines', 'Poland', 'Chile', 'Greece', 'Peru', 'Hungary', 'Czechia', 'Egypt', 'Colombia', 'Argentina']
Avg publish delay:  30 days 04:09:22.470039946
Data coverage since 1999 (50 countries): 14.7 %
Data coverage since 2013 (30 countries): 42.9 %

                ReportDateTime         Country     Indicator     Period  Value
Period
2006-01-01 2006-02-01 04:00:00          Sweden  Services PMI 2006-01-01   59.0
2006-02-01 2006-03-01 04:00:00          Sweden  Services PMI 2006-02-01   58.5
2006-03-01 2006-04-01 04:00:00          Sweden  Services PMI 2006-03-01   62.2
2006-04-01 2006-05-01 04:00:00          Sweden  Services PMI 2006-04-01   56.8
2006-05-01 2006-06-01 04:00:00          Sweden  Services PMI 2006-05-01   60.5
...                        ...             ...           ...        ...    ...
2023-12-01 2024-01-04 04:00:00        Eurozone  Services PMI 2023-12-01   48.8
2023-12-01 2024-01-04 04:30:00  United Kingdom  Services PMI 2023-12-01   53.4
2023-12-01 2024-01-04 08:00:00          Brazil  Services PMI 2023-12-01   50.5
2023-12-01 2024-01-04 09:45:00   United States  Services PMI 2023-12-01   51.4
2023-12-01 2024-01-04 19:30:00           Japan  Services PMI 2023-12-01   51.5

[3004 rows x 5 columns]

In [20]:
df = preprocessor.transform_to_countries_df(services_pmi, freq='M')
df.to_csv('services_pmi.csv')
df

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,51.0,54.3,48.7,NaN,46.7,NaN,47.3,46.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.6
2023-09-01,50.2,53.3,47.2,NaN,43.9,NaN,49.8,50.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.4
2023-10-01,50.9,51.1,49.2,NaN,46.1,NaN,48.0,47.6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.6
2023-11-01,50.8,51.7,50.5,NaN,45.3,NaN,48.7,46.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.2
2023-12-01,51.3,51.5,52.7,NaN,44.3,NaN,48.4,47.1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.2

In [21]:
preprocessor.process_pmi_indicator('Composite PMI')

1559 indicators read
Missing countries
['Japan', 'Canada', 'Switzerland', 'Australia', 'Netherlands', 'Denmark', 'Sweden', 'Spain', 'Hong Kong', 'Singapore', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'New Zealand', 'Austria', 'Portugal', 'Taiwan', 'India', 'Korea', 'South Africa', 'Mexico', 'Thailand', 'Indonesia', 'Malaysia', 'Qatar', 'Kuwait', 'Turkiye', 'Philippines', 'Poland', 'Chile', 'Greece', 'Peru', 'Hungary', 'Czechia', 'Egypt', 'Colombia', 'Argentina', 'Russia']
Avg publish delay:  29 days 20:46:00.577293136
Data coverage since 1999 (50 countries): 7.3 %
Data coverage since 2013 (30 countries): 19.8 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
2012-03-01,2012-04-04 02:48:00,France,Composite PMI,2012-03-01,48.7
2012-04-01,2012-05-04 02:48:00,France,Composite PMI,2012-04-01,45.9
2012-05-01,2012-06-05 02:48:00,France,Composite PMI,2012-05-01,44.6
2012-06-01,2012-07-01 04:00:00,United States,Composite PMI,2012-06-01,53.2
2012-06-01,2012-07-01 04:00:00,Germany,Composite PMI,2012-06-01,48.1
...,...,...,...,...,...
2023-12-01,2024-01-04 03:55:00,Germany,Composite PMI,2023-12-01,47.4
2023-12-01,2024-01-04 04:00:00,Eurozone,Composite PMI,2023-12-01,47.6
2023-12-01,2024-01-04 04:30:00,United Kingdom,Composite PMI,2023-12-01,52.1
2023-12-01,2024-01-04 08:00:00,Brazil,Composite PMI,2023-12-01,50.0
2023-12-01,2024-01-04 09:45:00,United States,Composite PMI,2023-12-01,50.9

In [22]:
preprocessor.process_pmi_indicator('Construction PMI')

286 indicators read
Missing countries
['United States', 'Japan', 'Canada', 'Switzerland', 'Australia', 'Netherlands', 'Denmark', 'Sweden', 'Spain', 'Hong Kong', 'Singapore', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'Taiwan', 'India', 'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico', 'Thailand', 'Indonesia', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Turkiye', 'Philippines', 'Poland', 'Chile', 'Greece', 'Peru', 'Hungary', 'Czechia', 'Egypt', 'Colombia', 'Argentina', 'Russia']
Avg publish delay:  33 days 20:27:03.776223776
Data coverage since 1999 (50 countries): 1.9 %
Data coverage since 2013 (30 countries): 5.3 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
2008-02-01,2008-03-04 04:30:00,United Kingdom,Construction PMI,2008-02-01,52.4
2008-03-01,2008-04-02 03:30:00,United Kingdom,Construction PMI,2008-03-01,47.2
2008-04-01,2008-05-02 03:30:00,United Kingdom,Construction PMI,2008-04-01,46.1
2008-05-01,2008-06-03 04:30:00,United Kingdom,Construction PMI,2008-05-01,43.9
2008-06-01,2008-07-02 03:30:00,United Kingdom,Construction PMI,2008-06-01,38.8
...,...,...,...,...,...
2023-11-01,2023-12-06 03:30:00,Italy,Construction PMI,2023-11-01,52.9
2023-11-01,2023-12-06 03:30:00,Germany,Construction PMI,2023-11-01,36.2
2023-11-01,2023-12-06 03:30:00,France,Construction PMI,2023-11-01,44.6
2023-11-01,2023-12-06 03:30:00,Eurozone,Construction PMI,2023-11-01,43.4
2023-11-01,2023-12-06 04:30:00,United Kingdom,Construction PMI,2023-11-01,45.5

In [23]:
preprocessor.process_monthly_indicator('Industrial Production (MoM)', 'Industrial Output (MoM)')

4354 indicators read
Missing countries
['Canada', 'Switzerland', 'Australia', 'Netherlands', 'Spain', 'Hong Kong', 'Finland', 'Belgium', 'Norway', 'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'Taiwan', 'India', 'Saudi Arabia', 'South Africa', 'Thailand', 'Indonesia', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Philippines', 'Poland', 'Chile', 'Greece', 'Peru', 'Hungary', 'Czechia', 'Egypt', 'Colombia', 'Argentina', 'Russia']
Avg publish delay:  37 days 20:32:29.007808911
Data coverage since 1999 (50 countries): 27.6 %
Data coverage since 2013 (30 countries): 36.1 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
1998-12-01,1999-01-01 04:00:00,United Kingdom,Industrial Production (MoM),1998-12-01,0.30
1998-12-01,1999-01-01 04:00:00,United States,Industrial Production (MoM),1998-12-01,0.40
1998-12-01,1999-01-01 04:00:00,Mexico,Industrial Production (MoM),1998-12-01,0.67
1998-12-01,1999-01-01 04:00:00,Italy,Industrial Production (MoM),1998-12-01,-2.30
1998-12-01,1999-01-01 04:00:00,Korea,Industrial Production (MoM),1998-12-01,2.30
...,...,...,...,...,...
2023-11-01,2023-12-15 09:15:00,United States,Industrial Production (MoM),2023-11-01,0.20
2023-11-01,2023-12-26 00:00:00,Singapore,Industrial Production (MoM),2023-11-01,-7.80
2023-11-01,2023-12-27 06:00:00,Israel,Industrial Production (MoM),2023-11-01,-5.20
2023-11-01,2023-12-27 18:00:00,Korea,Industrial Production (MoM),2023-11-01,3.30
2023-11-01,2023-12-27 18:50:00,Japan,Industrial Production (MoM),2023-11-01,-0.90

In [24]:
preprocessor.process_monthly_indicator('Industrial Production (YoY)', 'Industrial Output (YoY)')

6553 indicators read
Missing countries
['Japan', 'Canada', 'France', 'Australia', 'Netherlands', 'Denmark', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'New Zealand', 'Portugal', 'Saudi Arabia', 'South Africa', 'Indonesia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Chile', 'Peru', 'Egypt']
Avg publish delay:  38 days 05:48:17.488173355
Data coverage since 1999 (50 countries): 42.6 %
Data coverage since 2013 (30 countries): 50.6 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
1998-12-01,1999-01-01 04:00:00,United Kingdom,Industrial Production (YoY),1998-12-01,0.40
1998-12-01,1999-01-01 04:00:00,Mexico,Industrial Production (YoY),1998-12-01,3.65
1998-12-01,1999-01-01 04:00:00,Italy,Industrial Production (YoY),1998-12-01,-6.00
1998-12-01,1999-01-01 04:00:00,Korea,Industrial Production (YoY),1998-12-01,6.60
1998-12-01,1999-01-01 04:00:00,Spain,Industrial Production (YoY),1998-12-01,5.20
...,...,...,...,...,...
2023-11-01,2023-12-25 03:00:00,Taiwan,Industrial Production (YoY),2023-11-01,-2.48
2023-11-01,2023-12-26 00:00:00,Singapore,Industrial Production (YoY),2023-11-01,1.00
2023-11-01,2023-12-27 11:00:00,Russia,Industrial Production (YoY),2023-11-01,4.30
2023-11-01,2023-12-27 18:00:00,Korea,Industrial Production (YoY),2023-11-01,5.30
2023-11-01,2023-12-27 23:00:00,Thailand,Industrial Production (YoY),2023-11-01,-4.71

## Consumer

In [25]:
preprocessor.process_monthly_indicator('Retail Sales (MoM)')

5142 indicators read
Missing countries
['Japan', 'France', 'Switzerland', 'Netherlands', 'Denmark', 'Spain', 'Hong Kong', 'Finland', 'Belgium', 'Norway', 'Israel', 'Austria', 'Portugal', 'China', 'Taiwan', 'India', 'Saudi Arabia', 'South Africa', 'Thailand', 'Indonesia', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Philippines', 'Poland', 'Chile', 'Greece', 'Peru', 'Hungary', 'Czechia', 'Egypt', 'Colombia', 'Argentina', 'Russia']
Avg publish delay:  40 days 03:55:07.460035524
Data coverage since 1999 (50 countries): 25.4 %
Data coverage since 2013 (30 countries): 36.2 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
1998-12-01,1999-01-01 04:00:00,United Kingdom,Retail Sales (MoM),1998-12-01,-0.7
1998-12-01,1999-01-01 04:00:00,United States,Retail Sales (MoM),1998-12-01,0.9
1998-12-01,1999-01-01 04:00:00,Canada,Retail Sales (MoM),1998-12-01,-0.5
1998-12-01,1999-01-01 04:00:00,Sweden,Retail Sales (MoM),1998-12-01,-1.0
1998-12-01,1999-01-01 04:00:00,Germany,Retail Sales (MoM),1998-12-01,-2.2
...,...,...,...,...,...
2023-11-01,2023-12-14 08:30:00,United States,Retail Sales (MoM),2023-11-01,0.3
2023-11-01,2023-12-20 07:00:00,Mexico,Retail Sales (MoM),2023-11-01,0.8
2023-11-01,2023-12-21 08:30:00,Canada,Retail Sales (MoM),2023-11-01,0.7
2023-11-01,2023-12-22 02:00:00,United Kingdom,Retail Sales (MoM),2023-11-01,1.3
2023-11-01,2023-12-27 18:00:00,Korea,Retail Sales (MoM),2023-11-01,1.0

In [26]:
preprocessor.process_monthly_indicator('Retail Sales (YoY)')

7519 indicators read
Missing countries
['Canada', 'France', 'Australia', 'Finland', 'Belgium', 'Norway', 'Israel', 'Austria', 'Portugal', 'Taiwan', 'India', 'Korea', 'Saudi Arabia', 'Thailand', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Philippines', 'Peru', 'Egypt']
Avg publish delay:  39 days 20:26:20.653830170
Data coverage since 1999 (50 countries): 46.6 %
Data coverage since 2013 (30 countries): 55.5 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
1998-12-01,1999-01-01 04:00:00,United Kingdom,Retail Sales (YoY),1998-12-01,-0.30
1998-12-01,1999-01-01 04:00:00,Sweden,Retail Sales (YoY),1998-12-01,3.70
1998-12-01,1999-01-01 04:00:00,Germany,Retail Sales (YoY),1998-12-01,2.10
1998-12-01,1999-01-01 04:00:00,Netherlands,Retail Sales (YoY),1998-12-01,7.84
1998-12-01,1999-01-01 04:00:00,Japan,Retail Sales (YoY),1998-12-01,0.70
...,...,...,...,...,...
2023-11-01,2023-12-28 03:00:00,Spain,Retail Sales (YoY),2023-11-01,5.20
2023-11-01,2023-12-29 00:30:00,Netherlands,Retail Sales (YoY),2023-11-01,3.70
2023-11-01,2023-12-29 05:00:00,Greece,Retail Sales (YoY),2023-11-01,-6.30
2023-11-01,2023-12-29 07:00:00,Chile,Retail Sales (YoY),2023-11-01,-3.80
2023-12-01,2024-01-04 03:30:00,Hong Kong,Retail Sales (YoY),2023-12-01,15.90

In [27]:
preprocessor.process_monthly_indicator('Consumer Confidence', 'Consumer confidence')

6107 indicators read
Missing countries
['Japan', 'Canada', 'Switzerland', 'Germany', 'Australia', 'Hong Kong', 'Singapore', 'Israel', 'New Zealand', 'Austria', 'China', 'Taiwan', 'India', 'Saudi Arabia', 'South Africa', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Philippines', 'Poland', 'Chile', 'Greece', 'Peru', 'Hungary', 'Czechia', 'Egypt', 'Colombia', 'Argentina', 'Russia']
Avg publish delay:  41 days 07:23:04.790960452
Data coverage since 1999 (50 countries): 34.0 %
Data coverage since 2013 (30 countries): 44.4 %

,ReportDateTime,Country,Indicator,Period,Value
Period,,,,,
1998-12-01,1999-01-01 04:00:00,United Kingdom,Consumer Confidence,1998-12-01,-8.0
1998-12-01,1999-01-01 04:00:00,United States,Consumer Confidence,1998-12-01,126.7
1998-12-01,1999-01-01 04:00:00,Sweden,Consumer Confidence,1998-12-01,101.0
1998-12-01,1999-01-01 04:00:00,Italy,Consumer Confidence,1998-12-01,111.2
1998-12-01,1999-01-01 04:00:00,Netherlands,Consumer Confidence,1998-12-01,9.0
...,...,...,...,...,...
2023-11-01,2023-12-22 04:00:00,Italy,Consumer Confidence,2023-11-01,106.7
2023-11-01,2023-12-22 06:00:00,Brazil,Consumer Confidence,2023-11-01,93.7
2023-11-01,2023-12-26 16:00:00,Korea,Consumer Confidence,2023-11-01,99.5
2023-11-01,2023-12-27 01:00:00,Finland,Consumer Confidence,2023-11-01,-13.3
2023-12-01,2024-01-02 06:00:00,Portugal,Consumer Confidence,2023-12-01,-28.2