# Compare and save key indicators

Notebook used to compare values for the indicators from OECD and from economic calendar, used when combining various data sources. Also used to save processed indicators to the database.

In [2]:
import pandas as pd
from InvestingCalendarPreprocessor import InvestingCalendarPreprocessor
preprocessor = InvestingCalendarPreprocessor()

from SqlAlquemyInsertIndicatorsHandler import SqlAlquemyInsertIndicatorsHandler
from dotenv import load_dotenv
load_dotenv()

pd.set_option('display.max_columns', None)

In [3]:
def save_to_database(indicator, df):
    sql_handler = SqlAlquemyInsertIndicatorsHandler()
    indicator_id = sql_handler.get_indicator_id(indicator, 'Investing')

    sql_handler.delete_all_records(indicator_id)
    initial_count = sql_handler.get_indicator_count(indicator_id)
    for country in df.columns:
        values = df[country].dropna()
        if (len(values) > 0):
            sql_handler.insert_into_table(indicator_id, country, values)

    final_count = sql_handler.get_indicator_count(indicator_id)
    print(f'{indicator}: Inserted', (final_count-initial_count), 'records')

## GDP

In [3]:
df_annual_gdp = preprocessor.process_quaterly_indicator('GDP (YoY)', 'GDP Quarterly (YoY)')
df_annual_gdp

3292 indicators read
Missing countries
['United States', 'Belgium', 'Norway', 'Israel', 'Austria', 'Kuwait', 'Egypt']
Data coverage since 1999 (50 countries): 40.1 %
Data coverage since 2013 (30 countries): 75.8 %

,ReportDateTime,Country,Indicator,FullName,Period,Value
Period,,,,,,
1998-12-01,1999-01-01 04:00:00,Finland,GDP (YoY),Finnish GDP (YoY) (Dec),1998-12-01 00:00:00,3.49
1999-01-01,1999-02-01 04:00:00,Finland,GDP (YoY),Finnish GDP (YoY) (Jan),1999-01-01 00:00:00,6.92
1999-02-01,1999-03-01 04:00:00,Finland,GDP (YoY),Finnish GDP (YoY) (Feb),1999-02-01 00:00:00,6.22
1999-03-01,1999-04-01 04:00:00,Finland,GDP (YoY),Finnish GDP (YoY) (Mar),1999-03-01 00:00:00,7.40
1999-04-01,1999-05-01 04:00:00,Finland,GDP (YoY),Finnish GDP (YoY) (Apr),1999-04-01 00:00:00,4.30
...,...,...,...,...,...,...
2023-10-01,2024-02-15 23:00:00,Malaysia,GDP (YoY),GDP (YoY) (Q4),2023-10-01 00:00:00,3.00
2023-10-01,2024-02-18 21:30:00,Thailand,GDP (YoY),GDP (YoY) (Q4),2023-10-01 00:00:00,1.70
2023-10-01,2024-02-20 02:00:00,Denmark,GDP (YoY),GDP (YoY) (Q4),2023-10-01 00:00:00,3.10
2023-10-01,2024-02-22 07:00:00,Mexico,GDP (YoY),GDP (YoY) (Q4),2023-10-01 00:00:00,2.50
2023-10-01,2024-02-23 02:00:00,Germany,GDP (YoY),German GDP (YoY) (Q4),2023-10-01 00:00:00,-0.20

In [4]:
df_annual_gdp_countries = preprocessor.transform_to_countries_df(df_annual_gdp, freq='Q')
df_annual_gdp_countries

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,Sweden,Spain,Hong Kong,Italy,Singapore,Finland,Belgium,Norway,Israel,Ireland,New Zealand,Austria,Portugal,Eurozone,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Thailand,Indonesia,Malaysia,United Arab Emirates,Qatar,Kuwait,Turkiye,Philippines,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-01,NaN,0.1,0.6,2.07,0.5,0.8,0.3,2.7,3.2,1.5,-0.9,2.6,-4.2,1.4,2.1,0.0,NaN,NaN,NaN,12.0,2.2,NaN,3.2,1.0,2.9,-0.41,6.1,1.3,1.9,5.5,0.9,3.6,1.4,5.01,7.0,NaN,8.0,NaN,3.5,7.2,2.0,-2.3,5.2,2.01,0.4,0.3,NaN,2.9,1.9,-2.7
2023-01-01,NaN,2.7,0.2,2.21,0.8,0.6,-0.2,2.3,1.9,1.7,0.8,4.2,2.7,1.9,0.4,-0.4,NaN,NaN,NaN,-0.2,2.2,NaN,2.5,1.3,4.5,-2.87,7.8,0.9,4.0,3.8,0.2,3.7,2.7,5.03,5.6,NaN,2.7,NaN,4.0,6.4,-0.3,-0.6,2.1,-1.12,-0.9,-0.5,NaN,3.0,1.3,-1.8
2023-04-01,NaN,3.5,0.6,1.12,0.9,0.5,-0.2,2.1,-0.2,0.9,-1.0,2.2,1.5,0.4,0.5,-0.4,NaN,NaN,NaN,-0.7,1.8,NaN,2.3,0.5,6.3,1.36,7.6,0.9,3.4,1.2,1.6,3.6,1.8,5.17,2.9,NaN,1.0,NaN,3.8,4.3,-0.6,-1.1,2.7,0.31,-2.4,-0.6,NaN,0.3,-4.9,4.9
2023-07-01,NaN,-2.9,0.3,0.47,0.6,0.3,-0.4,2.1,-0.8,-0.3,-1.4,1.8,4.1,0.1,1.1,-1.2,NaN,NaN,NaN,-5.8,-0.6,NaN,1.9,0.0,4.9,2.32,NaN,1.4,2.0,-4.4,-0.7,3.3,1.5,4.94,3.3,7.9,NaN,NaN,5.9,5.9,0.5,0.6,2.1,-1.29,-0.4,-0.8,NaN,-0.3,-0.8,5.1
2023-10-01,NaN,-0.4,-0.2,NaN,0.7,NaN,-0.2,NaN,-0.5,3.1,0.0,2.0,4.3,0.5,2.2,-0.8,NaN,NaN,NaN,-3.4,NaN,NaN,2.2,0.1,5.2,5.12,NaN,2.2,NaN,-3.7,NaN,2.5,1.7,5.04,3.0,NaN,NaN,NaN,NaN,5.6,1.0,NaN,NaN,-0.82,0.0,-0.2,NaN,0.3,NaN,NaN

In [5]:
save_to_database('GDP Annual Growth Rate', df_annual_gdp_countries)

GDP Annual Growth Rate: Inserted 2005 records

In [6]:
historic_annual_gdp = pd.read_csv('../OECD_Stats/KeyIndicators/gdp_annual_growth_rate.csv', index_col=0, parse_dates=True)
historic_annual_gdp

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Spain,Italy,Belgium,Norway,Israel,Ireland,Austria,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,Turkiye,Poland,Argentina,Russia
1999-01-01,4.82,-0.84,2.34,4.19,2.78,1.03,0.79,5.27,4.21,4.22,4.24,0.86,1.90,0.87,1.05,9.64,2.82,8.9,6.20,6.20,6.58,0.67,2.90,0.98,2.29,-6.41,-4.09,2.10,-2.18,-1.8
1999-04-01,4.72,-0.03,2.17,5.01,2.61,0.58,1.22,4.61,4.62,3.52,4.30,0.64,2.96,-0.03,4.92,8.30,3.03,7.9,7.20,7.53,12.16,-0.44,NaN,1.64,2.30,1.50,-3.86,4.22,-5.14,3.2
1999-07-01,4.79,0.33,3.47,5.69,3.54,1.17,1.86,3.83,5.17,3.80,4.69,1.42,4.15,3.22,4.18,8.57,3.98,7.6,5.80,6.93,13.30,-0.46,NaN,2.97,2.76,2.92,-4.14,5.30,-5.12,11.5
1999-10-01,4.82,-0.44,4.26,5.74,4.18,3.73,3.12,3.97,5.68,4.45,4.73,3.33,5.15,4.25,5.76,13.84,3.95,6.7,7.50,7.29,13.73,2.15,-3.80,4.01,3.61,5.99,-1.02,6.53,-1.01,12.1
2000-01-01,4.22,2.67,4.82,5.52,4.36,4.32,3.40,3.64,4.59,3.99,5.35,3.95,4.80,5.13,7.02,8.25,4.31,8.7,6.00,7.79,12.47,2.97,NaN,4.22,4.86,3.48,2.27,6.38,-0.11,11.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-01,1.71,1.51,2.06,3.99,1.32,1.40,1.25,5.75,3.10,2.87,5.35,2.61,1.90,2.31,5.93,9.23,2.05,3.9,3.60,5.50,3.07,4.36,7.59,3.88,4.97,6.09,3.78,4.96,5.34,-3.7
2022-10-01,0.65,0.63,0.66,2.15,0.78,1.14,0.82,2.31,3.07,-0.11,3.81,1.63,1.38,1.60,2.68,10.73,2.23,2.9,-0.80,4.64,1.34,3.25,6.26,1.35,4.51,5.16,3.35,0.76,1.10,-2.7
2023-01-01,1.72,2.48,0.46,1.80,0.95,1.51,-0.18,2.37,2.08,1.28,4.12,2.12,1.68,2.58,4.09,2.38,1.67,4.5,-3.30,6.29,1.01,3.72,2.47,0.22,3.50,4.96,2.88,-1.35,1.23,-1.8
2023-04-01,2.38,2.27,0.56,1.19,1.17,0.40,0.09,2.05,-0.07,-0.38,2.03,0.34,1.31,0.91,3.34,-0.42,-1.29,6.3,1.36,7.28,0.87,3.40,0.76,1.53,3.44,4.92,4.79,-0.30,-3.30,4.9
2023-07-01,3.00,1.63,0.61,0.46,0.56,0.43,-0.40,2.05,-0.39,-1.45,1.81,0.14,1.40,-1.49,3.40,-5.62,-1.64,4.9,2.32,7.02,1.25,2.47,-3.63,-0.48,3.29,4.93,4.51,0.57,NaN,5.5

### GDP Growth Rate / GDP (QoQ)

In [7]:
gdp_qoq = preprocessor.process_quaterly_indicator('GDP (QoQ)', 'GDP Annualized (QoQ)')

3233 indicators read
Missing countries
['Taiwan', 'India', 'Saudi Arabia', 'Malaysia', 'United Arab Emirates', 'Kuwait', 'Turkiye', 'Chile', 'Peru', 'Hungary', 'Egypt', 'Argentina', 'Russia']
Data coverage since 1999 (50 countries): 36.7 %
Data coverage since 2013 (30 countries): 77.8 %

In [8]:
gdp_qoq_countries = preprocessor.transform_to_countries_df(gdp_qoq, freq='Q')
gdp_qoq_countries

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,Sweden,Spain,Hong Kong,Italy,Singapore,Finland,Belgium,Norway,Israel,Ireland,New Zealand,Austria,Portugal,Eurozone,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Thailand,Indonesia,Malaysia,United Arab Emirates,Qatar,Kuwait,Turkiye,Philippines,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-01,2.6,0.0,0.1,0.0,0.1,0.0,-0.4,0.5,0.6,0.9,-0.9,0.2,0.0,-0.1,0.3,-0.6,0.1,0.2,5.3,0.3,-0.6,-0.7,0.3,0.0,0.0,NaN,NaN,-0.4,1.9,NaN,-1.3,0.5,-1.5,0.36,NaN,NaN,2.7,NaN,NaN,2.4,-2.4,NaN,1.4,NaN,NaN,-0.4,NaN,0.7,NaN,NaN
2023-01-01,2.0,0.7,0.1,3.1,0.2,0.3,-0.3,0.2,-0.3,0.6,0.6,0.6,5.3,0.6,-1.6,0.2,0.5,0.2,3.2,-4.6,-0.1,0.0,1.6,-0.1,2.2,NaN,NaN,0.3,NaN,NaN,0.4,1.0,1.9,-0.92,NaN,NaN,-3.9,NaN,NaN,1.1,3.8,NaN,-0.1,NaN,NaN,0.0,NaN,1.4,NaN,NaN
2023-04-01,2.1,1.2,0.2,-0.2,0.5,0.0,0.0,0.4,-0.2,-0.3,-0.8,0.5,-1.3,-0.4,0.1,0.6,0.2,0.0,3.1,0.5,0.9,-0.7,0.0,0.1,0.8,NaN,NaN,0.6,0.9,NaN,0.6,0.8,0.2,3.86,NaN,NaN,0.5,NaN,NaN,-0.9,-2.2,NaN,1.3,NaN,NaN,0.0,NaN,-1.0,NaN,NaN
2023-07-01,4.9,-0.7,-0.1,-1.1,-0.1,0.3,-0.1,0.2,-0.3,-0.7,-0.3,0.3,0.1,0.1,1.4,-0.9,0.4,-0.5,2.7,-1.9,-0.3,-0.5,-0.2,-0.1,1.3,NaN,NaN,0.6,0.1,NaN,-0.2,1.1,0.8,1.6,NaN,NaN,NaN,NaN,NaN,3.3,1.5,NaN,0.0,NaN,NaN,-0.6,NaN,0.2,NaN,NaN
2023-10-01,3.3,-0.1,-0.3,NaN,0.0,NaN,-0.3,NaN,0.3,2.0,0.1,0.6,0.5,0.2,1.2,NaN,0.4,1.5,-19.4,-0.7,NaN,0.2,0.8,0.0,1.0,NaN,NaN,0.6,NaN,NaN,NaN,0.1,-0.6,0.45,NaN,NaN,NaN,NaN,NaN,2.1,0.0,NaN,NaN,NaN,NaN,0.2,NaN,-0.2,NaN,NaN

In [9]:
save_to_database('GDP Growth Rate', gdp_qoq_countries)

GDP Growth Rate: Inserted 1837 records

In [10]:
historic_gdp_growth_rate = pd.read_csv('../OECD_Stats/KeyIndicators/gdp_growth_rate.csv', index_col=0, parse_dates=True)
historic_gdp_growth_rate

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Spain,Italy,Belgium,Norway,Israel,Ireland,Austria,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,Turkiye,Poland,Argentina,Russia
1999-01-01,0.94,-1.37,0.69,1.81,0.66,0.10,1.16,0.74,1.67,1.09,1.00,0.63,1.04,1.02,0.06,6.30,0.61,NaN,2.72,1.62,3.03,0.31,NaN,0.96,0.86,5.65,-1.69,0.80,-1.25,4.1
1999-04-01,0.83,0.38,0.47,0.84,0.62,0.65,0.00,0.34,1.11,0.68,1.19,0.38,1.37,0.04,3.30,0.76,1.28,NaN,1.59,2.58,4.38,0.32,NaN,0.80,0.75,-0.06,-0.56,2.09,-1.13,3.5
1999-07-01,1.33,0.53,1.60,1.56,1.50,0.63,1.11,1.14,1.38,0.71,1.33,0.89,1.45,1.71,0.37,3.92,1.68,NaN,1.50,1.25,2.78,0.06,NaN,1.09,0.95,0.27,-1.69,2.00,-0.29,2.0
1999-10-01,1.64,0.03,1.43,1.41,1.34,2.32,0.83,1.70,1.41,1.91,1.12,1.39,1.18,1.43,1.94,2.27,0.32,NaN,1.70,1.65,2.89,1.45,NaN,1.10,0.99,0.11,2.99,1.48,1.67,2.2
2000-01-01,0.36,1.71,1.23,1.60,0.83,0.66,1.43,0.41,0.62,0.64,1.60,1.23,0.71,1.87,1.25,1.08,0.96,NaN,1.18,2.10,1.90,1.11,NaN,1.17,2.08,3.15,1.57,0.66,-0.34,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-01,0.66,-0.10,-0.09,0.46,0.50,0.25,0.36,0.20,0.13,0.78,0.53,0.30,0.31,1.90,0.65,3.49,-0.16,3.7,0.88,1.98,0.23,1.05,1.23,1.77,1.22,0.80,0.54,0.62,0.45,NaN
2022-10-01,0.64,0.25,0.13,-0.22,0.00,-0.03,-0.41,0.85,0.70,-0.85,0.49,-0.15,0.24,-0.67,1.08,-1.58,-0.11,0.8,-0.25,1.14,-0.30,-0.12,1.16,-1.09,0.68,2.34,1.15,-2.28,-1.80,NaN
2023-01-01,0.56,1.23,0.32,0.61,0.06,0.31,0.00,0.53,-0.48,0.50,0.56,0.57,0.41,0.21,0.76,-1.88,0.09,2.3,-1.00,2.08,0.33,1.44,-1.12,0.41,0.57,0.84,-0.25,1.10,0.89,NaN
2023-04-01,0.51,0.88,0.19,0.34,0.61,-0.13,0.14,0.44,-0.42,-0.81,0.44,-0.38,0.33,-0.51,0.81,-0.36,-1.11,0.5,1.82,1.89,0.61,0.98,-0.51,0.46,0.93,0.87,3.31,0.30,-2.84,NaN
2023-07-01,1.26,-0.73,-0.03,-0.27,-0.11,0.27,-0.13,0.21,-0.19,-0.29,0.32,0.10,0.40,-0.52,0.70,-1.91,-0.52,1.3,1.90,1.74,0.62,0.14,-3.18,-0.25,1.07,0.81,0.27,1.49,NaN,NaN

## Labour

### Unemployment Rate

In [11]:
df_unemployment = preprocessor.process_monthly_indicator('Unemployment Rate')
df_unemployment

10072 indicators read
Missing countries
['Belgium', 'Ireland', 'India', 'Saudi Arabia', 'Thailand', 'Indonesia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Turkiye', 'Philippines', 'Egypt']
Data coverage since 1999 (50 countries): 54.0 %
Data coverage since 2013 (30 countries): 66.2 %

,ReportDateTime,Country,Indicator,FullName,Period,Value
Period,,,,,,
1998-12-01,1999-01-01 04:00:00,United Kingdom,Unemployment Rate,Unemployment Rate (Dec),1998-12-01 00:00:00,6.1
1998-12-01,1999-01-01 04:00:00,Canada,Unemployment Rate,Unemployment Rate (Dec),1998-12-01 00:00:00,8.1
1998-12-01,1999-01-01 04:00:00,Switzerland,Unemployment Rate,Unemployment Rate s.a. (Dec),1998-12-01 00:00:00,3.2
1998-12-01,1999-01-01 04:00:00,Germany,Unemployment Rate,German Unemployment Rate (Dec),1998-12-01 00:00:00,10.8
1998-12-01,1999-01-01 04:00:00,Australia,Unemployment Rate,Unemployment Rate (Dec),1998-12-01 00:00:00,7.2
...,...,...,...,...,...,...
2024-01-01,2024-02-20 01:00:00,Finland,Unemployment Rate,Finnish Unemployment Rate (Jan),2024-01-01 00:00:00,7.7
2024-01-01,2024-02-20 03:30:00,Hong Kong,Unemployment Rate,Unemployment Rate (Jan),2024-01-01 00:00:00,2.9
2023-10-01,2024-02-20 04:30:00,South Africa,Unemployment Rate,Unemployment Rate (Q4),2023-10-01 00:00:00,32.1
2024-01-01,2024-02-23 02:30:00,Hungary,Unemployment Rate,Quarterly Unemployment Rate (Jan),2024-01-01 00:00:00,4.6
2024-01-01,2024-02-23 04:00:00,Poland,Unemployment Rate,Unemployment Rate (Jan),2024-01-01 00:00:00,5.4

In [12]:
unemployment_rate = preprocessor.transform_to_countries_df(df_unemployment, freq='M')
unemployment_rate

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,Sweden,Spain,Hong Kong,Italy,Singapore,Finland,Belgium,Norway,Israel,Ireland,New Zealand,Austria,Portugal,Eurozone,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Thailand,Indonesia,Malaysia,United Arab Emirates,Qatar,Kuwait,Turkiye,Philippines,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-01,4.4,4.5,6.2,7.9,NaN,3.1,10.7,7.1,NaN,6.1,NaN,NaN,6.4,NaN,NaN,10.6,NaN,2.7,NaN,NaN,NaN,9.1,NaN,10.0,NaN,2.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.2
1999-02-01,4.4,4.6,6.2,7.9,NaN,3.0,10.7,7.1,NaN,5.9,NaN,NaN,6.4,NaN,NaN,10.5,NaN,2.7,NaN,NaN,NaN,9.0,NaN,10.0,NaN,2.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.6
1999-03-01,4.2,4.7,6.2,7.9,NaN,3.0,10.6,7.0,NaN,5.9,NaN,NaN,6.3,NaN,NaN,10.5,NaN,2.9,NaN,NaN,NaN,7.6,NaN,9.9,NaN,2.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.1
1999-04-01,4.3,4.7,6.2,8.2,NaN,2.9,10.6,7.0,NaN,5.9,NaN,NaN,6.2,NaN,NaN,10.5,NaN,2.9,NaN,NaN,NaN,7.0,NaN,9.9,NaN,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.4
1999-05-01,4.2,4.7,6.1,7.9,NaN,2.8,10.5,7.0,NaN,5.8,NaN,NaN,6.2,NaN,NaN,10.4,NaN,2.9,NaN,NaN,NaN,6.1,NaN,9.8,NaN,2.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,3.8,2.7,4.2,5.5,NaN,2.1,5.7,3.7,3.6,2.5,7.7,NaN,2.8,7.3,NaN,7.2,NaN,3.6,3.1,NaN,NaN,6.1,NaN,6.4,5.2,3.42,NaN,2.4,7.9,NaN,NaN,2.7,NaN,NaN,3.4,NaN,NaN,NaN,NaN,NaN,5.0,9.0,10.9,6.6,4.1,3.6,NaN,9.3,NaN,3.0
2023-09-01,3.9,2.6,4.2,5.5,NaN,2.1,5.7,3.6,3.7,2.5,7.7,NaN,2.8,7.4,NaN,7.3,NaN,3.5,3.2,NaN,NaN,5.9,NaN,6.5,5.0,3.48,NaN,2.6,7.8,NaN,NaN,2.7,NaN,NaN,3.4,NaN,NaN,NaN,NaN,NaN,5.0,8.9,10.0,NaN,4.1,3.6,NaN,9.3,NaN,3.0
2023-10-01,3.7,2.5,4.2,5.7,7.5,2.1,5.8,3.7,3.6,2.5,7.4,11.76,2.9,7.8,2.0,7.5,NaN,3.6,3.1,NaN,4.0,6.3,6.6,6.5,5.0,3.41,NaN,2.5,7.7,NaN,32.1,2.6,NaN,NaN,3.4,NaN,NaN,NaN,NaN,NaN,5.0,8.9,9.6,6.6,4.3,3.5,NaN,9.2,NaN,2.9
2023-11-01,3.7,2.5,3.7,5.8,NaN,2.1,5.9,3.9,3.5,2.3,7.1,NaN,2.9,7.6,NaN,7.6,NaN,3.7,2.8,NaN,NaN,6.5,NaN,6.5,5.0,3.37,NaN,2.8,7.6,NaN,NaN,2.8,NaN,NaN,3.4,NaN,NaN,NaN,NaN,NaN,5.0,8.7,11.4,6.6,3.8,3.5,NaN,9.0,NaN,2.9
2023-12-01,3.7,2.4,3.7,5.8,NaN,2.2,5.9,3.9,3.6,2.5,7.7,NaN,2.9,7.2,NaN,7.6,NaN,3.5,3.1,NaN,NaN,7.8,NaN,6.6,5.1,3.4,NaN,3.3,7.5,NaN,NaN,2.8,NaN,NaN,3.3,NaN,NaN,NaN,NaN,NaN,5.1,8.5,11.6,6.8,4.4,3.7,NaN,10.0,NaN,3.7

In [13]:
save_to_database('Unemployment Rate', unemployment_rate)

Unemployment Rate: Inserted 8099 records

In [14]:
monthly_unemployment = pd.read_csv('../OECD_Stats/KeyIndicators/monthly_unemployment.csv', index_col=0, parse_dates=True)
monthly_unemployment

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Spain,Italy,Belgium,Norway,Israel,Ireland,Austria,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,Turkiye,Poland,Argentina,Russia
1999-01-01,4.3,4.5,6.2,7.9,12.0,3.5,8.9,7.12,4.6,7.3,14.8,11.1,8.9,2.7,8.8,6.5,4.3,NaN,2.90,NaN,7.6,NaN,NaN,NaN,2.60,NaN,NaN,11.5,NaN,13.8
1999-02-01,4.4,4.6,6.2,7.9,12.0,3.4,8.8,7.11,4.5,7.0,14.3,11.1,9.0,2.7,8.8,6.3,4.2,NaN,2.90,NaN,7.4,NaN,NaN,NaN,3.10,NaN,NaN,12.0,NaN,14.1
1999-03-01,4.2,4.7,6.2,7.9,11.8,3.2,8.8,7.01,4.4,7.0,13.9,11.1,9.0,2.9,8.8,6.3,4.2,NaN,2.80,NaN,7.2,NaN,NaN,NaN,2.70,NaN,NaN,12.3,NaN,13.7
1999-04-01,4.3,4.7,6.1,8.2,11.7,2.9,8.7,6.98,4.4,6.9,13.6,11.1,9.0,2.9,9.0,6.3,4.2,NaN,2.90,NaN,7.0,NaN,NaN,NaN,2.80,NaN,NaN,12.7,NaN,13.1
1999-05-01,4.2,4.7,6.0,7.9,11.5,2.7,8.6,7.02,4.3,6.7,13.5,11.1,9.0,2.9,9.0,6.3,4.2,NaN,3.00,NaN,6.8,NaN,NaN,NaN,2.60,NaN,NaN,12.9,NaN,12.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-01,3.6,2.5,4.3,5.4,7.3,1.9,3.0,3.48,3.5,8.0,11.9,7.5,5.6,3.4,3.6,4.4,5.1,5.2,3.40,8.5,2.6,8.0,NaN,NaN,2.67,NaN,9.5,2.8,NaN,3.1
2023-07-01,3.5,2.7,NaN,5.5,7.4,1.9,3.0,3.74,3.6,7.1,12.0,7.8,5.3,3.6,3.4,4.4,5.7,5.3,3.40,7.9,2.8,7.9,NaN,31.9,2.93,NaN,9.3,2.8,6.2,3.0
2023-08-01,3.8,2.7,NaN,5.5,7.4,2.0,3.0,3.70,3.6,8.1,11.9,7.5,5.3,3.6,3.1,4.5,5.4,5.2,3.40,8.1,2.4,7.8,NaN,NaN,2.75,NaN,9.2,2.8,NaN,3.0
2023-09-01,3.8,2.6,4.2,5.5,7.3,2.0,3.1,3.55,3.7,8.2,12.0,7.6,5.4,3.5,3.2,4.7,5.5,5.0,3.44,7.1,2.6,7.7,NaN,NaN,2.69,NaN,9.1,2.8,NaN,3.0
2023-10-01,3.9,2.5,NaN,5.7,7.3,2.0,3.1,3.72,3.6,7.9,12.0,7.8,5.6,3.6,3.1,4.8,5.1,5.0,3.41,NaN,2.5,7.6,NaN,NaN,2.66,NaN,NaN,2.8,6.3,2.9

## Prices

### Inflation Rate

In [15]:
df_cpi_yoy = preprocessor.process_monthly_indicator('CPI (YoY)')
df_cpi_yoy

17487 indicators read
Missing countries
['Indonesia', 'Chile', 'Peru']
Data coverage since 1999 (50 countries): 80.1 %
Data coverage since 2013 (30 countries): 86.8 %

,ReportDateTime,Country,Indicator,FullName,Period,Value
Period,,,,,,
1998-12-01,1999-01-01 04:00:00,United Kingdom,CPI (YoY),CPI (YoY) (Dec),1998-12-01 00:00:00,1.60
1998-12-01,1999-01-01 04:00:00,United States,CPI (YoY),CPI (YoY) (Dec),1998-12-01 00:00:00,1.60
1998-12-01,1999-01-01 04:00:00,Canada,CPI (YoY),CPI (YoY) (Dec),1998-12-01 00:00:00,1.00
1998-12-01,1999-01-01 04:00:00,Mexico,CPI (YoY),CPI (YoY) (Dec),1998-12-01 00:00:00,18.61
1998-12-01,1999-01-01 04:00:00,Sweden,CPI (YoY),CPI (YoY) (Dec),1998-12-01 00:00:00,-1.10
...,...,...,...,...,...,...
2024-01-01,2024-02-22 03:30:00,Hong Kong,CPI (YoY),CPI (YoY) (Jan),2024-01-01 00:00:00,1.70
2024-01-01,2024-02-22 04:00:00,Italy,CPI (YoY),Italian CPI (YoY) (Jan),2024-01-01 00:00:00,0.80
2024-01-01,2024-02-22 05:00:00,Eurozone,CPI (YoY),CPI (YoY) (Jan),2024-01-01 00:00:00,2.80
2024-01-01,2024-02-22 23:00:00,Malaysia,CPI (YoY),CPI (YoY) (Jan),2024-01-01 00:00:00,1.50
2024-01-01,2024-02-23 00:00:00,Singapore,CPI (YoY),CPI (YoY) (Jan),2024-01-01 00:00:00,2.90

In [16]:
cpi_yoy_countries = preprocessor.transform_to_countries_df(df_cpi_yoy, freq='M')
cpi_yoy_countries

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,Sweden,Spain,Hong Kong,Italy,Singapore,Finland,Belgium,Norway,Israel,Ireland,New Zealand,Austria,Portugal,Eurozone,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Thailand,Indonesia,Malaysia,United Arab Emirates,Qatar,Kuwait,Turkiye,Philippines,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-01,1.6,0.2,1.6,0.7,NaN,0.1,0.2,NaN,2.2,1.7,-0.3,1.5,-1.1,1.4,-0.92,NaN,0.95,2.3,NaN,1.44,NaN,NaN,2.7,0.8,-1.2,0.4,NaN,1.5,1.65,NaN,8.84,19.02,3.39,NaN,5.2,NaN,NaN,NaN,65.9,10.7,6.9,NaN,3.7,NaN,9.8,3.5,3.84,17.18,NaN,96.9
1999-02-01,1.7,-0.1,1.4,0.7,NaN,0.3,0.1,NaN,2.1,2.0,-0.1,1.8,-1.7,1.3,-0.73,NaN,0.98,2.1,7.0,1.57,NaN,NaN,2.8,0.8,-1.3,2.09,NaN,0.2,2.24,NaN,8.58,18.54,2.74,NaN,3.8,NaN,NaN,NaN,63.9,9.3,5.6,NaN,3.7,NaN,9.4,2.9,3.74,15.38,NaN,103.2
1999-03-01,1.6,-0.4,1.7,1.0,NaN,0.5,0.2,NaN,2.2,2.3,0.1,2.2,-2.6,1.3,-0.52,NaN,1.21,2.3,7.0,1.42,NaN,NaN,2.9,1.0,-1.8,-0.47,NaN,0.5,3.02,NaN,7.83,18.26,1.48,NaN,3.0,NaN,NaN,NaN,63.5,7.9,6.2,NaN,3.4,NaN,9.3,2.6,3.82,13.51,NaN,107.5
1999-04-01,1.7,-0.1,1.5,1.6,NaN,0.6,0.6,NaN,2.1,2.3,0.1,2.4,-3.8,1.4,-0.32,NaN,1.18,2.5,5.9,1.27,NaN,NaN,2.9,1.1,-2.2,-0.1,NaN,0.4,3.35,NaN,7.57,18.23,0.49,NaN,2.9,NaN,NaN,NaN,63.9,7.4,6.3,NaN,2.8,NaN,9.4,2.4,3.26,11.17,NaN,112.9
1999-05-01,2.3,-0.4,1.3,1.5,NaN,0.6,0.5,NaN,2.3,2.0,0.1,2.2,-4.0,1.4,0.15,NaN,0.83,2.5,6.0,1.41,NaN,NaN,2.3,1.0,-2.2,0.49,NaN,0.8,3.14,NaN,7.08,18.01,-0.61,NaN,2.9,NaN,NaN,NaN,63.0,6.3,6.4,NaN,2.4,NaN,8.9,2.4,2.8,9.98,NaN,116.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,3.7,3.2,6.7,4.0,4.8,1.6,6.1,NaN,3.0,2.4,7.5,2.6,1.8,5.4,4.0,5.6,4.09,4.8,4.1,6.3,NaN,7.37,3.7,5.2,0.1,2.52,6.83,3.4,4.61,2.0,4.8,4.64,0.88,NaN,2.0,NaN,2.38,3.82,58.94,5.3,10.1,NaN,2.7,NaN,16.4,8.5,37.4,11.43,125.2,5.2
2023-09-01,3.2,3.0,6.7,3.8,4.9,1.7,4.5,NaN,0.2,0.9,6.5,3.5,2.0,5.3,4.1,5.5,0.36,3.3,3.8,6.4,NaN,6.03,3.6,4.3,0.0,2.93,5.02,3.7,5.19,1.7,5.4,4.45,0.3,NaN,1.9,NaN,1.8,3.73,61.53,6.1,8.2,NaN,1.6,NaN,12.2,6.9,38.0,10.99,138.3,6.0
2023-10-01,3.1,3.3,4.6,3.1,4.0,1.7,3.8,4.1,-0.4,0.1,6.5,3.5,2.7,1.7,4.7,4.9,NaN,4.0,3.7,5.1,4.7,5.36,2.1,2.9,-0.2,3.05,4.87,3.8,4.82,1.6,5.9,4.26,-0.31,NaN,1.8,NaN,2.52,3.8,61.36,4.9,6.6,NaN,3.4,NaN,9.9,8.5,35.8,10.48,142.7,6.7
2023-11-01,3.4,2.8,3.9,3.1,3.5,1.4,3.2,NaN,1.6,0.6,5.8,3.2,2.6,0.7,3.6,3.3,0.76,4.8,3.3,3.9,NaN,5.35,1.5,2.4,-0.5,2.9,5.55,3.3,4.68,1.7,5.5,4.32,-0.44,NaN,1.5,NaN,1.29,3.79,61.98,4.1,6.6,NaN,3.0,NaN,7.9,7.3,34.6,10.15,161.2,7.5
2023-12-01,3.1,2.6,4.0,3.4,3.7,1.7,3.7,NaN,1.2,0.7,4.4,3.1,2.4,0.6,3.7,3.6,1.35,4.8,3.0,4.6,NaN,5.6,1.4,2.9,-0.3,2.71,5.69,3.2,4.62,1.5,5.1,4.66,-0.83,NaN,1.5,NaN,1.65,3.37,64.77,3.9,6.2,NaN,3.5,NaN,5.5,6.9,33.7,9.28,211.4,7.4

In [17]:
save_to_database('Inflation Rate', cpi_yoy_countries)

Inflation Rate: Inserted 12022 records

In [18]:
inflation_rate = pd.read_csv('../OECD_Stats/KeyIndicators/inflation_rate.csv', parse_dates=True, index_col=0)
inflation_rate

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Spain,Italy,Belgium,Norway,Israel,Ireland,Austria,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,Turkiye,Poland,Argentina,Russia
1999-01-01,1.67,0.2,2.0,0.66,0.24,0.07,0.24,NaN,2.18,-0.22,1.54,1.49,0.97,2.40,7.70,1.46,0.50,-1.2,0.39,9.38,1.46,1.65,-1.66,8.88,19.02,70.64,65.90,6.9,0.50,96.92
1999-02-01,1.61,-0.1,1.9,0.66,0.18,0.29,0.12,1.19,2.11,-0.10,1.84,1.39,0.98,2.11,7.10,1.59,0.49,-1.3,2.10,8.64,0.17,2.24,-1.85,8.63,18.54,53.41,63.93,5.6,0.00,103.24
1999-03-01,1.73,-0.4,2.1,0.99,0.35,0.47,0.24,NaN,2.15,0.13,2.24,1.30,1.23,2.24,6.96,1.30,0.41,-1.8,-0.46,8.95,0.51,3.02,-1.36,7.89,18.26,45.42,63.54,6.2,-0.60,107.58
1999-04-01,2.28,-0.1,2.0,1.65,0.42,0.59,0.60,NaN,2.11,0.06,2.36,1.48,1.17,2.52,5.95,1.43,0.19,-1.3,-0.90,8.36,0.42,3.35,-2.30,7.62,18.23,37.97,63.86,6.3,-0.70,113.06
1999-05-01,2.09,-0.4,1.7,1.53,0.41,0.58,0.48,1.04,2.24,0.08,2.23,1.48,0.85,2.52,6.08,1.43,0.49,-2.2,0.49,7.71,0.76,3.14,-1.39,7.02,18.01,30.74,62.97,6.4,-1.20,116.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-01,2.97,3.3,7.3,2.81,4.53,1.71,6.38,NaN,5.70,9.31,1.89,6.40,4.15,6.36,4.20,6.10,7.98,0.0,1.75,5.57,2.68,3.16,2.74,5.66,5.06,3.52,38.21,11.5,115.58,3.30
2023-07-01,3.18,3.3,6.4,3.27,4.29,1.61,6.16,NaN,4.57,9.26,2.33,5.93,4.14,5.39,3.36,5.81,7.02,-0.3,1.87,7.54,2.26,3.99,2.31,4.81,4.79,3.08,47.83,10.8,113.45,4.30
2023-08-01,3.67,3.2,6.3,4.00,4.86,1.55,6.14,5.37,3.03,7.45,2.62,5.44,4.09,4.84,4.17,6.33,7.37,0.1,2.52,6.91,3.42,4.61,1.95,4.80,4.64,3.27,58.94,10.1,124.37,5.20
2023-09-01,3.70,3.0,6.3,3.80,4.90,1.65,4.53,NaN,0.21,6.48,3.52,5.34,2.39,3.34,3.86,6.41,6.03,0.0,2.93,4.72,3.73,5.19,1.69,5.45,4.45,2.28,61.53,8.2,138.28,6.00
2023-10-01,3.24,3.3,4.7,3.12,3.98,1.69,3.79,NaN,-0.41,6.52,3.47,1.69,0.36,4.05,3.74,5.10,5.36,-0.2,3.05,4.45,3.81,4.82,1.62,6.09,4.26,2.56,61.36,6.6,142.66,6.70

### Inflation Rate MoM

In [19]:
cpi_mom = preprocessor.process_monthly_indicator('CPI (MoM)')
cpi_mom

12651 indicators read
Missing countries
['Australia', 'New Zealand', 'India', 'Thailand', 'Indonesia', 'Greece', 'Egypt']
Data coverage since 1999 (50 countries): 61.9 %
Data coverage since 2013 (30 countries): 80.8 %

,ReportDateTime,Country,Indicator,FullName,Period,Value
Period,,,,,,
1998-12-01,1999-01-01 04:00:00,United Kingdom,CPI (MoM),CPI (MoM) (Dec),1998-12-01 00:00:00,0.30
1998-12-01,1999-01-01 04:00:00,United States,CPI (MoM),CPI (MoM) (Dec),1998-12-01 00:00:00,0.20
1998-12-01,1999-01-01 04:00:00,Canada,CPI (MoM),CPI (MoM) (Dec),1998-12-01 00:00:00,-0.30
1998-12-01,1999-01-01 04:00:00,Mexico,CPI (MoM),CPI (MoM) (Dec),1998-12-01 00:00:00,2.44
1998-12-01,1999-01-01 04:00:00,Sweden,CPI (MoM),CPI (MoM) (Dec),1998-12-01 00:00:00,-0.20
...,...,...,...,...,...,...
2024-01-01,2024-02-22 03:30:00,Hong Kong,CPI (MoM),CPI (MoM) (Jan),2024-01-01 00:00:00,-0.10
2024-01-01,2024-02-22 04:00:00,Italy,CPI (MoM),Italian CPI (MoM) (Jan),2024-01-01 00:00:00,0.30
2024-01-01,2024-02-22 05:00:00,Eurozone,CPI (MoM),CPI (MoM) (Jan),2024-01-01 00:00:00,-0.40
2024-01-01,2024-02-22 23:00:00,Malaysia,CPI (MoM),CPI (MoM) (Jan),2024-01-01 00:00:00,0.20
2024-01-01,2024-02-23 00:00:00,Singapore,CPI (MoM),CPI (MoM) (Jan),2024-01-01 00:00:00,-0.70

In [20]:
cpi_mom_countries = preprocessor.transform_to_countries_df(cpi_mom, freq='M')
cpi_mom_countries

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,Sweden,Spain,Hong Kong,Italy,Singapore,Finland,Belgium,Norway,Israel,Ireland,New Zealand,Austria,Portugal,Eurozone,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Thailand,Indonesia,Malaysia,United Arab Emirates,Qatar,Kuwait,Turkiye,Philippines,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-01,0.2,NaN,-0.6,0.2,-0.4,0.2,-0.1,NaN,NaN,NaN,0.0,0.4,NaN,0.1,NaN,NaN,0.33,0.4,-0.5,-0.7,NaN,NaN,-0.3,-0.1,0.2,0.16,NaN,-0.1,0.7,NaN,NaN,2.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.85,1.5,-0.33,NaN,0.01,NaN,0.7,NaN,2.21,NaN,8.3
1999-02-01,0.0,NaN,0.2,0.1,0.3,0.3,0.1,NaN,NaN,NaN,0.0,0.1,NaN,0.1,NaN,NaN,0.23,0.2,-0.8,0.57,NaN,NaN,0.0,0.3,1.3,-0.03,NaN,0.4,1.05,-0.2,NaN,1.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.14,0.6,0.07,NaN,0.31,NaN,0.0,NaN,1.7,NaN,4.2
1999-03-01,0.1,NaN,0.5,0.4,0.4,0.1,0.0,NaN,NaN,NaN,0.4,0.4,NaN,0.3,NaN,NaN,0.07,0.7,-0.2,0.28,NaN,NaN,0.4,0.3,-0.8,-0.47,NaN,0.2,1.1,-0.1,NaN,0.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.28,1.0,0.64,NaN,0.61,NaN,0.0,NaN,0.94,NaN,2.8
1999-04-01,0.7,NaN,0.4,0.5,0.3,0.2,0.5,NaN,NaN,NaN,0.2,0.4,NaN,0.3,NaN,NaN,0.41,0.3,0.3,0.42,NaN,NaN,0.6,0.3,-1.0,-0.15,NaN,0.3,0.56,-0.1,NaN,0.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.8,0.38,NaN,0.59,NaN,0.1,NaN,0.78,NaN,3.0
1999-05-01,0.1,NaN,0.3,0.2,0.0,-0.2,0.0,NaN,NaN,NaN,0.2,0.0,NaN,0.1,NaN,NaN,0.16,-0.2,0.5,0.56,NaN,NaN,0.1,0.1,-1.3,0.18,NaN,-0.2,0.3,0.5,NaN,0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.7,0.12,NaN,0.47,NaN,0.0,NaN,0.48,NaN,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,0.6,0.2,0.3,0.4,1.0,0.2,0.3,NaN,0.4,-0.7,0.1,0.5,0.0,0.3,0.9,-0.7,0.76,-0.8,0.5,0.7,NaN,0.33,0.3,0.5,0.3,0.18,NaN,1.0,0.23,0.0,0.3,0.55,NaN,NaN,0.2,NaN,-0.58,0.2,9.09,1.1,0.0,0.1,NaN,0.38,0.7,0.2,NaN,0.7,12.3,0.3
2023-09-01,0.4,0.3,0.5,-0.1,-0.5,-0.1,0.3,NaN,-0.4,-0.3,0.5,0.2,0.4,0.2,0.5,0.7,0.34,-0.1,-0.1,0.1,NaN,0.41,1.1,0.3,0.2,0.34,NaN,0.6,0.26,0.0,0.6,0.44,NaN,NaN,0.1,NaN,0.65,0.3,4.75,1.1,-0.4,0.7,NaN,0.02,0.4,-0.7,NaN,0.54,12.7,0.9
2023-10-01,0.0,NaN,0.0,0.1,0.1,0.1,0.0,NaN,0.4,0.3,0.2,0.3,1.0,-0.2,0.2,0.3,NaN,1.0,0.5,0.3,NaN,0.33,-0.2,0.1,-0.1,0.33,NaN,0.3,0.24,0.1,0.9,0.38,NaN,NaN,0.1,NaN,1.08,0.4,3.43,-0.2,0.3,0.4,NaN,-0.32,-0.1,0.1,NaN,0.25,8.3,0.8
2023-11-01,0.1,NaN,-0.2,0.1,-0.2,-0.2,-0.4,NaN,-1.0,-0.3,0.3,-0.3,0.0,-0.5,-0.2,-0.3,0.17,0.5,-0.3,-0.8,NaN,0.25,-0.3,-0.6,-0.5,-0.07,NaN,-0.6,0.28,0.2,-0.1,0.64,NaN,NaN,NaN,NaN,0.16,0.23,3.28,0.2,0.7,0.7,NaN,-0.16,0.0,0.1,NaN,0.47,12.9,1.1
2023-12-01,0.3,NaN,0.4,-0.3,0.1,0.0,0.1,NaN,0.0,-0.5,0.7,0.0,0.1,0.2,0.4,0.3,0.43,0.1,-0.1,0.5,NaN,0.41,-0.4,0.2,0.1,0.29,NaN,0.0,0.56,0.1,0.0,0.71,NaN,NaN,0.2,NaN,1.59,0.3,2.93,0.2,0.1,-0.5,NaN,0.41,-0.3,-0.4,NaN,0.45,25.5,0.7

In [21]:
save_to_database('Inflation Rate MoM', cpi_mom_countries)

Inflation Rate MoM: Inserted 9280 records

## Bussiness

### Manufacturing PMI

In [22]:
manufacturing_pmi = preprocessor.process_pmi_indicator('Manufacturing PMI', 'procure.ch PMI')
manufacturing_pmi

6785 indicators read
Missing countries
['Netherlands', 'Singapore', 'Finland', 'Belgium', 'Israel', 'New Zealand', 'Portugal', 'Saudi Arabia', 'Thailand', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Chile', 'Peru', 'Czechia', 'Egypt', 'Colombia', 'Argentina']
Data coverage since 1999 (50 countries): 31.9 %
Data coverage since 2013 (30 countries): 77.6 %

,ReportDateTime,Country,Indicator,FullName,Period,Value
Period,,,,,,
1998-12-01,1999-01-01 04:00:00,Sweden,Manufacturing PMI,Manufacturing PMI (Dec),1998-12-01,44.1
1998-12-01,1999-01-01 04:00:00,Switzerland,Manufacturing PMI,procure.ch PMI (Dec),1998-12-01,51.4
1998-12-01,1999-01-01 04:00:00,Hungary,Manufacturing PMI,Manufacturing PMI (Dec),1998-12-01,47.7
1999-01-01,1999-02-01 04:00:00,Sweden,Manufacturing PMI,Manufacturing PMI (Jan),1999-01-01,48.0
1999-01-01,1999-02-01 04:00:00,Switzerland,Manufacturing PMI,procure.ch PMI (Jan),1999-01-01,46.5
...,...,...,...,...,...,...
2024-02-01,2024-02-22 03:15:00,France,Manufacturing PMI,HCOB France Manufacturing PMI (Feb),2024-02-01,46.8
2024-02-01,2024-02-22 03:30:00,Germany,Manufacturing PMI,HCOB Germany Manufacturing PMI (Feb),2024-02-01,42.3
2024-02-01,2024-02-22 04:00:00,Eurozone,Manufacturing PMI,HCOB Eurozone Manufacturing PMI (Feb),2024-02-01,46.1
2024-02-01,2024-02-22 04:30:00,United Kingdom,Manufacturing PMI,S&P Global/CIPS UK Manufacturing PMI,2024-02-01,47.1
2024-02-01,2024-02-22 09:45:00,United States,Manufacturing PMI,S&P Global US Manufacturing PMI (Feb),2024-02-01,51.5

In [23]:
df_pmi = preprocessor.transform_to_countries_df(manufacturing_pmi, freq='M')
df_pmi

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,Sweden,Spain,Hong Kong,Italy,Singapore,Finland,Belgium,Norway,Israel,Ireland,New Zealand,Austria,Portugal,Eurozone,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Thailand,Indonesia,Malaysia,United Arab Emirates,Qatar,Kuwait,Turkiye,Philippines,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-01,NaN,NaN,NaN,NaN,NaN,46.5,NaN,NaN,NaN,NaN,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.3,NaN,NaN,NaN,NaN,NaN
1999-02-01,NaN,NaN,NaN,NaN,NaN,48.0,NaN,NaN,NaN,NaN,48.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.7,NaN,NaN,NaN,NaN,NaN
1999-03-01,NaN,NaN,NaN,NaN,NaN,48.7,NaN,NaN,NaN,NaN,51.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.4,NaN,NaN,NaN,NaN,NaN
1999-04-01,NaN,NaN,NaN,NaN,NaN,51.2,NaN,NaN,NaN,NaN,53.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.5,NaN,NaN,NaN,NaN,NaN
1999-05-01,NaN,NaN,NaN,NaN,NaN,51.8,NaN,NaN,NaN,NaN,51.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.3,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,47.9,49.6,43.0,48.0,46.0,39.9,39.1,49.6,NaN,NaN,45.8,46.5,49.8,45.4,NaN,NaN,NaN,51.4,NaN,50.8,NaN,40.6,NaN,43.5,49.7,44.3,58.6,48.9,50.1,NaN,49.7,51.2,NaN,53.9,NaN,NaN,NaN,NaN,49.0,49.7,43.1,NaN,52.9,NaN,46.5,NaN,NaN,NaN,NaN,52.7
2023-09-01,49.8,48.5,44.3,47.5,44.2,44.9,39.6,48.7,NaN,NaN,43.3,47.7,49.6,46.8,NaN,NaN,NaN,52.5,NaN,49.6,NaN,39.6,NaN,43.4,50.2,46.4,57.5,49.9,49.0,NaN,45.4,49.8,NaN,52.3,NaN,NaN,NaN,NaN,49.6,50.6,43.9,NaN,50.3,NaN,47.4,NaN,NaN,NaN,NaN,54.5
2023-10-01,50.0,48.7,44.8,48.6,42.8,40.6,40.8,48.2,NaN,NaN,45.7,45.1,48.9,44.9,NaN,NaN,NaN,47.9,NaN,48.2,NaN,41.7,NaN,43.1,49.5,47.6,55.5,49.8,48.6,NaN,45.4,52.1,NaN,51.5,NaN,NaN,NaN,NaN,48.4,52.4,44.5,NaN,50.8,NaN,50.5,NaN,NaN,NaN,NaN,53.8
2023-11-01,49.4,48.3,47.2,47.7,42.9,42.1,42.6,47.7,NaN,NaN,49.0,46.3,50.1,44.4,NaN,NaN,NaN,49.9,NaN,50.0,NaN,42.2,NaN,44.2,49.4,48.3,56.0,50.0,49.4,NaN,48.2,52.5,NaN,51.7,NaN,NaN,NaN,NaN,47.2,52.7,48.7,NaN,50.9,NaN,52.2,NaN,NaN,NaN,NaN,53.8
2023-12-01,47.9,47.9,46.2,45.4,42.1,43.0,43.3,47.6,NaN,NaN,48.8,46.2,51.3,45.3,NaN,NaN,NaN,51.7,NaN,48.9,NaN,42.0,NaN,44.4,49.0,47.1,54.9,49.9,48.4,NaN,50.9,52.0,NaN,52.2,NaN,NaN,NaN,NaN,47.4,51.5,47.4,NaN,51.3,NaN,52.8,NaN,NaN,NaN,NaN,54.6

In [24]:
save_to_database('Manufacturing PMI', df_pmi)

Manufacturing PMI: Inserted 4792 records

In [25]:
historic_manufacturing_pmi = pd.read_csv('../Investing_PMI/Historic_Manufacturing_PMI.csv', index_col=0, parse_dates=True)
historic_manufacturing_pmi

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,Sweden,Spain,Hong Kong,Italy,Singapore,Norway,Israel,Ireland,New Zealand,Austria,Eurozone,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Indonesia,Turkiye,Poland,Greece,Hungary,Czechia,Russia
1999-01-01,NaN,NaN,NaN,NaN,NaN,46.5,NaN,NaN,NaN,NaN,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.3,NaN,NaN
1999-02-01,NaN,NaN,NaN,NaN,NaN,48.0,NaN,NaN,NaN,NaN,48.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.7,NaN,NaN
1999-03-01,NaN,NaN,NaN,NaN,NaN,48.7,NaN,NaN,NaN,NaN,51.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.4,NaN,NaN
1999-04-01,NaN,NaN,NaN,NaN,NaN,51.2,NaN,NaN,NaN,NaN,53.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.5,NaN,NaN
1999-05-01,NaN,NaN,NaN,NaN,NaN,51.8,NaN,NaN,NaN,NaN,51.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,47.9,49.6,43.0,48.0,46.0,39.9,39.1,49.6,45.9,NaN,45.8,46.5,49.8,45.4,49.9,51.4,48.1,50.8,46.1,40.6,43.5,49.7,44.3,58.6,48.9,50.1,56.6,49.7,51.2,53.9,49.0,43.1,52.9,46.5,42.9,52.7
2023-09-01,49.8,48.5,44.3,47.5,44.2,44.9,39.6,48.7,43.6,NaN,43.3,47.7,49.6,46.8,50.1,52.5,49.2,49.6,45.1,39.6,43.4,50.2,46.4,57.5,49.9,49.0,57.2,45.4,49.8,52.3,49.6,43.9,50.3,47.4,41.7,54.5
2023-10-01,50.0,48.7,44.8,48.6,42.8,40.6,40.8,48.2,43.8,NaN,45.7,45.1,48.9,44.9,50.2,47.9,47.6,48.2,42.5,41.7,43.1,49.5,47.6,55.5,49.8,48.6,58.4,45.4,52.1,51.5,48.4,44.5,50.8,50.5,42.0,53.8
2023-11-01,49.4,48.3,47.2,47.7,42.9,42.1,42.6,47.7,44.9,NaN,49.0,46.3,50.1,44.4,50.3,49.9,NaN,50.0,46.6,42.2,44.2,49.4,48.3,56.0,50.0,49.4,57.5,48.2,52.5,51.7,47.2,48.7,50.9,52.2,43.2,53.8
2023-12-01,47.9,47.9,46.2,45.4,42.1,43.0,43.3,47.6,44.8,NaN,48.8,46.2,51.3,45.3,50.5,51.7,NaN,48.9,NaN,42.0,44.4,49.0,47.1,54.9,49.9,48.4,57.5,50.9,52.0,52.2,47.4,47.4,51.3,52.8,41.8,54.6

### Services PMI

In [26]:
services_pmi = preprocessor.process_pmi_indicator('Services PMI')
services_pmi

3035 indicators read
Missing countries
['Canada', 'Switzerland', 'Netherlands', 'Denmark', 'Hong Kong', 'Singapore', 'Finland', 'Belgium', 'Norway', 'Israel', 'New Zealand', 'Austria', 'Portugal', 'China', 'Taiwan', 'Korea', 'Saudi Arabia', 'South Africa', 'Mexico', 'Thailand', 'Indonesia', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Turkiye', 'Philippines', 'Poland', 'Chile', 'Greece', 'Peru', 'Hungary', 'Czechia', 'Egypt', 'Colombia', 'Argentina']
Data coverage since 1999 (50 countries): 13.8 %
Data coverage since 2013 (30 countries): 39.5 %

,ReportDateTime,Country,Indicator,FullName,Period,Value
Period,,,,,,
2006-01-01,2006-02-01 04:00:00,Sweden,Services PMI,Services PMI (MoM) (Jan),2006-01-01,59.0
2006-02-01,2006-03-01 04:00:00,Sweden,Services PMI,Services PMI (MoM) (Feb),2006-02-01,58.5
2006-03-01,2006-04-01 04:00:00,Sweden,Services PMI,Services PMI (MoM) (Mar),2006-03-01,62.2
2006-04-01,2006-05-01 04:00:00,Sweden,Services PMI,Services PMI (MoM) (Apr),2006-04-01,56.8
2006-05-01,2006-06-01 04:00:00,Sweden,Services PMI,Services PMI (MoM) (May),2006-05-01,60.5
...,...,...,...,...,...,...
2024-02-01,2024-02-22 03:15:00,France,Services PMI,HCOB France Services PMI (Feb),2024-02-01,48.0
2024-02-01,2024-02-22 03:30:00,Germany,Services PMI,HCOB Germany Services PMI (Feb),2024-02-01,48.2
2024-02-01,2024-02-22 04:00:00,Eurozone,Services PMI,HCOB Eurozone Services PMI (Feb),2024-02-01,50.0
2024-02-01,2024-02-22 04:30:00,United Kingdom,Services PMI,S&P Global/CIPS UK Services PMI,2024-02-01,54.3
2024-02-01,2024-02-22 09:45:00,United States,Services PMI,S&P Global Services PMI (Feb),2024-02-01,51.3

In [27]:
df_services_pmi = preprocessor.transform_to_countries_df(services_pmi, freq='M')
df_services_pmi

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,Sweden,Spain,Hong Kong,Italy,Singapore,Finland,Belgium,Norway,Israel,Ireland,New Zealand,Austria,Portugal,Eurozone,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Thailand,Indonesia,Malaysia,United Arab Emirates,Qatar,Kuwait,Turkiye,Philippines,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,50.5,54.3,49.5,NaN,46.0,NaN,47.3,47.8,NaN,NaN,49.0,49.3,NaN,49.8,NaN,NaN,NaN,NaN,NaN,55.0,NaN,NaN,NaN,47.9,NaN,NaN,60.1,NaN,50.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.6
2023-09-01,50.1,53.8,49.3,NaN,44.4,NaN,50.3,51.8,NaN,NaN,46.3,50.5,NaN,49.9,NaN,NaN,NaN,NaN,NaN,54.5,NaN,NaN,NaN,48.7,NaN,NaN,61.0,NaN,48.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.4
2023-10-01,50.6,51.6,49.5,NaN,45.2,NaN,48.2,47.9,NaN,NaN,48.5,51.1,NaN,47.7,NaN,NaN,NaN,NaN,NaN,52.6,NaN,NaN,NaN,47.8,NaN,NaN,58.4,NaN,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.6
2023-11-01,50.8,50.8,50.9,NaN,45.4,NaN,49.6,46.0,NaN,NaN,48.3,51.0,NaN,49.5,NaN,NaN,NaN,NaN,NaN,54.2,NaN,NaN,NaN,48.7,NaN,NaN,56.9,NaN,51.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.2
2023-12-01,51.4,51.5,53.4,NaN,45.7,NaN,49.3,47.1,NaN,NaN,50.0,51.5,NaN,49.8,NaN,NaN,NaN,NaN,NaN,53.2,NaN,NaN,NaN,48.8,NaN,NaN,59.0,NaN,50.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.2

In [28]:
save_to_database('Services PMI', df_services_pmi)

Services PMI: Inserted 2067 records

In [29]:
historic_services_pmi = pd.read_csv('../Investing_PMI/Historic_Services_PMI.csv', index_col=0, parse_dates=True)
historic_services_pmi

,United States,Japan,United Kingdom,France,Switzerland,Germany,Australia,Sweden,Spain,Italy,Ireland,New Zealand,Eurozone,China,India,Brazil,Russia
1999-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,50.5,54.3,49.5,46.0,50.3,47.3,47.8,49.0,49.3,49.8,55.0,47.7,47.9,51.8,60.1,50.6,57.6
2023-09-01,50.1,53.8,49.3,44.4,52.8,50.3,51.8,46.3,50.5,49.9,54.5,50.6,48.7,50.2,61.0,48.7,55.4
2023-10-01,50.6,51.6,49.5,45.2,52.1,48.2,47.9,48.5,51.1,47.7,52.6,48.9,47.8,50.4,58.4,51.0,53.6
2023-11-01,50.8,50.8,50.9,45.4,53.6,49.6,46.0,48.3,51.0,49.5,54.2,51.2,48.7,51.5,56.9,51.2,52.2
2023-12-01,51.4,51.5,53.4,45.7,NaN,49.3,47.1,50.0,51.5,49.8,53.2,NaN,48.8,52.9,59.0,50.5,56.2

### PPI (YoY)

In [8]:
ppi_yoy = preprocessor.process_monthly_indicator('PPI (YoY)')
ppi_yoy

6030 indicators read
Missing countries
['United Kingdom', 'Canada', 'Netherlands', 'Denmark', 'Singapore', 'Belgium', 'Israel', 'Ireland', 'New Zealand', 'Portugal', 'Taiwan', 'India', 'Brazil', 'Saudi Arabia', 'Thailand', 'Indonesia', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Chile', 'Peru', 'Egypt', 'Colombia', 'Argentina']
Data coverage since 1999 (50 countries): 35.7 %
Data coverage since 2013 (30 countries): 49.9 %

,ReportDateTime,Country,Indicator,FullName,Period,Value
Period,,,,,,
1998-12-01,1999-01-01 04:00:00,Sweden,PPI (YoY),PPI (YoY) (Dec),1998-12-01 00:00:00,-1.73
1998-12-01,1999-01-01 04:00:00,Italy,PPI (YoY),Italian PPI (YoY) (Dec),1998-12-01 00:00:00,-1.40
1998-12-01,1999-01-01 04:00:00,Korea,PPI (YoY),PPI (YoY) (Dec),1998-12-01 00:00:00,3.60
1998-12-01,1999-01-01 04:00:00,Switzerland,PPI (YoY),PPI (YoY) (Dec),1998-12-01 00:00:00,-3.10
1998-12-01,1999-01-01 04:00:00,Germany,PPI (YoY),German PPI (YoY) (Dec),1998-12-01 00:00:00,-2.00
...,...,...,...,...,...,...
2024-03-01,2024-04-30 02:45:00,France,PPI (YoY),PPI (YoY) (Mar),2024-03-01 00:00:00,-7.50
2024-03-01,2024-04-30 03:00:00,Austria,PPI (YoY),Austrian PPI (YoY) (Mar),2024-03-01 00:00:00,-6.30
2024-03-01,2024-04-30 05:00:00,Greece,PPI (YoY),Greek PPI (YoY) (Mar),2024-03-01 00:00:00,-0.10
2024-03-01,2024-05-02 04:00:00,Italy,PPI (YoY),Italian PPI (YoY) (Mar),2024-03-01 00:00:00,-9.60
2024-04-01,2024-05-03 03:00:00,Turkiye,PPI (YoY),PPI (YoY) (Apr),2024-04-01 00:00:00,55.66

In [9]:
df_ppi_yoy = preprocessor.transform_to_countries_df(ppi_yoy, freq='M')
df_ppi_yoy

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,Sweden,Spain,Hong Kong,Italy,Singapore,Finland,Belgium,Norway,Israel,Ireland,New Zealand,Austria,Portugal,Eurozone,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Thailand,Indonesia,Malaysia,United Arab Emirates,Qatar,Kuwait,Turkiye,Philippines,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-01,NaN,-2.4,NaN,NaN,NaN,-3.0,-2.3,NaN,NaN,NaN,-2.48,NaN,NaN,-1.7,NaN,-5.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.1,-4.9,NaN,NaN,-1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.99,NaN,3.9,NaN,NaN,NaN,NaN,0.8,NaN,NaN,NaN,NaN
1999-02-01,NaN,-2.2,NaN,NaN,NaN,-2.9,-2.5,NaN,NaN,NaN,-3.57,NaN,NaN,-1.9,NaN,-5.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.1,-4.9,NaN,NaN,-4.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.28,NaN,3.7,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1999-03-01,NaN,-1.9,NaN,NaN,NaN,-2.7,-2.3,NaN,NaN,NaN,-3.15,NaN,NaN,-1.9,NaN,-5.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.9,-4.6,NaN,NaN,-4.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.23,NaN,4.7,NaN,NaN,NaN,NaN,0.1,NaN,NaN,NaN,NaN
1999-04-01,NaN,-1.9,NaN,NaN,NaN,-2.7,-1.7,NaN,NaN,NaN,-2.62,NaN,NaN,-1.7,NaN,-4.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.5,-3.9,NaN,NaN,-4.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.05,NaN,5.0,NaN,NaN,NaN,NaN,0.2,NaN,NaN,NaN,NaN
1999-05-01,NaN,-1.7,NaN,NaN,NaN,-2.3,-1.7,NaN,NaN,NaN,-1.65,NaN,NaN,-1.5,NaN,-3.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.3,-3.4,NaN,NaN,-2.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.96,NaN,5.2,NaN,NaN,NaN,NaN,0.4,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,1.6,3.2,NaN,NaN,-1.3,-0.8,-12.6,NaN,NaN,NaN,-5.9,-8.4,NaN,-12.2,NaN,-8.4,NaN,-37.4,NaN,NaN,NaN,-2.4,NaN,-11.5,-3.0,NaN,NaN,1.0,NaN,NaN,4.3,0.1,NaN,NaN,NaN,NaN,NaN,NaN,49.41,NaN,-2.8,NaN,-8.3,NaN,-2.3,1.8,NaN,NaN,NaN,10.6
2023-09-01,2.2,2.0,NaN,NaN,-1.7,-1.0,-14.7,NaN,NaN,NaN,-4.6,-10.0,NaN,-14.1,NaN,-8.2,NaN,-29.3,NaN,NaN,NaN,-3.8,NaN,-12.4,-2.5,NaN,NaN,1.3,NaN,NaN,5.1,0.7,NaN,NaN,NaN,NaN,NaN,NaN,47.44,NaN,-2.8,NaN,-4.3,NaN,-2.5,0.8,NaN,NaN,NaN,16.7
2023-10-01,1.3,0.8,NaN,NaN,-1.2,-0.9,-11.0,4.1,NaN,NaN,-3.7,-7.8,2.7,-9.5,NaN,-8.1,NaN,-10.9,NaN,NaN,NaN,-4.0,NaN,-9.4,-2.6,NaN,NaN,0.8,NaN,NaN,5.8,1.3,NaN,NaN,NaN,NaN,NaN,NaN,39.39,-0.2,-4.1,NaN,-13.5,NaN,-6.6,0.2,NaN,NaN,NaN,21.6
2023-11-01,0.9,0.3,NaN,NaN,0.3,-1.3,-7.9,NaN,NaN,NaN,-4.2,NaN,NaN,-12.6,NaN,-7.7,NaN,-15.6,NaN,NaN,NaN,-2.8,NaN,27.1,-3.0,NaN,NaN,0.6,NaN,NaN,4.6,1.2,NaN,NaN,NaN,NaN,NaN,NaN,42.25,NaN,-4.7,NaN,-8.9,NaN,37.0,0.8,NaN,NaN,NaN,21.9
2023-12-01,1.0,0.0,NaN,NaN,-0.9,-1.1,-8.6,NaN,NaN,NaN,-7.7,-7.4,NaN,-16.0,NaN,-7.6,NaN,-25.6,NaN,NaN,NaN,-3.0,NaN,24.6,-2.7,NaN,NaN,1.2,NaN,NaN,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,44.22,0.3,-6.4,NaN,-6.6,NaN,-7.2,1.4,NaN,NaN,NaN,19.2

In [10]:
save_to_database('Producer Price Index', df_ppi_yoy)

Producer Price Index: Inserted 5359 records

### Industrial Production

In [11]:
industrial_production_yoy = preprocessor.process_monthly_indicator('Industrial Production (YoY)', 'Industrial Output (YoY)')
industrial_production_yoy

6663 indicators read
Missing countries
['Japan', 'Canada', 'France', 'Australia', 'Netherlands', 'Denmark', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'New Zealand', 'Portugal', 'Saudi Arabia', 'South Africa', 'Indonesia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Chile', 'Peru', 'Egypt']
Data coverage since 1999 (50 countries): 42.4 %
Data coverage since 2013 (30 countries): 50.3 %

,ReportDateTime,Country,Indicator,FullName,Period,Value
Period,,,,,,
1998-12-01,1999-01-01 04:00:00,United Kingdom,Industrial Production (YoY),Industrial Production (YoY) (Dec),1998-12-01 00:00:00,0.40
1998-12-01,1999-01-01 04:00:00,Mexico,Industrial Production (YoY),Industrial Production (YoY) (Dec),1998-12-01 00:00:00,3.65
1998-12-01,1999-01-01 04:00:00,Italy,Industrial Production (YoY),Italian Industrial Production (YoY) (Dec),1998-12-01 00:00:00,-6.00
1998-12-01,1999-01-01 04:00:00,Korea,Industrial Production (YoY),Industrial Production (YoY) (Dec),1998-12-01 00:00:00,6.60
1998-12-01,1999-01-01 04:00:00,Spain,Industrial Production (YoY),Spanish Industrial Production (YoY) (Dec),1998-12-01 00:00:00,5.20
...,...,...,...,...,...,...
2024-03-01,2024-04-24 12:00:00,Russia,Industrial Production (YoY),Industrial Production (YoY) (Mar),2024-03-01 00:00:00,4.00
2024-03-01,2024-04-26 01:00:00,Singapore,Industrial Production (YoY),Industrial Production (YoY) (Mar),2024-03-01 00:00:00,-9.20
2024-03-01,2024-04-29 19:00:00,Korea,Industrial Production (YoY),Industrial Production (YoY) (Mar),2024-03-01 00:00:00,0.70
2024-03-01,2024-04-30 00:00:00,Thailand,Industrial Production (YoY),Industrial Production (YoY) (Mar),2024-03-01 00:00:00,-5.13
2024-03-01,2024-05-03 08:00:00,Brazil,Industrial Production (YoY),Industrial Production (YoY) (Mar),2024-03-01 00:00:00,-2.80

In [12]:
df_industrial_production_yoy = preprocessor.transform_to_countries_df(industrial_production_yoy, freq='M')
df_industrial_production_yoy

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,Sweden,Spain,Hong Kong,Italy,Singapore,Finland,Belgium,Norway,Israel,Ireland,New Zealand,Austria,Portugal,Eurozone,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Thailand,Indonesia,Malaysia,United Arab Emirates,Qatar,Kuwait,Turkiye,Philippines,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-01,NaN,NaN,-0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.7,NaN,-0.9,9.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.2,17.9,18.23,NaN,16.9,-3.4,NaN,NaN,3.43,NaN,NaN,-12.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.1,NaN
1999-02-01,NaN,NaN,-0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.1,NaN,-2.3,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.7,2.1,-5.35,NaN,5.4,-4.91,NaN,NaN,1.32,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-7.8,NaN
1999-03-01,NaN,NaN,-0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.6,NaN,-0.5,6.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.4,9.0,8.16,NaN,20.7,-2.72,NaN,NaN,1.26,NaN,NaN,2.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-7.9,NaN
1999-04-01,NaN,NaN,-1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.2,NaN,-3.1,5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.5,9.1,7.99,NaN,18.8,-2.54,NaN,NaN,1.27,NaN,NaN,4.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-10.4,NaN
1999-05-01,NaN,NaN,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,NaN,-3.7,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.7,8.9,10.25,NaN,23.9,-3.02,NaN,NaN,0.67,NaN,NaN,6.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,0.25,NaN,1.3,NaN,NaN,NaN,-1.75,NaN,NaN,NaN,-4.0,-3.4,NaN,-4.2,-12.1,NaN,NaN,NaN,NaN,NaN,NaN,-2.5,NaN,-5.1,4.5,-10.53,10.3,-0.5,0.5,NaN,NaN,5.2,-7.53,NaN,-0.3,NaN,NaN,NaN,3.1,5.7,-2.0,NaN,-0.5,NaN,-5.3,-1.7,NaN,-8.6,-3.1,5.4
2023-09-01,0.08,NaN,1.5,NaN,NaN,NaN,-3.86,NaN,NaN,NaN,4.7,-1.4,NaN,-2.0,-2.1,NaN,NaN,NaN,NaN,NaN,NaN,-3.3,NaN,-6.9,4.5,-6.72,5.8,3.0,0.6,NaN,NaN,3.9,-6.06,NaN,-0.5,NaN,NaN,NaN,4.0,9.1,-3.1,NaN,2.0,NaN,-7.3,-5.0,NaN,-6.9,-3.6,5.6
2023-10-01,-0.68,NaN,0.4,NaN,NaN,-0.4,-3.38,NaN,NaN,NaN,1.9,-1.5,4.1,-1.1,7.4,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,-6.6,4.6,-2.32,11.7,1.1,1.2,NaN,NaN,5.5,-4.29,NaN,2.7,NaN,NaN,NaN,1.1,8.9,1.6,NaN,10.5,NaN,-3.2,1.9,NaN,-5.9,-0.8,5.3
2023-11-01,-0.39,NaN,-5.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.1,-1.1,NaN,-3.7,1.0,NaN,NaN,NaN,NaN,NaN,NaN,3.9,NaN,2.0,6.6,-2.48,7.1,5.3,0.9,NaN,NaN,3.2,-4.71,NaN,4.8,NaN,NaN,NaN,NaN,1.3,-0.7,NaN,-0.9,NaN,0.5,0.5,NaN,4.5,1.4,4.3
2023-12-01,0.98,NaN,-4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2,0.6,NaN,0.1,-2.5,NaN,NaN,NaN,NaN,NaN,NaN,-3.6,NaN,-1.7,6.8,-3.99,4.3,6.2,-1.3,NaN,NaN,3.0,-6.27,NaN,3.0,NaN,NaN,NaN,-0.2,2.2,-3.9,NaN,-1.4,NaN,2.0,4.0,NaN,0.5,-2.7,2.7

In [13]:
save_to_database('Industrial Production', df_industrial_production_yoy)

Industrial Production: Inserted 6353 records

### Retail Sales

In [15]:
retail_sales_yoy = preprocessor.process_monthly_indicator('Retail Sales (YoY)')
retail_sales_yoy

7642 indicators read
Missing countries
['Canada', 'France', 'Australia', 'Finland', 'Belgium', 'Norway', 'Israel', 'Austria', 'Portugal', 'Taiwan', 'India', 'Korea', 'Saudi Arabia', 'Thailand', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Philippines', 'Peru', 'Egypt']
Data coverage since 1999 (50 countries): 46.9 %
Data coverage since 2013 (30 countries): 56.1 %

,ReportDateTime,Country,Indicator,FullName,Period,Value
Period,,,,,,
1998-12-01,1999-01-01 04:00:00,United Kingdom,Retail Sales (YoY),Retail Sales (YoY) (Dec),1998-12-01 00:00:00,-0.30
1998-12-01,1999-01-01 04:00:00,Sweden,Retail Sales (YoY),Retail Sales (YoY) (Dec),1998-12-01 00:00:00,3.70
1998-12-01,1999-01-01 04:00:00,Germany,Retail Sales (YoY),German Retail Sales (YoY) (Dec),1998-12-01 00:00:00,2.10
1998-12-01,1999-01-01 04:00:00,Netherlands,Retail Sales (YoY),Dutch Retail Sales (YoY) (Dec),1998-12-01 00:00:00,7.84
1998-12-01,1999-01-01 04:00:00,Japan,Retail Sales (YoY),Retail Sales (YoY) (Dec),1998-12-01 00:00:00,0.70
...,...,...,...,...,...,...
2024-04-01,2024-04-30 09:00:00,Chile,Retail Sales (YoY),Retail Sales (YoY),2024-04-01 00:00:00,0.70
2024-03-01,2024-05-01 00:30:00,Netherlands,Retail Sales (YoY),Dutch Retail Sales (YoY) (Mar),2024-03-01 00:00:00,3.90
2024-03-01,2024-05-02 02:30:00,Switzerland,Retail Sales (YoY),Retail Sales (YoY) (Mar),2024-03-01 00:00:00,-0.10
2024-03-01,2024-05-03 01:00:00,Singapore,Retail Sales (YoY),Retail Sales (YoY) (Mar),2024-03-01 00:00:00,2.70
2024-03-01,2024-05-03 04:30:00,Hong Kong,Retail Sales (YoY),Retail Sales (YoY) (Mar),2024-03-01 00:00:00,-7.00

In [16]:
df_retail_sales_yoy = preprocessor.transform_to_countries_df(retail_sales_yoy, freq='M')
df_retail_sales_yoy

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,Sweden,Spain,Hong Kong,Italy,Singapore,Finland,Belgium,Norway,Israel,Ireland,New Zealand,Austria,Portugal,Eurozone,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Thailand,Indonesia,Malaysia,United Arab Emirates,Qatar,Kuwait,Turkiye,Philippines,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-01,NaN,-0.6,0.8,NaN,NaN,NaN,-2.3,NaN,0.0,NaN,4.2,NaN,-20.8,NaN,-12.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.9,NaN,NaN,NaN,2.3,NaN,NaN,NaN,NaN,NaN
1999-02-01,NaN,1.8,0.6,NaN,NaN,NaN,0.9,NaN,4.0,NaN,5.0,NaN,-4.1,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.5,NaN,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN
1999-03-01,NaN,1.8,1.2,NaN,NaN,NaN,4.9,NaN,10.71,NaN,7.5,NaN,-13.9,NaN,19.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.6,NaN,NaN,NaN,10.3,NaN,NaN,NaN,NaN,NaN
1999-04-01,NaN,-2.3,0.9,NaN,NaN,NaN,-2.7,NaN,5.49,NaN,2.3,NaN,-9.3,NaN,-4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.3,NaN,NaN,NaN,4.8,NaN,NaN,NaN,NaN,NaN
1999-05-01,NaN,-3.5,2.1,NaN,NaN,NaN,-2.3,NaN,2.06,NaN,5.9,NaN,-7.8,NaN,10.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.3,NaN,NaN,NaN,4.1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,2.47,7.0,-1.4,NaN,NaN,-1.8,-2.3,NaN,6.8,-1.0,-1.7,7.2,13.7,2.4,4.0,NaN,NaN,NaN,NaN,3.6,3.7,NaN,NaN,-2.1,4.6,NaN,NaN,NaN,2.3,NaN,-0.5,3.2,NaN,NaN,NaN,NaN,NaN,NaN,31.0,NaN,3.1,-10.1,-3.6,NaN,-7.1,-2.8,NaN,-10.0,138.3,11.0
2023-09-01,3.75,5.8,-1.0,NaN,NaN,-0.6,-4.3,NaN,3.4,1.3,-3.8,6.5,13.0,1.3,0.6,NaN,NaN,NaN,NaN,2.5,1.6,NaN,NaN,-2.9,5.5,NaN,NaN,NaN,3.3,NaN,0.9,2.3,NaN,1.5,NaN,NaN,NaN,NaN,17.2,NaN,3.6,-9.1,-3.3,NaN,-7.3,-5.1,NaN,-9.3,149.9,12.2
2023-10-01,2.48,4.2,-2.7,NaN,NaN,-0.1,-0.1,NaN,3.9,3.7,-1.0,5.0,5.6,0.3,-0.1,NaN,NaN,NaN,NaN,-0.2,-2.0,NaN,NaN,-1.2,7.6,NaN,NaN,NaN,0.2,NaN,-2.5,3.4,NaN,NaN,NaN,NaN,NaN,NaN,13.8,NaN,4.8,-5.4,-6.3,NaN,-6.5,0.8,NaN,-11.0,195.5,12.7
2023-11-01,4.09,5.3,0.1,NaN,NaN,-1.3,-5.9,NaN,3.7,6.3,NaN,5.2,-4.2,4.4,6.2,NaN,NaN,NaN,NaN,-4.2,2.1,NaN,NaN,-2.8,10.1,NaN,NaN,NaN,1.5,NaN,0.4,2.4,NaN,2.4,NaN,NaN,NaN,NaN,13.7,NaN,2.6,-6.9,0.9,NaN,0.6,-8.7,NaN,1.7,NaN,10.5
2023-12-01,5.59,2.1,-2.4,NaN,NaN,-0.8,-1.7,NaN,1.9,4.5,-2.2,3.1,1.1,3.4,7.4,NaN,NaN,NaN,NaN,3.9,-0.6,NaN,NaN,-2.8,7.4,NaN,NaN,NaN,0.4,NaN,-0.6,2.5,NaN,0.7,NaN,NaN,NaN,NaN,12.8,NaN,0.5,-3.8,-1.2,NaN,-3.9,-8.2,NaN,-1.8,NaN,-10.5

In [17]:
save_to_database('Retail Sales', df_retail_sales_yoy)

Retail Sales: Inserted 7030 records

### Producer Price Index (MoM)

In [4]:
ppi_mom = preprocessor.process_monthly_indicator('PPI (MoM)')
ppi_mom

4598 indicators read
Missing countries
['United Kingdom', 'Canada', 'Australia', 'Netherlands', 'Denmark', 'Spain', 'Hong Kong', 'Singapore', 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland', 'New Zealand', 'Portugal', 'China', 'Taiwan', 'India', 'Saudi Arabia', 'Thailand', 'Indonesia', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Philippines', 'Poland', 'Chile', 'Greece', 'Peru', 'Hungary', 'Egypt', 'Colombia', 'Argentina']
Data coverage since 1999 (50 countries): 26.2 %
Data coverage since 2013 (30 countries): 40.8 %

,ReportDateTime,Country,Indicator,FullName,Period,Value
Period,,,,,,
1998-12-01,1999-01-01 04:00:00,Sweden,PPI (MoM),PPI (MoM) (Dec),1998-12-01 00:00:00,0.00
1998-12-01,1999-01-01 04:00:00,Italy,PPI (MoM),Italian PPI (MoM) (Dec),1998-12-01 00:00:00,-0.20
1998-12-01,1999-01-01 04:00:00,Korea,PPI (MoM),PPI (MoM) (Dec),1998-12-01 00:00:00,-0.60
1998-12-01,1999-01-01 04:00:00,Switzerland,PPI (MoM),PPI (MoM) (Dec),1998-12-01 00:00:00,-0.20
1998-12-01,1999-01-01 04:00:00,Germany,PPI (MoM),German PPI (MoM) (Dec),1998-12-01 00:00:00,-0.10
...,...,...,...,...,...,...
2024-03-01,2024-04-30 02:45:00,France,PPI (MoM),French PPI (MoM) (Mar),2024-03-01 00:00:00,-0.20
2024-03-01,2024-04-30 03:00:00,Austria,PPI (MoM),Austrian PPI (MoM) (Mar),2024-03-01 00:00:00,-0.80
2024-03-01,2024-04-30 08:00:00,Brazil,PPI (MoM),Brazilian PPI (MoM) (Mar),2024-03-01 00:00:00,0.35
2024-03-01,2024-05-02 04:00:00,Italy,PPI (MoM),Italian PPI (MoM) (Mar),2024-03-01 00:00:00,-0.20
2024-04-01,2024-05-03 03:00:00,Turkiye,PPI (MoM),PPI (MoM) (Apr),2024-04-01 00:00:00,3.60

In [5]:
df_ppi_mom = preprocessor.transform_to_countries_df(ppi_mom, freq='M')
df_ppi_mom

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,Sweden,Spain,Hong Kong,Italy,Singapore,Finland,Belgium,Norway,Israel,Ireland,New Zealand,Austria,Portugal,Eurozone,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Thailand,Indonesia,Malaysia,United Arab Emirates,Qatar,Kuwait,Turkiye,Philippines,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-01,NaN,-0.3,NaN,NaN,NaN,0.0,-0.5,NaN,NaN,NaN,-0.44,NaN,NaN,-0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.3,NaN,NaN,NaN,-1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.58,NaN,NaN,NaN,NaN,NaN,NaN,0.5,NaN,NaN,NaN,7.2
1999-02-01,NaN,-0.1,NaN,NaN,-0.1,-0.5,-0.1,NaN,NaN,NaN,-1.33,NaN,NaN,-0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.1,NaN,NaN,NaN,-0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.37,NaN,NaN,NaN,NaN,NaN,NaN,0.1,NaN,NaN,NaN,5.3
1999-03-01,NaN,-0.1,NaN,NaN,0.2,0.1,0.0,NaN,NaN,NaN,0.11,NaN,NaN,-0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,NaN,NaN,NaN,-0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN,NaN,0.1,NaN,NaN,NaN,4.1
1999-04-01,NaN,-0.3,NaN,NaN,0.4,0.2,0.6,NaN,NaN,NaN,0.0,NaN,NaN,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,NaN,NaN,NaN,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.28,NaN,NaN,NaN,NaN,NaN,NaN,0.2,NaN,NaN,NaN,4.4
1999-05-01,NaN,0.1,NaN,NaN,-0.1,0.2,0.0,NaN,NaN,NaN,0.11,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,NaN,NaN,NaN,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.19,NaN,NaN,NaN,NaN,NaN,NaN,0.2,NaN,NaN,NaN,3.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,0.7,0.3,NaN,NaN,0.6,-0.2,0.3,NaN,NaN,NaN,-0.7,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,NaN,0.6,NaN,NaN,NaN,0.9,0.92,NaN,1.0,0.5,NaN,NaN,NaN,NaN,NaN,NaN,5.89,NaN,NaN,NaN,NaN,NaN,NaN,0.2,NaN,NaN,NaN,4.4
2023-09-01,0.5,-0.3,NaN,NaN,0.7,-0.1,-0.2,NaN,NaN,NaN,1.8,NaN,NaN,0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,NaN,0.5,NaN,NaN,NaN,0.4,1.11,NaN,1.5,0.5,NaN,NaN,NaN,NaN,NaN,NaN,3.4,NaN,NaN,NaN,NaN,NaN,NaN,0.3,NaN,NaN,NaN,4.7
2023-10-01,-0.5,-0.4,NaN,NaN,0.0,0.2,-0.1,NaN,NaN,NaN,-0.6,NaN,NaN,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.2,NaN,0.2,NaN,NaN,NaN,-0.1,1.11,NaN,1.0,0.5,NaN,NaN,NaN,NaN,NaN,NaN,1.94,NaN,NaN,NaN,NaN,NaN,NaN,-0.1,NaN,NaN,NaN,2.0
2023-11-01,0.0,0.2,NaN,NaN,2.4,-0.9,-0.5,NaN,NaN,NaN,1.4,NaN,NaN,-0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,NaN,-0.9,NaN,NaN,NaN,-0.4,-0.54,NaN,-0.6,-0.4,NaN,NaN,NaN,NaN,NaN,NaN,2.81,NaN,NaN,NaN,NaN,NaN,NaN,-0.4,NaN,NaN,NaN,-0.1
2023-12-01,-0.1,0.3,NaN,NaN,0.1,-0.6,-1.2,NaN,NaN,NaN,-1.6,NaN,NaN,-0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.7,NaN,1.1,NaN,NaN,NaN,0.1,-1.29,NaN,-0.6,-0.3,NaN,NaN,NaN,NaN,NaN,NaN,1.14,NaN,NaN,NaN,NaN,NaN,NaN,-0.5,NaN,NaN,NaN,-3.1

In [6]:
save_to_database('Producer Price Index (MoM)', df_ppi_mom)

Producer Price Index (MoM): Inserted 3935 records

### Trade Balance

In [7]:
trade_balance = preprocessor.process_monthly_indicator('Trade Balance', 'Trade Balance (MoM)', pct_value=False)
trade_balance

13303 indicators read
Missing countries
['Belgium', 'Ireland', 'Saudi Arabia', 'Thailand', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Poland', 'Greece', 'Hungary', 'Egypt', 'Colombia']
Data coverage since 1999 (50 countries): 64.7 %
Data coverage since 2013 (30 countries): 81.6 %

,ReportDateTime,Country,Indicator,FullName,Period,Value
Period,,,,,,
1998-12-01,1999-01-01 04:00:00,United Kingdom,Trade Balance,Trade Balance (Dec),1998-12-01 00:00:00,-1.940000e+09
1998-12-01,1999-01-01 04:00:00,United States,Trade Balance,Trade Balance (Dec),1998-12-01 00:00:00,-1.470000e+10
1998-12-01,1999-01-01 04:00:00,Canada,Trade Balance,Trade Balance (Dec),1998-12-01 00:00:00,2.350000e+09
1998-12-01,1999-01-01 04:00:00,Mexico,Trade Balance,Trade Balance (Dec),1998-12-01 00:00:00,-8.100000e+08
1998-12-01,1999-01-01 04:00:00,Sweden,Trade Balance,Trade Balance (Dec),1998-12-01 00:00:00,1.140000e+10
...,...,...,...,...,...,...
2024-03-01,2024-04-30 08:00:00,South Africa,Trade Balance,Trade Balance (Mar),2024-03-01 00:00:00,7.270000e+09
2024-04-01,2024-04-30 20:00:00,Korea,Trade Balance,Trade Balance (Apr),2024-04-01 00:00:00,1.530000e+09
2024-04-01,2024-05-01 21:30:00,Australia,Trade Balance,Trade Balance,2024-04-01 00:00:00,5.024000e+09
2024-03-01,2024-05-02 08:30:00,United States,Trade Balance,Trade Balance (Mar),2024-03-01 00:00:00,-6.940000e+10
2024-03-01,2024-05-02 08:30:00,Canada,Trade Balance,Trade Balance (Mar),2024-03-01 00:00:00,-2.280000e+09

In [8]:
df_trade_balance = preprocessor.transform_to_countries_df(trade_balance, freq='M')
df_trade_balance

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,Sweden,Spain,Hong Kong,Italy,Singapore,Finland,Belgium,Norway,Israel,Ireland,New Zealand,Austria,Portugal,Eurozone,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Thailand,Indonesia,Malaysia,United Arab Emirates,Qatar,Kuwait,Turkiye,Philippines,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-01,-1.590000e+10,754000000000.0,-2770000000.0,3120000000.0,1500000000.0,380000000.0,5100000000.0,-1050000000.0,620000000.0,2500000000.0,10200000000.0,NaN,NaN,390000000.0,NaN,670000000.0,NaN,3350000000.0,-357100000.0,NaN,-253200000.0,-600000000.0,NaN,-2700000000.0,NaN,NaN,-700000000.0,0.0,-720000000.0,NaN,NaN,-550000000.0,NaN,1250000000.0,4400000000.0,NaN,NaN,NaN,-340000000.0,183000000.0,NaN,NaN,NaN,31730000.0,NaN,NaN,NaN,NaN,-363000000.0,1820000000.0
1999-02-01,-1.880000e+10,931100000000.0,-2650000000.0,2760000000.0,1200000000.0,-290000000.0,5400000000.0,-1450000000.0,560000000.0,2400000000.0,11100000000.0,NaN,NaN,980000000.0,NaN,560000000.0,NaN,1650000000.0,-968200000.0,NaN,28700000.0,-461000000.0,NaN,1900000000.0,NaN,NaN,-430000000.0,0.0,100000000.0,NaN,NaN,-320000000.0,NaN,1390000000.0,5000000000.0,NaN,NaN,NaN,-590000000.0,314000000.0,NaN,NaN,NaN,-68610000.0,NaN,NaN,NaN,NaN,-332000000.0,1980000000.0
1999-03-01,-1.790000e+10,1303500000000.0,-2410000000.0,2940000000.0,1400000000.0,-450000000.0,4600000000.0,-1320000000.0,1150000000.0,3000000000.0,12000000000.0,NaN,NaN,1220000000.0,NaN,680000000.0,NaN,2450000000.0,-633200000.0,NaN,93700000.0,-518000000.0,NaN,2700000000.0,NaN,NaN,-420000000.0,0.0,-230000000.0,NaN,NaN,-340000000.0,NaN,1980000000.0,6500000000.0,NaN,NaN,NaN,-640000000.0,246000000.0,NaN,NaN,NaN,-90480000.0,NaN,NaN,NaN,NaN,-80000000.0,2370000000.0
1999-04-01,-1.830000e+10,1037000000000.0,-2620000000.0,3070000000.0,1200000000.0,130000000.0,5600000000.0,-1750000000.0,640000000.0,3200000000.0,11700000000.0,NaN,NaN,950000000.0,NaN,690000000.0,NaN,4440000000.0,-670900000.0,NaN,39300000.0,-513000000.0,NaN,2100000000.0,NaN,NaN,-590000000.0,0.0,30000000.0,NaN,NaN,-410000000.0,NaN,1760000000.0,6100000000.0,NaN,NaN,NaN,-1380000000.0,-253000000.0,NaN,NaN,NaN,-109510000.0,NaN,NaN,NaN,NaN,161000000.0,3280000000.0
1999-05-01,-2.020000e+10,820100000000.0,-1930000000.0,2860000000.0,1300000000.0,140000000.0,3600000000.0,-1390000000.0,490000000.0,3500000000.0,9600000000.0,NaN,NaN,1080000000.0,NaN,740000000.0,NaN,5690000000.0,-699800000.0,NaN,86800000.0,-287000000.0,NaN,-900000000.0,NaN,NaN,-980000000.0,0.0,300000000.0,NaN,NaN,-250000000.0,NaN,2080000000.0,6600000000.0,NaN,NaN,NaN,-1180000000.0,213000000.0,NaN,NaN,NaN,-13360000.0,NaN,NaN,NaN,NaN,289000000.0,2260000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,-5.830000e+10,-930500000000.0,-15950000000.0,720000000.0,-8199999999.999999,4054000000.0,16600000000.000002,9640000000.0,10880000000.0,14800000000.0,-8400000000.0,-4900000000.0,NaN,2070000000.0,3584000000.0,100000000.0,NaN,61400000000.0,-2787600000.0,NaN,-2291000000.0,-255600000.0,-6650000000.0,6700000000.0,488000000000.0,8590000000.0,-24160000000.0,880000000.0,9770000000.0,NaN,13280000000.0,-1377000000.0,NaN,3120000000.0,17300000000.0,NaN,NaN,NaN,-8660000000.0,-4128000000.0,NaN,590000000.0,NaN,1047000000.0,NaN,NaN,NaN,NaN,-1011000000.0,11000000000.0
2023-09-01,-6.150000e+10,62400000000.0,-14290000000.0,2040000000.0,-8900000000.0,6316000000.0,16500000000.0,6786000000.0,13310000000.0,6200000000.0,2200000000.0,-4400000000.0,-25600000000.0,2350000000.0,4943000000.0,370000000.0,NaN,45600000000.0,-1465500000.0,NaN,-2329000000.0,195600000.0,-6740000000.0,10000000000.0,558740000000.0,10320000000.0,-19370000000.0,3700000000.0,8900000000.0,NaN,13140000000.0,-1481000000.0,NaN,3420000000.0,24500000000.0,NaN,NaN,NaN,-5010000000.0,-3511000000.0,NaN,980000000.0,NaN,1200000000.0,NaN,NaN,NaN,NaN,-793000000.0,15290000000.0
2023-10-01,-6.430000e+10,-662500000000.0,-17030000000.000002,2970000000.0,-8600000000.0,4600000000.0,17800000000.0,7129000000.0,10800000000.0,17300000000.0,8900000000.0,-3800000000.0,-64599999999.999992,NaN,6524000000.0,20000000.0,NaN,86900000000.0,-1945500000.0,NaN,-1709000000.0,-1894100000.0,-7540000000.0,11100000000.0,405470000000.0,5770000000.0,-31460000000.0,1640000000.0,8960000000.0,NaN,-12660000000.0,-252000000.0,NaN,3480000000.0,12900000000.0,NaN,NaN,NaN,-6520000000.0,-4174000000.0,NaN,950000000.0,NaN,1004000000.0,NaN,NaN,NaN,NaN,-454000000.0,9430000000.0
2023-11-01,-6.150000e+10,-776900000000.0,-15620000000.0,-40000000.0,-13800000000.0,3707000000.0,10800000000.0,13201000000.0,NaN,25600000000.0,12700000000.0,-5100000000.0,-25800000000.0,4699000000.0,6270000000.0,420000000.0,NaN,80100000000.0,-1511300000.0,NaN,-1234000000.0,-1578900000.0,-7990000000.0,-11700000000.0,490820000000.0,9800000000.0,-20580000000.0,3800000000.0,8780000000.0,NaN,21020000000.0,630000000.0,NaN,2410000000.0,12400000000.0,NaN,NaN,NaN,-5920000000.0,-3677000000.0,NaN,1290000000.0,NaN,271000000.0,NaN,NaN,NaN,NaN,-615000000.0,NaN
2023-12-01,-6.740000e+10,62100000000.0,-19270000000.0,-160000000.0,-14900000000.0,1248000000.0,10000000000.0,12237000000.0,9310000000.0,23500000000.0,3800000000.0,-2400000000.0,-27900000000.0,1067000000.0,7778000000.0,-670000000.0,NaN,77300000000.0,-2029800000.0,NaN,-323000000.0,-1358100000.0,-2750000000.0,-8800000000.0,540900000000.0,11100000000.0,-19800000000.0,4460000000.0,9360000000.0,NaN,14060000000.0,4242000000.0,NaN,3300000000.0,11800000000.0,NaN,NaN,NaN,-6040000000.0,-4013000000.0,NaN,1730000000.0,NaN,1477000000.0,NaN,NaN,NaN,NaN,1018000000.0,NaN

In [9]:
save_to_database('Trade Balance', df_trade_balance)

Trade Balance: Inserted 9711 records

### Consumer Confidence

In [10]:
consumer_confidence = preprocessor.process_monthly_indicator('Consumer Confidence', 'Consumer confidence')
consumer_confidence

6194 indicators read
Missing countries
['Japan', 'Canada', 'Switzerland', 'Germany', 'Australia', 'Hong Kong', 'Singapore', 'Israel', 'New Zealand', 'Austria', 'China', 'Taiwan', 'India', 'Saudi Arabia', 'South Africa', 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Philippines', 'Poland', 'Chile', 'Greece', 'Peru', 'Hungary', 'Czechia', 'Egypt', 'Colombia', 'Argentina', 'Russia']
Data coverage since 1999 (50 countries): 33.9 %
Data coverage since 2013 (30 countries): 44.5 %

,ReportDateTime,Country,Indicator,FullName,Period,Value
Period,,,,,,
1998-12-01,1999-01-01 04:00:00,United Kingdom,Consumer Confidence,GfK Consumer Confidence (Dec),1998-12-01 00:00:00,-8.0
1998-12-01,1999-01-01 04:00:00,United States,Consumer Confidence,CB Consumer Confidence (Dec),1998-12-01 00:00:00,126.7
1998-12-01,1999-01-01 04:00:00,Sweden,Consumer Confidence,Consumer Confidence (Dec),1998-12-01 00:00:00,101.0
1998-12-01,1999-01-01 04:00:00,Italy,Consumer Confidence,Italian Consumer Confidence (Dec),1998-12-01 00:00:00,111.2
1998-12-01,1999-01-01 04:00:00,Netherlands,Consumer Confidence,Dutch Consumer Confidence (Dec),1998-12-01 00:00:00,9.0
...,...,...,...,...,...,...
2024-04-01,2024-04-26 02:45:00,France,Consumer Confidence,French Consumer Confidence (Apr),2024-04-01 00:00:00,90.0
2024-04-01,2024-04-29 01:00:00,Finland,Consumer Confidence,Finnish Consumer Confidence (Apr),2024-04-01 00:00:00,-12.6
2024-04-01,2024-04-29 04:30:00,Portugal,Consumer Confidence,Portuguese Consumer Confidence (Apr),2024-04-01 00:00:00,-20.4
2024-04-01,2024-04-29 05:00:00,Eurozone,Consumer Confidence,Consumer Confidence (Apr),2024-04-01 00:00:00,-14.7
2024-04-01,2024-04-30 10:00:00,United States,Consumer Confidence,CB Consumer Confidence (Apr),2024-04-01 00:00:00,97.0

In [11]:
df_consumer_confidence = preprocessor.transform_to_countries_df(consumer_confidence, freq='M')
df_consumer_confidence

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,Sweden,Spain,Hong Kong,Italy,Singapore,Finland,Belgium,Norway,Israel,Ireland,New Zealand,Austria,Portugal,Eurozone,China,Taiwan,India,Korea,Brazil,Saudi Arabia,South Africa,Mexico,Thailand,Indonesia,Malaysia,United Arab Emirates,Qatar,Kuwait,Turkiye,Philippines,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-01,128.9,NaN,-3.0,NaN,112.0,NaN,NaN,NaN,6.0,-6.0,106.9,NaN,NaN,113.6,NaN,14.5,6.0,NaN,NaN,125.8,NaN,NaN,-10.82,-1.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-02-01,133.1,NaN,-1.0,NaN,113.0,NaN,NaN,NaN,6.0,-7.0,105.0,NaN,NaN,109.8,NaN,12.5,3.0,NaN,NaN,118.4,NaN,NaN,-9.29,-2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-03-01,134.0,NaN,1.0,NaN,112.0,NaN,NaN,NaN,7.0,-3.0,104.8,NaN,NaN,110.0,NaN,14.3,2.0,NaN,NaN,121.4,NaN,NaN,-8.19,-3.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-04-01,135.5,NaN,1.0,NaN,112.0,NaN,NaN,NaN,10.0,-3.0,105.6,NaN,NaN,107.8,NaN,14.4,2.0,NaN,NaN,127.0,NaN,NaN,-7.66,-5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-05-01,137.7,NaN,5.0,NaN,112.0,NaN,NaN,NaN,10.0,-2.0,106.6,NaN,NaN,105.7,NaN,16.2,2.0,NaN,NaN,124.4,NaN,NaN,-7.65,-5.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,106.1,NaN,-25.0,NaN,85.0,NaN,NaN,NaN,-40.0,-10.9,70.4,94.4,NaN,106.5,NaN,-8.0,-7.0,NaN,NaN,62.2,NaN,NaN,-21.9,-16.0,NaN,NaN,NaN,103.1,96.8,NaN,NaN,46.7,56.9,125.2,NaN,NaN,NaN,NaN,68.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-09-01,103.0,NaN,-21.0,NaN,83.0,NaN,NaN,NaN,-39.0,-13.0,69.1,77.2,NaN,105.4,NaN,-11.5,-5.0,NaN,NaN,58.8,NaN,NaN,-22.9,-17.8,NaN,NaN,NaN,99.7,97.0,NaN,NaN,46.8,58.7,121.7,NaN,NaN,NaN,NaN,71.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-10-01,102.6,NaN,-30.0,NaN,84.0,NaN,NaN,NaN,-38.0,-11.8,70.1,NaN,NaN,101.6,NaN,-12.6,-5.0,-33.5,NaN,61.9,NaN,NaN,-25.1,-17.9,NaN,NaN,NaN,98.1,93.2,NaN,NaN,46.0,60.2,124.3,NaN,NaN,NaN,NaN,74.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-11-01,102.0,NaN,-24.0,NaN,87.0,NaN,NaN,NaN,-33.0,-10.3,72.8,NaN,NaN,103.6,NaN,-12.4,-4.0,NaN,NaN,NaN,NaN,NaN,-28.2,-16.9,NaN,NaN,NaN,97.2,93.0,NaN,NaN,47.3,60.9,123.6,NaN,NaN,NaN,NaN,75.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-01,110.7,NaN,-22.0,NaN,89.0,NaN,NaN,NaN,-29.0,-13.0,74.5,77.6,NaN,106.7,NaN,-13.3,0.0,NaN,NaN,62.4,NaN,NaN,-28.2,-15.0,NaN,NaN,NaN,99.5,93.7,NaN,NaN,46.8,62.0,123.8,NaN,NaN,NaN,NaN,77.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
save_to_database('Consumer Confidence', df_consumer_confidence)

Consumer Confidence: Inserted 5088 records