In [17]:
import pandas as pd
import numpy as np

File filled manually based on MSCI factsheets and other research documents, most notably from:

https://www.researchgate.net/figure/Composition-of-the-MSCI-All-Country-World-Index-1987-2012-7_tbl1_325426617

In [11]:
country_weights = pd.read_csv('country_weights.csv', index_col=0, parse_dates=True)
df_weights = country_weights.T
df_weights.index = pd.DatetimeIndex(df_weights.index)
df_weights

C:\Users\lukas\AppData\Local\Temp\ipykernel_29096\537021929.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  country_weights = pd.read_csv('country_weights.csv', index_col=0, parse_dates=True)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Peru,Hungary,Czechia,Egypt,Colombia,Pakistan,Jordan,Sri Lanka,Venezuela,Marocco
1998-01-01,46.56,11.26,10.40,2.29,4.10,3.40,4.20,1.22,1.5,1.20,...,0.08,0.08,0.06,0.00,0.06,0.05,0.01,0.01,0.10,0.00
1999-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.00,NaN,0.04,0.01,0.01,0.08,0.00
2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.00,NaN,0.03,0.01,0.01,0.06,0.00
2001-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.01,NaN,0.03,0.01,0.00,0.04,0.01
2002-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.01,NaN,0.02,0.01,0.00,0.02,0.01
2003-01-01,53.99,8.44,11.50,2.20,3.10,3.10,2.60,1.88,1.6,1.20,...,0.02,0.05,0.02,0.01,0.00,0.01,0.01,0.00,0.01,0.01
2004-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,0.01,0.01,0.00,0.01,0.01
2005-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.03,NaN,0.01,0.01,0.00,0.01,0.01
2006-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.05,NaN,0.02,0.01,0.00,0.00,0.02
2007-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.07,NaN,0.02,0.01,0.00,0.00,0.02
2008-01-01,41.80,8.60,9.60,3.67,4.20,4.10,3.70,2.79,1.3,1.30,...,0.07,0.09,0.09,0.09,0.03,0.02,0.01,0.00,0.00,0.03
2009-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.07,NaN,0.00,0.00,0.00,0.00,0.03
2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.05,NaN,0.00,0.00,0.00,0.00,0.03
2011-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.05,NaN,0.00,0.00,0.00,0.00,0.02
2012-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.04,NaN,0.00,0.00,0.00,0.00,0.02
2013-01-01,47.45,7.50,7.90,4.30,3.10,3.00,2.90,3.31,0.8,1.20,...,0.08,0.04,0.04,0.04,0.16,0.00,0.00,0.00,0.00,0.01
2014-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.04,NaN,0.00,0.00,0.00,0.00,0.00
2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.03,NaN,0.00,0.00,0.00,0.00,0.00
2016-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.03,NaN,0.00,0.00,0.00,0.00,0.00
2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,0.02,0.00,0.00,0.00,0.00
2018-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,0.02,0.00,0.00,0.00,0.00
2019-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,0.02,0.00,0.00,0.00,0.00
2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.01,NaN,0.01,0.00,0.00,0.00,0.00
2021-01-01,58.60,6.20,4.00,2.90,2.70,2.50,2.30,1.90,1.1,1.20,...,0.02,0.03,0.01,0.01,0.02,0.01,0.00,0.00,0.00,0.00
2022-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.01,NaN,0.00,0.00,0.00,0.00,0.00
2023-01-01,59.30,6.10,3.90,3.00,3.00,2.40,2.10,2.00,1.1,1.00,...,0.03,0.02,0.02,0.01,0.01,0.00,0.00,0.00,0.00,0.00
2024-01-01,63.23,5.53,3.44,2.87,2.63,2.72,1.98,1.69,1.4,0.72,...,0.02,0.02,0.01,0.01,0.01,0.00,0.00,0.00,0.00,0.00

Skips some countries that I filled manually to keep years when they were included and excluded from indexes

In [13]:
countries_to_fill = df_weights.columns[df_weights.isna().sum(axis=0) > 0]
countries_to_fill

Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Sweden', 'Spain',
       'Hong Kong', 'Italy', 'Singapore', 'Denmark', 'Finland', 'Belgium',
       'Norway', 'Israel', 'Ireland', 'New Zealand', 'Austria', 'Portugal',
       'China', 'Taiwan', 'India', 'Korea', 'Brazil', 'Russia', 'South Africa',
       'Mexico', 'Malaysia', 'Thailand', 'Indonesia', 'Turkiye', 'Chile',
       'Poland', 'Greece', 'Philippines', 'Peru', 'Hungary', 'Czechia',
       'Colombia'],
      dtype='object')

Given country weights in some years fill the rest with progressive values

In [36]:
def fill_with_linspace_values(start_year, end_year):
    for coutry in countries_to_fill:
        start_value = df_weights.loc[start_year, coutry]
        end_value = df_weights.loc[end_year, coutry]    
        period_to_cover = int(end_year) - int(start_year) + 1
        
        df_weights.loc[start_year:end_year, coutry] = np.linspace(
            start_value, end_value, period_to_cover).reshape(period_to_cover)

In [42]:
fill_with_linspace_values('2021','2023')
df_weights

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Peru,Hungary,Czechia,Egypt,Colombia,Pakistan,Jordan,Sri Lanka,Venezuela,Marocco
1998-01-01,46.56000,11.2600,10.4000,2.290,4.10,3.4000,4.200,1.22000,1.5000,1.20,...,0.0800,0.08000,0.06000,0.00,0.0600,0.05,0.01,0.01,0.10,0.00
1999-01-01,48.04600,10.6960,10.6200,2.272,3.90,3.3400,3.880,1.35200,1.5200,1.20,...,0.0680,0.07400,0.05200,0.00,0.0480,0.04,0.01,0.01,0.08,0.00
2000-01-01,49.53200,10.1320,10.8400,2.254,3.70,3.2800,3.560,1.48400,1.5400,1.20,...,0.0560,0.06800,0.04400,0.00,0.0360,0.03,0.01,0.01,0.06,0.00
2001-01-01,51.01800,9.5680,11.0600,2.236,3.50,3.2200,3.240,1.61600,1.5600,1.20,...,0.0440,0.06200,0.03600,0.01,0.0240,0.03,0.01,0.00,0.04,0.01
2002-01-01,52.50400,9.0040,11.2800,2.218,3.30,3.1600,2.920,1.74800,1.5800,1.20,...,0.0320,0.05600,0.02800,0.01,0.0120,0.02,0.01,0.00,0.02,0.01
2003-01-01,53.99000,8.4400,11.5000,2.200,3.10,3.1000,2.600,1.88000,1.6000,1.20,...,0.0200,0.05000,0.02000,0.01,0.0000,0.01,0.01,0.00,0.01,0.01
2004-01-01,51.55200,8.4720,11.1200,2.494,3.32,3.3000,2.820,2.06200,1.5400,1.22,...,0.0300,0.05800,0.03400,0.02,0.0060,0.01,0.01,0.00,0.01,0.01
2005-01-01,49.11400,8.5040,10.7400,2.788,3.54,3.5000,3.040,2.24400,1.4800,1.24,...,0.0400,0.06600,0.04800,0.03,0.0120,0.01,0.01,0.00,0.01,0.01
2006-01-01,46.67600,8.5360,10.3600,3.082,3.76,3.7000,3.260,2.42600,1.4200,1.26,...,0.0500,0.07400,0.06200,0.05,0.0180,0.02,0.01,0.00,0.00,0.02
2007-01-01,44.23800,8.5680,9.9800,3.376,3.98,3.9000,3.480,2.60800,1.3600,1.28,...,0.0600,0.08200,0.07600,0.07,0.0240,0.02,0.01,0.00,0.00,0.02
2008-01-01,41.80000,8.6000,9.6000,3.670,4.20,4.1000,3.700,2.79000,1.3000,1.30,...,0.0700,0.09000,0.09000,0.09,0.0300,0.02,0.01,0.00,0.00,0.03
2009-01-01,42.93000,8.3800,9.2600,3.796,3.98,3.8800,3.540,2.89400,1.2000,1.28,...,0.0720,0.08000,0.08000,0.07,0.0560,0.00,0.00,0.00,0.00,0.03
2010-01-01,44.06000,8.1600,8.9200,3.922,3.76,3.6600,3.380,2.99800,1.1000,1.26,...,0.0740,0.07000,0.07000,0.05,0.0820,0.00,0.00,0.00,0.00,0.03
2011-01-01,45.19000,7.9400,8.5800,4.048,3.54,3.4400,3.220,3.10200,1.0000,1.24,...,0.0760,0.06000,0.06000,0.05,0.1080,0.00,0.00,0.00,0.00,0.02
2012-01-01,46.32000,7.7200,8.2400,4.174,3.32,3.2200,3.060,3.20600,0.9000,1.22,...,0.0780,0.05000,0.05000,0.04,0.1340,0.00,0.00,0.00,0.00,0.02
2013-01-01,47.45000,7.5000,7.9000,4.300,3.10,3.0000,2.900,3.31000,0.8000,1.20,...,0.0800,0.04000,0.04000,0.04,0.1600,0.00,0.00,0.00,0.00,0.01
2014-01-01,48.84375,7.3375,7.4125,4.125,3.05,2.9375,2.825,3.13375,0.8375,1.20,...,0.0725,0.03875,0.03625,0.04,0.1425,0.00,0.00,0.00,0.00,0.00
2015-01-01,50.23750,7.1750,6.9250,3.950,3.00,2.8750,2.750,2.95750,0.8750,1.20,...,0.0650,0.03750,0.03250,0.03,0.1250,0.00,0.00,0.00,0.00,0.00
2016-01-01,51.63125,7.0125,6.4375,3.775,2.95,2.8125,2.675,2.78125,0.9125,1.20,...,0.0575,0.03625,0.02875,0.03,0.1075,0.00,0.00,0.00,0.00,0.00
2017-01-01,53.02500,6.8500,5.9500,3.600,2.90,2.7500,2.600,2.60500,0.9500,1.20,...,0.0500,0.03500,0.02500,0.02,0.0900,0.02,0.00,0.00,0.00,0.00
2018-01-01,54.41875,6.6875,5.4625,3.425,2.85,2.6875,2.525,2.42875,0.9875,1.20,...,0.0425,0.03375,0.02125,0.02,0.0725,0.02,0.00,0.00,0.00,0.00
2019-01-01,55.81250,6.5250,4.9750,3.250,2.80,2.6250,2.450,2.25250,1.0250,1.20,...,0.0350,0.03250,0.01750,0.02,0.0550,0.02,0.00,0.00,0.00,0.00
2020-01-01,57.20625,6.3625,4.4875,3.075,2.75,2.5625,2.375,2.07625,1.0625,1.20,...,0.0275,0.03125,0.01375,0.01,0.0375,0.01,0.00,0.00,0.00,0.00
2021-01-01,58.60000,6.2000,4.0000,2.900,2.70,2.5000,2.300,1.90000,1.1000,1.20,...,0.0200,0.03000,0.01000,0.01,0.0200,0.01,0.00,0.00,0.00,0.00
2022-01-01,58.95000,6.1500,3.9500,2.950,2.85,2.4500,2.200,1.95000,1.1000,1.10,...,0.0250,0.02500,0.01500,0.01,0.0150,0.00,0.00,0.00,0.00,0.00
2023-01-01,59.30000,6.1000,3.9000,3.000,3.00,2.4000,2.100,2.00000,1.1000,1.00,...,0.0300,0.02000,0.02000,0.01,0.0100,0.00,0.00,0.00,0.00,0.00
2024-01-01,63.23000,5.5300,3.4400,2.870,2.63,2.7200,1.980,1.69000,1.4000,0.72,...,0.0200,0.02000,0.01000,0.01,0.0100,0.00,0.00,0.00,0.00,0.00

In [78]:
# Manual fixes
df_weights.loc['2022', 'Russia'] = 0
df_weights.loc['2003', 'Colombia'] = 0.01

Normalize to match 100

In [72]:
df_weights.sum(axis=1)

1998-01-01    99.63
1999-01-01    99.63
2000-01-01    99.64
2001-01-01    99.73
2002-01-01    99.78
2003-01-01    99.87
2004-01-01    99.81
2005-01-01    99.76
2006-01-01    99.74
2007-01-01    99.70
2008-01-01    99.67
2009-01-01    99.61
2010-01-01    99.59
2011-01-01    99.59
2012-01-01    99.61
2013-01-01    99.61
2014-01-01    99.70
2015-01-01    99.68
2016-01-01    99.63
2017-01-01    99.60
2018-01-01    99.57
2019-01-01    99.87
2020-01-01    99.91
2021-01-01    99.94
2022-01-01    99.72
2023-01-01    99.87
2024-01-01    99.99
dtype: float64

In [73]:
df_weights_norm = df_weights.multiply((100/df_weights.sum(axis=1)), axis=0)

In [74]:
df_weights_norm = df_weights_norm.round(2)

In [75]:
df_weights_norm.sum(axis=1)

1998-01-01     99.96
1999-01-01     99.96
2000-01-01     99.97
2001-01-01     99.97
2002-01-01     99.97
2003-01-01     99.96
2004-01-01     99.98
2005-01-01     99.98
2006-01-01     99.96
2007-01-01     99.95
2008-01-01     99.95
2009-01-01     99.98
2010-01-01     99.98
2011-01-01     99.97
2012-01-01     99.95
2013-01-01     99.96
2014-01-01     99.96
2015-01-01     99.95
2016-01-01     99.95
2017-01-01     99.94
2018-01-01     99.96
2019-01-01     99.96
2020-01-01     99.97
2021-01-01     99.98
2022-01-01     99.99
2023-01-01     99.97
2024-01-01    100.00
dtype: float64

In [80]:
df_weights_norm = df_weights_norm['1999':]
df_weights_norm

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,...,Peru,Hungary,Czechia,Egypt,Colombia,Pakistan,Jordan,Sri Lanka,Venezuela,Marocco
1999-01-01,48.23,10.74,10.66,2.28,3.91,3.35,3.89,1.36,1.53,1.20,...,0.07,0.07,0.05,0.00,0.05,0.04,0.01,0.01,0.08,0.00
2000-01-01,49.71,10.17,10.88,2.26,3.71,3.29,3.57,1.49,1.55,1.20,...,0.06,0.07,0.04,0.00,0.04,0.03,0.01,0.01,0.06,0.00
2001-01-01,51.16,9.60,11.09,2.25,3.51,3.23,3.25,1.62,1.56,1.20,...,0.04,0.06,0.04,0.01,0.02,0.03,0.01,0.00,0.04,0.01
2002-01-01,52.62,9.02,11.30,2.22,3.31,3.17,2.93,1.75,1.58,1.20,...,0.03,0.06,0.03,0.01,0.01,0.02,0.01,0.00,0.02,0.01
2003-01-01,54.06,8.45,11.51,2.20,3.10,3.10,2.60,1.88,1.60,1.20,...,0.02,0.05,0.02,0.01,0.01,0.01,0.01,0.00,0.01,0.01
2004-01-01,51.65,8.49,11.14,2.49,3.33,3.31,2.83,2.06,1.54,1.22,...,0.03,0.06,0.03,0.02,0.01,0.01,0.01,0.00,0.01,0.01
2005-01-01,49.23,8.52,10.77,2.80,3.55,3.51,3.05,2.25,1.48,1.24,...,0.04,0.07,0.05,0.03,0.01,0.01,0.01,0.00,0.01,0.01
2006-01-01,46.80,8.56,10.39,3.09,3.77,3.71,3.27,2.44,1.42,1.26,...,0.05,0.07,0.06,0.05,0.02,0.02,0.01,0.00,0.00,0.02
2007-01-01,44.37,8.60,10.01,3.39,3.99,3.91,3.49,2.62,1.36,1.28,...,0.06,0.08,0.08,0.07,0.02,0.02,0.01,0.00,0.00,0.02
2008-01-01,41.94,8.63,9.63,3.68,4.21,4.11,3.71,2.80,1.30,1.30,...,0.07,0.09,0.09,0.09,0.03,0.02,0.01,0.00,0.00,0.03
2009-01-01,43.10,8.41,9.30,3.81,4.00,3.90,3.55,2.90,1.20,1.29,...,0.07,0.08,0.08,0.07,0.06,0.00,0.00,0.00,0.00,0.03
2010-01-01,44.24,8.19,8.96,3.94,3.78,3.68,3.39,3.01,1.10,1.27,...,0.07,0.07,0.07,0.05,0.08,0.00,0.00,0.00,0.00,0.03
2011-01-01,45.38,7.97,8.62,4.07,3.55,3.45,3.23,3.11,1.00,1.25,...,0.08,0.06,0.06,0.05,0.11,0.00,0.00,0.00,0.00,0.02
2012-01-01,46.50,7.75,8.27,4.19,3.33,3.23,3.07,3.22,0.90,1.22,...,0.08,0.05,0.05,0.04,0.13,0.00,0.00,0.00,0.00,0.02
2013-01-01,47.64,7.53,7.93,4.32,3.11,3.01,2.91,3.32,0.80,1.20,...,0.08,0.04,0.04,0.04,0.16,0.00,0.00,0.00,0.00,0.01
2014-01-01,48.99,7.36,7.43,4.13,3.06,2.95,2.83,3.14,0.84,1.20,...,0.07,0.04,0.04,0.04,0.14,0.00,0.00,0.00,0.00,0.00
2015-01-01,50.40,7.20,6.95,3.96,3.01,2.89,2.76,2.97,0.88,1.20,...,0.06,0.04,0.03,0.03,0.12,0.00,0.00,0.00,0.00,0.00
2016-01-01,51.82,7.04,6.46,3.79,2.96,2.82,2.69,2.79,0.91,1.20,...,0.06,0.04,0.03,0.03,0.11,0.00,0.00,0.00,0.00,0.00
2017-01-01,53.24,6.88,5.97,3.61,2.91,2.76,2.61,2.61,0.95,1.20,...,0.05,0.04,0.02,0.02,0.09,0.02,0.00,0.00,0.00,0.00
2018-01-01,54.66,6.72,5.48,3.43,2.86,2.70,2.53,2.44,0.99,1.21,...,0.04,0.03,0.02,0.02,0.07,0.02,0.00,0.00,0.00,0.00
2019-01-01,55.88,6.53,4.98,3.25,2.80,2.62,2.45,2.25,1.03,1.20,...,0.04,0.03,0.02,0.02,0.05,0.02,0.00,0.00,0.00,0.00
2020-01-01,57.26,6.37,4.49,3.08,2.75,2.56,2.38,2.08,1.06,1.20,...,0.03,0.03,0.01,0.01,0.04,0.01,0.00,0.00,0.00,0.00
2021-01-01,58.64,6.20,4.00,2.90,2.70,2.50,2.30,1.90,1.10,1.20,...,0.02,0.03,0.01,0.01,0.02,0.01,0.00,0.00,0.00,0.00
2022-01-01,59.12,6.17,3.96,2.96,2.86,2.46,2.21,1.96,1.10,1.10,...,0.02,0.02,0.02,0.01,0.02,0.00,0.00,0.00,0.00,0.00
2023-01-01,59.38,6.11,3.91,3.00,3.00,2.40,2.10,2.00,1.10,1.00,...,0.03,0.02,0.02,0.01,0.01,0.00,0.00,0.00,0.00,0.00
2024-01-01,63.24,5.53,3.44,2.87,2.63,2.72,1.98,1.69,1.40,0.72,...,0.02,0.02,0.01,0.01,0.01,0.00,0.00,0.00,0.00,0.00

Save to CSV

In [81]:
df_weights_norm.to_csv('acwi_coutry_weights.csv')