In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np

from dotenv import load_dotenv
load_dotenv()

from DataProvider import DataProvider
data_provider = DataProvider()

### Central Bank Rate (BIS)

In [2]:
df_central_bank_rates = data_provider.get_key_indicator_values('Central Bank Rate')
df_central_bank_rates

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
1999-01-01,4.750,0.25,6.25,5.00,3.00,1.00,3.00,4.75,3.00,3.40,6.25,3.00,3.00,15.43,3.95,3.00,3.00,8.00,6.39,15.58,9.0,4.75,29.00,60.0,19.311,32.17,7.0
1999-02-01,4.750,0.25,6.00,5.00,3.00,1.00,3.00,4.75,3.00,3.40,6.25,3.00,3.00,15.02,3.75,3.00,3.00,7.50,6.39,15.58,9.0,4.75,25.00,60.0,18.734,34.12,7.0
1999-03-01,4.750,0.25,5.50,5.00,3.00,1.00,3.00,4.75,3.00,3.15,6.25,3.00,3.00,13.75,3.40,3.00,3.00,7.50,6.39,15.58,9.0,4.75,25.00,60.0,17.304,27.77,7.0
1999-04-01,4.750,0.25,5.50,4.75,3.00,1.00,3.00,4.75,3.00,2.90,6.25,3.00,3.00,16.14,3.40,3.00,3.00,7.00,6.39,15.53,8.0,4.75,42.00,60.0,16.456,22.96,7.0
1999-05-01,4.750,0.25,5.25,4.75,2.50,0.50,2.50,4.75,2.50,2.90,6.25,2.50,2.50,13.60,2.90,2.50,2.50,6.50,6.39,15.53,8.0,4.75,32.00,60.0,15.665,20.24,6.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,5.375,-0.10,5.00,5.00,4.00,1.75,4.00,4.10,4.00,3.75,5.75,4.00,4.00,4.22,3.35,4.00,4.00,3.75,3.55,4.20,6.5,3.50,13.75,8.5,8.250,11.25,3.0
2023-09-01,5.375,-0.10,5.25,5.00,4.25,1.75,4.25,4.10,4.25,3.75,5.75,4.25,4.25,4.37,3.35,4.25,4.25,4.00,3.45,4.22,6.5,3.50,13.25,12.0,8.250,11.25,3.0
2023-10-01,5.375,-0.10,5.25,5.00,4.50,1.75,4.50,4.10,4.50,4.00,5.75,4.50,4.50,4.67,3.60,4.50,4.50,4.25,3.45,4.40,6.5,3.50,12.75,13.0,8.250,11.25,3.0
2023-11-01,5.375,-0.10,5.25,5.00,4.50,1.75,4.50,4.10,4.50,4.00,5.75,4.50,4.50,4.67,3.60,4.50,4.50,4.25,3.45,4.40,6.5,3.50,12.75,15.0,8.250,11.25,3.0
2023-12-01,5.375,-0.10,5.25,5.00,4.50,1.75,4.50,4.35,4.50,4.00,5.75,4.50,4.50,4.72,3.60,4.50,4.50,4.25,3.45,4.92,6.5,3.50,12.25,15.0,8.250,11.25,3.0

Indicator provided with just a few days of delay

In [3]:
data_provider.get_latest_data('Central Bank Rate', df_central_bank_rates, 
                              pd.to_datetime('2023-12-05'), 6)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-07-01,5.125,-0.1,5.00,4.75,4.00,1.75,4.00,4.10,4.00,3.50,5.50,4.00,4.00,4.02,3.10,4.00,4.00,3.75,3.55,4.15,6.5,3.5,13.75,7.5,8.25,11.25,3.0
2023-08-01,5.375,-0.1,5.00,5.00,4.00,1.75,4.00,4.10,4.00,3.75,5.75,4.00,4.00,4.22,3.35,4.00,4.00,3.75,3.55,4.20,6.5,3.5,13.75,8.5,8.25,11.25,3.0
2023-09-01,5.375,-0.1,5.25,5.00,4.25,1.75,4.25,4.10,4.25,3.75,5.75,4.25,4.25,4.37,3.35,4.25,4.25,4.00,3.45,4.22,6.5,3.5,13.25,12.0,8.25,11.25,3.0
2023-10-01,5.375,-0.1,5.25,5.00,4.50,1.75,4.50,4.10,4.50,4.00,5.75,4.50,4.50,4.67,3.60,4.50,4.50,4.25,3.45,4.40,6.5,3.5,12.75,13.0,8.25,11.25,3.0
2023-11-01,5.375,-0.1,5.25,5.00,4.50,1.75,4.50,4.10,4.50,4.00,5.75,4.50,4.50,4.67,3.60,4.50,4.50,4.25,3.45,4.40,6.5,3.5,12.75,15.0,8.25,11.25,3.0
2023-12-01,5.375,-0.1,5.25,5.00,4.50,1.75,4.50,4.35,4.50,4.00,5.75,4.50,4.50,4.72,3.60,4.50,4.50,4.25,3.45,4.92,6.5,3.5,12.25,15.0,8.25,11.25,3.0

### Short Term Interest Rate

In [4]:
indicator = 'Short Term Interest Rate'
df_oecd_indicator = data_provider.get_key_indicator_values(indicator)
df_oecd_indicator

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
1999-01-01,4.89,3.86,5.92,5.00,3.13,3.69,3.13,4.79,3.13,3.27,10.50,3.13,3.13,10.88,3.89,3.13,3.13,7.72,4.52,11.02,7.35,7.00,12.60,43.90,16.40,35.45,6.72
1999-02-01,4.90,3.84,5.53,5.03,3.09,3.58,3.09,4.77,3.09,3.14,9.59,3.09,3.09,9.98,3.62,3.09,3.09,7.27,6.28,10.49,7.44,6.70,11.59,23.30,15.54,31.35,6.46
1999-03-01,4.91,3.82,5.42,5.06,3.05,3.52,3.05,4.81,3.05,3.13,8.56,3.05,3.05,8.96,3.46,3.05,3.05,6.88,4.40,9.09,6.80,6.56,10.40,21.60,14.62,26.37,6.24
1999-04-01,4.88,3.54,5.32,4.72,2.70,0.91,2.70,4.76,2.70,2.87,7.72,2.70,2.70,8.12,3.16,2.70,2.70,6.55,4.34,8.18,6.41,6.16,9.40,20.60,13.75,22.99,5.84
1999-05-01,4.92,3.46,5.35,4.62,2.58,0.91,2.58,4.86,2.58,2.92,7.74,2.58,2.58,8.15,3.11,2.58,2.58,6.66,4.25,8.18,6.33,6.17,9.37,21.00,13.52,23.26,5.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,5.49,-0.00,5.53,5.23,3.78,1.77,3.78,4.15,3.78,3.79,4.54,3.78,3.78,4.14,3.80,3.78,3.78,4.72,2.63,4.18,6.80,3.70,6.23,6.20,8.44,11.50,4.13
2023-09-01,5.46,0.02,5.52,5.23,3.88,1.77,3.88,4.13,3.88,3.83,4.90,3.88,3.88,4.20,3.91,3.88,3.88,4.72,2.64,4.18,6.84,3.76,5.87,6.19,8.32,11.51,4.18
2023-10-01,5.41,-0.01,5.40,5.32,3.97,1.77,3.97,4.21,3.97,3.96,4.69,3.97,3.97,4.57,3.97,3.97,3.97,4.72,2.73,4.28,6.89,3.82,5.77,6.27,8.55,11.51,4.57
2023-11-01,5.32,0.02,5.36,5.24,3.97,1.73,3.97,4.38,3.97,4.10,5.02,3.97,3.97,4.58,3.95,3.97,3.97,4.69,2.88,4.29,6.93,3.83,6.09,6.28,8.51,11.51,5.19
2023-12-01,5.26,0.05,5.34,5.19,3.93,1.65,3.93,4.35,3.93,4.03,5.02,3.93,3.93,4.55,3.91,3.93,3.93,4.73,3.02,4.92,6.95,3.83,6.06,6.31,8.45,11.50,5.15

Indicator provided with 2 months delay

In [6]:
data_provider.get_latest_data(indicator, df_oecd_indicator, 
                              pd.to_datetime('2023-12-05'), 6)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-05-01,5.22,-0.02,4.73,4.79,3.37,1.45,3.37,3.90,3.37,3.50,4.39,3.37,3.37,3.85,3.40,3.37,3.37,3.94,2.98,3.90,6.87,3.64,5.79,3.68,8.04,11.59,3.76
2023-06-01,5.35,-0.00,5.09,5.02,3.54,1.45,3.54,4.25,3.54,3.54,4.57,3.54,3.54,3.98,3.56,3.54,3.54,4.37,2.81,4.09,6.76,3.75,6.05,3.87,8.49,11.51,3.98
2023-07-01,5.44,-0.00,5.49,5.22,3.67,1.72,3.67,4.30,3.67,3.71,4.57,3.67,3.67,3.80,3.72,3.67,3.67,4.68,2.57,4.17,6.72,3.75,6.24,4.03,8.57,11.50,4.12
2023-08-01,5.49,-0.00,5.53,5.23,3.78,1.77,3.78,4.15,3.78,3.79,4.54,3.78,3.78,4.14,3.80,3.78,3.78,4.72,2.63,4.18,6.80,3.70,6.23,6.20,8.44,11.50,4.13
2023-09-01,5.46,0.02,5.52,5.23,3.88,1.77,3.88,4.13,3.88,3.83,4.90,3.88,3.88,4.20,3.91,3.88,3.88,4.72,2.64,4.18,6.84,3.76,5.87,6.19,8.32,11.51,4.18
2023-10-01,5.41,-0.01,5.40,5.32,3.97,1.77,3.97,4.21,3.97,3.96,4.69,3.97,3.97,4.57,3.97,3.97,3.97,4.72,2.73,4.28,6.89,3.82,5.77,6.27,8.55,11.51,4.57

### Long Term Interest Rate

In [7]:
indicator = 'Long Term Interest Rate'
df_oecd_indicator = data_provider.get_key_indicator_values(indicator)
df_oecd_indicator

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
1999-01-01,4.72,1.91,4.29,4.95,3.77,2.56,3.70,5.13,3.80,4.02,5.89,3.88,3.92,6.11,4.04,3.91,3.90,5.01,8.02,5.67,6.33,8.32,12.84,96.34,15.89,6.08,6.55
1999-02-01,5.00,2.12,4.43,5.12,3.93,2.55,3.85,5.30,3.93,4.18,6.03,4.02,4.05,6.26,4.19,4.04,4.04,4.75,7.79,5.83,6.18,8.12,12.84,99.47,14.88,6.22,6.47
1999-03-01,5.23,1.82,4.66,5.22,4.13,2.60,4.04,5.53,4.14,4.44,6.21,4.25,4.27,6.42,4.43,4.26,4.26,4.92,7.81,5.88,6.15,8.17,12.84,98.67,14.54,6.40,6.55
1999-04-01,5.18,1.56,4.59,5.03,3.98,2.53,3.85,5.36,4.00,4.24,6.24,4.09,4.11,6.45,4.22,4.07,4.11,4.69,7.86,5.87,5.99,8.19,13.48,110.55,14.58,6.42,6.43
1999-05-01,5.54,1.33,4.91,5.36,4.16,2.72,4.01,5.88,4.19,4.50,6.44,4.27,4.28,6.69,4.46,4.24,4.29,4.98,8.10,6.00,6.21,8.45,13.48,96.75,15.14,6.67,6.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,4.17,0.64,4.53,3.65,3.11,0.95,2.55,4.13,2.92,2.75,4.89,3.59,4.22,3.27,2.77,3.15,3.22,3.81,2.56,3.38,7.19,3.86,7.00,5.78,11.72,9.10,3.28
2023-09-01,4.38,0.76,4.42,3.82,3.24,1.09,2.66,4.21,3.04,2.89,5.39,3.72,4.51,3.39,2.83,3.25,3.32,3.82,2.68,3.62,7.17,3.95,7.00,5.89,12.06,9.68,3.39
2023-10-01,4.80,0.95,4.57,4.06,3.45,1.05,2.82,4.63,3.21,3.02,5.29,3.95,4.88,3.91,3.05,3.47,3.52,3.95,2.69,3.70,7.35,4.27,6.55,5.97,12.36,9.68,3.43
2023-11-01,4.50,0.66,4.27,3.71,3.19,0.82,2.60,4.58,2.95,2.76,5.36,3.66,4.43,4.04,2.79,3.20,3.23,3.68,2.67,3.48,7.27,3.89,6.55,5.69,11.79,10.23,5.51
2023-12-01,4.02,0.62,3.86,3.23,2.65,0.66,2.10,4.19,2.42,2.21,4.83,3.14,3.82,3.55,2.28,2.68,2.70,3.29,2.56,4.60,7.22,3.42,6.55,5.34,11.49,9.39,5.09

Indicator provided with 2 months delay

In [9]:
data_provider.get_latest_data(indicator, df_oecd_indicator, 
                              pd.to_datetime('2023-12-05'), 6)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-05-01,3.57,0.43,3.96,3.05,2.94,0.85,2.34,3.50,2.73,2.32,5.02,3.41,4.31,3.02,2.54,2.98,3.04,3.23,2.69,3.02,7.01,3.40,7.28,3.56,11.94,8.76,2.54
2023-06-01,3.75,0.40,4.37,3.34,2.93,0.97,2.38,3.92,2.75,2.46,4.91,3.40,4.07,3.06,2.57,3.00,3.05,3.48,2.64,3.15,7.05,3.61,7.28,3.56,11.94,8.57,3.08
2023-07-01,3.90,0.60,4.44,3.45,3.04,0.98,2.46,4.04,2.84,2.52,4.94,3.50,4.16,3.31,2.70,3.07,3.14,3.64,2.66,3.26,7.11,3.68,7.00,3.62,11.72,8.57,3.17
2023-08-01,4.17,0.64,4.53,3.65,3.11,0.95,2.55,4.13,2.92,2.75,4.89,3.59,4.22,3.27,2.77,3.15,3.22,3.81,2.56,3.38,7.19,3.86,7.00,5.78,11.72,9.10,3.28
2023-09-01,4.38,0.76,4.42,3.82,3.24,1.09,2.66,4.21,3.04,2.89,5.39,3.72,4.51,3.39,2.83,3.25,3.32,3.82,2.68,3.62,7.17,3.95,7.00,5.89,12.06,9.68,3.39
2023-10-01,4.80,0.95,4.57,4.06,3.45,1.05,2.82,4.63,3.21,3.02,5.29,3.95,4.88,3.91,3.05,3.47,3.52,3.95,2.69,3.70,7.35,4.27,6.55,5.97,12.36,9.68,3.43

### Total Manufacturing

In [10]:
indicator = 'Total Manufacturing'
df_oecd_indicator = data_provider.get_key_indicator_values(indicator)
df_oecd_indicator

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
1999-01-01,90.62,99.88,75.02,101.95,104.42,92.40,76.31,96.23,81.59,94.74,90.32,121.74,124.59,91.68,89.01,85.1,64.34,91.24,74.80,79.94,34.93,36.50,82.27,47.48,82.42,79.12,92.06
1999-02-01,91.40,99.88,74.91,102.07,103.02,91.62,74.81,95.68,79.30,96.83,90.10,121.69,123.39,91.46,87.34,85.6,63.32,91.32,74.21,80.18,34.63,38.16,81.24,44.83,81.02,79.55,91.24
1999-03-01,91.40,101.60,75.76,101.74,103.44,91.98,75.21,95.57,81.85,97.98,90.27,120.29,123.49,91.45,89.20,86.4,65.14,94.04,75.18,80.57,34.57,38.80,81.21,45.22,80.02,79.48,91.24
1999-04-01,91.72,99.67,75.33,102.72,104.52,92.49,75.71,96.48,80.01,95.89,90.89,123.28,122.99,92.67,83.81,86.7,65.14,89.54,74.37,81.05,35.08,38.43,82.56,44.94,81.32,81.85,91.61
1999-05-01,92.45,101.38,76.28,102.18,105.12,92.53,76.31,96.79,80.62,96.93,91.22,122.45,122.29,92.97,86.87,86.8,65.31,89.96,75.83,81.84,36.09,40.56,84.49,44.65,83.52,80.59,92.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,99.25,93.37,107.28,103.46,100.40,138.40,95.56,102.04,109.68,121.20,102.69,106.25,103.49,102.52,151.60,117.6,116.81,100.60,107.10,103.92,129.17,114.71,96.15,109.01,93.11,111.91,108.20
2023-09-01,99.39,93.46,106.86,103.83,99.74,142.40,93.96,101.58,108.78,120.60,104.99,108.37,103.49,102.63,150.40,117.2,116.41,99.33,107.05,104.58,125.86,116.94,95.89,109.01,92.61,113.75,104.65
2023-10-01,98.62,95.82,105.49,103.19,99.94,142.40,93.56,101.07,107.48,120.30,99.80,107.59,103.19,101.07,152.90,116.9,120.31,99.84,101.19,106.49,122.39,112.47,95.87,107.30,92.51,113.24,103.82
2023-11-01,98.93,94.55,105.91,103.19,100.19,142.40,93.16,100.89,106.68,119.30,105.06,107.59,101.99,100.89,168.00,116.5,115.61,99.59,106.56,106.85,124.24,116.20,95.65,108.40,93.21,112.68,107.00
2023-12-01,98.93,94.55,105.91,103.19,100.19,142.40,93.16,100.89,106.68,119.30,108.26,107.59,101.99,100.89,168.00,116.5,115.61,99.59,107.70,110.38,124.24,116.20,95.65,108.40,93.21,112.68,107.00

Indicator provided with 2 months delay

In [12]:
data_provider.get_latest_data(indicator, df_oecd_indicator, 
                              pd.to_datetime('2023-12-05'), 6)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-05-01,99.55,92.01,105.91,106.01,101.29,135.5,97.17,104.49,112.08,123.6,108.76,107.77,103.79,103.22,155.5,119.4,122.41,100.34,107.84,104.66,125.59,113.22,95.72,114.52,93.21,112.18,105.33
2023-06-01,98.86,96.36,109.27,105.39,100.29,135.6,96.16,104.78,112.78,117.2,106.96,107.00,104.59,106.43,165.4,116.1,117.51,100.34,106.96,103.90,125.22,111.41,95.47,117.41,94.21,112.68,106.14
2023-07-01,99.23,94.09,107.91,104.15,100.74,131.7,94.86,105.67,112.28,118.0,106.16,107.35,103.29,103.06,149.5,116.1,120.91,99.08,106.16,103.21,126.59,108.96,95.09,112.87,92.71,112.83,107.27
2023-08-01,99.25,93.37,107.28,103.46,100.40,138.4,95.56,102.04,109.68,121.2,102.69,106.25,103.49,102.52,151.6,117.6,116.81,100.60,107.10,103.92,129.17,114.71,96.15,109.01,93.11,111.91,108.20
2023-09-01,99.39,93.46,106.86,103.83,99.74,142.4,93.96,101.58,108.78,120.6,104.99,108.37,103.49,102.63,150.4,117.2,116.41,99.33,107.05,104.58,125.86,116.94,95.89,109.01,92.61,113.75,104.65
2023-10-01,98.62,95.82,105.49,103.19,99.94,142.4,93.56,101.07,107.48,120.3,99.80,107.59,103.19,101.07,152.9,116.9,120.31,99.84,101.19,106.49,122.39,112.47,95.87,107.30,92.51,113.24,103.82

### OECD Consumer Confidence Indicator

In [13]:
indicator = 'OECD Consumer Confidence Indicator'
df_oecd_indicator = data_provider.get_key_indicator_values(indicator)
df_oecd_indicator

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
1999-01-01,102.14,99.14,101.75,100.96,101.26,101.19,100.61,101.25,100.97,100.06,101.04,103.74,102.67,101.17,99.29,100.87,100.99,99.96,98.67,99.56,99.40,99.29,98.03,90.73,99.04,101.07,100.64
1999-02-01,102.35,99.23,102.10,101.07,101.22,101.02,100.50,101.55,100.89,100.04,100.98,103.61,102.41,101.12,99.37,100.83,101.02,99.97,98.76,99.52,99.53,99.65,97.54,91.17,99.19,101.01,100.69
1999-03-01,102.38,99.26,102.39,101.10,101.10,100.90,100.29,101.57,100.87,100.11,100.82,103.44,101.99,100.98,99.54,100.97,100.95,99.97,98.79,99.42,99.67,100.01,97.06,91.50,99.33,100.82,100.65
1999-04-01,102.38,99.28,102.50,101.08,101.01,100.84,100.06,101.55,100.97,100.28,100.71,103.30,101.66,100.90,99.69,101.23,100.82,100.01,98.85,99.43,99.85,100.41,96.93,91.72,99.46,100.71,100.59
1999-05-01,102.42,99.34,102.51,101.09,101.05,100.86,99.92,101.46,101.10,100.55,100.73,103.28,101.59,100.95,99.87,101.53,100.55,100.09,98.97,99.59,100.05,100.85,97.20,91.87,99.55,100.74,100.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,97.96,98.46,97.84,98.28,98.36,96.93,98.71,97.75,98.44,95.73,97.35,99.11,99.49,98.55,98.82,97.33,99.61,98.15,93.06,98.61,98.57,100.21,101.51,99.61,97.31,105.04,98.49
2023-09-01,97.78,98.35,97.91,98.19,98.24,96.56,98.58,97.76,98.50,95.52,97.00,98.51,99.26,98.20,98.70,96.79,99.63,97.99,93.19,98.52,98.50,99.98,101.49,98.39,97.64,105.14,98.61
2023-10-01,97.55,98.36,97.71,98.08,98.25,96.02,98.54,97.80,98.65,95.62,97.21,98.18,99.07,98.27,98.69,96.40,99.75,97.32,93.29,98.46,98.27,99.75,101.28,98.37,97.76,105.15,97.29
2023-11-01,97.52,98.48,97.97,98.19,98.49,95.43,98.58,97.80,98.95,96.02,97.15,98.13,99.17,98.40,98.72,96.22,100.07,97.44,93.28,98.50,98.35,99.66,101.12,98.38,97.76,105.27,97.88
2023-12-01,97.79,98.68,98.35,98.43,98.71,95.43,98.76,97.86,99.32,96.57,97.30,98.21,99.44,98.62,98.69,96.11,100.48,97.67,93.28,98.23,98.94,99.71,101.05,98.45,97.71,105.32,97.95

Indicator provided with 2 months delay

In [15]:
data_provider.get_latest_data(indicator, df_oecd_indicator, 
                              pd.to_datetime('2023-12-05'), 6)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-05-01,97.26,98.40,97.20,97.67,97.80,96.91,99.01,97.76,98.34,96.03,97.14,98.24,99.76,98.03,98.56,97.61,99.31,98.03,93.48,98.40,98.43,99.64,100.39,99.61,96.50,103.78,98.22
2023-06-01,97.55,98.53,97.66,98.17,98.22,96.99,98.99,97.70,98.31,96.25,97.15,98.95,99.73,98.52,98.83,97.68,99.39,98.20,93.13,98.51,98.56,100.02,100.85,99.61,96.59,104.22,98.18
2023-07-01,97.90,98.56,97.66,98.27,98.41,97.04,98.88,97.73,98.35,96.08,97.25,99.39,99.63,98.60,98.89,97.59,99.54,98.20,93.01,98.62,98.59,100.25,101.27,99.61,96.91,104.71,98.56
2023-08-01,97.96,98.46,97.84,98.28,98.36,96.93,98.71,97.75,98.44,95.73,97.35,99.11,99.49,98.55,98.82,97.33,99.61,98.15,93.06,98.61,98.57,100.21,101.51,99.61,97.31,105.04,98.49
2023-09-01,97.78,98.35,97.91,98.19,98.24,96.56,98.58,97.76,98.50,95.52,97.00,98.51,99.26,98.20,98.70,96.79,99.63,97.99,93.19,98.52,98.50,99.98,101.49,98.39,97.64,105.14,98.61
2023-10-01,97.55,98.36,97.71,98.08,98.25,96.02,98.54,97.80,98.65,95.62,97.21,98.18,99.07,98.27,98.69,96.40,99.75,97.32,93.29,98.46,98.27,99.75,101.28,98.37,97.76,105.15,97.29

### Current Account to GDP

In [16]:
indicator = 'Current Account to GDP'
df_oecd_indicator = data_provider.get_key_indicator_values(indicator)
df_oecd_indicator

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
1999-01-01,-2.59,2.33,-2.82,-0.15,3.76,2.05,-1.99,-5.63,-0.49,3.00,-2.31,-2.31,0.90,-1.37,1.43,1.96,0.90,0.76,0.87,0.80,-0.30,5.99,-5.04,-0.90,1.64,-1.72,-0.48
1999-02-01,-2.59,2.33,-2.82,-0.15,3.76,2.05,-1.99,-5.63,-0.49,3.00,-2.31,-2.31,0.90,-1.37,1.43,1.96,0.90,0.76,0.87,0.80,-0.30,5.99,-5.04,-0.90,1.64,-1.72,-0.48
1999-03-01,-2.59,2.33,-2.82,-0.15,3.76,2.05,-1.99,-5.63,-0.49,3.00,-2.31,-2.31,0.90,-1.37,1.43,1.96,0.90,0.76,0.87,0.80,-0.30,5.99,-5.04,-0.90,1.64,-1.72,-0.48
1999-04-01,-2.85,2.46,-2.16,-0.25,3.55,10.16,-0.79,-5.93,-0.28,3.91,-1.78,-3.25,1.23,-1.21,2.89,6.39,2.72,3.85,1.11,0.67,-0.96,4.35,-4.34,-0.06,-1.01,-1.67,-0.60
1999-05-01,-2.85,2.46,-2.16,-0.25,3.55,10.16,-0.79,-5.93,-0.28,3.91,-1.78,-3.25,1.23,-1.21,2.89,6.39,2.72,3.85,1.11,0.67,-0.96,4.35,-4.34,-0.06,-1.01,-1.67,-0.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,-2.90,4.14,-2.51,-0.44,-1.77,10.87,8.45,-0.02,11.28,7.66,0.30,1.88,0.02,1.25,8.24,-1.08,0.39,18.07,1.18,1.19,-0.70,2.17,-1.38,0.25,-0.04,0.81,1.82
2023-09-01,-2.90,4.14,-2.51,-0.44,-1.77,10.87,8.45,-0.02,11.28,7.66,0.16,1.88,0.02,0.74,8.24,-1.08,0.39,18.07,1.18,1.45,-0.70,2.17,-1.38,0.25,-0.04,0.81,1.68
2023-10-01,-2.90,4.14,-2.51,-0.44,-1.77,10.87,8.45,-0.02,11.28,7.66,1.56,1.88,0.02,0.74,8.24,-1.08,0.39,18.07,1.18,3.07,-0.70,2.17,-1.38,0.25,-0.04,0.81,3.27
2023-11-01,-2.90,4.14,-2.51,-0.44,-1.77,10.87,8.45,-0.02,11.28,7.66,-0.63,1.88,0.02,-0.94,8.24,-1.08,0.39,18.07,1.18,3.07,-0.70,2.17,-1.38,0.25,-0.04,0.81,0.12
2023-12-01,-2.90,4.14,-2.51,-0.44,-1.77,10.87,8.45,-0.02,11.28,7.66,0.16,1.88,0.02,-0.94,8.24,-1.08,0.39,18.07,1.18,1.74,-0.70,2.17,-1.38,0.25,-0.04,0.81,0.12

Indicator provided with up to 3 months delay after current quarter ends

In [17]:
data_provider.get_latest_data(indicator, df_oecd_indicator, 
                              pd.to_datetime('2023-12-05'), 6)

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Sweden,Hong Kong,Spain,Italy,Singapore,Denmark,Finland,Belgium,Norway,China,Taiwan,India,Korea,Brazil,Russia,South Africa,Mexico,Malaysia
2023-01-01,-3.2,1.67,-2.38,-0.95,-1.12,8.38,5.32,1.73,11.35,5.68,1.70,5.49,-0.01,2.66,12.57,0.05,-1.60,19.18,2.81,-0.02,-0.79,0.63,-1.01,1.95,-2.33,-2.04,1.68
2023-02-01,-3.2,1.67,-2.38,-0.95,-1.12,8.38,5.32,1.73,11.35,5.68,1.70,5.49,-0.01,-0.06,12.57,0.05,-1.60,19.18,2.81,1.23,-0.79,0.63,-1.01,1.95,-2.33,-2.04,1.33
2023-03-01,-3.2,1.67,-2.38,-0.95,-1.12,8.38,5.32,1.73,11.35,5.68,0.58,5.49,-0.01,0.88,12.57,0.05,-1.60,19.18,2.81,0.71,-0.79,0.63,-1.01,0.53,-2.33,-2.04,1.56
2023-04-01,-3.2,3.94,-3.55,-1.02,-0.08,7.92,6.91,1.20,9.44,5.11,0.13,1.38,-0.04,1.75,10.95,-1.74,-1.82,14.48,1.56,1.13,-1.18,1.75,-1.85,0.49,-2.11,-0.64,1.86
2023-05-01,-3.2,3.94,-3.55,-1.02,-0.08,7.92,6.91,1.20,9.44,5.11,-0.23,1.38,-0.04,0.76,10.95,-1.74,-1.82,14.48,1.56,1.32,-1.18,1.75,-1.85,0.49,-2.11,-0.64,1.86
2023-06-01,-3.2,3.94,-3.55,-1.02,-0.08,7.92,6.91,1.20,9.44,5.11,0.13,1.38,-0.04,2.42,10.95,-1.74,-1.82,14.48,1.56,1.32,-1.18,1.75,-1.85,0.49,-2.11,-0.64,1.05

From Investing add:
- Retail Sales (YoY)
- Industrial Production (YoY)
- PPI (YoY)