In [2]:
import yfinance as yf
import pandas as pd

In [1]:
etf_codes = {
    'United States': 'SPY', # SPDR S&P 500 ETF Trust (SPY) 
    'Japan': 'EWJ', # iShares MSCI Japan ETF
    'United Kingdom': 'EWU', # iShares MSCI United Kingdom ETF
    'Canada': 'EWC', # iShares MSCI Canada ETF
    'France': 'EWQ', # iShares MSCI France ETF
    'Switzerland': 'EWL', # iShares MSCI Switzerland ETF
    'Germany': 'EWG', # iShares MSCI Germany ETF
    'Australia': 'EWA', # iShares MSCI Australia ETF
    'Netherlands': '',
    'Denmark': '',
    'Sweden': '',
    'Spain': '',
    'Hong Kong': '',
    'Italy': '',
    'Singapore': '',
    'Finland': '',
    'Belgium': '',
    'Norway': '',
    'Israel': '',
    'Ireland': '',
    'New Zealand': '',
    'Austria': '',
    'Portugal': '',
    'Eurozona': '',

    'China': '',
    'Taiwan': '',
    'India': '',
    'Korea': '',
    'Brazil': '',
    'Saudi Arabia': '',
    'South Africa': '',
    'Mexico': '',
    'Thailand': '',
    'Indonesia': '',
    'Malaysia': '',
    'United Arab Emirates': '',
    'Qatar': '',
    'Kuwait': '',
    'Turkiye': '',
    'Philippines': '',
    'Poland': '',
    'Chile': '',
    'Greece': '',
    'Peru': '',
    'Hungary': '',
    'Czechia': '',
    'Egypt': '',
    'Colombia': '',
    'Argentina': '',
    'Russia': '',
}

In [35]:
df = yf.download('IBC6.DE', '1999-1-1')
df

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close  Volume
Date
2010-01-22  24.266870  24.266870  24.266870  24.266870  24.266870       0
2010-01-25  24.032961  24.032961  24.032961  24.032961  24.032961       0
2010-01-26  23.905149  23.905149  23.905149  23.905149  23.905149       0
2010-01-27  23.493320  23.493320  23.493320  23.493320  23.493320       0
2010-01-28  23.661921  23.661921  23.661921  23.661921  23.661921       0
...               ...        ...        ...        ...        ...     ...
2023-09-20  40.665001  40.910000  40.599998  40.910000  40.910000    3184
2023-09-21  39.924999  39.924999  39.595001  39.595001  39.595001    1484
2023-09-22  39.840000  40.115002  39.840000  40.025002  40.025002    2631
2023-09-25  39.955002  40.064999  39.845001  40.064999  40.064999     887
2023-09-26  39.790001  39.980000  39.735001  39.820000  39.820000    2439

[3477 rows x 6 columns]