In [3]:
import yfinance as yf
import pandas as pd

In [4]:
etf_codes = {
    'United States': 'SPY', # SPDR S&P 500 ETF Trust (SPY) 
    'Japan': 'EWJ', # iShares MSCI Japan ETF
    'United Kingdom': 'EWU', # iShares MSCI United Kingdom ETF
    'Canada': 'EWC', # iShares MSCI Canada ETF
    'France': 'EWQ', # iShares MSCI France ETF
    'Switzerland': 'EWL', # iShares MSCI Switzerland ETF
    'Germany': 'EWG', # iShares MSCI Germany ETF
    'Australia': 'EWA', # iShares MSCI Australia ETF
    'Netherlands': '',
    'Denmark': '',
    'Sweden': '',
    'Spain': '',
    'Hong Kong': '',
    'Italy': '',
    'Singapore': '',
    'Finland': '',
    'Belgium': '',
    'Norway': '',
    'Israel': '',
    'Ireland': '',
    'New Zealand': '',
    'Austria': '',
    'Portugal': '',
    'Eurozona': '',

    'China': '',
    'Taiwan': '',
    'India': '',
    'Korea': '',
    'Brazil': '',
    'Saudi Arabia': '',
    'South Africa': '',
    'Mexico': '',
    'Thailand': '',
    'Indonesia': '',
    'Malaysia': '',
    'United Arab Emirates': '',
    'Qatar': '',
    'Kuwait': '',
    'Turkiye': '',
    'Philippines': '',
    'Poland': '',
    'Chile': '',
    'Greece': '',
    'Peru': '',
    'Hungary': '',
    'Czechia': '',
    'Egypt': '',
    'Colombia': '',
    'Argentina': '',
    'Russia': '',
}

In [58]:
df = yf.download('^ICOL-EU', '1999-1-1')
df

[*********************100%%**********************]  1 of 1 completed

            Open  High  Low         Close     Adj Close  Volume
Date
2022-08-22   0.0   0.0  0.0  451992.53125  451992.53125       0