In [1]:
import yfinance as yf
import pandas as pd

In [2]:
etf_codes = {
    'United States': 'SPY', # SPDR S&P 500 ETF Trust (SPY) 
    'Japan': 'EWJ', # iShares MSCI Japan ETF
    'United Kingdom': 'EWU', # iShares MSCI United Kingdom ETF
    'Canada': 'EWC', # iShares MSCI Canada ETF
    'France': 'EWQ', # iShares MSCI France ETF
    'Switzerland': 'EWL', # iShares MSCI Switzerland ETF
    'Germany': 'EWG', # iShares MSCI Germany ETF
    'Australia': 'EWA', # iShares MSCI Australia ETF
    'Netherlands': '',
    'Denmark': '',
    'Sweden': '',
    'Spain': '',
    'Hong Kong': '',
    'Italy': '',
    'Singapore': '',
    'Finland': '',
    'Belgium': '',
    'Norway': '',
    'Israel': '',
    'Ireland': '',
    'New Zealand': '',
    'Austria': '',
    'Portugal': '',
    'Eurozona': '',

    'China': '',
    'Taiwan': '',
    'India': '',
    'Korea': '',
    'Brazil': '',
    'Saudi Arabia': '',
    'South Africa': '',
    'Mexico': '',
    'Thailand': '',
    'Indonesia': '',
    'Malaysia': '',
    'United Arab Emirates': '',
    'Qatar': '',
    'Kuwait': '',
    'Turkiye': '',
    'Philippines': '',
    'Poland': '',
    'Chile': '',
    'Greece': '',
    'Peru': '',
    'Hungary': '',
    'Czechia': '',
    'Egypt': '',
    'Colombia': '',
    'Argentina': '',
    'Russia': '',
}

In [78]:
df = yf.download('C50.PA', '1999-1-1')
df

[*********************100%%**********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  Volume
Date
2008-09-16   46.880001   46.880001   46.880001   46.880001   46.880001       0
2008-09-17   45.820000   45.820000   45.820000   45.820000   45.820000       0
2008-09-18   45.549999   45.549999   45.549999   45.549999   45.549999       0
2008-09-19   49.389999   49.389999   49.389999   49.389999   49.389999       0
2008-09-22   48.340000   48.340000   48.340000   48.340000   48.340000       0
...                ...         ...         ...         ...         ...     ...
2023-09-21  104.680000  104.820000  103.739998  104.000000  104.000000    5270
2023-09-22  103.260002  104.059998  103.260002  103.900002  103.900002    1556
2023-09-25  103.480003  103.919998  102.360001  102.879997  102.879997    1786
2023-09-26  102.300003  102.339996  101.620003  101.900002  101.900002    2021
2023-09-27  101.779999  102.360001  101.779999  102.099998  102.099998    4374

[3845 rows x 6 columns]