In [22]:
import yfinance as yf
import pandas as pd

## EFTs in USD - biggest/oldest ones available

In [23]:
usd_etf_codes = {
    'United States': 'SPY',
    'Japan': 'EWJ',
    'United Kingdom': 'EWU',
    'Canada': 'EWC',
    'France': 'EWQ',
    'Switzerland': 'EWL',
    'Germany': 'EWG',
    'Australia': 'EWA',
    'Netherlands': 'EWN',
    'Denmark': 'EDEN',
    'Sweden': 'EWD',
    'Spain': 'EWP',
    'Hong Kong': 'EWH',
    'Italy': 'EWI',
    'Singapore': 'EWS',
    'Finland': 'EFNL',
    'Belgium': 'EWK',
    'Norway': 'NORW',
    'Israel': 'EIS',
    'Ireland': 'EIRL',
    'New Zealand': 'ENZL',
    'Austria': 'EWO',
    'Portugal': 'PGAL',
    'Eurozona': 'FEZ',

    'China': 'MCHI',
    'Taiwan': 'EWT',
    'India': 'INDA',
    'Korea': 'EWY',
    'Brazil': 'EWZ',
    'Saudi Arabia': 'KSA',
    'South Africa': 'EZA',
    'Mexico': 'EWW',
    'Thailand': 'THD',
    'Indonesia': 'EIDO',
    'Malaysia': 'EWM',
    'United Arab Emirates': 'UAE',
    'Qatar': 'QAT',
    'Kuwait': 'KWT',
    'Turkiye': 'TUR',
    'Philippines': 'EPHE',
    'Poland': 'EPOL',
    'Chile': 'ECH',
    'Greece': 'GREK',
    'Peru': 'EPU',
    'Hungary': '',
    'Czechia': '',
    'Egypt': 'EGPT',
    'Colombia': 'GXG',
    'Argentina': 'ARGT',
    'Russia': 'ERUS',
}

In [24]:
df = pd.DataFrame(index=pd.date_range('1999-01-04', '2023-10-05', freq='B'),
                  columns=usd_etf_codes)

for country in usd_etf_codes:
    index_ticker = usd_etf_codes[country]
    if index_ticker != '':
        index_data = yf.download(index_ticker, '1999-1-1')
        print(country, index_data.shape)
        df[country] = index_data['Adj Close']

[*********************100%%**********************]  1 of 1 completed
United States (6230, 6)
[*********************100%%**********************]  1 of 1 completed
Japan (6230, 6)
[*********************100%%**********************]  1 of 1 completed
United Kingdom (6230, 6)
[*********************100%%**********************]  1 of 1 completed
Canada (6230, 6)
[*********************100%%**********************]  1 of 1 completed
France (6230, 6)
[*********************100%%**********************]  1 of 1 completed
Switzerland (6230, 6)
[*********************100%%**********************]  1 of 1 completed
Germany (6230, 6)
[*********************100%%**********************]  1 of 1 completed
Australia (6230, 6)
[*********************100%%**********************]  1 of 1 completed
Netherlands (6230, 6)
[*********************100%%**********************]  1 of 1 completed
Denmark (2943, 6)
[*********************100%%**********************]  1 of 1 completed
Sweden (6230, 6)
[*********************100%%**********************]  1 of 1 completed
Spain (6230, 6)
[*********************100%%**********************]  1 of 1 completed
Hong Kong (6230, 6)
[*********************100%%**********************]  1 of 1 completed
Italy (6230, 6)
[*********************100%%**********************]  1 of 1 completed
Singapore (6230, 6)
[*********************100%%**********************]  1 of 1 completed
Finland (2943, 6)
[*********************100%%**********************]  1 of 1 completed
Belgium (6230, 6)
[*********************100%%**********************]  1 of 1 completed
Norway (3557, 6)
[*********************100%%**********************]  1 of 1 completed
Israel (3909, 6)
[*********************100%%**********************]  1 of 1 completed
Ireland (3375, 6)
[*********************100%%**********************]  1 of 1 completed
New Zealand (3295, 6)
[*********************100%%**********************]  1 of 1 completed
Austria (6230, 6)
[*********************100%%**********************]  1 of 1 completed
Portugal (2490, 6)
[*********************100%%**********************]  1 of 1 completed
Eurozona (5276, 6)
[*********************100%%**********************]  1 of 1 completed
China (3150, 6)
[*********************100%%**********************]  1 of 1 completed
Taiwan (5858, 6)
[*********************100%%**********************]  1 of 1 completed
India (2937, 6)
[*********************100%%**********************]  1 of 1 completed
Korea (5887, 6)
[*********************100%%**********************]  1 of 1 completed
Brazil (5844, 6)
[*********************100%%**********************]  1 of 1 completed
Saudi Arabia (2027, 6)
[*********************100%%**********************]  1 of 1 completed
South Africa (5201, 6)
[*********************100%%**********************]  1 of 1 completed
Mexico (6230, 6)
[*********************100%%**********************]  1 of 1 completed
Thailand (3907, 6)
[*********************100%%**********************]  1 of 1 completed
Indonesia (3377, 6)
[*********************100%%**********************]  1 of 1 completed
Malaysia (6230, 6)
[*********************100%%**********************]  1 of 1 completed
United Arab Emirates (2375, 6)
[*********************100%%**********************]  1 of 1 completed
Qatar (2375, 6)
[*********************100%%**********************]  1 of 1 completed
Kuwait (777, 6)
[*********************100%%**********************]  1 of 1 completed
Turkiye (3909, 6)
[*********************100%%**********************]  1 of 1 completed
Philippines (3277, 6)
[*********************100%%**********************]  1 of 1 completed
Poland (3364, 6)
[*********************100%%**********************]  1 of 1 completed
Chile (3996, 6)
[*********************100%%**********************]  1 of 1 completed
Greece (2975, 6)
[*********************100%%**********************]  1 of 1 completed
Peru (3598, 6)
[*********************100%%**********************]  1 of 1 completed
Egypt (3432, 6)
[*********************100%%**********************]  1 of 1 completed
Colombia (3690, 6)
[*********************100%%**********************]  1 of 1 completed
Argentina (3170, 6)
[*********************100%%**********************]  1 of 1 completed
Russia (3248, 6)

In [25]:
df = df.round(6)

In [26]:
df = df.dropna(thresh=15)
df.to_csv('USD_ETFs.csv')
df

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
1999-01-04,78.891602,28.450508,16.065809,5.851787,11.390851,11.481218,12.743695,3.448380,14.495270,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-05,79.793396,28.275961,16.212753,5.942746,11.452587,11.644070,12.609547,3.448380,14.699431,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-06,81.717079,28.625046,16.898491,6.276270,11.699546,11.888353,13.615626,3.560339,14.971635,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-07,81.316299,28.799603,16.604605,6.185309,11.606934,11.806926,12.676621,3.627516,14.529305,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-08,81.917450,28.799603,16.506643,6.276270,11.421718,11.806926,12.710156,3.627516,14.359167,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-29,427.480011,60.290001,31.639999,33.459999,35.590000,43.570000,26.200001,21.510000,38.020000,100.510002,...,17.110001,26.190001,33.230000,30.180000,NaN,NaN,21.200001,21.08,41.279999,8.06
2023-10-02,427.309998,59.770000,31.040001,32.689999,34.900002,43.130001,25.740000,21.070000,37.410000,98.790001,...,16.680000,25.299999,32.619999,29.330000,NaN,NaN,20.250000,20.67,40.509998,8.06
2023-10-03,421.589996,58.730000,30.870001,32.299999,34.630001,42.619999,25.490000,20.790001,36.910000,96.860001,...,16.490000,24.920000,31.870001,29.180000,NaN,NaN,20.450001,20.09,39.320000,8.06
2023-10-04,424.660004,58.090000,30.860001,32.209999,34.840000,42.970001,25.690001,20.900000,37.529999,97.650002,...,16.840000,24.900000,32.299999,29.059999,NaN,NaN,20.690001,19.91,39.509998,8.06
2023-10-05,424.500000,59.230000,31.100000,32.480000,34.990002,43.180000,25.709999,21.090000,37.529999,99.050003,...,16.670000,24.530001,31.900000,28.780001,NaN,NaN,20.950001,19.50,39.599998,8.06

In [27]:
# check any NA values in the middle

for country in df.columns:
    if usd_etf_codes[country] == '':
        continue
    
    first_valid = df[country].first_valid_index()
    if df[country].loc[first_valid:].isna().sum() > 0:
        print(country, df[country].loc[first_valid:].isna().sum())

In [28]:
for country in df.columns:
    if usd_etf_codes[country] == '':
        print(country, 'No data')
        continue
    
    first_valid = df[country].first_valid_index()
    if not str(first_valid).startswith('1999-01-04'):
        print(country, first_valid)

Denmark 2012-01-26 00:00:00
Finland 2012-01-26 00:00:00
Norway 2009-08-19 00:00:00
Israel 2008-03-28 00:00:00
Ireland 2010-05-11 00:00:00
New Zealand 2010-09-02 00:00:00
Portugal 2013-11-13 00:00:00
Eurozona 2002-10-21 00:00:00
China 2011-03-31 00:00:00
Taiwan 2000-06-23 00:00:00
India 2012-02-03 00:00:00
Korea 2000-05-12 00:00:00
Brazil 2000-07-14 00:00:00
Saudi Arabia 2015-09-17 00:00:00
South Africa 2003-02-07 00:00:00
Thailand 2008-04-01 00:00:00
Indonesia 2010-05-07 00:00:00
United Arab Emirates 2014-05-01 00:00:00
Qatar 2014-05-01 00:00:00
Kuwait 2020-09-03 00:00:00
Turkiye 2008-03-28 00:00:00
Philippines 2010-09-29 00:00:00
Poland 2010-05-26 00:00:00
Chile 2007-11-20 00:00:00
Greece 2011-12-08 00:00:00
Peru 2009-06-22 00:00:00
Hungary No data
Czechia No data
Egypt 2010-02-18 00:00:00
Colombia 2009-02-09 00:00:00
Argentina 2011-03-03 00:00:00
Russia 2010-11-09 00:00:00

In [29]:
for country in df.columns:
    last_valid = df[country].last_valid_index()
    if not str(last_valid).startswith('2023-10-05'):
        print(country, last_valid)

Hungary None
Czechia None

## EFTs in EUR

In [30]:
eur_etf_codes = {
    'United States': 'SXR8.DE',
    'Japan': 'IJPA.AS',
    'United Kingdom': 'SXRW.DE',
    'Canada': 'SXR2.DE',
    'France': 'CAC.PA',
    'Switzerland': 'XSMI.MI',
    'Germany': 'DBXD.DE',
    'Australia': 'IBC6.DE',
    'Netherlands': 'IAEX.AS',
    'Denmark': '',
    'Sweden': '',
    'Spain': 'XESP.DE',
    'Hong Kong': 'HKDE.AS',
    'Italy': 'ETFMIB.MI',
    'Singapore': 'XBAS.DE',
    'Finland': 'SLG-OMXH25.HE',
    'Belgium': 'BEL.BR',
    'Norway': 'OBXD.OL',
    'Israel': '',
    'Ireland': '',
    'New Zealand': '',
    'Austria': 'EXXX.DE',
    'Portugal': '',
    'Eurozona': 'C50.PA',

    'China': 'XCS6.DE',
    'Taiwan': 'IQQT.DE',
    'India': 'INDI.MI',
    'Korea': 'XMKO.MI',
    'Brazil': 'XMBR.DE',
    'Saudi Arabia': 'IUSW.DE',
    'South Africa': 'IBC4.DE',
    'Mexico': 'XMEX.MI',
    'Thailand': 'XCS4.DE',
    'Indonesia': 'INDO.PA',
    'Malaysia': 'XCS3.DE',
    'United Arab Emirates': '',
    'Qatar': '',
    'Kuwait': '',
    'Turkiye': 'ITKY.AS',
    'Philippines': 'XPQP.DE',
    'Poland': 'IBCJ.DE',
    'Chile': '',
    'Greece': 'GRE.PA',
    'Peru': '',
    'Hungary': '',
    'Czechia': 'CZX.DE',
    'Egypt': '',
    'Colombia': '',
    'Argentina': '',
    'Russia': 'RUS.PA',
}

In [31]:
df_eur = pd.DataFrame(index=pd.date_range('2008-01-02', '2023-10-05', freq='B'),
                      columns=eur_etf_codes)

for country in eur_etf_codes:
    index_ticker = eur_etf_codes[country]
    if index_ticker != '':
        index_data = yf.download(index_ticker, '2008-01-02')
        print(country, index_data.shape)
        df_eur[country] = index_data['Adj Close']

[*********************100%%**********************]  1 of 1 completed
United States (3404, 6)
[*********************100%%**********************]  1 of 1 completed
Japan (3595, 6)
[*********************100%%**********************]  1 of 1 completed
United Kingdom (3276, 6)
[*********************100%%**********************]  1 of 1 completed
Canada (3451, 6)
[*********************100%%**********************]  1 of 1 completed
France (4036, 6)
[*********************100%%**********************]  1 of 1 completed
Switzerland (4001, 6)
[*********************100%%**********************]  1 of 1 completed
Germany (4005, 6)
[*********************100%%**********************]  1 of 1 completed
Australia (3485, 6)
[*********************100%%**********************]  1 of 1 completed
Netherlands (4038, 6)
[*********************100%%**********************]  1 of 1 completed
Spain (3133, 6)
[*********************100%%**********************]  1 of 1 completed
Hong Kong (1966, 6)
[*********************100%%**********************]  1 of 1 completed
Italy (4006, 6)
[*********************100%%**********************]  1 of 1 completed
Singapore (3047, 6)
[*********************100%%**********************]  1 of 1 completed
Finland (3965, 6)
[*********************100%%**********************]  1 of 1 completed
Belgium (4036, 6)
[*********************100%%**********************]  1 of 1 completed
Norway (3961, 6)
[*********************100%%**********************]  1 of 1 completed
Austria (4005, 6)
[*********************100%%**********************]  1 of 1 completed
Eurozona (3852, 6)
[*********************100%%**********************]  1 of 1 completed
China (3048, 6)
[*********************100%%**********************]  1 of 1 completed
Taiwan (3989, 6)
[*********************100%%**********************]  1 of 1 completed
India (4008, 6)
[*********************100%%**********************]  1 of 1 completed
Korea (4007, 6)
[*********************100%%**********************]  1 of 1 completed
Brazil (4005, 6)
[*********************100%%**********************]  1 of 1 completed
Saudi Arabia (1129, 6)
[*********************100%%**********************]  1 of 1 completed
South Africa (3483, 6)
[*********************100%%**********************]  1 of 1 completed
Mexico (3266, 6)
[*********************100%%**********************]  1 of 1 completed
Thailand (3068, 6)
[*********************100%%**********************]  1 of 1 completed
Indonesia (3118, 6)
[*********************100%%**********************]  1 of 1 completed
Malaysia (3061, 6)
[*********************100%%**********************]  1 of 1 completed
Turkiye (4038, 6)
[*********************100%%**********************]  1 of 1 completed
Philippines (3149, 6)
[*********************100%%**********************]  1 of 1 completed
Poland (3226, 6)
[*********************100%%**********************]  1 of 1 completed
Greece (4007, 6)
[*********************100%%**********************]  1 of 1 completed
Czechia (1392, 6)
[*********************100%%**********************]  1 of 1 completed
Russia (3588, 6)

In [32]:
df_eur['United Kingdom'].loc[:'2010-10'] = None

C:\Users\lukas\AppData\Local\Temp\ipykernel_16024\2369609614.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_eur['United Kingdom'].loc[:'2010-10'] = None

In [33]:
df_eur = df_eur.round(6)

In [34]:
df_eur = df_eur.dropna(thresh=15)
df_eur = df_eur.ffill(limit=2)
df_eur.to_csv('EUR_ETFs.csv')
df_eur

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Poland,Chile,Greece,Peru,Hungary,Czechia,Egypt,Colombia,Argentina,Russia
2008-01-02,NaN,NaN,NaN,NaN,41.609085,51.500000,79.461098,NaN,39.004185,NaN,...,NaN,NaN,12.616283,NaN,NaN,NaN,NaN,NaN,NaN,43.950001
2008-01-03,NaN,NaN,NaN,NaN,41.143227,50.650002,79.054100,NaN,38.918621,NaN,...,NaN,NaN,12.658619,NaN,NaN,NaN,NaN,NaN,NaN,43.650002
2008-01-04,NaN,NaN,NaN,NaN,41.106262,50.090000,78.056702,NaN,38.301079,NaN,...,NaN,NaN,12.463871,NaN,NaN,NaN,NaN,NaN,NaN,43.660000
2008-01-07,NaN,NaN,NaN,NaN,40.374191,49.349998,78.141296,NaN,38.383869,NaN,...,NaN,NaN,12.430002,NaN,NaN,NaN,NaN,NaN,NaN,43.520000
2008-01-08,NaN,NaN,NaN,NaN,40.418556,49.970001,78.469101,NaN,38.065323,NaN,...,NaN,NaN,12.446937,NaN,NaN,NaN,NaN,NaN,NaN,43.669998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-29,426.269989,44.794998,164.059998,156.660004,72.110001,117.239998,145.559998,40.154999,72.599998,NaN,...,13.792,NaN,1.288200,NaN,NaN,1.1628,NaN,NaN,NaN,NaN
2023-10-02,427.329987,44.590000,162.139999,153.880005,71.400002,116.580002,144.240005,39.555000,72.160004,NaN,...,13.590,NaN,1.262800,NaN,NaN,1.1586,NaN,NaN,NaN,NaN
2023-10-03,422.380005,43.830002,161.080002,151.339996,70.790001,115.459999,142.660004,38.939999,71.660004,NaN,...,13.424,NaN,1.231800,NaN,NaN,1.1494,NaN,NaN,NaN,NaN
2023-10-04,421.470001,43.134998,159.880005,149.919998,70.639999,115.440002,142.800003,38.840000,71.809998,NaN,...,13.568,NaN,1.243800,NaN,NaN,1.1484,NaN,NaN,NaN,NaN
2023-10-05,420.450012,43.865002,161.020004,151.000000,70.680000,116.000000,142.660004,39.134998,71.919998,NaN,...,13.430,NaN,1.230200,NaN,NaN,1.1412,NaN,NaN,NaN,NaN

In [35]:
df_eur = df_eur.ffill(limit=2)

In [36]:
# check any NA values in the middle

for country in df_eur.columns:
    if eur_etf_codes[country] == '':
        continue
    
    first_valid = df_eur[country].first_valid_index()
    if df_eur[country].loc[first_valid:].isna().sum() > 0:
        print(country, df_eur[country].loc[first_valid:].isna().sum())

Hong Kong 1
Indonesia 3
Greece 19
Russia 404

In [37]:
for country in df_eur.columns:
    if eur_etf_codes[country] == '':
        #print(country, 'No data')
        continue
    
    first_valid = df_eur[country].first_valid_index()
    if not str(first_valid).startswith('2008-01-02'):
        print(country, first_valid)

United States 2010-05-19 00:00:00
Japan 2009-09-25 00:00:00
United Kingdom 2010-11-02 00:00:00
Canada 2010-03-11 00:00:00
Australia 2010-01-22 00:00:00
Spain 2011-04-27 00:00:00
Hong Kong 2016-01-27 00:00:00
Singapore 2011-09-19 00:00:00
Eurozona 2008-09-16 00:00:00
China 2011-10-04 00:00:00
Saudi Arabia 2019-05-06 00:00:00
South Africa 2010-01-22 00:00:00
Mexico 2010-07-26 00:00:00
Thailand 2011-08-19 00:00:00
Indonesia 2011-07-04 00:00:00
Malaysia 2011-08-24 00:00:00
Philippines 2011-04-12 00:00:00
Poland 2011-01-21 00:00:00
Czechia 2018-03-19 00:00:00

In [38]:
for country in df_eur.columns:
    if eur_etf_codes[country] == '':
        #print(country, 'No data')
        continue
    
    last_valid = df_eur[country].last_valid_index()
    if not str(last_valid).startswith('2023-10-05'):
        print(country, last_valid)

Russia 2022-03-14 00:00:00