In [2]:
import pandas as pd

In [10]:
all_countries = ['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
                 'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
                 'Sweden', 'Spain', 'Hong Kong', 'Italy', 'Singapore',
                 'Finland', 'Belgium', 'Norway', 'Israel', 'Ireland',
                 'New Zealand', 'Austria', 'Portugal', 'Eurozone',
                 'China', 'Taiwan', 'India', 'Korea', 'Brazil',
                 'Saudi Arabia', 'South Africa', 'Mexico', 'Thailand', 'Indonesia',
                 'Malaysia', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Turkiye',
                 'Philippines', 'Poland', 'Chile', 'Greece', 'Peru',
                 'Hungary', 'Czechia', 'Egypt', 'Colombia', 'Argentina', 'Russia']

In [15]:
len(all_countries)

50

In [11]:
def check_data_coverage(df):
    available_countries = df.columns[~df.isna().all()]
    print('Available countries:')
    print(available_countries)
    print()

    print('No data:')
    for country in all_countries:
        if not country in df.columns:
            print(country)
    no_data = df.columns[df.isna().all()]
    print(no_data)
    print()

    print('Missing first:')
    for country in df.columns:
        first_valid = df[country].first_valid_index()
        if first_valid != None and (not str(first_valid).startswith('1999')):
            print(country, first_valid)
    print()

    print('Missing last:')
    for country in df.columns:
        last_valid = df[country].last_valid_index()
        if last_valid != None and (not str(last_valid).startswith('2023')):
            print(country, last_valid)
            
    print()
    print('Done')

In [12]:
monthly_unemployment = pd.read_csv('monthly_unemployment.csv', parse_dates=True, index_col=0)
monthly_unemployment

,United States,Japan,United Kingdom,Canada,France,Switzerland,Germany,Australia,Netherlands,Denmark,...,Indonesia,Turkiye,Poland,Chile,Greece,Hungary,Czechia,Colombia,Argentina,Russia
1999-01-01,4.3,4.5,6.2,7.9,12.0,3.5,8.9,7.1,4.6,5.0,...,NaN,NaN,11.5,8.4,11.4,7.2,7.8,NaN,NaN,13.8
1999-01-02,4.4,4.6,6.2,7.9,12.0,3.4,8.8,7.1,4.5,5.0,...,NaN,NaN,12.0,8.8,11.4,7.2,8.1,NaN,NaN,14.1
1999-01-03,4.2,4.7,6.2,7.9,11.8,3.2,8.8,7.0,4.4,5.0,...,NaN,NaN,12.3,9.3,11.4,7.1,8.6,NaN,NaN,13.7
1999-01-04,4.3,4.7,6.1,8.2,11.7,2.9,8.7,7.0,4.4,5.0,...,NaN,NaN,12.7,10.0,12.1,7.0,8.6,NaN,NaN,13.1
1999-01-05,4.2,4.7,6.0,7.9,11.5,2.7,8.6,7.0,4.3,5.0,...,NaN,NaN,12.9,10.6,12.0,6.9,8.7,NaN,NaN,12.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-04,3.4,2.6,3.8,5.0,7.3,2.0,2.9,3.7,3.4,5.0,...,5.4,10.0,2.8,8.3,11.6,3.9,2.7,10.3,6.2,3.3
2023-01-05,3.7,2.6,4.0,5.2,7.3,1.9,2.9,3.6,3.5,4.9,...,5.4,9.5,2.8,8.2,11.2,3.9,2.5,10.1,6.2,3.2
2023-01-06,3.6,2.5,4.2,5.4,7.3,1.9,2.9,3.5,3.5,4.9,...,5.4,9.6,2.8,8.4,11.0,3.9,2.7,9.4,6.2,3.1
2023-01-07,3.5,2.7,4.3,5.5,7.4,1.9,2.9,3.7,3.6,5.6,...,NaN,9.4,2.8,NaN,10.8,4.0,2.7,9.3,6.2,3.0
2023-01-08,3.8,NaN,NaN,5.5,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0

In [13]:
#monthly_unemployment['Argentina'] = monthly_unemployment['Argentina'].ffill(limit=3)
#monthly_unemployment.to_csv('monthly_unemployment.csv')

In [14]:
check_data_coverage(monthly_unemployment)

Available countries:
Index(['United States', 'Japan', 'United Kingdom', 'Canada', 'France',
       'Switzerland', 'Germany', 'Australia', 'Netherlands', 'Denmark',
       'Sweden', 'Spain', 'Italy', 'Finland', 'Belgium', 'Norway', 'Israel',
       'Ireland', 'New Zealand', 'Austria', 'Portugal', 'China', 'India',
       'Korea', 'Brazil', 'Saudi Arabia', 'South Africa', 'Mexico',
       'Indonesia', 'Turkiye', 'Poland', 'Chile', 'Greece', 'Hungary',
       'Czechia', 'Colombia', 'Argentina', 'Russia'],
      dtype='object')

No data:
Hong Kong
Singapore
Eurozone
Taiwan
Thailand
Malaysia
United Arab Emirates
Qatar
Kuwait
Philippines
Peru
Egypt
Index([], dtype='object')

Missing first:
China 2002-01-07 00:00:00
India 2018-01-11 00:00:00
Brazil 2012-01-03 00:00:00
Saudi Arabia 2000-01-01 00:00:00
South Africa 2000-01-07 00:00:00
Indonesia 2000-01-01 00:00:00
Turkiye 2005-01-01 00:00:00
Colombia 2001-01-01 00:00:00
Argentina 2002-01-10 00:00:00

Missing last:

Done