# Other sources

Exploring other sources for central bank rates. In the end not used in the investment algorithm.

In [2]:
import pandas as pd

US FED - https://fred.stlouisfed.org/series/RIFSPFFNB

In [3]:
us_rates = pd.read_csv('RawData/US_FederalFundsEffectiveRates.csv',
                       parse_dates=True, index_col=0)
us_rates

           RIFSPFFNB
DATE
1999-01-04      5.04
1999-01-05      4.54
1999-01-06      4.23
1999-01-07      4.49
1999-01-08      4.74
...              ...
2023-07-19      5.08
2023-07-20      5.08
2023-07-21      5.08
2023-07-24      5.08
2023-07-25      5.08

[6407 rows x 1 columns]

EBC - https://data.ecb.europa.eu/main-figures/ecb-interest-rates-and-exchange-rates/key-ecb-interest-rates

In [4]:
ebc_rates = pd.read_csv('RawData/ECB Data Portal_20230727161452.csv',
                        parse_dates=True, index_col=0)
ebc_rates

,TIME PERIOD,ECB Deposit facility - date of changes (raw data) - Level (FM.D.U2.EUR.4F.KR.DFR.LEV),ECB Marginal lending facility - date of changes (raw data) - Level (FM.D.U2.EUR.4F.KR.MLFR.LEV),ECB Main refinancing operations - Minimum bid rate/fixed rate (date of changes) - Level (FM.D.U2.EUR.4F.KR.MRR_RT.LEV)
DATE,,,,
1999-01-01,01 Jan 1999,2.00,4.50,3.00
1999-01-02,02 Jan 1999,2.00,4.50,3.00
1999-01-03,03 Jan 1999,2.00,4.50,3.00
1999-01-04,04 Jan 1999,2.75,3.25,3.00
1999-01-05,05 Jan 1999,2.75,3.25,3.00
...,...,...,...,...
2023-07-29,29 Jul 2023,3.50,4.25,4.00
2023-07-30,30 Jul 2023,3.50,4.25,4.00
2023-07-31,31 Jul 2023,3.50,4.25,4.00
2023-08-01,01 Aug 2023,3.50,4.25,4.00
2023-08-02,02 Aug 2023,3.75,4.50,4.25

Singapore Daily Interest Rates

https://eservices.mas.gov.sg/Statistics/dir/DomesticInterestRates.aspx

In [5]:
overnight = pd.read_csv('RawData/Singapore_overnight_rates_1999-2005.csv')
overnight = overnight.ffill()
overnight['Day'] = overnight['Day'].astype('int').astype('string')
overnight['Date'] = overnight['Year'].astype('int').astype('string') + '-' + overnight['Month'] + '-' + overnight['Day']
overnight.index = pd.to_datetime(overnight['Date'])
overnight['Interbank Overnight']

Date
1999-01-02    1.50
1999-01-04    0.06
1999-01-05    0.13
1999-01-06    0.13
1999-01-07    1.50
              ...
2005-07-26    1.81
2005-07-27    1.81
2005-07-28    1.81
2005-07-29    1.81
2005-07-30    1.81
Name: Interbank Overnight, Length: 1984, dtype: float64

In [6]:
sora = pd.read_csv('RawData/Singapore_SORA_2005-2023.csv', parse_dates=True, index_col=3)
sora['SORA']

SORA Publication Date
2005-08-01    1.7712
2005-08-02    1.7573
2005-08-03    1.7507
2005-08-04    1.7437
2005-08-05    1.7704
               ...
2023-07-24    3.7337
2023-07-25    3.5374
2023-07-26    3.4533
2023-07-27    3.3329
2023-07-28    3.4231
Name: SORA, Length: 4515, dtype: float64

In [7]:
singapore_rates = pd.concat([overnight['Interbank Overnight'], sora['SORA']])
singapore_rates

1999-01-02    1.5000
1999-01-04    0.0600
1999-01-05    0.1300
1999-01-06    0.1300
1999-01-07    1.5000
               ...
2023-07-24    3.7337
2023-07-25    3.5374
2023-07-26    3.4533
2023-07-27    3.3329
2023-07-28    3.4231
Length: 6499, dtype: float64